.TextEditor__block {
   border-radius: var(--border-radius_s);
   padding: var(--offset_s) var(--offset_m);
   background-color: var(--background-color);
   margin: 0 0 var(--offset_s) var(--offset_s);
   box-sizing: border-box;
}

.TextEditor__block_active {
   background-color: var(--active_background-color);
}

.TextEditor__block__preview {
   align-content: center;
   height: 120px;
   overflow: hidden;
}

.TextEditor__block__preview__content {
   width: 100%;
   position: relative;
   background-color: var(--active_background-color);
   box-sizing: border-box;
}

.TextEditor__PropertyGrid {
   width: 450px;
}
