.controls-Grid_table-layout {
   display: table;
   width: 100%;

   &.controls-Grid_table-layout_fixed {
      table-layout: fixed;
   }

   &.controls-Grid_table-layout_auto {
      table-layout: auto;
   }

   &.controls-ColumnScroll__content {
      position: static;
   }

   .controls-GridViewV__itemsContainer {
      display: table-row-group;
   }

   .controls-Grid__colgroup {
      display: table-column-group;
   }

   .controls-Grid__colgroup-column {
      display: table-column;
   }

   .controls-Grid__colgroup-columnMultiSelect {
      width: var(--click-area_width_checkbox);
   }

   .controls-Grid__header {
      display: table-header-group;
   }

   .controls-GridView__emptyTemplate {
      display: block;
   }

   .controls-GridView__emptyTemplate__cell {
      display: table-cell;
   }

   .controls-Grid__header-cell {
      position: relative;
      top: 0;
      display: table-cell;
      //делаем left для старых таблиц для хрома, чтоб было поведение такое же как для гридов. Выравнивание контента ячейки задается на внутреннем диве.
      text-align: left;
      font-weight: normal;
   }

   .controls-Grid__header-cell_static {
      position: static;
   }

   .controls-Grid__header-cell_valign_top {
      vertical-align: top;
   }

   .controls-Grid__header-cell_valign_middle {
      vertical-align: middle;
   }

   .controls-Grid__header-cell_valign_bottom {
      vertical-align: bottom;
   }

   .controls-Grid__multi-header-cell_min-height {
      // В таблицах функцию min-height выполняет height
      height: var(--header_multiline_cell_min-height_grid);
   }

   .controls-Grid__header-cell_min-height {
      // В таблицах функцию min-height выполняет height
      height: var(--header_cell_min-height_grid);

      // В ie без этого будут не корректно будет определяться высота. Из-за чего будет появится скролл.
      // https://online.sbis.ru/opendoc.html?guid=91d94bb5-362a-4fd7-9ca5-9a2578fd5abc
      .controls-Grid__header-cell__content {
         min-height: var(--header_cell_min-height_grid);
      }
   }

   // Этот стиль задаётся для tr и при display: table-row-group ломает вёрстку в IE/Edge
   .controls-Grid__results {
      display: table-row;
   }

   .controls-Grid__results-cell {
      display: table-cell;
      position: static;
      // https://online.sbis.ru/opendoc.html?guid=6d5975f9-b174-412e-b9e8-f87791915eab
      height: 0;
   }

   .controls-GridView__footer {
      display: table-row;
   }

   .controls-GridView__footer__cell {
      display: table-cell;
   }

   .controls-Grid__row {
      display: table-row;
   }

   .controls-Grid__row-cell {
      display: table-cell;

      // Кратко: Таблицы не поддерживают поведение "одинаковая высота содержимого ячейки в строке".
      // Такое поведение реализовано через див прослойку между td и контентом ячейки и хак, который позволяет растянуть
      // обертку каждой ячейки на одинаковую высоту - максимальной в строке.

      // Подробно: высота контента каждой колонки в строке должна быть одинаковой (от 31px до "по высоте контента")
      // Это нужно во-первых, для вертикального выравнивания контента, во вторых для позиционирования элементов с
      // position: absolute внутри ячейки.
      // Т.к. таблицы не поддерживают поведение "одинаковая высота содержимого ячейки в строке", на ячейку(td) таблицы вешается стиль
      // height: 0px - по спецификации это аналог min-height, поэтому не ограничвает высоту жестко. В то же время, этот
      // стиль позволяет браузеру начать работать с высотой td как с div и вложенные блоки могут быть растянуты на 100% от td.
      // В итоге, высота td будет такая же, как у ячейки с самым высоким контентом, а внутри каждой td будет лежать
      // блок с position: relative, высотой в 100% от td.

      // Решение - не панацея, проблемы которые вызывает данный хак, их описание и решение можно найти по хэштегам:
      //  + #grid_relativeCell_colspanCell
      //  + #grid_relativeCell_checkBox_td
      //  + #grid_relativeCell_autoHeight_td

      // Ошибки
      // https://online.sbis.ru/opendoc.html?guid=25c8adb6-a789-44e3-931b-1b8d6bb0b511

      // #grid_relativeCell_td
      height: 0;

      .controls-Grid__row-cell_default_style-default_min_height,
      .controls-Grid__row-cell_default_style-master_min_height {
         height: var(--cell_min-height_grid);
      }

      .controls-Grid__row-cell_small_min_height {
         height: var(--offset_2xl);
      }
   }

   // Все сценарии автовысоты в IE предусмотреть невозможно, для тонкой, принудительной настройки отдаем управление пользователю.
   // #grid_relativeCell_autoHeight_td
   .controls-Grid__row-cell__autoHeight {
      height: auto;
   }

   // default
   .controls-Grid__cell_valign_baseline {
      vertical-align: baseline;
   }

   .controls-Grid__header-cell_align_items_top,
   .controls-Grid__cell_valign_top {
      vertical-align: top;
   }

   .controls-Grid__header-cell_align_items_center,
   .controls-Grid__cell_valign_center {
      vertical-align: middle;
   }

   .controls-Grid__header-cell_align_items_bottom,
   .controls-Grid__cell_valign_bottom {
      vertical-align: bottom;
   }

   .controls-GridView__cell_fixed {
      position: relative;
   }

   .controls-Grid__row-cell__content_colspaned {
      width: 100%;
   }

   .controls-Grid__row-cell__contentWrapper {
      display: inline-flex;
      width: 100%;
      align-items: center;
   }

   .controls-Grid__row-cell__content {
      white-space: normal;
   }

   .controls-Grid__row-cell-checkbox {
      width: var(--click-area_width_checkbox);
   }

   .controls-Grid__row-cell_selected__first {
      // Не понятно для чего этот стиль, если понядобится, то нужен коментарий
      // Отключил, потому что во всех браузерах появляется рыжая обводка у строки
      //box-shadow: inset var(--marker_thickness_list) 0 0 var(--marker_color);
   }

   .controls-Grid__header-cell__content__innerWrapper {
      max-width: 100%;
   }

   .controls-Grid__table__relative-cell-wrapper {
      border-radius: inherit;
      box-sizing: border-box;
      position: relative;
      height: 100%;
   }

   .controls-Grid__table__relative-cell-wrapper_singleCell {
      // Когда в строке всего одна ячейка, height: 0px работает как жесткое ограничение, а не как min-height.
      // Причина такого поведения не ясна.
      // Описание хака, вызывающего проблему можно найти по хэштегу #grid_relativeCell_td.
      // Но при колспане строки мы смело можем давать автовысоту, т.к. нет оснований для
      // данного хака (высоты контента ячеек нужно выравнивать, когда их больше > 1).

      // Важно! При правке этого функционала, необходимо прикрепить ссылку на ошибку в #grid_relativeCell_td!

      // #grid_relativeCell_colspanCell
      height: auto;
   }

   .controls-Grid__row-cell-checkbox .controls-Grid__table__relative-cell-wrapper_singleCell {
      // При всем, описанном в #grid_relativeCell_td и #grid_relativeCell_colspanCell,
      // не нужно ограничивать высоту ячейки под чекбокс, т.к. она должна тянуться на высоту, которую дает единственная ячейка с контентом.
      // #grid_relativeCell_checkBox_td
      // https://online.sbis.ru/opendoc.html?guid=a975f5c7-e503-47b8-9268-660596a37430
      height: 100%;
   }

   .controls-Grid__table__relative-cell-wrapper_rowSeparator-s {
      min-height: var(--cell_min-height_grid);
   }

   .controls-Grid__table__relative-cell-wrapper_rowSeparator-l {
      min-height: var(--cell_min-height_grid);
   }

   .controls-Grid__row-cell_small_min_height
      .controls-Grid__table__relative-cell-wrapper_rowSeparator-s {
      min-height: var(--offset_2xl);
   }

   .controls-Grid__row-cell_small_min_height
      .controls-Grid__table__relative-cell-wrapper_rowSeparator-l {
      min-height: var(--offset_2xl);
   }

   .controls-Grid__row-cell-editing
      > .controls-Grid__table__relative-cell-wrapper
      > .controls-itemActionsV,
   .controls-ListView__item_editing
      > .controls-Grid__table__relative-cell-wrapper
      > .controls-itemActionsV {
      visibility: visible;
      opacity: 1;
   }

   .controls-GridView__footer__cell-content_colspan {
      box-sizing: border-box;
   }

   .controls-GridView__footer__cell__paddingLeft_default
      > .controls-GridView__footer__cell-content_colspan {
      margin-left: calc(-1 * var(--item_padding-left_default_list));
   }

   .controls-GridView__footer__cell__paddingLeft_null
      > .controls-GridView__footer__cell-content_colspan {
      margin-left: 0;
   }

   .controls-GridView__footer__cell__paddingLeft_xs
      > .controls-GridView__footer__cell-content_colspan {
      margin-left: calc(-1 * var(--item_padding-left_xs_list));
   }

   .controls-GridView__footer__cell__paddingLeft_s
      > .controls-GridView__footer__cell-content_colspan {
      margin-left: calc(-1 * var(--item_padding-left_s_list));
   }

   .controls-GridView__footer__cell__paddingLeft_m
      > .controls-GridView__footer__cell-content_colspan {
      margin-left: calc(-1 * var(--item_padding-left_m_list));
   }

   .controls-GridView__footer__cell__paddingLeft_l
      > .controls-GridView__footer__cell-content_colspan {
      margin-left: calc(-1 * var(--item_padding-left_l_list));
   }

   .controls-GridView__footer__cell__paddingLeft_xl
      > .controls-GridView__footer__cell-content_colspan {
      margin-left: calc(-1 * var(--item_padding-left_xl_list));
   }

   .controls-GridView__footer__cell__paddingLeft_xxl
      > .controls-GridView__footer__cell-content_colspan {
      margin-left: calc(-1 * var(--item_padding-left_2xl_list));
   }

   .controls-GridView__footer__cell__paddingRight_default
      > .controls-GridView__footer__cell-content_colspan {
      padding-right: var(--item_padding-right_default_list);
   }

   .controls-GridView__footer__cell__paddingRight_null
      > .controls-GridView__footer__cell-content_colspan {
      padding-right: 0;
   }

   .controls-GridView__footer__cell__paddingRight_xs
      > .controls-GridView__footer__cell-content_colspan {
      padding-right: var(--item_padding-right_xs_list);
   }

   .controls-GridView__footer__cell__paddingRight_s
      > .controls-GridView__footer__cell-content_colspan {
      padding-right: var(--item_padding-right_s_list);
   }

   .controls-GridView__footer__cell__paddingRight_m
      > .controls-GridView__footer__cell-content_colspan {
      padding-right: var(--item_padding-right_m_list);
   }

   .controls-GridView__footer__cell__paddingRight_l
      > .controls-GridView__footer__cell-content_colspan {
      padding-right: var(--item_padding-right_l_list);
   }

   .controls-GridView__footer__cell__paddingRight_xl
      > .controls-GridView__footer__cell-content_colspan {
      padding-right: var(--item_padding-right_xl_list);
   }

   .controls-GridView__footer__cell__paddingRight_xxl
      > .controls-GridView__footer__cell-content_colspan {
      padding-right: var(--item_padding-right_2xl_list);
   }
}

.ws-is-ie .controls-Grid_table-layout .controls-ListView__itemV_marker {
   top: 0;
   bottom: auto;
}

.ws-is-ie .controls-EditingTemplateText__editor {
   display: flex;
}

.ws-is-ie12,
.ws-is-firefox {
   /*
    По непонятным причинам ячейка таблицы воспринимает height буквально, как высоту, хотя спецификация говорит,
    что свойство должно работать как min-height. Наиболее вероятная причина - браузер не понимает как сосчитать высоту,
    потому что в ячейке лежит блок с нефиксированной высотой. У него задан min-height и height: 100%.
    Блок - controls-Grid__table__relative-cell-wrapper. Нужен он для растягивания каждой ячейки по высоте максимальной.
    Весь этот механизм - большой хак, если данные правки ломающие - чинить нужно максимально точечно.
    https://online.sbis.ru/opendoc.html?guid=09258c3e-e4eb-4552-85e2-8320ee02c411
    https://online.sbis.ru/open_dialog.html?guid=8f63d15a-1192-44dc-b6f5-72beb399dd45
  */
   .controls-Grid_partial-support .controls-Grid__row-cell {
      height: auto;
   }
}

.ws-is-not-full-grid-support,
.controls-Grid_partial-support {
   .controls-itemActionsV_style_master {
      //because of selected item border in Grid is realized by box-shadow, itemAction overlaps bottom shadow by z-index
      //best solution is to increase bottom position of itemAction by border bottom width in old grid master
      bottom: 0;
      //for the same reason as the problem described above, if in itemActions spacing between content and border-right will
      //realized by padding, itemActions will overlaps right shadow, with margin work fine
      padding-right: 0;
      margin-right: var(--offset-right_itemActions);
      height: var(--height_itemActions);
   }
}

.ws-is-firefox .controls-Grid_table-layout .controls-Grid__table__relative-cell-wrapper {
   height: auto;
}
