@themeName: default__darkv2;
.controls_Keyboard_theme-@{themeName} {
   //Keyboard
   --default_background-color_Keyboard_view: #292929;
   --default_hover_background-color_Keyboard_view: #323232;
   --default_active_background-color_Keyboard_view: #252525;
   --action_background-color_Keyboard_view: #323232;
   --action_hover_background-color_Keyboard_view: #3a3a3a;
   --action_active_background-color_Keyboard_view: #2d2d2d;
}
