.controls-demo_MasterDetail_item-personName {
   color: #1f2c63;
   font-size: 15px;
}

.controls-demo_MasterDetail_master_search_input {
   max-width: 100%;
   width: 175px;
}

.controls-demo_MasterDetail_item-personPhoto {
   width: 40px;
   height: 40px;
   margin-right: 8px;
   border-radius: 8px;
}

.controls-demo_MasterDetail_item-taskTypeNew {
   font-weight: var(--font-weight-bold);
}

.controls-demo_MasterDetail_item-taskMsg,
.controls-demo_MasterDetail_item-date {
   color: var(--unaccented_color);
}

.controls-demo_MasterDetail_item-date {
   text-align: right;
   padding-right: 12px;
}

.controls-demo_MasterDetail_item-task {
   margin-left: 8px;
}

.controls-demo_MasterDetail_master {
   &_search {
      padding: 12px 9px 6px 12px;
   }
}

.controls-demo_MasterDetail_master,
.controls-demo_MasterDetail_detail {
   height: 200px;
}

.controls-demo_MasterDetail_detail {
   &_search {
      padding: 12px;

      &_input {
         margin-right: 8px;
      }
   }
}

.controls-demo_MasterDetail {
   border-bottom: 1px solid #eaeaea;
   border-top: 1px solid #eaeaea;
   display: flex;
   margin-bottom: 25px;
}

.controls-demo_MasterDetail-item-list {
   display: flex;
   justify-content: space-between;
   width: 100%;
   min-width: 0;
}

.controls-demo_MasterDetail-item-list-name {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.controls-demo_MasterDetail-item-list-counter {
   color: var(--secondary_color);
}

.controls-demo_MasterDetail_width300 {
   width: 300px;
}

.controls-demo_MasterDetail-background {
   background: var(--unaccented_background-color);
}

.controlsDemo__masterDetail-container {
   padding: 20px;
}

.controlsDemo__masterDetail {
   height: 100%;
}
