.skeletondemo_data {
   height: 140px;
}

.skeletondemo_caption {
   width: 100%;
   padding-left: 12px;
}

.skeletondemo_img {
   flex-shrink: 0;
}

.skeletondemo_head {
   padding-bottom: 7px;
   display: flex;
}
