.controls-MonthView__backgroundColor-currentMonthDay-unselected_style-danger {
   background-color: var(--danger_same_background-color);
   border-radius: 100px;
}

.controls-MonthView__backgroundColor-currentMonthDay-unselected_style-success {
   background-color: var(--success_active_same_background-color);
   border-radius: 100px;
}

.controls-MonthView__backgroundColor-currentMonthDay-unselected_style-secondary {
   background-color: var(--secondary_background-color);
   border-radius: 100px;
}
