.controls-PropertyGrid__editor_theme-@{themeName} {
   position: relative;
}

.controls-PropertyGrid__flex-row {
   display: flex;
   align-items: baseline;
}

.controls-PropertyGrid__row_captionPosition-top {
   flex-direction: column;
}

.controls-PropertyGrid__editor_captionPosition-left {
   width: 100%;
}

.controls-PropertyGrid__editor-withoutCaption {
   flex-grow: 1;
}

.controls-PropertyGrid__editor-caption_theme-@{themeName} {
   display: inline-flex;
   cursor: default;
   white-space: nowrap;
   max-width: 100%;
}

.controls-PropertyGrid__editor_nodeCaption {
   overflow: hidden;
   text-overflow: ellipsis;
}

.controls-PropertyGrid__editor_nodeCaption_wrapper_theme-@{themeName} {
   height: @inline_height_default_label;
   align-items: center;
}

.controls-PropertyGrid__editor-caption_withEditor {
   width: 50%;
   flex-shrink: 0;
}

.controls-PropertyGrid__group_theme-@{themeName} {
   margin-top: @group_padding-vertical_propertyGrid;
   margin-bottom: @group_padding-vertical_propertyGrid;
}

.controls-PropertyGrid__group {
   display: flex;
   align-items: baseline;
}

.controls-PropertyGrid__group_expander-left {
   flex-direction: row-reverse;
   justify-content: flex-end;
}

.controls-PropertyGrid__groupExpander {
   cursor: pointer;
   margin-left: auto;
   align-self: center;
}

.controls-PropertyGrid__groupExpander-left_theme-@{themeName} {
   margin-left: 0;
   margin-right: @expander_margin-right_propertyGrid;
}

.controls-PropertyGrid__editor_booleanGroup_item,
.controls-PropertyGrid__editor_enum_item {
   margin-right: @booleanEditor_offset_propertyGrid;
}

.ws-is-hover {
   .controls-PropertyGrid__row_highlightOnHover_theme-@{themeName}:hover {
      background-color: @hover_background-color;
   }

   .controls-PropertyGrid__editor_theme-@{themeName}:hover > .controls-itemActionsV {
      opacity: 1;
      visibility: visible;
   }
}

.controls-PropertyGrid_toggleEditorButton_offset_theme-@{themeName} {
   margin-left: @toggleEditorButton_offset_propertyGrid;
}

.controls-PropertyGrid__editor_spacingTop_null_theme-@{themeName},
.controls-PropertyGrid__editor_spacingTop_default_theme-@{themeName} {
   padding-top: 0;
}

.controls-PropertyGrid__editor_spacingTop_s_theme-@{themeName} {
   padding-top: @item_padding-top_s_grid;
}

.controls-PropertyGrid__editor_spacingTop_m_theme-@{themeName} {
   padding-top: @offset_m;
}

.controls-PropertyGrid__editor_spacingTop_l_theme-@{themeName} {
   padding-top: @item_padding-top_l_grid;
}

.controls-PropertyGrid__editor_spacingBottom_default_theme-@{themeName} {
   margin-bottom: @editor_offset_propertyGrid;
}

.controls-PropertyGrid__editor_spacingBottom_null_theme-@{themeName} {
   padding-bottom: 0;
}

.controls-PropertyGrid__editor_spacingBottom_s_theme-@{themeName} {
   padding-bottom: @item_padding-bottom_s_grid;
}

.controls-PropertyGrid__editor_spacingBottom_m_theme-@{themeName} {
   padding-bottom: @offset_m;
}

.controls-PropertyGrid__editor_spacingBottom_l_theme-@{themeName} {
   padding-bottom: @item_padding-bottom_l_grid;
}

.controls-PropertyGrid__editor_spacingLeft_default_theme-@{themeName},
.controls-PropertyGrid__editor_spacingLeft_null_theme-@{themeName} {
   padding-left: 0;
}

.controls-PropertyGrid__editor_spacingLeft_s_theme-@{themeName} {
   padding-left: @cell_padding-left_s_grid;
}

.controls-PropertyGrid__editor_spacingLeft_m_theme-@{themeName} {
   padding-left: @offset_m;
}

.controls-PropertyGrid__editor_spacingLeft_l_theme-@{themeName} {
   padding-left: @cell_padding-left_l_grid;
}

.controls-PropertyGrid__editor_spacingRight_default_theme-@{themeName},
.controls-PropertyGrid__editor_spacingRight_null_theme-@{themeName} {
   padding-right: 0;
}

.controls-PropertyGrid__editor_spacingRight_s_theme-@{themeName} {
   padding-right: @cell_padding-right_s_grid;
}

.controls-PropertyGrid__editor_spacingRight_m_theme-@{themeName} {
   padding-right: @offset_m;
}

.controls-PropertyGrid__editor_spacingRight_l_theme-@{themeName} {
   padding-right: @cell_padding-right_l_grid;
}

.controls-PropertyGrid__editor_dropdown_control,
.controls-PropertyGrid__editor_time-interval_control,
.controls-PropertyGrid__editor_date_control {
   max-width: 100%;
   margin-right: auto;
   flex-grow: 0;
}

.controls-PropertyGrid__itemsContainer_paddingTop-null {
   padding-top: 0;
}

.controls-PropertyGrid__itemsContainer_paddingTop-m {
   padding-top: var(--offset_m);
}

.controls-PropertyGrid__itemsContainer_paddingRight-null {
   padding-right: 0;
}

.controls-PropertyGrid__itemsContainer_paddingRight-m {
   padding-right: var(--offset_m);
}

.controls-PropertyGrid__itemsContainer_paddingBottom-null {
   padding-bottom: 0;
}

.controls-PropertyGrid__itemsContainer_paddingBottom-m {
   padding-bottom: var(--offset_m);
}

.controls-PropertyGrid__itemsContainer_paddingLeft-null {
   padding-left: 0;
}

.controls-PropertyGrid__itemsContainer_paddingLeft-m {
   padding-left: var(--offset_m);
}
