.controls-MoveDialog {
   min-width: var(--content_width_b_dialog);
   max-width: var(--content_width_k_dialog);
   height: 100%;
   max-height: calc(
      var(--height_MoveDialog) + var(--header-min-height_dialog)
   ); // 490px
   display: flex;
   flex-direction: column;
   min-height: inherit;
}

.controls-MoveDialog__content {
   max-height: var(--height_MoveDialog);
   max-width: var(--content_width_k_dialog);
}
