.controls-MoveDialog {
   min-width: var(--content_width_b_dialog);
   max-width: var(--content_width_k_dialog);
   height: 100%;
   display: flex;
   flex-direction: column;
   min-height: inherit;
}

.controls-MoveDialog__content {
   max-height: 100%;
   max-width: var(--content_width_k_dialog);
}
