.controls-ManagerWrapper {
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;

   // На старых страницах должен быть выше всех окон
   .controls-DragNDrop__draggingTemplate-wrapper {
      z-index: 5000;
   }
}
