.ws-is-hover {
   .controls-BaseInput_cursor-pointer {
      .controls-Field {
         cursor: pointer;
         caret-color: transparent;
      }
   }
}

.controls-BaseInput__stretcher__container {
   display: flex;
   flex-direction: column;
}

.controls-BaseInput__stretcher-block {
   height: 0;
}

.controls-text-DateInput__placeholder {
   color: var(--placeholder-color_inputText);
}
