/* TODO: файл написан так, что эти 2 правила исправлять тяжело */
/* stylelint-disable no-descending-specificity, no-duplicate-selectors */
//common styles
.controls-BaseButton {
   display: inline-block;
   box-sizing: border-box;
   text-decoration: none;
}

//root tag "a" should be without underline
.controls-BaseButton:hover,
.controls-BaseButton:active {
   text-decoration: none;
}

//text-styles
.controls-BaseButton__text {
   .text-overflow();
}

//readonly/clickable
.controls-Button_link.controls-Button_clickable:active {
   .controls-BaseButton__text {
      text-decoration: var(--text-decoration_hover_button_link);
   }
}

.ws-is-hover {
   .controls-Button_link.controls-Button_clickable:hover {
      .controls-BaseButton__text {
         text-decoration: var(--text-decoration_hover_button_link);
      }
   }
}

.controls-BaseButton__wrapper {
   .button-wrapper-default-style();

   &::before {
      content: '\200b';
   }
}

.controls-Button__wrapper_mode-button {
   align-items: baseline;

   .controls-BaseButton__icon {
      align-self: center;
   }
}

.controls-BaseButton__icon {
   order: 1;
}

.controls-BaseButton__loadingIndicator-wrapper {
   display: flex;
   position: absolute;
   align-items: center;
   align-self: center;
   justify-content: center;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
}

.controls-BaseButton__loadingIndicator {
   background: var(--spinner_s_background-image_loadingIndicator) 0 0 no-repeat;
   background-size: contain;
}

.controls-Button__content-hidden {
   visibility: hidden;
}

.controls-Button__wrapper_loading {
   position: relative;
}

.controls-Button__text_captionPosition-xs_start {
   order: 0;
   margin-right: var(--offset_3xs);
}

.controls-Button__text_captionPosition-default_start,
.controls-Button__text_captionPosition-s_start,
.controls-Button__text_captionPosition-m_start,
.controls-Button__text_captionPosition-l_start {
   order: 0;
   margin-right: var(--icon-offset_button);
}

.controls-Button__text_captionPosition-xl_start,
.controls-Button__text_captionPosition-2xl_start,
.controls-Button__text_captionPosition-3xl_start {
   order: 0;
   margin-right: var(--offset_s);
}

.controls-Button__text_captionPosition-4xl_start,
.controls-Button__text_captionPosition-5xl_start {
   order: 0;
   margin-right: var(--offset_m);
}

.controls-Button__text_captionPosition-xs_end {
   order: 2;
   margin-left: var(--offset_3xs);
}

.controls-Button__text_captionPosition-default_end,
.controls-Button__text_captionPosition-s_end,
.controls-Button__text_captionPosition-m_end,
.controls-Button__text_captionPosition-l_end {
   order: 2;
   margin-left: var(--icon-offset_button);
}

.controls-Button__text_captionPosition-xl_end,
.controls-Button__text_captionPosition-2xl_end,
.controls-Button__text_captionPosition-3xl_end {
   order: 2;
   margin-left: var(--offset_s);
}

.controls-Button__text_captionPosition-4xl_end,
.controls-Button__text_captionPosition-5xl_end {
   order: 2;
   margin-left: var(--offset_m);
}

.controls-Button__wrapper_inline-height_xs::before {
   line-height: calc(
      var(--inline_height_xs) - 2 * var(--border-thickness_button)
   );
}

.controls-Button__wrapper_inline-height_s::before {
   line-height: calc(
      var(--inline_height_s) - 2 * var(--border-thickness_button)
   );
}

.controls-Button__wrapper_inline-height_m::before {
   line-height: calc(
      var(--inline_height_m) - 2 * var(--border-thickness_button)
   );
}

.controls-Button__wrapper_inline-height_l::before {
   line-height: calc(
      var(--inline_height_l) - 2 * var(--border-thickness_button)
   );
}

.controls-Button__wrapper_inline-height_xl::before {
   line-height: calc(
      var(--inline_height_xl) - 2 * var(--border-thickness_button)
   );
}

.controls-Button__wrapper_inline-height_2xl::before {
   line-height: calc(
      var(--inline_height_2xl) - 2 * var(--border-thickness_button)
   );
}

.controls-Button__wrapper_inline-height_3xl::before {
   line-height: calc(
      var(--inline_height_3xl) - 2 * var(--border-thickness_button)
   );
}

.controls-Button__wrapper_inline-height_4xl::before {
   line-height: calc(
      var(--inline_height_4xl) - 2 * var(--border-thickness_button)
   );
}

.controls-Button__wrapper_inline-height_5xl::before {
   line-height: calc(
      var(--inline_height_5xl) - 2 * var(--border-thickness_button)
   );
}

.controls-Button__wrapper_inline-height_default::before {
   line-height: calc(
      var(--inline_height_m) - 2 * var(--border-thickness_button)
   );
}

// баг ие10, дочерний элемент контейнера с флексом неправильно рассчитывает свои размеры
// вследствии чего обрезание текста происходит неверно
.ws-is-ie10 {
   .controls-BaseButton__text {
      display: inline-block;
      -ms-flex-negative: 1;
   }
}

.controls-Button__wrapper_viewMode-filled,
.controls-Button__wrapper_viewMode-outlined,
.controls-Button__wrapper_viewMode-ghost {
   &.controls-Button_textAlign-left {
      justify-content: left;
   }

   &.controls-Button_textAlign-center {
      justify-content: center;
   }

   &.controls-Button_textAlign-right {
      justify-content: flex-end;
   }

   &.controls-Button_textAlign-justify {
      justify-content: space-between;

      // При выравнивании через space-between, также учитывается и before, поэтому задаем ему order в середине
      &.controls-BaseButton__wrapper::before {
         order: 1;
      }

      &.controls-BaseButton__wrapper_captionPosition_end::before {
         order: 2;
      }
   }
}

.ws-is-hover {
   .controls-Button_clickable {
      cursor: pointer;
   }
}

.controls-Button_readonly {
   cursor: default;
}

.controls-Button__text_viewMode-outlined,
.controls-Button__text_viewMode-filled,
.controls-Button__text_viewMode-ghost {
   text-shadow: var(--text-shadow_button);
}

.controls-Button__text_clickable_bg-same {
   color: var(--text-color_button);
}

.controls-Button__text_clickable_bg-contrast {
   color: var(--text-contrast-color_button);
}

.controls-Button__text_readonly_filled,
.controls-Button__text_readonly_outlined {
   color: var(--readonly_text-color_button_button);
   text-shadow: none;
}

.controls-Button__text_readonly_link,
.controls-Button__text_readonly_ghost {
   color: var(--readonly_text-color_button);
   text-shadow: none;
}

.controls-Button_outlined,
.controls-Button_filled,
.controls-Button_ghost {
   user-select: none;
}

.controls-Button_filled_shadow-pale,
.controls-Button_outlined_shadow-pale {
   box-shadow: var(--box-shadow_pale-button);
}

.controls-Button_filled_shadow-none,
.controls-Button_outlined_shadow-none {
   box-shadow: var(--box-shadow_button);
}

.controls-Button_outlined_shadow-small,
.controls-Button_filled_shadow-small {
   box-shadow: var(--box-shadow_contrast-button);
}

.controls-Button_outlined_shadow-big,
.controls-Button_filled_shadow-big {
   box-shadow: var(--box-shadow_contrast_big_button);
}

.controls-Button_filled:active,
.controls-Button_outlined:active,
.controls-Button_ghost:active {
   box-shadow: none;
}

.controls-Button_link .controls-text-decoration-underline {
   text-decoration: var(--text-decoration_hover_button_link);
}

//hover styles
.ws-is-hover {
   .controls-Button_clickable:hover .controls-Button__text_clickable {
      color: var(--text-color_button);
   }

   .controls-Button_ghost,
   .controls-Button_link {
      &.controls-Button_clickable:hover .controls-text-link {
         color: var(--link_hover_text-color);
      }

      &.controls-Button_clickable:hover .controls-text-label {
         color: var(--label_hover_text-color);
      }

      &.controls-Button_clickable:hover .controls-text-secondary {
         color: var(--secondary_hover_text-color);
      }

      &.controls-Button_clickable:hover .controls-text-info {
         color: var(--info_hover_text-color);
      }

      &.controls-Button_clickable:hover .controls-text-unaccented {
         color: var(--unaccented_hover_text-color);
      }

      &.controls-Button_clickable:hover .controls-text-danger {
         color: var(--danger_hover_text-color);
      }

      &.controls-Button_clickable:hover .controls-text-warning {
         color: var(--warning_hover_text-color);
      }

      &.controls-Button_clickable:hover .controls-text-primary {
         color: var(--primary_hover_text-color);
      }

      &.controls-Button_clickable:hover .controls-text-success {
         color: var(--success_hover_text-color);
      }

      &.controls-Button_clickable:hover .controls-text-default {
         color: var(--hover_text-color);
      }

      &.controls-Button_hoverIcon:hover .controls-icon_style-link {
         color: var(--link_hover_icon-color);
         fill: var(--link_hover_icon-color);
      }

      &.controls-Button_hoverIcon:hover .controls-icon_style-secondary {
         color: var(--secondary_hover_icon-color);
         fill: var(--secondary_hover_icon-color);
      }

      &.controls-Button_hoverIcon:hover .controls-icon_style-primary {
         color: var(--primary_hover_icon-color);
         fill: var(--primary_hover_icon-color);
      }

      &.controls-Button_hoverIcon:hover .controls-icon_style-warning {
         color: var(--warning_hover_icon-color);
         fill: var(--warning_hover_icon-color);
      }

      &.controls-Button_hoverIcon:hover .controls-icon_style-danger {
         color: var(--danger_hover_icon-color);
         fill: var(--danger_hover_icon-color);
      }

      &.controls-Button_hoverIcon:hover .controls-icon_style-info {
         color: var(--info_hover_icon-color);
         fill: var(--info_hover_icon-color);
      }

      &.controls-Button_hoverIcon:hover .controls-icon_style-success {
         color: var(--success_hover_icon-color);
         fill: var(--success_hover_icon-color);
      }

      &.controls-Button_hoverIcon:hover .controls-icon_style-unaccented {
         color: var(--unaccented_hover_icon-color);
         fill: var(--unaccented_hover_icon-color);
      }

      &.controls-Button_hoverIcon:hover .controls-icon_style-label {
         color: var(--label_hover_icon-color);
         fill: var(--label_hover_icon-color);
      }
   }
}

.ws-is-no-touch,
.ws-is-touch {
   .controls-Button_ghost,
   .controls-Button_link {
      &.controls-Button_clickable:active .controls-text-link {
         color: var(--link_hover_text-color);
      }

      &.controls-Button_clickable:active .controls-text-label {
         color: var(--label_hover_text-color);
      }

      &.controls-Button_clickable:active .controls-text-secondary {
         color: var(--secondary_hover_text-color);
      }

      &.controls-Button_clickable:active .controls-text-info {
         color: var(--info_hover_text-color);
      }

      &.controls-Button_clickable:active .controls-text-unaccented {
         color: var(--unaccented_hover_text-color);
      }

      &.controls-Button_clickable:active .controls-text-danger {
         color: var(--danger_hover_text-color);
      }

      &.controls-Button_clickable:active .controls-text-warning {
         color: var(--warning_hover_text-color);
      }

      &.controls-Button_clickable:active .controls-text-primary {
         color: var(--primary_hover_text-color);
      }

      &.controls-Button_clickable:active .controls-text-success {
         color: var(--success_hover_text-color);
      }

      &.controls-Button_clickable:active .controls-text-default {
         color: var(--hover_text-color);
      }

      &.controls-Button_hoverIcon:active .controls-icon_style-link {
         color: var(--link_hover_icon-color);
         fill: var(--link_hover_icon-color);
      }

      &.controls-Button_hoverIcon:active .controls-icon_style-secondary {
         color: var(--secondary_hover_icon-color);
         fill: var(--secondary_hover_icon-color);
      }

      &.controls-Button_hoverIcon:active .controls-icon_style-primary {
         color: var(--primary_hover_icon-color);
         fill: var(--primary_hover_icon-color);
      }

      &.controls-Button_hoverIcon:active .controls-icon_style-warning {
         color: var(--warning_hover_icon-color);
         fill: var(--warning_hover_icon-color);
      }

      &.controls-Button_hoverIcon:active .controls-icon_style-danger {
         color: var(--danger_hover_icon-color);
         fill: var(--danger_hover_icon-color);
      }

      &.controls-Button_hoverIcon:active .controls-icon_style-info {
         color: var(--info_hover_icon-color);
         fill: var(--info_hover_icon-color);
      }

      &.controls-Button_hoverIcon:active .controls-icon_style-success {
         color: var(--success_hover_icon-color);
         fill: var(--success_hover_icon-color);
      }

      &.controls-Button_hoverIcon:active .controls-icon_style-unaccented {
         color: var(--unaccented_hover_icon-color);
         fill: var(--unaccented_hover_icon-color);
      }

      &.controls-Button_hoverIcon:active .controls-icon_style-label {
         color: var(--label_hover_icon-color);
         fill: var(--label_hover_icon-color);
      }
   }
}

//borders
.controls-Button_filled,
.controls-Button_outlined,
.controls-Button_ghost {
   border-style: solid;
}

.controls-Button_outlined,
.controls-Button_filled {
   border-width: var(--border-thickness_button);
}

.controls-Button_filled {
   border-color: transparent;
}

.controls-Button_outlined {
   background: var(--background-color_button);
}

.controls-Button_outlined_style-primary {
   border-color: var(--primary_border-color_button);
   background: var(--primary_background-color_button);
}

.controls-Button_outlined_style-secondary {
   border-color: var(--secondary_border-color_button);
   background: var(--secondary_background-color_button);
}

.controls-Button_outlined_style-readonly,
.controls-Button_filled_style-readonly {
   border-color: var(--readonly_border-color_button);
   background: var(--readonly_background-color_button);
}

.controls-Button_outlined_style-danger {
   border-color: var(--danger_border-color_button);
   background: var(--danger_background-color_button);
}

.controls-Button_outlined_style-success {
   border-color: var(--success_border-color_button);
   background: var(--success_background-color_button);
}

.controls-Button_outlined_style-warning {
   border-color: var(--warning_border-color);
   background: var(--warning_background-color_button);
}

.controls-Button_outlined_style-info {
   border-color: var(--info_border-color);
}

.controls-Button_outlined_style-unaccented {
   border-color: var(--unaccented_border-color);
}

.controls-Button_outlined_style-default {
   border-color: var(--default_border-color_button);
   background: var(--background-color_button);
}

.controls-Button_outlined_style-pale {
   border-color: var(--pale_border-color);
}

.controls-Button_ghost {
   border-width: var(--border-thickness_button);
   border-color: var(--border-color_button_toolButton);
   background: var(--background-color_button_toolButton);
   box-shadow: var(--box-shadow_button_toolButton);
}

.controls-BaseButton.controls-Button_radius-ghost {
   border-radius: var(--border-radius_button);
}

.ws-is-hover {
   .controls-Button_ghost_style-default:hover {
      border-color: var(--border-color_hover_button_toolButton);
      background: var(--background-color_hover_button_toolButton);
   }
}

.ws-is-no-touch,
.ws-is-touch {
   .controls-Button_ghost_style-default:active {
      border-color: var(--border-color_hover_button_toolButton);
      background: var(--background-color_active_button_toolButton);
   }
}

.controls-BaseButton.controls-Button_radius-filled,
.controls-BaseButton.controls-Button_radius-outlined {
   border-radius: var(--border-radius_button);
}

.controls-Button_filled_style-primary {
   background: var(--primary_contrast_background-color_button);
}

.controls-Button_filled_style-secondary {
   background: var(--secondary_contrast_background-color_button);
}

.controls-Button_filled_style-danger {
   background: var(--danger_contrast_background-color);
}

.controls-Button_filled_style-success {
   background: var(--success_contrast_background-color);
}

.controls-Button_filled_style-warning {
   background: var(--warning_contrast_background-color);
}

.controls-Button_filled_style-unaccented {
   background: var(--unaccented_contrast_background-color);
}

.controls-Button_filled_style-info {
   background: var(--info_contrast_background-color);
}

.controls-Button_filled_style-navigation {
   background: var(--navigation_background-color_button);
}

.controls-Button_filled_style-default {
   background: var(--default_contrast_background-color_button);

   .controls-Button__text_clickable_bg-contrast {
      color: var(--text-color_button);
   }
}

.controls-Button_filled_style-pale {
   border-color: transparent;
   background: var(--pale_contrast_background-color);

   .controls-Button__text_clickable_bg-contrast {
      color: var(--text-color_button);
   }
}

.controls-Button_filled_style-brand {
   background: var(--brand_color);
}

.controls-Button_style-translucent {
   border-color: transparent;
   will-change: auto;
}

.controls-Button_mode-button_style-translucent-light {
   background: var(--translucent_background-color_light);
}

.controls-Button_mode-button_style-translucent-dark {
   background: var(--translucent_background-color_button);
}

.ws-is-hover {
   .controls-Button_clickable.controls-Button_outlined_style-success:hover {
      border-color: var(--success_hover_border-color);
      background: var(--success_hover_background-color_button);
   }

   .controls-Button_clickable.controls-Button_outlined_style-danger:hover {
      border-color: var(--danger_hover_border-color);
      background: var(--danger_hover_background-color_button);
   }

   .controls-Button_clickable.controls-Button_outlined_style-secondary:hover {
      border-color: var(--secondary_hover_border-color);
      background: var(--secondary_hover_background-color_button);
   }

   .controls-Button_clickable.controls-Button_outlined_style-unaccented:hover {
      border-color: var(--unaccented_hover_border-color);
   }

   .controls-Button_clickable.controls-Button_outlined_style-primary:hover {
      border-color: var(--primary_hover_border-color);
      background: var(--primary_hover_background-color_button);
   }

   .controls-Button_clickable.controls-Button_outlined_style-info:hover {
      border-color: var(--info_hover_border-color);
   }

   .controls-Button_clickable.controls-Button_outlined_style-warning:hover {
      border-color: var(--warning_hover_border-color);
      background: var(--warning_hover_background-color_button);
   }

   .controls-Button_clickable.controls-Button_outlined_style-pale:hover {
      border-color: var(--pale_hover_border-color);
   }

   .controls-Button_clickable.controls-Button_outlined_style-default:hover {
      border-color: var(--default_hover_border-color_button);
   }

   .controls-Button_clickable.controls-Button_filled_style-success:hover {
      background: var(--success_hover_contrast_background-color);
   }

   .controls-Button_clickable.controls-Button_filled_style-danger:hover {
      background: var(--danger_hover_contrast_background-color);
   }

   .controls-Button_clickable.controls-Button_filled_style-secondary:hover {
      background: var(--secondary_hover_contrast_background-color);
   }

   .controls-Button_clickable.controls-Button_filled_style-unaccented:hover {
      background: var(--unaccented_hover_contrast_background-color);
   }

   .controls-Button_clickable.controls-Button_filled_style-primary:hover {
      background: var(--primary_hover_contrast_background-color);
   }

   .controls-Button_clickable.controls-Button_filled_style-info:hover {
      background: var(--info_hover_contrast_background-color);
   }

   .controls-Button_clickable.controls-Button_filled_style-warning:hover {
      background: var(--warning_hover_contrast_background-color);
   }

   .controls-Button_clickable.controls-Button_filled_style-pale:hover {
      border-color: transparent; //если заливка полупрозрачная, то получается наложение
      background: var(--pale_hover_contrast_background-color);
   }

   .controls-Button_clickable.controls-Button_style-translucent-light:hover {
      background: var(--translucent_hover_background-color_light);
   }

   .controls-Button_clickable.controls-Button_style-translucent-dark:hover {
      background: var(--translucent_hover_background-color_button);
   }

   .controls-Button_clickable.controls-Button_filled_style-default:hover {
      &.controls-Button_filled_shadow-small:hover {
         box-shadow: 0 0 var(--shadow-blur_b) var(--shadow-color_b);
      }

      &.controls-Button_filled_shadow-big:hover {
         box-shadow: 0 4px var(--shadow-blur_a) var(--shadow-color_a);
      }
   }

   .controls-Button_clickable.controls-Button_filled_style-navigation:hover {
      background: var(--navigation_hover_background-color_button);
   }
}

.ws-is-no-touch,
.ws-is-touch {
   .controls-Button_clickable.controls-Button_outlined_style-success:active {
      background: var(--success_active_background-color_button);
   }

   .controls-Button_clickable.controls-Button_outlined_style-danger:active {
      background: var(--danger_active_background-color_button);
   }

   .controls-Button_clickable.controls-Button_outlined_style-secondary:active {
      background: var(--secondary_active_background-color_button);
   }

   .controls-Button_clickable.controls-Button_outlined_style-unaccented:active {
      background: var(--pale_hover_contrast_background-color);
   }

   .controls-Button_clickable.controls-Button_outlined_style-primary:active {
      background: var(--primary_active_background-color_button);
   }

   .controls-Button_clickable.controls-Button_outlined_style-info:active {
      background: var(--info_hover_same_background-color);
   }

   .controls-Button_clickable.controls-Button_outlined_style-warning:active {
      background: var(--warning_active_background-color_button);
   }

   .controls-Button_clickable.controls-Button_outlined_style-pale:active {
      background: var(--pale_hover_contrast_background-color);
   }

   .controls-Button_clickable.controls-Button_outlined_style-default:active {
      border-color: var(--default_active_border-color_button);
      background: var(--default_active_background-color_button);
   }

   .controls-Button_clickable.controls-Button_filled_style-success:active {
      background: var(--success_active_contrast_background-color);
   }

   .controls-Button_clickable.controls-Button_filled_style-danger:active {
      background: var(--danger_active_contrast_background-color);
   }

   .controls-Button_clickable.controls-Button_filled_style-secondary:active {
      background: var(--secondary_active_contrast_background-color);
   }

   .controls-Button_clickable.controls-Button_filled_style-unaccented:active {
      background: var(--unaccented_active_contrast_background-color);
   }

   .controls-Button_clickable.controls-Button_filled_style-primary:active {
      background: var(--primary_active_contrast_background-color);
   }

   .controls-Button_clickable.controls-Button_filled_style-info:active {
      background: var(--info_active_contrast_background-color);
   }

   .controls-Button_clickable.controls-Button_filled_style-warning:active {
      background: var(--warning_active_contrast_background-color);
   }

   .controls-Button_clickable.controls-Button_filled_style-pale:active {
      border-color: transparent; //если заливка полупрозрачная, то получается наложение
      background: var(--pale_active_contrast_background-color);
   }

   .controls-Button_clickable.controls-Button_style-translucent-light:active {
      background: var(--translucent_active_background-color_light);
   }

   .controls-Button_clickable.controls-Button_style-translucent-dark:active {
      background: var(--translucent_active_background-color_button);
   }

   .controls-Button_clickable.controls-Button_filled_style-default:active {
      background: var(--default_active_background-color_button);
   }

   .controls-Button_clickable.controls-Button_filled_style-navigation:active {
      background: var(--navigation_active_background-color_button);
   }
}

//this is square buttons, that's why width is equal to height
.controls-Button_circle_height-xs {
   width: var(--inline_height_xs);
   min-width: var(--inline_height_xs);
}

.controls-Button_circle_height-s {
   width: var(--inline_height_s);
   min-width: var(--inline_height_s);
}

.controls-Button_circle_height-m {
   width: var(--inline_height_m);
   min-width: var(--inline_height_m);
}

.controls-Button_circle_height-mt {
   width: var(--inline_height_mt);
   min-width: var(--inline_height_mt);
}

.controls-Button_circle_height-l {
   width: var(--inline_height_l);
   min-width: var(--inline_height_l);
}

.controls-Button_circle_height-xl {
   width: var(--inline_height_xl);
   min-width: var(--inline_height_xl);
}

.controls-Button_circle_height-2xl {
   width: var(--inline_height_2xl);
   min-width: var(--inline_height_2xl);
}

.controls-Button_circle_height-3xl {
   width: var(--inline_height_3xl);
   min-width: var(--inline_height_3xl);
}

.controls-Button_circle_height-4xl {
   width: var(--inline_height_4xl);
   min-width: var(--inline_height_4xl);
}

.controls-Button_circle_height-5xl {
   width: var(--inline_height_5xl);
   min-width: var(--inline_height_5xl);
}

.controls-Button_circle_height-default {
   width: var(--inline_height_default);
   min-width: var(--inline_height_default);
}

//paddings
.controls-Button__wrapper_padding-xs {
   padding: 0
      calc(var(--padding-horizontal_xs_button) - var(--border-thickness_button));
}

.controls-Button__wrapper_padding-s {
   padding: 0
      calc(var(--padding-horizontal_s_button) - var(--border-thickness_button));
}

.controls-Button__wrapper_padding-m {
   padding: 0
      calc(var(--padding-horizontal_m_button) - var(--border-thickness_button));
}

.controls-Button__wrapper_padding-l {
   padding: 0
      calc(var(--padding-horizontal_l_button) - var(--border-thickness_button));
}

.controls-Button__wrapper_padding-xl {
   padding: 0
      calc(var(--padding-horizontal_xl_button) - var(--border-thickness_button));
}

.controls-Button__wrapper_padding-2xl {
   padding: 0
      calc(
         var(--padding-horizontal_2xl_button) - var(--border-thickness_button)
      );
}

.controls-Button__wrapper_padding-3xl {
   padding: 0
      calc(
         var(--padding-horizontal_3xl_button) - var(--border-thickness_button)
      );
}

.controls-Button__wrapper_padding-4xl {
   padding: 0
      calc(
         var(--padding-horizontal_4xl_button) - var(--border-thickness_button)
      );
}

.controls-Button__wrapper_padding-5xl {
   padding: 0
      calc(
         var(--padding-horizontal_5xl_button) - var(--border-thickness_button)
      );
}

.controls-Button__wrapper_padding-default {
   padding: 0
      calc(
         var(--padding-horizontal_default_button) -
            var(--border-thickness_button)
      );
}

//fontsize buttons default view mode
.controls-fontsize-3xs.controls-Button_button__wrapper-fontsize-3xs {
   font-size: var(--font-size_3xs_button);
}

.controls-fontsize-2xs.controls-Button_button__wrapper-fontsize-2xs {
   font-size: var(--font-size_2xs_button);
}

.controls-fontsize-xs.controls-Button_button__wrapper-fontsize-xs {
   font-size: var(--font-size_xs_button);
}

.controls-fontsize-s.controls-Button_button__wrapper-fontsize-s {
   font-size: var(--font-size_s_button);
}

.controls-fontsize-m.controls-Button_button__wrapper-fontsize-m {
   font-size: var(--font-size_m_button);
}

.controls-fontsize-l.controls-Button_button__wrapper-fontsize-l {
   font-size: var(--font-size_l_button);
}

//fontsize buttons link view mode
.controls-fontsize-xs.controls-Button_link__wrapper-fontsize-3xs {
   font-size: var(--font-size_3xs_button_link);
}

.controls-fontsize-s.controls-Button_link__wrapper-fontsize-2xs {
   font-size: var(--font-size_2xs_button_link);
}

.controls-fontsize-xs.controls-Button_link__wrapper-fontsize-xs {
   font-size: var(--font-size_xs_button_link);
}

.controls-fontsize-s.controls-Button_link__wrapper-fontsize-s {
   font-size: var(--font-size_s_button_link);
}

.controls-fontsize-m.controls-Button_link__wrapper-fontsize-m {
   font-size: var(--font-size_m_button_link);
}

.controls-fontsize-l.controls-Button_link__wrapper-fontsize-l {
   font-size: var(--font-size_l_button_link);
}

//inline heights buttons common
.controls-inlineheight-default.controls-Button-inlineheight-default {
   height: var(--inline_height_m);
}
