/* TODO: файл написан так, что эти 2 правила исправлять тяжело */
/* stylelint-disable no-descending-specificity, no-duplicate-selectors */
//common styles
.controls-BaseButton {
   display: inline-block;
   box-sizing: border-box;
   text-decoration: none;
   background: var(--container_background-color_button_local, none);
   border-color: var(
      --container_border-color_button_local,
      var(--secondary_background-color_button)
   );
   border-radius: var(--container_border-radius_button_local, var(--border-radius_button));
   border-width: var(--container_border-width_button_local, var(--border-thickness_button));
   border-style: var(--container_border-style_button_local, none);
   box-shadow: var(--container_shadow_button_local, var(--box-shadow_button));
   height: var(--container_inline-height_button_local, var(--inline_height_m));
   font-size: var(--text_font-size_button_local, var(--font-size_m_button));
   font-weight: var(--text_font-weight_button_local, normal);

   .ws-is-hover &:hover {
      text-decoration: none;
   }

   &__text {
      .text-overflow();
      text-decoration: var(--text_decoration_button_local, none);
      color: var(--text_color_button_local, var(--text-color_button));
   }

   &__wrapper {
      .button-wrapper-default-style();
      padding: 0
         calc(var(--container_padding-horizontal_button_local) - var(--border-thickness_button));

      &::before {
         content: '\200b';
      }

      .controls-Button_notCircle.controls-button-style &::before {
         content: '\200b';
         line-height: calc(
            var(--container_inline-height_button_local) - 2 *
               var(--container_border-width_button_local)
         );
      }
   }

   &__icon {
      order: 1;
      fill: var(--icon_color_button_local, var(--secondary_icon-color));
      color: var(--icon_color_button_local, var(--secondary_icon-color));
   }
}

.controls-Button__wrapper_padding-l_icon-m {
   padding: 0 calc(var(--offset_l) - var(--border-thickness_button)) 0
      calc(var(--padding-horizontal_l_button) - var(--border-thickness_button));
}

.ws-is-touch,
.ws-is-no-touch {
   .controls-BaseButton:active {
      text-decoration: none;
   }
}

.controls-button-style {
   user-select: none;

   --container_border-radius_button_local: var(--border-radius_button);
   --container_border-width_button_local: var(--border-thickness_button);
   --container_border-style_button_local: none;
   --container_shadow_button_local: none;
   --text_decoration_button_local: none;
   --container_inline-height_button_local: var(--inline_height_m);
}

.ws-is-touch,
.ws-is-no-touch {
   .controls-button-style:active {
      --container_shadow_button_local: none;
   }
}

.controls-linkButton-style {
   --container_background-color_button_local: transparent;
   --container_border-radius_button_local: none;
   --container_border-width_button_local: 0;
   --container_border-style_button_local: none;
   --container_shadow_button_local: none;
   --text_decoration_button_local: none;
   --container_padding-horizontal_button_local: 0;
   --container_inline-height_button_local: auto;
   --spacing-icon-text_button_local: var(--icon-offset_button);
   --text_font-size_button_local: var(--font-size_m_button);

   .ws-is-hover &:hover {
      --text_decoration_button_local: var(--text-decoration_hover_button_link);
   }
}

// sizes
.controls-button_size-default {
   --container_inline-height_button_local: var(--inline_height_m);
   --spacing-icon-text_button_local: var(--icon-offset_button);
   --text_font-size_button_local: var(--font-size_m_button);
   --container_shadow_button_local: var(--box-shadow_contrast-button);
}

.controls-button_size-xs {
   --container_inline-height_button_local: var(--inline_height_xs);
   --spacing-icon-text_button_local: var(--offset_3xs);
   --text_font-size_button_local: var(--font-size_xs_button);
   --container_shadow_button_local: var(--box-shadow_contrast-button);
}

.controls-button_size-s {
   --container_inline-height_button_local: var(--inline_height_s);
   --spacing-icon-text_button_local: var(--icon-offset_button);
   --text_font-size_button_local: var(--font-size_s_button);
   --container_shadow_button_local: var(--box-shadow_contrast-button);
}

.controls-button_size-m {
   --container_inline-height_button_local: var(--inline_height_m);
   --spacing-icon-text_button_local: var(--icon-offset_button);
   --text_font-size_button_local: var(--font-size_m_button);
   --container_shadow_button_local: var(--box-shadow_contrast-button);
}

.controls-button_size-mt {
   --container_inline-height_button_local: var(--inline_height_mt);
   --spacing-icon-text_button_local: var(--icon-offset_button);
   --text_font-size_button_local: var(--font-size_m_button);
   --container_shadow_button_local: var(--box-shadow_contrast-button);
}

.controls-button_size-l {
   --container_inline-height_button_local: var(--inline_height_l);
   --spacing-icon-text_button_local: var(--icon-offset_button);
   --text_font-size_button_local: var(--font-size_l_button);
   --container_shadow_button_local: var(--box-shadow_contrast-button);
}

.controls-button_size-xl {
   --container_inline-height_button_local: var(--inline_height_xl);
   --spacing-icon-text_button_local: var(--offset_s);
   --text_font-size_button_local: var(--font-size_xl);
   --container_shadow_button_local: var(--box-shadow_contrast-button);
}

.controls-button_size-2xl {
   --container_inline-height_button_local: var(--inline_height_2xl);
   --spacing-icon-text_button_local: var(--offset_s);
   --text_font-size_button_local: var(--font-size_2xl);
   --container_shadow_button_local: var(--box-shadow_contrast-button);
}

.controls-button_size-3xl {
   --container_inline-height_button_local: var(--inline_height_3xl);
   --spacing-icon-text_button_local: var(--offset_s);
   --text_font-size_button_local: var(--font-size_3xl);
   --container_shadow_button_local: var(--box-shadow_contrast-button);
}

.controls-button_size-4xl {
   --container_inline-height_button_local: var(--inline_height_4xl);
   --spacing-icon-text_button_local: var(--offset_m);
   --text_font-size_button_local: var(--font-size_4xl);
   --container_shadow_button_local: var(--box-shadow_contrast_big_button);
}

.controls-button_size-5xl {
   --container_inline-height_button_local: var(--inline_height_5xl);
   --spacing-icon-text_button_local: var(--offset_m);
   --text_font-size_button_local: var(--font-size_5xl);
   --container_shadow_button_local: var(--box-shadow_contrast_big_button);
}

.controls-button_size-6xl {
   --container_inline-height_button_local: var(--inline_height_6xl);
   --spacing-icon-text_button_local: var(--offset_m);
   --text_font-size_button_local: var(--font-size_6xl);
   --container_shadow_button_local: var(--box-shadow_contrast_big_button);
}

.controls-button_size-7xl {
   --container_inline-height_button_local: var(--inline_height_7xl);
   --spacing-icon-text_button_local: var(--offset_m);
   --text_font-size_button_local: var(--font-size_7xl);
   --container_shadow_button_local: var(--box-shadow_contrast_big_button);
}

.controls-linkButton_link-link-style {
   --text_color_button_local: var(--link_text-color);

   .ws-is-hover &:hover {
      --text_color_button_local: var(--link_hover_text-color);
   }
}

.controls-linkButton_link-info-style {
   --text_color_button_local: var(--info_text-color);

   .ws-is-hover &:hover {
      --text_color_button_local: var(--info_hover_text-color);
   }
}

.controls-linkButton_link-label-style {
   --text_color_button_local: var(--label_text-color);

   .ws-is-hover &:hover {
      --text_color_button_local: var(--label_hover_text-color);
   }
}

.controls-linkButton_link-secondary-style {
   --text_color_button_local: var(--secondary_text-color);

   .ws-is-hover &:hover {
      --text_color_button_local: var(--secondary_hover_text-color);
   }
}

.controls-linkButton_link-unaccented-style {
   --text_color_button_local: var(--unaccented_text-color);

   .ws-is-hover &:hover {
      --text_color_button_local: var(--unaccented_hover_text-color);
   }
}

.controls-linkButton_link-danger-style {
   --text_color_button_local: var(--danger_text-color);

   .ws-is-hover &:hover {
      --text_color_button_local: var(--danger_hover_text-color);
   }
}

.controls-linkButton_link-warning-style {
   --text_color_button_local: var(--warning_text-color);

   .ws-is-hover &:hover {
      --text_color_button_local: var(--warning_hover_text-color);
   }
}

.controls-linkButton_link-primary-style {
   --text_color_button_local: var(--primary_text-color);

   .ws-is-hover &:hover {
      --text_color_button_local: var(--primary_hover_text-color);
   }
}

.controls-linkButton_link-success-style {
   --text_color_button_local: var(--success_text-color);

   .ws-is-hover &:hover {
      --text_color_button_local: var(--success_hover_text-color);
   }
}

.controls-linkButton_link-default-style {
   --text_color_button_local: var(--text-color);

   .ws-is-hover &:hover {
      --text_color_button_local: var(--hover_text-color);
   }
}

.controls-button_ghost-style {
   --container_background-color_button_local: var(--background-color_button_toolButton);
   --text_color_button_local: var(--text-color_button);
   --container_border-color_button_local: transparent;
   --container_border-style_button_local: solid;
   --container_shadow_button_local: var(--box-shadow_button_toolButton);

   .ws-is-hover &:hover {
      --container_border-color_button_local: var(--border-color_hover_button_toolButton);
      --container_background-color_button_local: var(--background-color_hover_button_toolButton);
   }

   .ws-is-touch &:active,
   .ws-is-no-touch &:active {
      --container_border-color_button_local: var(--border-color_hover_button_toolButton);
      --container_background-color_button_local: var(--background-color_active_button_toolButton);
   }
}

.ws-is-hover {
   .controls-button_ghost-readonly-style:hover {
      --container_background-color_button_local: var(--background-color_button_toolButton);
      --text_color_button_local: var(--text-color_button);
      --container_border-color_button_local: transparent;
      --container_shadow_button_local: var(--box-shadow_button_toolButton);
   }
}

.controls-button_outlined-style {
   --container_background-color_button_local: var(--background-color_button);
   --text_color_button_local: var(--text-color_button);
   --container_shadow_button_local: none;
   --container_border-style_button_local: solid;
}

.controls-button_outlined-primary-style {
   --container_border-color_button_local: var(--primary_border-color_button);
   --container_background-color_button_local: var(--primary_background-color_button);

   .ws-is-hover &:hover {
      --container_border-color_button_local: var(--primary_hover_border-color);
      --container_background-color_button_local: var(--primary_hover_background-color_button);
   }

   .ws-is-touch &:active,
   .ws-is-no-touch &:active {
      --container_background-color_button_local: var(--primary_active_background-color_button);
   }
}

.controls-button_outlined-secondary-style {
   --container_border-color_button_local: var(--secondary_border-color_button);
   --container_background-color_button_local: var(--secondary_background-color_button);

   .ws-is-hover &:hover {
      --container_border-color_button_local: var(--secondary_hover_border-color);
      --container_background-color_button_local: var(--secondary_hover_background-color_button);
   }

   .ws-is-touch &:active,
   .ws-is-no-touch &:active {
      --container_background-color_button_local: var(--secondary_active_background-color_button);
   }
}

.controls-button_outlined-danger-style {
   --container_border-color_button_local: var(--danger_border-color_button);
   --container_background-color_button_local: var(--danger_background-color_button);

   .ws-is-hover &:hover {
      --container_border-color_button_local: var(--danger_hover_border-color);
      --container_background-color_button_local: var(--primary_hover_background-color_button);
   }

   .ws-is-touch &:active,
   .ws-is-no-touch &:active {
      --container_background-color_button_local: var(--danger_active_background-color_button);
   }
}

.controls-button_outlined-success-style {
   --container_border-color_button_local: var(--success_border-color_button);
   --container_background-color_button_local: var(--success_background-color_button);

   .ws-is-hover &:hover {
      --container_border-color_button_local: var(--success_hover_border-color);
      --container_background-color_button_local: var(--success_hover_background-color_button);
   }

   .ws-is-touch &:active,
   .ws-is-no-touch &:active {
      --container_background-color_button_local: var(--success_active_background-color_button);
   }
}

.controls-button_outlined-info-style {
   --container_border-color_button_local: var(--info_border-color);

   .ws-is-hover &:hover {
      --container_border-color_button_local: var(--info_hover_border-color);
      --container_background-color_button_local: var(--info_background-color);
   }

   .ws-is-touch &:active,
   .ws-is-no-touch &:active {
      --container_background-color_button_local: var(--info_hover_background-color);
   }
}

.controls-button_outlined-warning-style {
   --container_border-color_button_local: var(--warning_border-color);
   --container_background-color_button_local: var(--danger_background-color_button);

   .ws-is-hover &:hover {
      --container_border-color_button_local: var(--warning_hover_border-color);
      --container_background-color_button_local: var(--warning_hover_background-color_button);
   }

   .ws-is-touch &:active,
   .ws-is-no-touch &:active {
      --container_background-color_button_local: var(--warning_active_background-color_button);
   }
}

.controls-button_outlined-unaccented-style,
.controls-button_outlined-default-style,
.controls-button_outlined-pale-style {
   --container_shadow_button_local: var(--box-shadow_pale-button);
   --container_border-color_button_local: var(--default_border-color_button);
   --container_background-color_button_local: var(--background-color_button);

   .ws-is-hover &:hover {
      --container_border-color_button_local: var(--hover_border-color);
   }

   .ws-is-touch &:active,
   .ws-is-no-touch &:active {
      --container_border-color_button_local: var(--hover_border-color);
      --container_background-color_button_local: var(--default_active_background-color_button);
   }
}

.controls-button_filled-style {
   --text_color_button_local: var(--text-contrast-color_button);
   --container_border-color_button_local: transparent;
   --container_border-width_button_local: var(--border-thickness_button);
   --container_border-style_button_local: solid;
}

.controls-button_outlined-readonly-style,
.controls-button_filled-readonly-style {
   --container_border-color_button_local: var(--readonly_border-color_button);
}

.controls-button_outlined-readonly-style {
   --container_background-color_button_local: var(--readonly_background-color_button);
}

.controls-button_filled-readonly-style {
   --container_background-color_button_local: transparent;
}

.controls-button_filled-primary-style {
   --container_background-color_button_local: var(--primary_contrast_background-color_button);

   .ws-is-hover &:hover {
      --container_background-color_button_local: var(--primary_hover_contrast_background-color);
   }

   .ws-is-touch &:active,
   .ws-is-no-touch &:active {
      --container_background-color_button_local: var(--primary_active_contrast_background-color);
   }
}

.controls-button_filled-secondary-style {
   --container_background-color_button_local: var(--secondary_contrast_background-color_button);

   .ws-is-hover &:hover {
      --container_background-color_button_local: var(--secondary_hover_contrast_background-color);
   }

   .ws-is-touch &:active,
   .ws-is-no-touch &:active {
      --container_background-color_button_local: var(--secondary_active_contrast_background-color);
   }
}

.controls-button_filled-danger-style {
   --container_background-color_button_local: var(--danger_contrast_background-color);

   .ws-is-hover &:hover {
      --container_background-color_button_local: var(--danger_hover_contrast_background-color);
   }

   .ws-is-touch &:active,
   .ws-is-no-touch &:active {
      --container_background-color_button_local: var(--danger_active_contrast_background-color);
   }
}

.controls-button_filled-success-style {
   --container_background-color_button_local: var(--success_contrast_background-color);

   .ws-is-hover &:hover {
      --container_background-color_button_local: var(--success_hover_contrast_background-color);
   }

   .ws-is-touch &:active,
   .ws-is-no-touch &:active {
      --container_background-color_button_local: var(--success_active_contrast_background-color);
   }
}

.controls-button_filled-warning-style {
   --container_background-color_button_local: var(--warning_contrast_background-color);

   .ws-is-hover &:hover {
      --container_background-color_button_local: var(--warning_hover_contrast_background-color);
   }

   .ws-is-touch &:active,
   .ws-is-no-touch &:active {
      --container_background-color_button_local: var(--warning_active_contrast_background-color);
   }
}

.controls-button_filled-unaccented-style {
   --text_color_button_local: var(--text-color_button);
   --container_background-color_button_local: var(--unaccented_contrast_background-color);

   .ws-is-hover &:hover {
      --container_background-color_button_local: var(--unaccented_hover_contrast_background-color);
   }

   .ws-is-touch &:active,
   .ws-is-no-touch &:active {
      --container_background-color_button_local: var(--unaccented_active_contrast_background-color);
   }
}

.controls-button_filled-info-style {
   --container_background-color_button_local: var(--info_contrast_background-color);

   .ws-is-hover &:hover {
      --container_background-color_button_local: var(--info_hover_contrast_background-color);
   }

   .ws-is-touch &:active,
   .ws-is-no-touch &:active {
      --container_background-color_button_local: var(--info_active_contrast_background-color);
   }
}

.controls-button_filled-navigation-style {
   --container_background-color_button_local: var(--navigation_background-color_button);

   .ws-is-hover &:hover {
      --container_background-color_button_local: var(--navigation_hover_background-color_button);
   }

   .ws-is-touch &:active,
   .ws-is-no-touch &:active {
      --container_background-color_button_local: var(--navigation_active_background-color_button);
   }
}

.controls-button_filled-default-style {
   --container_background-color_button_local: var(--default_contrast_background-color_button);
   --text_color_button_local: var(--text-color_button);

   .ws-is-hover &:hover {
      --container_background-color_button_local: var(--default_contrast_background-color_button);
   }

   .ws-is-touch &:active,
   .ws-is-no-touch &:active {
      --container_background-color_button_local: var(--default_active_background-color_button);
   }
}

.controls-button_filled-brand-style {
   --container_background-color_button_local: var(--brand_color);
}

.controls-button_translucent-light-style {
   will-change: auto;

   --container_shadow_button_local: none;
   --text_color_button_local: var(--text-color);
   --container_border-color_button_local: transparent;
   --container_background-color_button_local: var(--translucent_background-color_light);

   .ws-is-hover &:hover {
      --container_background-color_button_local: var(--translucent_hover_background-color_light);
   }

   .ws-is-touch &:active,
   .ws-is-no-touch &:active {
      --container_background-color_button_local: var(--translucent_active_background-color_light);
   }
}

.controls-button_translucent-dark-style {
   will-change: auto;

   --container_shadow_button_local: none;
   --text_color_button_local: var(--text-contrast-color_button);
   --container_border-color_button_local: transparent;
   --container_background-color_button_local: var(--translucent_background-color_button);

   .ws-is-hover &:hover {
      --container_background-color_button_local: var(--translucent_hover_background-color_button);
   }

   .ws-is-touch &:active,
   .ws-is-no-touch &:active {
      --container_background-color_button_local: var(--translucent_active_background-color_button);
   }
}

.controls-button__text_captionPosition_start {
   order: 0;
   margin-right: var(--spacing-icon-text_button_local, var(--icon-offset_button));
}

.controls-button__text_captionPosition_end {
   order: 2;
   margin-left: var(--spacing-icon-text_button_local, var(--icon-offset_button));
}

// icon color
.controls-button_icon-style-forTranslucent {
   --icon_color_button_local: #fff;
}

.controls-button_icon-style-readonly {
   --icon_color_button_local: var(--readonly_icon-color);
}

.controls-button_icon-style-contrast {
   --icon_color_button_local: var(--contrast_icon-color);
}

.controls-button_icon-style-primary {
   --icon_color_button_local: var(--primary_icon-color);
}

.controls-button_icon-style-secondary {
   --icon_color_button_local: var(--secondary_icon-color);
}

.controls-button_icon-style-success {
   --icon_color_button_local: var(--success_icon-color);
}

.controls-button_icon-style-danger {
   --icon_color_button_local: var(--danger_icon-color);
}

.controls-button_icon-style-warning {
   --icon_color_button_local: var(--warning_icon-color);
}

.controls-button_icon-style-info {
   --icon_color_button_local: var(--info_icon-color);
}

.controls-button_icon-style-unaccented {
   --icon_color_button_local: var(--unaccented_icon-color);
}

.controls-button_icon-style-default {
   --icon_color_button_local: var(--icon-color);
}

.controls-button_icon-style-link {
   --icon_color_button_local: var(--link_icon-color);
}

.controls-button_icon-style-label {
   --icon_color_button_local: var(--label_text-color);
}

.controls-button_icon-style-brand {
   --icon_color_button_local: var(--brand_color);
}

//icon with hover effects
.ws-is-hover {
   .controls-button_hover_icon-style-secondary:hover {
      --icon_color_button_local: var(--secondary_hover_icon-color);
   }

   .controls-button_hover_icon-style-link:hover {
      --icon_color_button_local: var(--link_hover_icon-color);
   }

   .controls-button_hover_icon-style-primary:hover {
      --icon_color_button_local: var(--primary_hover_icon-color);
   }

   .controls-button_hover_icon-style-warning:hover {
      --icon_color_button_local: var(--warning_hover_icon-color);
   }

   .controls-button_hover_icon-style-danger:hover {
      --icon_color_button_local: var(--danger_hover_icon-color);
   }

   .controls-button_hover_icon-style-info:hover {
      --icon_color_button_local: var(--info_hover_icon-color);
   }

   .controls-button_hover_icon-style-success:hover {
      --icon_color_button_local: var(--success_hover_icon-color);
   }

   .controls-button_hover_icon-style-unaccented:hover {
      --icon_color_button_local: var(--unaccented_hover_icon-color);
   }

   .controls-button_hover_icon-style-label:hover {
      --icon_color_button_local: var(--label_hover_icon-color);
   }
}

.ws-is-touch,
.ws-is-no-touch {
   .controls-button_hover_icon-style-secondary:active {
      --icon_color_button_local: var(--secondary_hover_icon-color);
   }

   .controls-button_hover_icon-style-link:active {
      --icon_color_button_local: var(--link_hover_icon-color);
   }

   .controls-button_hover_icon-style-primary:active {
      --icon_color_button_local: var(--primary_hover_icon-color);
   }

   .controls-button_hover_icon-style-warning:active {
      --icon_color_button_local: var(--warning_hover_icon-color);
   }

   .controls-button_hover_icon-style-danger:active {
      --icon_color_button_local: var(--danger_hover_icon-color);
   }

   .controls-button_hover_icon-style-info:active {
      --icon_color_button_local: var(--info_hover_icon-color);
   }

   .controls-button_hover_icon-style-success:active {
      --icon_color_button_local: var(--success_hover_icon-color);
   }

   .controls-button_hover_icon-style-unaccented:active {
      --icon_color_button_local: var(--unaccented_hover_icon-color);
   }

   .controls-button_hover_icon-style-label:active {
      --icon_color_button_local: var(--label_hover_icon-color);
   }
}

//readonly/clickable
.controls-Button_link.controls-Button_clickable:active {
   .controls-BaseButton__text {
      text-decoration: var(--text-decoration_hover_button_link);
   }
}

.ws-is-hover {
   .controls-Button_link.controls-Button_clickable:hover {
      .controls-BaseButton__text {
         text-decoration: var(--text-decoration_hover_button_link);
      }
   }
}

.controls-Button__wrapper_mode-button {
   align-items: baseline;

   .controls-BaseButton__icon {
      align-self: center;
   }
}

.controls-BaseButton__loadingIndicator-wrapper {
   display: flex;
   position: absolute;
   align-items: center;
   align-self: center;
   justify-content: center;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
}

.controls-BaseButton__loadingIndicator {
   background: var(--spinner_s_background-image_loadingIndicator) 0 0 no-repeat;
   background-size: contain;
}

.controls-Button__content-hidden {
   visibility: hidden;
}

.controls-Button__wrapper_loading {
   position: relative;
}

// баг ие10, дочерний элемент контейнера с флексом неправильно рассчитывает свои размеры
// вследствии чего обрезание текста происходит неверно
.ws-is-ie10 {
   .controls-BaseButton__text {
      display: inline-block;
      -ms-flex-negative: 1;
   }
}

.controls-Button__wrapper_viewMode-filled,
.controls-Button__wrapper_viewMode-outlined,
.controls-Button__wrapper_viewMode-ghost {
   &.controls-Button_textAlign-left {
      justify-content: left;
   }

   &.controls-Button_textAlign-center {
      justify-content: center;
   }

   &.controls-Button_textAlign-right {
      justify-content: flex-end;
   }

   &.controls-Button_textAlign-justify {
      justify-content: space-between;

      // При выравнивании через space-between, также учитывается и before, поэтому задаем ему order в середине
      &.controls-BaseButton__wrapper::before {
         order: 1;
      }

      &.controls-BaseButton__wrapper_captionPosition_end::before {
         order: 2;
      }
   }
}

.controls-Button_readonly {
   cursor: default;

   --text_decoration_button_local: none;
}

.ws-is-hover {
   .controls-Button_clickable {
      cursor: pointer;
   }

   .controls-Button_readonly:hover {
      --text_decoration_button_local: none;
   }
}

.controls-Button__text_viewMode-outlined,
.controls-Button__text_viewMode-filled,
.controls-Button__text_viewMode-ghost {
   text-shadow: var(--text-shadow_button);
}

.controls-Button__text_readonly_filled,
.controls-Button__text_readonly_outlined {
   color: var(--readonly_text-color_button_button);
   text-shadow: none;
}

.controls-Button__text_readonly_link,
.controls-Button__text_readonly_ghost {
   color: var(--readonly_text-color_button);
   text-shadow: none;
}

.controls-Button__text_readonly {
   &_link,
   &_linkButton {
      cursor: text;
   }
}

.controls-Button_filled_shadow-pale,
.controls-Button_outlined_shadow-pale {
   --container_shadow_button_local: var(--box-shadow_pale-button);
}

.controls-Button_filled_shadow-none,
.controls-Button_outlined_shadow-none {
   --container_shadow_button_local: var(--box-shadow_button);
}

.controls-Button_outlined_shadow-small:not(:active),
.controls-Button_filled_shadow-small:not(:active) {
   --container_shadow_button_local: var(--box-shadow_contrast-button);
}

.controls-Button_outlined_shadow-big,
.controls-Button_filled_shadow-big {
   --container_shadow_button_local: var(--box-shadow_contrast_big_button);
}

.controls-text-decoration-underline {
   --text_decoration_button_local: var(--text-decoration_hover_button_link);
}

//hover styles
.ws-is-hover {
   .controls-Button_clickable:hover .controls-Button__text_clickable {
      color: var(--text-color_button);
   }
}

.ws-is-hover {
   .controls-Button_clickable.controls-button_filled-default-style:hover {
      &.controls-Button_filled_shadow-small:hover {
         box-shadow: 0 0 var(--shadow-blur_b) var(--shadow-color_b);
      }

      &.controls-Button_filled_shadow-big:hover {
         box-shadow: 0 4px var(--shadow-blur_a) var(--shadow-color_a);
      }
   }
}

.controls-Button_circle {
   width: var(--container_inline-height_button_local);
   min-width: var(--container_inline-height_button_local);
}

@fontSizeVariants: ~'3xs', ~'2xs', xs, s, m, mt, l, xl, ~'2xl', ~'3xl', ~'4xl', ~'5xl', ~'6xl',
   ~'7xl', default;

.for(@fontSizeVariants, {
  .controls-button_fontsize-@{_item} {
    --text_font-size_button_local: ~'var(--font-size_@{_item})';
  }

  .controls-button_padding-@{_item} {
    --container_padding-horizontal_button_local: ~'var(--padding-horizontal_@{_item}_button)';
  }
});

.controls-button_default-default-style {
   --container_shadow_button_local: none;
   --container_background-color_button_local: transparent;
   --container_border-style_button_local: none;
}

.controls-button_translucent-false-style {
   --container_background-color_button_local: transparent;
   --container_border-style_button_local: none;
}

.controls-button_translucent-true-style {
   --container_border-style_button_local: none;
}

.controls-linkButton_size-default {
   --container_inline-height_button_local: var(--inline_height_m);
}

.controls-linkButton_size-mt {
   --container_inline-height_button_local: var(--inline_height_mt);
}

.controls-linkButton_size-xs {
   --container_inline-height_button_local: var(--inline_height_xs);
}

.controls-linkButton_size-m {
   --container_inline-height_button_local: var(--inline_height_m);
}

.controls-linkButton_size-s {
   --container_inline-height_button_local: var(--inline_height_s);
}

.controls-linkButton_size-l {
   --container_inline-height_button_local: var(--inline_height_l);
}

.controls-linkButton_size-xl {
   --container_inline-height_button_local: var(--inline_height_xl);
   --spacing-icon-text_button_local: var(--offset_s);
}

.controls-linkButton_size-2xl {
   --container_inline-height_button_local: var(--inline_height_2xl);
   --spacing-icon-text_button_local: var(--offset_s);
}

.controls-linkButton_size-5xl {
   --container_inline-height_button_local: var(--inline_height_5xl);
   --spacing-icon-text_button_local: var(--offset_m);
}

.controls-button_icon-style-widget {
   --icon_color_button_local: var(--widget-color, var(--secondary_icon-color));
}

.controls-icon_style-readonly {
   --icon_color_button_local: var(--readonly_icon-color);
}

.controls-button_icon-style {
   --container_border-radius_button_local: none;
}

.controls-BaseButton.controls-fontweight-bold {
   --text_font-weight_button_local: var(--font-weight-bold);
}

// todo
.controls-button_icon-style {
   --container_shadow_button_local: none;
}

.controls-button_filled-pale-style {
   --container_shadow_button_local: var(--box-shadow_pale-button);
   --container_background-color_button_local: var(--pale_contrast_background-color);
   --text_color_button_local: var(--text-color_button);

   .ws-is-hover &:hover {
      --container_background-color_button_local: var(--pale_hover_contrast_background-color);
   }

   .ws-is-touch &:active,
   .ws-is-no-touch &:active {
      --container_background-color_button_local: var(--pale_active_contrast_background-color);
   }
}

.controls-button_fontColorStyle-link-style {
   --text_color_button_local: var(--link_text-color);
}

.controls-button_fontColorStyle-label-style {
   --text_color_button_local: var(--label_text-color);
}

.controls-button_fontColorStyle-info-style {
   --text_color_button_local: var(--info_text-color);
}

.controls-button_fontColorStyle-secondary-style {
   --text_color_button_local: var(--secondary_text-color);
}

.controls-button_fontColorStyle-unaccented-style {
   --text_color_button_local: var(--unaccented_text-color);
}

.controls-button_fontColorStyle-danger-style {
   --text_color_button_local: var(--danger_text-color);
}

.controls-button_fontColorStyle-warning-style {
   --text_color_button_local: var(--warning_text-color);
}

.controls-button_fontColorStyle-primary-style {
   --text_color_button_local: var(--primary_text-color);
}

.controls-button_fontColorStyle-success-style {
   --text_color_button_local: var(--success_text-color);
}

.controls-button_fontColorStyle-default-style {
   --text_color_button_local: var(--default_text-color);
}

.controls-button_fontColorStyle-pale-style {
   --text_color_button_local: var(--pale_text-color);
}

.ws-is-touch &:active,
.ws-is-no-touch &:active {
   .controls-button-style.controls-button_filled-style:active,
   .controls-button-style.controls-button_outlined-style:active {
      --container_shadow_button_local: none;
   }
}

.controls-button_mode-button_style-translucent-dark {
   --container_background-color_button_local: var(--translucent_background-color_button);

   .ws-is-hover &:hover {
      --container_background-color_button_local: var(--translucent_hover_background-color_button);
   }

   .ws-is-touch &:active,
   .ws-is-no-touch &:active {
      --container_background-color_button_local: var(--translucent_active_background-color_button);
   }
}

.controls-button_mode-button_style-translucent-light {
   --container_background-color_button_local: var(--translucent_background-color_light);

   .ws-is-hover &:hover {
      --container_background-color_button_local: var(--translucent_hover_background-color_light);
   }

   .ws-is-touch &:active,
   .ws-is-no-touch &:active {
      --container_background-color_button_local: var(--translucent_active_background-color_light);
   }
}

.ws-is-hover .controls-button_mode-ghost_style-translucent-dark:hover {
   --container_background-color_button_local: var(--translucent_hover_background-color_button);
}

.ws-is-touch,
.ws-is-no-touch {
   .controls-button_mode-ghost_style-translucent-dark:active {
      --container_background-color_button_local: var(--translucent_active_background-color_button);
   }
}

.controls-button_squared-style {
   width: var(--container_inline-height_button_local);
   min-width: var(--container_inline-height_button_local);

   --container_shadow_button_local: none;
   --container_border-width_button_local: var(--border-thickness);
   --container_border-style_button_local: solid;
   --container_border-radius_button_local: var(--border-radius_2xs);
}

.controls-Button__wrapper_viewMode-squared {
   justify-content: center;
}

.controls-button_squared-default-style {
   --container_background-color_button_local: var(--default_contrast_background-color_button);
   --container_border-color_button_local: var(--unaccented_border-color);

   .ws-is-touch &:active,
   .ws-is-no-touch &:active {
      --container_background-color_button_local: var(--default_active_background-color_button);
   }
}

.controls-button_squared-primary-style {
   --container_border-color_button_local: var(--primary_border-color);
   --container_background-color_button_local: var(--primary_same_background-color);

   .ws-is-hover &:hover {
      --container_background-color_button_local: var(--primary_hover_same_background-color);
   }

   .ws-is-touch &:active,
   .ws-is-no-touch &:active {
      --container_background-color_button_local: var(--primary_active_same_background-color);
   }
}

.controls-button_squared-secondary-style {
   --container_border-color_button_local: var(--secondary_border-color);
   --container_background-color_button_local: var(--secondary_same_background-color);

   .ws-is-hover &:hover {
      --container_background-color_button_local: var(--secondary_hover_same_background-color);
   }

   .ws-is-touch &:active,
   .ws-is-no-touch &:active {
      --container_background-color_button_local: var(--secondary_active_same_background-color);
   }
}

.controls-button_squared-success-style {
   --container_border-color_button_local: var(--success_border-color);
   --container_background-color_button_local: var(--success_same_background-color);

   .ws-is-hover &:hover {
      --container_background-color_button_local: var(--success_hover_same_background-color);
   }

   .ws-is-touch &:active,
   .ws-is-no-touch &:active {
      --container_background-color_button_local: var(--success_active_same_background-color);
   }
}

.controls-button_squared-danger-style {
   --container_border-color_button_local: var(--danger_border-color);
   --container_background-color_button_local: var(--danger_same_background-color);

   .ws-is-hover &:hover {
      --container_background-color_button_local: var(--danger_hover_same_background-color);
   }

   .ws-is-touch &:active,
   .ws-is-no-touch &:active {
      --container_background-color_button_local: var(--danger_active_same_background-color);
   }
}

.controls-button_squared-warning-style {
   --container_border-color_button_local: var(--warning_border-color);
   --container_background-color_button_local: var(--warning_same_background-color);

   .ws-is-hover &:hover {
      --container_background-color_button_local: var(--warning_hover_same_background-color);
   }

   .ws-is-touch &:active,
   .ws-is-no-touch &:active {
      --container_background-color_button_local: var(--warning_active_same_background-color);
   }
}

.controls-button_squared-info-style {
   --container_border-color_button_local: var(--info_border-color);
   --container_background-color_button_local: var(--info_same_background-color);

   .ws-is-hover &:hover {
      --container_background-color_button_local: var(--info_hover_same_background-color);
   }

   .ws-is-touch &:active,
   .ws-is-no-touch &:active {
      --container_background-color_button_local: var(--info_active_same_background-color);
   }
}

.controls-button_squared-readonly-style {
   --container_border-color_button_local: var(--readonly_border-color);
   --container_background-color_button_local: transparent;
}
