.demo-DragNDrop__MasterDetail_item-personName {
   color: #1f2c63;
   font-size: 15px;
}

.demo-DragNDrop__MasterDetail_item-personPhoto {
   width: 40px;
   height: 40px;
   margin-right: 8px;
   border-radius: 8px;
}

.demo-DragNDrop__MasterDetail_item-taskTypeNew {
   font-weight: bold;
}

.demo-DragNDrop__MasterDetail_item-taskMsg,
.demo-DragNDrop__MasterDetail_item-date {
   color: var(--unaccented_color);
}

.demo-DragNDrop__MasterDetail_item-date {
   text-align: right;
   padding-right: 12px;
}

.demo-DragNDrop__MasterDetail_item-task {
   margin-left: 8px;
}

.demo-DragNDrop__MasterDetail_search {
   padding: 12px;
}

.demo-DragNDrop__MasterDetail {
   border-bottom: 1px solid #eaeaea;
   border-top: 1px solid #eaeaea;
   display: flex;
   height: 500px;
}

.demo-DragNDrop__MasterDetail_sharedIcon {
   margin-left: 8px;
}
