.controls-ComboboxEditor-item {
   border: var(--border-thickness) var(--separator_color) solid;
   border-radius: var(--border-radius_s);
   padding-bottom: var(--offset_s);
   box-sizing: border-box;
}

.controls-ComboboxEditor-dropdownContainer {
   padding: var(--offset_m) var(--offset_xs);
}

.controls-ComboboxEditor-Control {
   pointer-events: none;
}
