.controls-TreeEditor-contentTemplate {
   display: inline-block;
   max-width: 100%;
}

.controls-TreeEditor-Lookup {
   width: 100%;
}

.controls-TreeEditor {
   margin-left: calc(-1 * var(--offset_m));
   margin-right: calc(-1 * var(--offset_m));
}

.controls-TreeEditor_heading-caption {
   display: grid;
   margin-bottom: var(--offset_s);
}

.controls-TreeEditor_heading-caption .controls_PropertyGrid__separator:first-child {
   display: block;
   margin-bottom: var(--offset_m);
}
