.controls-TreeEditor-contentTemplate {
   display: inline-block;
   max-width: 100%;
}

.controls-TreeEditor-Lookup {
   width: 100%;
}

.controls-TreeEditor {
   margin-left: calc(-1 * var(--offset_m));
   margin-right: calc(-1 * var(--offset_m));
}