//The scrollContainer z-index is set to auto, and if the content is set to z-index, it will be above the shadows and scrollbar
//Set a large z-index for shadows and scrollbar, leaving the ability to show content on top of them.
//Show content above the shadows and scrollbar in a tile where items are zoomed out of the scrollContainer.
@z-index_Scroll-contentEnvironment_horizontal: 6;
// Должен перекрывать все внутренние элементы скроируемой области. В Layout/Browser есть панельки с z-index: 6.
// По правилам работы с z-index - платформенные решения находятся в диапазоне 16-30.
// https://docs.google.com/document/d/1jKYv2go53aYc-zjOhUERS0CzvfihVJ5ZdRrbN-WL9WA
@z-index_Scroll-contentEnvironment: 29;
@z-index_Scroll-shadow: 4;
