.controls-legend-line {
   display: flex;
   padding: 2px;
   justify-content: space-between;
}

.controls-legend-value {
   display: inline-block;
   margin: 2px;
   margin-left: 20px;
}

.controls-legend-title {
   display: inline-block;
   margin: 2px;
   white-space: nowrap;
}

.controls-legend-color {
   display: inline-block;
   border-radius: 2px;
   width: 16px;
   margin: 2px 8px 2px 2px;
   height: 16px;
}

.controls-legend-line_titleWrapper {
   display: flex;
   align-items: center;
}
