.controls_theme-@{themeName} {
   --separator_color_block: #eaeaea;
   --separator_thickness_block: 6px;
   --border-thickness_block: 0px;
   --border-color_block: transparent;
   --border-radius_block: 0px;
   --shadow_block: none;
   --background-color_1_block: var(--background-color);
   --background-color_2_block: #f8f8f8;
   --background-color_3_block: #fbf9f7;
   --background-color_4_block: #f7f4f0;
   --background-color_5_block: #f4f9fd;
   --background-color_6_block: #f0f5fb;
}
