.controls_compactDatePicker_theme-@{themeName} {
   // Шапка
   --header_today_width_compactDatePicker: 20px;

   // Календарь
   --calendar_item-size_m_compactDatePicker: var(--inline_height_xl);
   --calendar_item-size_l_compactDatePicker: var(--inline_height_3xl);
   --calendar_today_color_compactDatePicker: var(--brand_color);
}
