.controls_compactDatePicker_theme-@{themeName} {
   // Шапка
   --header_today_width_compactDatePicker: 20px;
   --month-caption_fontsize_size-l_compactDatePicker: var(--font-size_4xl);
   --month-caption_fontsize_size-m_compactDatePicker: var(--font-size_3xl);
   --header_weekdays_fontsize_size-l_compactDatePicker: var(--font-size_2xl);
   --header_weekdays_fontsize_size-m_compactDatePicker: var(--font-size_l);
   --header_current-day_offset-right_size-m_compactDatePicker: calc(
      var(--offset_m) + var(--offset_3xs)
   );
   --header_current-day_offset-right_size-l_compactDatePicker: calc(
      var(--offset_l) + var(--offset_3xs)
   );
   --popup_header_current-day_offset-right_compactDatePicker: var(--border-thickness);
   --content_padding_compactDatePicker: var(--offset_m);
   --header_weekdays_offset-top_size-m_compactDatePicker: var(--offset_3xs);
   --header_weekdays_offset-top_size-l_compactDatePicker: var(--offset_xs);
   --header_weekdays_offset-bottom_size-m_compactDatePicker: 0;
   --header_weekdays_offset-bottom_size-l_compactDatePicker: var(--offset_xs);
   --header_current-day_border-radius_compactDatePicker: 50%;
   --header_current-day_container_size_compactDatePicker: var(--inline_height_l);

   // Календарь
   --calendar_item-size_m_compactDatePicker: var(--inline_height_xl);
   --calendar_item-size_l_compactDatePicker: var(--inline_height_3xl);
   --calendar_today_color_compactDatePicker: var(--brand_color);
   --calendar_item_mark-size_m: 4px;
   --calendar_item_mark-size_l: 6px;
}
