.controls_compactDatePicker_theme-@{themeName} {
   // Шапка
   --header_today_width_compactDatePicker: 20px;

   // Календарь
   --calendar_item-size_m_compactDatePicker: 32px;
   --calendar_item-size_l_compactDatePicker: 52px;
}
