.controls_theme-@{themeName} {
   // Переменные для ввода интервала дат
   --dash_length_dateRangeInput: 5px;
   --dash_thickness_dateRangeInput: 1px;

   //кнопка ссылка для отображения периода
   --min-width_dateRangeSelector: 150px;
   --font-weight_dateRangeSelector: var(--font-weight-bold);
   --height_dateRangeSelector: 24px;
}
