.controls_theme-@{themeName} {
   // Переменные для декоратора подсветки
   --text-color_decoratorHighlight: #000;
   --text_background-color_decoratorHighlight: #fffece;

   // Цвета шрифтов копеек в отображении денег
   --readOnly_text-color_decorator_fraction: var(--readonly_text-color);

   // Цвет зачеркивающей линии
   --stroked_line-color_decorator: var(--readonly_text-color);
}
