.controls_theme-@{themeName} {
   // Переменные для декоратора подсветки
   --text-color_decoratorHighlight: inherit;
   --text_background-color_decoratorHighlight: #fffece;

   // временный цвет для выделения светлого текста https://online.sbis.ru/opendoc.html?guid=b1136dba-81a5-406b-a196-99eda8b31d75
   --text_background-color_decoratorHighlight_dark: #ccc;
   --text_background-color_decoratorHighlight_rgb: 255, 254, 206;

   // Цвета шрифтов копеек в отображении денег
   --readOnly_text-color_decorator_fraction: var(--readonly_text-color);

   // Цвет зачеркивающей линии
   --stroked_line-color_decorator: var(--readonly_text-color);
}
