.controls_dragnDrop_theme-@{themeName} {
   // Общие переменные для шаблона элемента перемещения
   --width_draggingTemplate: 200px;
   --background-color_draggingTemplate: var(--background-color);
   --box-shadow_draggingTemplate: 0 0 6px 0 rgba(0, 0, 0, 0.2);
   --overflow_gradient_width_draggingTemplate: 24px;
   --opacity_draggingTemplate: 0.9;

   // Переменные для счетчика в элементе перемещения
   --counter_height_draggingTemplate: 20px;
   --counter_text-color_draggingTemplate: #fff;
   --counter_background-color_draggingTemplate: #d94700;

   // Переменные для контрола движения границ
   --thickness_dragnDropResizingLine: 5px;
   --thickness_mobile_dragnDropResizingLine: 8px;
   --drag-area_background-color_dragnDropResizingLine: rgba(
      204,
      204,
      204,
      0.35
   );
}
