.controls_theme-@{themeName} {
   --item_height_menu: 32px;
}

.controls_dropdownPopup_theme-@{themeName} {
   // Параметры для выпадающего окна

   --popup_max-width_menuPopup: 700px;

   // Кнопка подтверждения в списке с мультивыбором
   --apply-button_inline-height_menuPopup: var(--inline_height_l);

   // Параметры для элементов меню
   //
   // Разделители

   --item_separator_color_menu: transparent;
   --item_separator_thickness_menu: 0px;
   --item_separator_padding-horizontal_menu: 0px;

   // Цвета фона

   --item_hover_background-color_menu: var(--hover_background-color);

   //Параметры шрифта
   --item_text-color_menu: var(--text-color);
   --readonly_item_text-color_menu: var(--readonly_text-color);

   // Размеры и отступы

   --item_padding-horizontal_s_menu: var(--offset_s);
   --item_padding-horizontal_l_menu: var(--offset_m);
   --item_padding-top_menu: var(--offset_xs);
   --item_padding-bottom_menu: var(--offset_xs);

   // Параметры для вспомогательных элементов меню
   //
   // Иконка разворота иерархии
   --hierarchy_icon-size_menu: var(--icon-size_s);
   --readonly_hierarchy_icon-color_menu: var(--readonly_icon-color);
   --hierarchy_icon_offset-left_menu: var(--offset_xs);

   // Кнопка "закрепить"
   --pin-button_icon-size_menu: var(--icon-size_s);
   --pin-button_offset-left_menu: var(--offset_xs);
   --pin-button_icon-color_menu: var(--unaccented_icon-color);
   --pin-button_hover_icon-color_menu: var(--secondary_hover_icon-color);

   //Параметры для чекбокса
   --checkbox_offset-right_menu: 8px;

   //Параметры для группировки

   --grouping_padding-vertical_menu: var(--offset_m);
   --grouping_padding-horizontal_menu: var(--offset_l);

   // Параметры для шаблона справа от пункта
   --rightTemplate_separator_thickness_menu: 2px;

   // Параметры для поиска
   --search_width_s_menuPopup: 218px;
   --search_width_l_menuPopup: 300px;

   // Результаты поиска
   // иерархический отступ элементов

   // разделитель между результатами из корня и из папок
}
