.controls_theme-@{themeName} {
   // Параметры для иконки Combobox
   --trigger_padding-right_combobox: var(--offset_2xs);

   //Menu offsets
   --inline_height_default_link_button: 18px; // TODO Высота текста link кнопки, чтобы посчитать offset переменную для меню

   // Переменные для вызывающего элемента выпадающего списка

   --height_dropdownSelector: var(--inline_height_default);
   --font-size_default_dropdownSelector: var(--font-size_default);

   // цвет текста пустого элемента

   --empty-item_text-color_dropdownSelector: #ccc;
}
