.controls_editableArea_theme-@{themeName} {
   // Общие Переменные
   //
   // Цвета
   --contrast_background-color_editableArea: #f3f3f3;

   //Отступы
   --toolbar_padding-right_editableArea: 5px;

   // Переменные для кнопки подтверждения
   //
   // Размеры
   --height_applyButton_editableArea: var(--inline_height_m);

   // Обводка
   --border-radius_applyButton_editableArea: var(--border-radius_button);
   --box-shadow_applyButton_editableArea: none;

   // Цвет фона
   --background-color_applyButton_editableArea: var(--success_color);
   --background-color_hover_applyButton_editableArea: var(
           --success_hover_color
   );

   // Иконка и текст
   --text-shadow_applyButton_editableArea: var(--text-shadow_button);
   --icon-size_applyButton_editableArea: var(--icon-size_s);

   // Переменные для кнопки закрытия
   //
   // Размеры
   --height_closeButton_editableArea: var(--inline_height_m);
   --width_closeButton_editableArea: 24px;

   // Обводка
   --border-thickness_closeButton_editableArea: 0;
   --border-color_closeButton_editableArea: transparent;
   --border-color_hover_closeButton_editableArea: transparent;
   --border-color_active_closeButton_editableArea: transparent;
   --border-radius_closeButton_editableArea: var(--border-radius_button);
   --box-shadow_closeButton_editableArea: var(--box-shadow_button);

   // Цвет фона
   --background-color_closeButton_editableArea: var(--background-color_closeButton_toolButton);
   --background-color_hover_closeButton_editableArea: transparent;
   --background-color_active_closeButton_editableArea: transparent;

   // Иконка
   --icon-size_closeButton_editableArea: var(--icon-size_2xs);
}
