.controls_filterPanel_theme-@{themeName} {
   //View

   // Общие параметры

   //Кнопки
   --apply-button_image_filterViewPanel: url('../img/Union.svg');
   --apply-button_width_filterViewPanel: 80px;

   //"Можно отобрать"
   --additional-editor_horizontal-offset_filterViewPanel: 10px;

   //Разделитель часто выбираемой записи
   --separator-frequentEditor_filterViewPanel: 3px;
}
