.controls_filter_theme-@{themeName} {
   // Общие параметры
   //
   // Размеры и отступы

   --height_filterView: var(--inline_height_xl);
   --item_spacing_filterView: var(--offset_2xs);
   --filterButton_offset_filterView: var(
      --offset_3xs
   ); // отступ между кнопкой фильтра и областью значений

   //Кнопка фильтров

   --width_filterButton_filterView: var(--inline_height_xl);
   --height_filterButton_filterView: var(--inline_height_xl);
   --background-color_filterButton_filterView: transparent;
   --box-shadow_filterButton_filterView: none;
   --background-color_hover_filterButton_filterView: var(
      --background-color_hover_button_toolButton
   );
   --background-color_active_filterButton_filterView: var(
      --background-color_active_button_toolButton
   );

   // Иконка кнопки фильтров

   --icon_font-family_filterButton_filterView: var(--icon_font-family_m);
   --icon-size_filterButton_filterView: var(--icon-size_m);
   --icon-color_filterButton_filterView: var(--secondary_icon-color);
   --hover_icon-color_filterButton_filterView: var(--secondary_hover_icon-color);
   --readonly_icon-color_filterButton_filterView: var(--label_text-color);

   // Кнопка сброса фильтра

   --reset-button_icon-color_filterView: var(--reset-button_color);
   --reset-button_hover_icon-color_filterView: var(--reset-button_icon-color_filterView);

   // Элементы фильтра
   //
   // Переменные для текста элементов

   --item_text_min-width_filterView: 15px;
   --item_font-size_filterView: var(--font-size_m);
   --item_color_filterView: var(--secondary_text-color);
   --item_hover_color_filterView: var(--secondary_hover_text-color);
   --readonly_item_color_filterView: var(--text-color);

   // Иконка треугольника в элементах фильтра

   --item_icon-size_filterView: var(--icon-size_s);
   --item_icon-color_filterView: var(--secondary_icon-color);
   --item_hover_icon-color_filterView: var(--secondary_hover_icon-color);
   --readonly_item_icon-color_filterView: var(--icon-color);
}
