.controls_list_theme-@{themeName} {
   // Переменные для элемента сортировки с выпадающим списком
   //
   // Иконка вызывающего элемента

   --icon-height_gridSortingSelector: var(--icon-size_s);

   // Переменные для кнопки сортировки в шапке таблицы

   --icon-height_gridSortingButton: var(--icon-size_s);
   --icon-color_gridSortingButton: var(--label_text-color);
   --text-color_gridSortingButton: var(--label_text-color);

   // Переменные для списка в виде таблицы
   //
   // Текст в шапке таблицы

   --header_text-color_grid: var(--label_text-color);
   --header_font-size_grid: var(--font-size_xs);
   --header_max-font-size_grid: var(--font-size_3xl);
   --header_multiline_max-font-size_grid: var(--font-size_m);

   // Форна шапки

   --header_background-color_grid: var(--background-color);

   // Высоты элементов в шапке

   --header_cell_min-height_grid: 24px;
   --header_multiline_cell_min-height_grid: 20px;

   // Строка результатов

   --results_cell_min-height_grid: 20px;

   // Размер строки

   --cell_min-height_grid: 31px;
   --cell_min-height_grid_without_padding: 24px;

   // Вертикальные разделители

   --column_separator_s_color_grid: #eaeaea;
   --column_separator_s_thickness_grid: 1px;

   // Вертикальные отступы в строке

   --item_padding-top_s_grid: var(--offset_2xs);
   --item_padding-top_l_grid: 7px;
   --item_padding-bottom_s_grid: 3px;
   --item_padding-bottom_l_grid: var(--offset_xs);

   // Размеры шрифта

   --item_font-size_s_grid: var(--font-size_s);
   --item_font-size_m_grid: var(--font-size_m);
   --item_font-size_l_grid: var(--font-size_l);
   // Стрелка редактирования

   --edit-arrow_icon-size_grid: var(--icon-size_s);
   --edit-arrow_offset_grid: var(--offset_s);

   // Отдельно редактируемая ячейка

   --single-not-editable-cell_hover_background-color_grid: #f9f9f9;
   --single-editable-cell_hover_border-color_grid: #9cb3ca;
   --single-editable-cell_editing_border-color_grid: #aab0c1;
   --single-editable-cell_editing_border-width_grid: 2px;
   // Горизонтальный скролл

   --columnscroll_shadow-blur_grid: 12px;
   --columnscroll_shadow-start-color_grid: rgba(215, 225, 236, 0.55);
   --columnscroll_shadow-end-color_grid: rgba(255, 255, 255, 0);
   --columnscroll_separator_color_grid: rgba(88, 122, 176, 0.4);
   --columnscroll_separator_thickness_grid: 1px;

   // Высота строки

   --item_line-height_l_grid: 18px;
}
