.controls_theme-@{themeName} {
   // Переменные для заголовков
   --font-weight_heading: bold;

   // Цвета текста
   --default_text-color_heading: var(--text-color);
   --default_hover_text-color_heading: var(--hover_text-color);
   --primary_text-color_heading: var(--primary_text-color);
   --primary_hover_text-color_heading: var(--primary_hover_text-color);
   --secondary_text-color_heading: var(--secondary_text-color);
   --secondary_hover_text-color_heading: var(--secondary_hover_text-color);

   // Переменные для счетчиков, использующихся вместе с заголовками
   //
   // Цвета текста
   --primary_text-color_headingCounter: var(--primary_text-color);
   --primary_hover_text-color_headingCounter: var(--primary_hover_text-color);
   --secondary_text-color_headingCounter: var(--secondary_text-color);
   --secondary_hover_text-color_headingCounter: var(
      --secondary_hover_text-color
   );
   --unaccented_text-color_headingCounter: var(--unaccented_text-color);

   // Переменные для разделителя, использующихся вместе с заголовками
   //
   // Размеры и отступы
   --width_headingSeparator: 6px;
   --height_headingSeparator: 10px;

   // Цвета
   --primary_icon-color_headingSeparator: #729ee6;
   --secondary_icon-color_headingSeparator: #729ee6;

   // Переменные для кнопки "Назад"
   //
   // Высота
   --inline-height_headingBack: var(--inline_height_default);

   // Цвета текста
   --secondary_hover_text-color_headingBack: var(--secondary_hover_text-color);
   --secondary_text-color_headingBack: var(--secondary_text-color);
}
