.controls_theme-@{themeName} {
   // Общие переменные для полей ввода
   //
   // Размеры шрифта
   --font-size_xs_input: var(--font-size_xs);
   --font-size_s_input: var(--font-size_s);
   --font-size_m_input: var(--font-size_m);

   // Цвет подсказки
   --placeholder-color_inputText: rgba(137, 145, 169, 0.6);

   // Обводка
   --border-style_inputText: solid;
   --border-style_hover_inputText: solid;
   --border-style_focus_inputText: solid;
   --invalid_border-style_inputText: solid;
   --border-radius_default_inputText: 0;

   // Цвета фона
   --background-color_inputText: var(--background-color);
   --background-color_hover_inputText: var(--background-color);
   --background-color_focus_inputText: var(--background-color);
   --invalid_background-color_inputText: var(--background-color);
   --readonly_background-color_inputText: transparent;

   // Цвета курсора
   --caret-color_empty_inputText: var(--text-color);
   --caret-color_fill_inputText: var(--text-color);

   // Отступы
   --padding-horizontal_inputText: var(--offset_2xs);

   // Переменные для многострочных полей
   //
   // Отступы
   --padding-vertical_inputArea: calc(var(--offset_xs) / 2);

   // Высоты строк
   --line-height_xs_inputArea: 16px;
   --line-height_s_inputArea: 18px;
   --line-height_m_inputArea: 19px;
   --line-height_l_inputArea: 20px;
   --line-height_xl_inputArea: 21px;
   --line-height_2xl_inputArea: 23px;
   --line-height_3xl_inputArea: 24px;
   --line-height_4xl_inputArea: 27px;
   --line-height_5xl_inputArea: 32px;
   --line-height_6xl_inputArea: 38px;
   --line-height_7xl_inputArea: 43px;
   --line-height_8xl_inputArea: 48px;

   // Переменные для полей ввода пароля
   //
   // Иконка просмотра пароля
   --trigger-color_inputPassword: var(--unaccented_icon-color);

   // Переменные для полей ввода даты
   //
   // Иконка "календарь"
   --trigger-offset_inputDate: var(--offset_s);
   --trigger_icon-size_inputDate: var(--icon-size_s);

   // Переменные для меток
   //
   // Размеры и отступы
   --inline_height_default_label: var(--inline_height_m);
   --offset-horizontal_label: var(--offset_s);
   --font-size_default_label: var(--font-size_m);
}
