.controls_list_theme-@{themeName} {
   // Переменные для операций над записью
   // Размеры и отступы

   --offset-right_itemActions: var(--offset_xs);
   --offset-top_itemActions: 3px;
   --offset-bottom_itemActions: 3px;
   --height_itemActions: var(--inline_height_m);
   --height_editing_itemActions: var(--inline_height_m);
   --height_outside_itemActions: 31px;
   --height_editing_outside_itemActions: 31px;
   --offset-right_outside_itemActions: var(--offset-right_itemActions);
   --offset-bottom_outside_itemActions: var(--offset-bottom_itemActions);
   --offset-top_outside_itemActions: var(--offset_2xs);
   --corner_width_outside_itemActions: 24px;

   // Иконки

   --item_icon-size_itemActions: var(--icon-size_m);
   --item_icon-size_editing_itemActions: var(--icon-size_s);
   --item_area-size_outside_itemActions: var(--item_icon-size_itemActions);

   // Текст

   --item_caption_min-height_itemActions: var(--inline_height_xs);
   --item_font-size_itemActions: var(--font-size_default);
   --item_text-color_itemActions: var(--link_text-color);
   --item_hover_text-color_itemActions: var(--link_hover_text-color);

   // Переменные для свайпа
   //
   // Цвет фона и тень

   --background-color_swipe: #f4f9fd;
   --shadow-color_swipe: rgba(0, 0, 0, 0.12);
   --shadow-blur_swipe: 6px;
   --animation_offset_swipe: 16px;

   // Иконки

   --item_s_icon-size_swipe: var(--icon-size_m);
   --item_l_icon-size_swipe: var(--icon-size_l);
   --secondary_icon-color_swipe: var(--secondary_hover_icon-color);

   // Текст

   --item_text-color_swipe: var(--link_hover_text-color);
   --item_horizontal_text_max-width_swipe: 220px;
   --item_vertical_text_max-width_swipe: 160px;
   --item_s_font-size_swipe: var(--font-size_m);
   --item_l_font-size_swipe: var(--font-size_xl);

   // Разделитель

   --separator_color_swipe: #ebf1f6;
   --separator_thickness_swipe: 1px;
   --separator_padding-horizontal_swipe: 3px;
   --separator_edge_padding-horizontal_swipe: var(--offset_xs);
   --separator_edge_padding-vertical_swipe: 3px;

   // Отступы в элементах

   --item_horizontal_padding-vertical_swipe: 3px;
   --item_vertical_padding-horizontal_swipe: var(--offset_xs);
   --item_edge_padding-horizontal_swipe: var(--offset_m);
}
