.controls_theme-@{themeName} {
   // Цвета оверлея
   --overlay_background-color_loadingIndicator: transparent;
   --contrast_overlay_background-color_loadingIndicator: rgba(0, 0, 0, 0.1);

   // Размеры и отступы
   --content_l_padding_loadingIndicator: var(--offset_s);
   --content_s_border_radius_loadingIndicator: 5px;
   --content_l_border_radius_loadingIndicator: 8px;
   --spinner_s_size_loadingIndicator: 16px;
   --spinner_l_size_loadingIndicator: 32px;

   // Фон
   --content_background-color_loadingIndicator: var(--background-color);
   --spinner_s_background-image_loadingIndicator: url('/cdn/LoaderIndicator/1.0.0/ajax-loader-indicator.gif');
   --spinner_l_background-image_loadingIndicator: url('/cdn/LoaderIndicator/1.0.0/ajax-loader-indicator.gif');

   // Текст
   --font-size_loadingIndicator: var(--font-size_m);
}
