.controls_paging_theme-@{themeName} {
   // Переменные для стилизации пэйджинга
   //
   // Элемент - многоточие

   --ellipsis_width_paging: 24px;

   // Маркер выбранного элемента

   --marker_thickness_paging: 3px;

   // Элемент с номером страницы

   --item_offset_paging: 1px;
   --item_box-shadow_paging: none;

   // Элемент - стрелка

   --item_background-color_paging: transparent;
   --item_hover_background-color_paging: transparent;
   --item_text-color_paging: var(--text-color);
   --item_font-size-color_paging: var(--font-size_m);
   --arrow_hover_background-color_paging: transparent;
   --arrow_icon_font-family_paging: var(--icon_font-family_s);
   --arrow_icon-size_paging: var(--icon-size_s);
   --arrow_icon-color_paging: var(--secondary_icon-color);
   --arrow_hover_icon-color_paging: var(--secondary_hover_icon-color);
   --readonly_icon-color_paging: var(--readonly_color);

   // Общие размеры и отступы

   --background-color_paging: transparent;
   --padding-horizontal_paging: 0px;
   --padding-vertical_paging: 0px;

   // Разделители
   --arrow_separator_thickness_paging: 1px;
   --arrow_separator_length_paging: 16px;
   --arrow_separator_color_paging: #e4e4e4;
}
