/* stylelint-disable saby/non-theme-colors -- это и есть источник цветов */
.controls_theme-@{themeName} {
   --palette_color1_1: #ff7067;
   --palette_color2_1: #cc666e;
   --palette_color3_1: #d9819e;
   --palette_color4_1: #8b77c0;
   --palette_color5_1: #bf82b8;
   --palette_color6_1: #fc6;
   --palette_color7_1: #ffb266;
   --palette_color8_1: #ffe566;
   --palette_color9_1: #ccdb86;
   --palette_color10_1: #99bf9f;
   --palette_color11_1: #70c0cf;
   --palette_color12_1: #618bb8;
   --palette_color13_1: #ccc;
   --palette_color1_2: #fe2819;
   --palette_color2_2: #d4090e;
   --palette_color3_2: #ff3075;
   --palette_color4_2: #723eff;
   --palette_color5_2: #f10dd6;
   --palette_color6_2: #ffb126;
   --palette_color7_2: #ff7d05;
   --palette_color8_2: #ffd707;
   --palette_color9_2: #bbe109;
   --palette_color10_2: #14c730;
   --palette_color11_2: #11d1f3;
   --palette_color12_2: #117df3;
   --palette_color13_2: #a6a6a6;
   --palette_color1_3: #e0564c;
   --palette_color2_3: #cc4752;
   --palette_color3_3: #943253;
   --palette_color4_3: #4c3294;
   --palette_color5_3: #943288;
   --palette_color6_3: #e5b045;
   --palette_color7_3: #e59545;
   --palette_color8_3: #e5cb45;
   --palette_color9_3: #829432;
   --palette_color10_3: #009918;
   --palette_color11_3: #29b5cf;
   --palette_color12_3: #326194;
   --palette_color13_3: #999;
   --palette_color1_4: #ffe5e3;
   --palette_color2_4: #fce1e3;
   --palette_color3_4: #ffe3ec;
   --palette_color4_4: #eae3ff;
   --palette_color5_4: #ffe3fa;
   --palette_color6_4: #fff6e3;
   --palette_color7_4: #fff1e3;
   --palette_color8_4: #fffbe3;
   --palette_color9_4: #faffe3;
   --palette_color10_4: #e3ffe8;
   --palette_color11_4: #e3faff;
   --palette_color12_4: #e3f1ff;
   --palette_color13_4: #ededed;
   --palette_color1_5: #ffedeb;
   --palette_color2_5: #fae6e8;
   --palette_color3_5: #ffebf2;
   --palette_color4_5: #f0ebff;
   --palette_color5_5: #ffebfc;
   --palette_color6_5: #fff8eb;
   --palette_color7_5: #fff5eb;
   --palette_color8_5: #fffceb;
   --palette_color9_5: #fcffeb;
   --palette_color10_5: #ebffee;
   --palette_color11_5: #ebfcff;
   --palette_color12_5: #ebf5ff;
   --palette_color13_5: #f5f5f5;

   // RGB
   --palette_color2_2_rgb: 212, 9, 14;
   --palette_color3_2_rgb: 255, 48, 117;
   --palette_color4_2_rgb: 114, 62, 255;
   --palette_color7_2_rgb: 255, 125, 5;
   --palette_color12_2_rgb: 17, 125, 243;
   --palette_color8_3_rgb: 224, 184, 76;
   --palette_color10_3_rgb: 0, 153, 24;
   --palette_color11_3_rgb: 41, 181, 207;
   --palette_color1_4_rgb: 255, 180, 178;
   --palette_color3_4_rgb: 255, 178, 204;
   --palette_color4_4_rgb: 208, 191, 255;
   --palette_color6_4_rgb: 255, 230, 184;
   --palette_color7_4_rgb: 255, 215, 178;
   --palette_color9_4_rgb: 232, 247, 169;
   --palette_color11_4_rgb: 178, 242, 255;
   --palette_color12_4_rgb: 179, 215, 255;
   --palette_color12_5_rgb: 229, 241, 254;
}
