.controls_popupSliding_theme-@{themeName} {
   // Переменные для шторки
   //
   // Границы

   --box-shadow_slidingPanel: 0 0 5px 0 rgba(0, 0, 0, 0.4);
   --border-radius-position-bottom_slidingPanel: 14px 14px 0 0;
   --border-radius-position-top_slidingPanel: 0 0 14px 14px;

   // Контролллер шторки
   --controlButton-height_slidingPanel: 4px;
   --controlButton-width_slidingPanel: 30px;
   --controlButton-border-radius_slidingPanel: calc(var(--controlButton-height_slidingPanel) / 2);
   --controlButton-background-color_slidingPanel: #e9e9e9;

   // Анимация

   --animation-duration_slidingPanel: 500ms;
}
