.controls_search_theme-@{themeName} {
   // Переменные дял строки поиска
   //
   // Обводка

   --border-color_searchInput: var(--pale_border-color);
   --border-color_hover_searchInput: var(--unaccented_border-color);
   --border-color_focus_searchInput: var(--border-color_searchInput);
   --readonly_border-color_searchInput: var(--pale_border-color);
   --border-color_contrast_searchInput: var(--border-color_searchInput);
   --border-color_contrast_hover_searchInput: var(--unaccented_border-color);
   --border-color_contrast_focus_searchInput: var(--border-color_searchInput);
   --border-radius_default_searchInput: 100px; //круг

   // Цвета фона
   --background-color_searchInput: var(--unaccented_background-color);
   --background-color_contrast_searchInput: var(--background-color);

   // Отступы

   --padding-left_searchInput: var(--offset_m);
   --padding-right_searchInput: var(--offset_s);
   --trigger_offset_searchInput: var(--offset_2xs);

   // Иконка поиска

   --trigger_m_icon-size_searchInput: var(--icon-size_s);

   // Иконка сброса

   --reset-button_icon-color_searchInput: var(--label_text-color);

   // Курсор
   --caret-color_empty_searchInput: var(--placeholder-color_inputText);

   // Переменные для разворачиваемого поиска

   --width_s_inputSearch: 184px;
   --width_l_inputSearch: 300px;
   --width_xl_inputSearch: 340px;
   --input_m-width-expandableSearch: 184px; //todo временно до лечения тестов
}
