.controls_suggestPopup_theme-@{themeName} {
   // Переменные для окна автодополнения
   //
   // Граница

   --popup_border-color_suggest: var(--border-color);
   --border-radius_suggest: 12px;

   // Кнопки в футере
   --footer_height_suggest: 24px;

   // Кнопка сброса

   --reset-button_icon-size_suggest: var(--icon-size_s);
   --reset-button_icon-color_suggest: var(--reset-button_color);

   // Дополнительные элементы
   --tabs_offset-top_suggest: var(--offset_s);
   --misspell_padding-horizontal_suggest: var(--offset_m);
   --spinner_offset_suggest: var(--offset_2xs);

   // тени
   --shadow_suggest: 0 var(--offset_2xs) var(--shadow-blur_a) var(--shadow-color_a);
}
