.controls_theme-@{themeName} {
   // Размеры и отступы
   --item_height_tabs: 32px;

   --item_height_l_tabs: 36px;
   --item_max-width_tabs: 630px;
   --padding-horizontal_tabs: var(--offset_m);
   --item_offset_tabs: 0;

   // Размеры шрифта
   --secondary_item_font-size_tabs: var(--font-size_l);

   --unselected_item_font-size_tabs: var(--font-size_l);
   --item_selected_font-weight_tabs: bold;


   // Цвета текста
   --secondary_item_text-color_tabs: var(--link_text-color);
   --primary_item_text-color_tabs: var(--primary_text-color);

   --unselected_item_text-color_tabs: var(--secondary_text-color);



   // Линия вкладок
   --border-thickness_tabs: var(--border-thickness);

   --border-thickness_l_tabs: 3px;
   --border-color_tabs: #f0f0f0;

   // Разделитель между вкладками
   --separator_thickness_tabs: 1px;
   --separator_length_tabs: 12px;
   --separator_color_tabs: #f0f0f0;

   // Маркер
   --marker_thickness_tabs: 2px;

   --secondary_marker_color_tabs: var(--link_text-color);
   --primary_marker_color_tabs: #d94700;
   --unaccented_marker_color_tabs: #333;
   --marker_hover_color_tabs: #e4e4e4;

   // Маркер главной вкладки
   --main-tab-marker_length_tabs: 22px;
   --main-tab-marker_thickness_tabs: 4px;
   --main-tab-marker_border-radius_tabs: 4px;

}
