.controls_theme-@{themeName} {
   // Размеры и отступы
   --item_height_tabs: 32px;
   --item_height_l_tabs: 34px;

   // Размеры шрифта
   --item_font-size_tabs: var(--font-size_l);

   // Цвета текста
   --secondary_item_text-color_tabs: var(--link_text-color);

   // Маркер
   --marker_thickness_tabs: 3px;
   --secondary_marker_color_tabs: var(--link_text-color);
   --primary_marker_color_tabs: var(--marker_color);
}
