.ws-is-hover {
   .Controls-rating__item-smile:hover {
      fill: var(--success_icon-color);
      color: var(--success_icon-color);
   }

   .Controls-rating__item-neutral:hover {
      fill: var(--warning_icon-color);
      color: var(--warning_icon-color);
   }

   .Controls-rating__item-annoyed:hover {
      fill: var(--danger_icon-color);
      color: var(--danger_icon-color);
   }
}
