.demoTreeWithProto__wrapper {
   width: 1000px;
   display: flex;
   flex-wrap: wrap;
}

.demoTreeWithProto__gridWrapper {
   width: 50%;
   padding: 12px;
   box-sizing: border-box;
}

// Обеспечивает выравнивание контента,
// картинка с этим классом не ломает базовую линию
.demoTreeWithProto__imageBlock {
   align-self: flex-start;
}

.demoTreeWithProto__treeGrid40 .demoTreeWithProto__imageBlock {
   min-width: 40px;
   height: 40px;
   padding-right: 6px;
}
