.ControlsDemo-EditableArea {
   width: 900px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;

   .controls-StackTemplate {
      width: 100%;
   }
}

.ControlsDemo-EditableArea-width {
   width: 900px;
}

.ControlsDemo-EditableArea__label {
   margin-right: 8px;
}

.ControlsDemo-EditableArea__title {
   font-size: 18px;
   color: var(--unaccented_text-color);
   margin-left: auto;
   padding: 10px 0;
}

.ControlsDemo-EditableArea__firstExample {
   background-color: var(--unaccented_background-color);
   min-width: 302px;
   flex-shrink: 0;
}

.ControlsDemo-EditableArea__FirstExample__long {
   background-color: var(--unaccented_background-color);
   width: 700px;
   height: 30px;
   padding-left: 10px;
}

.ControlsDemo-EditableArea__longExample__editor {
   max-width: 700px;
}

.ControlsDemo-EditableArea__longExample__editor_wrapper {
   flex-grow: 1;
}

.ControlsDemo-EditableArea__longExample__input {
   width: 100%;
}

.ControlsDemo-EditableArea__firstExampleWrapper {
   padding: 4px 0 4px 4px;
}

.ControlsDemo-EditableArea__tabs {
   width: 100%;
   border: 1px solid var(--separator_color);
   background-color: var(--unaccented_background-color);
}

.ControlsDemo-EditableArea__header {
   font-size: 18px;
   font-weight: var(--font-weight-bold);
   color: var(--primary_text-color);
}

.ControlsDemo-EditableArea__eapWrapper {
   display: inline-flex;
   align-items: baseline;
   font-weight: normal;
}

.ControlsDemo-EditableArea__date {
   width: 66px;
}

.ControlsDemo-EditableArea__number {
   width: 100px;
}

.ControlsDemo-EditableArea__tabEditor {
   padding: 0 8px;
}

.ControlsDemo-EditableArea__tabsExample {
   display: flex;
   flex-direction: column;
   width: 100%;
}

.ControlsDemo-EditableArea__row {
   display: inline-flex;
   width: 100%;
   height: 38px;
   align-items: center;
   justify-content: flex-end;
}

.ControlsDemo-EditableArea__button {
   margin-left: 12px;
}

.ControlsDemo-EditableArea__input {
   width: 100%;
}

.ControlsDemo-EditableArea__firstExample__editor_wrapper {
   width: 160px;
}
