.controls-MenuButton_link {
   max-width: 100%;
   display: inline-flex;
   .box-sizing(border-box);
}

.controls-MenuButton__Wrapper {
   min-height: var(--inline_height_default_link_button);
   min-width: 1px;
}

.controls-MenuButton__text {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}
