.controls-GridReact__minHeight-header {
   min-height: var(--header_cell_min-height_grid);
}

.controls-GridReact__header-cell {
   font-size: var(--header_font-size_grid);
}

.controls-GridReact__header-cell_color {
   color: var(--header_text-color_grid);
}
