.controls-ConfirmationTemplate {
   position: relative;
   display: flex;
   flex-direction: column;
   height: 100%;
   box-sizing: border-box;
   background: var(--background-color_dialog);
   box-shadow: var(--shadow_a);
   border-radius: var(--border-radius_dialog);
   overflow: hidden;
   max-width: inherit;
}

.controls-ConfirmationTemplate__marker {
   width: var(--marker_width_popup);
   min-height: var(--marker_height_popup);
   margin: var(--offset_xl) auto var(--offset_xl);
   border-radius: var(--border-radius_2xl);
}

.controls-ConfirmationTemplate__close-button {
   position: absolute;
   right: 0;
   top: 0;
}

.controls-ConfirmationTemplate__marker__style-info {
   background: var(--info_contrast_background-color);
}

.controls-ConfirmationTemplate__marker__style-default,
.controls-ConfirmationTemplate__marker__style-secondary {
   background: var(--secondary_marker_color);
}

.controls-ConfirmationTemplate__marker__style-danger {
   background: var(--danger_contrast_background-color);
}

.controls-ConfirmationTemplate__marker__style-success {
   background: var(--success_contrast_background-color);
}

.controls-ConfirmationTemplate__marker__style-warning {
   background: var(--warning_contrast_background-color);
}

.controls-ConfirmationTemplate__body {
   height: 100%;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   border-radius: var(--border-radius_dialog);
   max-height: inherit;
}

.controls-ConfirmationTemplate__main {
   height: 100%;
   flex-shrink: 1;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   padding: var(--content_padding_confirmation);
   padding-top: 0;
}

.controls-ConfirmationTemplate__footer {
   padding: var(--footer-content_padding_confirmation);
   border-radius: 0 0 var(--border-radius_dialog) var(--border-radius_dialog);
}

.controls-ConfirmationTemplate__size-l {
   width: var(--width_l_confirmation);
}

//TODO: временный класс для поддержки size: 'm'
.controls-ConfirmationTemplate__size-m {
   width: var(--width_s_confirmation);
}

.controls-ConfirmationTemplate__size-s {
   width: var(--width_s_confirmation);
}

.controls-ConfirmationTemplate__width-a {
   width: var(--content_width_a_dialog);
}

.controls-ConfirmationTemplate__width-b {
   width: var(--content_width_b_dialog);
}

.controls-ConfirmationTemplate__width-c {
   width: var(--content_width_c_dialog);
}

.controls-ConfirmationTemplate__width-d {
   width: var(--content_width_d_dialog);
}

.controls-ConfirmationTemplate__width-e {
   width: var(--content_width_e_dialog);
}

.controls-ConfirmationTemplate__width-f {
   width: var(--content_width_f_dialog);
}

.controls-ConfirmationTemplate__width-g {
   width: var(--content_width_g_dialog);
}

.controls-ConfirmationTemplate__width-h {
   width: var(--content_width_h_dialog);
}

.controls-ConfirmationTemplate__width-i {
   width: var(--content_width_i_dialog);
}

.controls-ConfirmationTemplate__width-j {
   width: var(--content_width_j_dialog);
}

.controls-ConfirmationTemplate__width-k {
   width: var(--content_width_k_dialog);
}

.controls-ConfirmationTemplate__width-l {
   width: var(--content_width_l_dialog);
}

.controls-ConfirmationTemplate__width-m {
   width: var(--content_width_m_dialog);
}
