.demo-PersonInfo__name {
   font-weight: var(--font-weight-bold);
   font-size: 15px;
}

.demo-PersonInfo__phone {
   font-size: 15px;
   color: var(--unaccented_color);
   margin-left: 8px;
}

.demo-PersonInfo__department {
   font-size: 17px;
}

.demo-PersonInfo__position,
.demo-PersonInfo__head {
   color: var(--readonly_text-color);
}

.demo-PersonInfo__head {
   margin-left: 8px;
}

.demo-PersonInfo__likes {
   color: var(--unaccented_color);
}

.demo-PersonInfo__icon {
   .icon();
}

.demo-PersonInfo__likesIcon {
   color: #72be44;
}

.demo-PersonInfo__photo {
   display: inline-block;
   align-self: center;
   margin-right: 6px;
   border-radius: 6px;
}

.demo-PersonInfo__row {
   display: inline-block;
   width: 100%;
}

.demo-PersonInfo {
   display: flex;
   align-items: baseline;
   width: 100%;
}

.demo-PersonInfo__badges {
   flex-shrink: 0;
}
