.controls-CheckboxGroup__group_horizontal {
   display: inline-flex;
   flex-flow: row wrap;
}

.controls-CheckboxGroup__group_vertical {
   display: inline-flex;
   flex-direction: column;
   max-width: 100%;
}

.controls-CheckboxGroup__childGroup {
   margin-left: var(--offset_xl);
}

.controls-CheckboxGroup__item_horizontal-padding {
   margin-right: var(--offset_m);
}
