.controls-Header__caption {
   display: inline-block;
}

.controls-Header__fontweight-default {
   font-weight: var(--font-weight_heading);
}
//font-sizes
.controls-fontsize-xs.controls-Header-fontsize-xs {
   font-size: var(--font-size_xs);
}

.controls-fontsize-s.controls-Header-fontsize-s {
   font-size: var(--font-size_s);
}

.controls-fontsize-m.controls-Header-fontsize-m {
   font-size: var(--font-size_m);
}

.controls-fontsize-l.controls-Header-fontsize-l {
   font-size: var(--font-size_l);
}

.controls-fontsize-xl.controls-Header-fontsize-xl {
   font-size: var(--font-size_xl);
}

.controls-fontsize-2xl.controls-Header-fontsize-2xl {
   font-size: var(--font-size_2xl);
}

.controls-fontsize-3xl.controls-Header-fontsize-3xl {
   font-size: var(--font-size_3xl);
}

.controls-fontsize-4xl.controls-Header-fontsize-4xl {
   font-size: var(--font-size_4xl);
}

.controls-fontsize-5xl.controls-Header-fontsize-xs {
   font-size: var(--font-size_5xl);
}

//readOnly/clickable
.controls-Header_clickable {
   cursor: pointer;
}

.controls-Header_readonly {
   cursor: text;
}

.controls-Header__caption_style-secondary,
.controls-Header__caption_style-secondary_hovered {
   color: var(--secondary_text-color_heading);
}

.controls-Header__caption_style-primary,
.controls-Header__caption_style-primary_hovered {
   color: var(--primary_text-color_heading);
}

.controls-Header__caption_style-label,
.controls-Header__caption_style-label_hovered {
   color: var(--label_text-color);
}

.controls-Header__caption_style-danger,
.controls-Header__caption_style-danger_hovered {
   color: var(--danger_text-color);
}

.controls-Header__caption_style-success,
.controls-Header__caption_style-success_hovered {
   color: var(--success_text-color);
}

.controls-Header__caption_style-default,
.controls-Header__caption_style-default_hovered {
   color: var(--default_text-color_heading);
}

.controls-Header__caption_style-warning,
.controls-Header__caption_style-warning_hovered {
   color: var(--warning_text-color);
}

.controls-Header__caption_style-unaccented,
.controls-Header__caption_style-unaccented_hovered {
   color: var(--unaccented_text-color);
}

.controls-Header__caption_style-link,
.controls-Header__caption_style-link_hovered {
   color: var(--link_text-color);
}

.controls-Header__caption_style-labelContrast,
.controls-Header__caption_style-labelContrast_hovered {
   color: var(--label_contrast_text-color);
}

//Для сабигет временная правка. Есть темные сайты, у которых белый заголовок на темном фоне.
//Для мест где заголовок все таки на светлом фоне, делаем его цвета --text-color
.controls-Header__caption_style-defaultText,
.controls-Header__caption_style-defaultText_hovered {
   color: var(--text-color);
}

.controls-Header__caption_fontcolor-default_hovered:active {
   color: var(--default_hover_text-color_heading);
}

.controls-Header__caption_style-primary_hovered:active {
   color: var(--primary_hover_text-color_heading);
}

.controls-Header__caption_style-secondary_hovered:active {
   color: var(--secondary_hover_text-color_heading);
}

.controls-Header__caption_style-success_hovered:active {
   color: var(--success_hover_text-color);
}

.controls-Header__caption_style-warning_hovered:active {
   color: var(--warning_hover_text-color);
}

.controls-Header__caption_style-danger_hovered:active {
   color: var(--danger_hover_text-color);
}

.controls-Header__caption_style-unaccented_hovered:active {
   color: var(--unaccented_hover_text-color);
}

.controls-Header__caption_style-label_hovered:active {
   color: var(--label_hover_text-color);
}

.controls-Header__caption_style-default_hovered:active {
   color: var(--default_hover_text-color_heading);
}

.controls-Header__caption_style-link_hovered:active {
   color: var(--link_hover_text-color);
}

.ws-is-hover {
   .controls-Header__caption_fontcolor-default_hovered:hover {
      color: var(--default_hover_text-color_heading);
   }

   .controls-Header__caption_style-primary_hovered:hover {
      color: var(--primary_hover_text-color_heading);
   }

   .controls-Header__caption_style-secondary_hovered:hover {
      color: var(--secondary_hover_text-color_heading);
   }

   .controls-Header__caption_style-success_hovered:hover {
      color: var(--success_hover_text-color);
   }

   .controls-Header__caption_style-warning_hovered:hover {
      color: var(--warning_hover_text-color);
   }

   .controls-Header__caption_style-danger_hovered:hover {
      color: var(--danger_hover_text-color);
   }

   .controls-Header__caption_style-unaccented_hovered:hover {
      color: var(--unaccented_hover_text-color);
   }

   .controls-Header__caption_style-label_hovered:hover {
      color: var(--label_hover_text-color);
   }

   .controls-Header__caption_style-default_hovered:hover {
      color: var(--default_hover_text-color_heading);
   }

   .controls-Header__caption_style-link_hovered:hover {
      color: var(--link_hover_text-color);
   }
}

//По стандарту должна обсепечиваться ситуация, чтобы заголовок со счетчиком имел совместный ховер и клик

.controls-Header_all__clickable:active {
   .controls-Header__caption_fontcolor-default_hovered {
      color: var(--default_hover_text-color_heading);
   }

   .controls-Header__caption_style-primary_hovered {
      color: var(--primary_hover_text-color_heading);
   }

   .controls-Header__caption_style-secondary_hovered {
      color: var(--secondary_hover_text-color_heading);
   }

   .controls-Header__caption_style-success_hovered {
      color: var(--success_hover_text-color);
   }

   .controls-Header__caption_style-warning_hovered {
      color: var(--warning_hover_text-color);
   }

   .controls-Header__caption_style-danger_hovered {
      color: var(--danger_hover_text-color);
   }

   .controls-Header__caption_style-unaccented_hovered {
      color: var(--unaccented_hover_text-color);
   }

   .controls-Header__caption_style-label_hovered {
      color: var(--label_hover_text-color);
   }

   .controls-Header__caption_style-default_hovered {
      color: var(--default_hover_text-color_heading);
   }

   .controls-Header__caption_style-link_hovered {
      color: var(--link_hover_text-color);
   }

   .controls-HeaderCounter_style-primary_hovered {
      color: var(--primary_hover_text-color);
   }

   .controls-HeaderCounter_style-secondary_hovered {
      color: var(--secondary_hover_text-color);
   }

   .controls-HeaderCounter_style-unaccented_hovered {
      color: var(--unaccented_hover_text-color);
   }

   .controls-HeaderSeparator__arrow_style-primary {
      fill: var(--primary_hover_icon-color_headingSeparator);
   }

   .controls-HeaderSeparator__arrow_style-secondary {
      fill: var(--secondary_hover_icon-color_headingSeparator);
   }

   .controls-Separator__icon_style-secondary {
      color: var(--link_hover_text-color);
   }

   .controls-Separator__icon_style-primary {
      color: var(--primary_hover_text-color);
   }

   .controls-Separator__icon_style-unaccented {
      color: var(--link_hover_text-color);
   }
}

/* stylelint-disable-next-line no-duplicate-selectors */
.ws-is-hover {
   .controls-Header_all__clickable:hover {
      .controls-Header__caption_fontcolor-default_hovered {
         color: var(--default_hover_text-color_heading);
      }

      .controls-Header__caption_style-primary_hovered {
         color: var(--primary_hover_text-color_heading);
      }

      .controls-Header__caption_style-secondary_hovered {
         color: var(--secondary_hover_text-color_heading);
      }

      .controls-Header__caption_style-success_hovered {
         color: var(--success_hover_text-color);
      }

      .controls-Header__caption_style-warning_hovered {
         color: var(--warning_hover_text-color);
      }

      .controls-Header__caption_style-danger_hovered {
         color: var(--danger_hover_text-color);
      }

      .controls-Header__caption_style-label_hovered {
         color: var(--label_hover_text-color);
      }

      .controls-Header__caption_style-default_hovered {
         color: var(--default_hover_text-color_heading);
      }

      .controls-Header__caption_style-link_hovered {
         color: var(--link_hover_text-color);
      }

      .controls-HeaderCounter_style-primary_hovered {
         color: var(--primary_hover_text-color);
      }

      .controls-HeaderCounter_style-secondary_hovered {
         color: var(--secondary_hover_text-color);
      }

      .controls-HeaderCounter_style-unaccented_hovered {
         color: var(--unaccented_hover_text-color);
      }

      .controls-HeaderSeparator__arrow_style-primary {
         fill: var(--primary_icon-color_headingSeparator);
      }

      .controls-HeaderSeparator__arrow_style-secondary {
         fill: var(--secondary_icon-color_headingSeparator);
      }

      .controls-Separator__icon_style-secondary {
         color: var(--link_hover_text-color);
      }

      .controls-Separator__icon_style-primary {
         color: var(--primary_hover_text-color);
      }

      .controls-Separator__icon_style-unaccented {
         color: var(--link_hover_text-color);
      }
   }
}
