.ControlsDemo-ExtendedMoveDialog__content {
  display: flex;
  flex-direction: column;
}

.ControlsDemo-ExtendedMoveDialog__search {
  width: var(--search_width_MoveDialog);
  margin-bottom: var(--header_padding-vertical_MoveDialog);
  margin-top: var(--header_padding-vertical_MoveDialog);
  margin-left: var(--search_offset_MoveDialog);
  flex-shrink: 0;
}

.ControlsDemo-ExtendedMoveDialog__scroll {
  height: 100%;
}

.ControlsDemo-ExtendedMoveDialog__root {
  margin-left: var(--root_offset_MoveDialog);
  margin-top: var(--root_padding-vertical_MoveDialog);
  margin-bottom: var(--root_padding-vertical_MoveDialog);
}

.ControlsDemo-ExtendedMoveDialog__createFolder {
  width: 100%;
}
