.ControlsDemo-FlatListSelector-container {
   background: var(--background-color);
}

.ControlsDemo-FlatListSelector-confirmButton {
   margin-left: auto;
   align-self: center;
}

.ControlsDemo-FlatListSelector-header {
   display: flex;
   height: 100%;
   width: 100%;
}
