/* stylelint-disable-next-line selector-max-type */
html,
body {
   height: 100%;
}

.bodyContent {
   height: 100%;
   width: 100%;
}

// Перебиваю min-height: 0, который весит на .ws-flex-column
.ControlsDemo-Page.ws-flex-column {
   min-height: 100%;
}

/* stylelint-disable-next-line selector-max-id */
#Back {
   padding: 10px 5px;
}

/* stylelint-disable-next-line selector-max-id */
#Source {
   padding: 10px 5px;
}

.demo_controls_list_wrapper {
   display: flex;
   padding-top: 20px;
   padding-bottom: 20px;
}

.demo_controls_list_section {
   padding-left: 10px;
   padding-right: 10px;
}

.Controls-demo_router-input {
   flex-grow: 1;
}
