@themeName: default__darkv3;

.controls_Keyboard_theme-@{themeName} {
   --action_background-color_Keyboard_view: rgba(29, 40, 52, 0.4);
   --action_hover_background-color_Keyboard_view: rgba(29, 40, 52, 0.5);
   --action_active_background-color_Keyboard_view: rgba(29, 40, 52, 0.6);
   --action_text-color_Keyboard_view: #82929f;
}
