.popup-page {
   padding: 50px;

   .controls-BaseButton {
      margin-top: 8px;
   }
}

.popup-page-background {
   background: linear-gradient(45deg, #ffe6e6, #cee8f5);
   height: 100%;
   width: 100%;
   box-sizing: border-box;
   padding: 0 100px;

   .controls-BaseButton {
      margin-top: 8px;
   }
}

.popup-page-buttons {
   margin: 50px 0;
   padding: 20px;
}

.popup-page-target-container {
   background-color: var(--background-color);
   width: 100%;
}

.ControlsDemo-PopupPage__external-scroll-container {
   height: 50px;
   width: 150px;
}

.ControlsDemo-PopupPage__internal-scroll-container {
   height: 100px;
}
