.Controls-Colors__DialogOpener {
  &_container {
    position: relative;
  }

  &_closeButton {
    position: absolute;
    top: var(--offset_s);
    right: calc(-0.5 * var(--offset_3xl));
    z-index: 1;
  }

  &_applyButton {
    position: absolute;
    top: var(--offset_s);
    right: calc(0.5 * var(--offset_3xl));;
    z-index: 2;
  }
}
