.ApplicationDemo__zoom {
   padding: 24px;
}

.ApplicationDemo__zoom-line {
   margin-bottom: 16px;
}

.ApplicationDemo__zoom-0\.75 {
   zoom: 0.75;
}

.ApplicationDemo__zoom-0\.85 {
   zoom: 0.85;
}

.ApplicationDemo__zoom-1 {
   zoom: 1;
}

.ApplicationDemo__zoom-1\.15 {
   zoom: 1.15;
}

.ApplicationDemo__zoom-1\.3 {
   zoom: 1.3;
}
