.sort_s {
    &.controls-icon_size-2xs {
        font-size: var(--icon-size_2xs);
    }

    &.controls-icon_size-xs {
        font-size: var(--icon-size_xs);
    }

    // loadFont всегда загружает s, если не m
    &.controls-icon_size-l {
        font-size: var(--icon-size_l);
    }

    // loadFont всегда загружает s, если не m
    &.controls-icon_size-st {
        font-size: var(--icon-size_st);
    }
}

.sort_m {
    &.controls-icon_size-st {
        font-size: var(--icon-size_st);
    }

    &.controls-icon_size-l {
        font-size: var(--icon-size_l);
    }
}
