.controls_objectEditorPopup_WidgetPanel__apply {
   position: absolute;
   right: 14px;
   top: var(--offset_s);
   z-index: 1;
   transform: translateZ(0);
}

.controls_objectEditorPopup_WidgetPanelHeader__reset {
   margin-right: var(--offset_m);
}

.ObjectEditorPopup_Widget__scrollContainer {
   height: 100%;
}

.controls_objectEditorPopup_WidgetPanel {
   height: 100%;
}

.controls_objectEditorPopup_WidgetPanelHeader__text_reset {
   margin-right: var(--offset_s);
}

.controls-DialogTemplate__caption.controls_objectEditorPopup_WidgetPanelHeader__caption {
   align-items: center;
   flex-grow: 1;
   width: 0;
}

.objectEditorPopupHeaderTitle {
   width: 100%;
   display: flex;
   align-items: baseline;
}

.objectEditorPopupHeaderTitle__caption {
   width: 100%;
   margin: 0 var(--header_padding-left_dialog);
   display: flex;
   align-items: baseline;
}

.controls_objectEditorPopup_WidgetPanelHeader__text_wrapper {
   position: relative;
   padding-right: var(--offset_m);
   display: flex;
   align-items: center;
}

.controls_objectEditorPopup_WidgetPanelHeader_title__success {
   margin-right: var(--offset_s);
}
