.controlsDemo-StackLayout__container {
   display: flex;
   justify-content: center;
   height: 100%;
}

.controlsDemo-StackLayout {
   max-width: 80vh;
}

.controlsDemo-StackLayout__content__container {
   width: 100%;
   height: 100%;
   display: flex;
}

.controlsDemo-StackLayout__content {
   z-index: 1;
}