.controls-FontLoadUtil__measurer {
   position: absolute;
   top: -9999px;
   left: -9999px;
   visibility: hidden;
}

.controls-FontLoadUtil__measurer_fallback {
   /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
   font-family: 'Courier New';
}
