.controls-ConfirmationDialog__message {
   font-size: var(--message_font-size_confirmation);
   line-height: var(--line-height_3xl);
   color: var(--message_text-color_confirmation);
}

.controls-ConfirmationDialog__message_withDetails {
   margin-bottom: var(--details_offset_confirmation);
}

.controls-ConfirmationDialog__details {
   font-size: var(--font-size_l);
   line-height: normal;
   color: var(--details_text-color_confirmation);
}

.controls-ConfirmationDialog__message,
.controls-ConfirmationDialog__details {
   white-space: pre-wrap;
   word-wrap: break-word;
}

.controls-ConfirmationDialog__message-centered,
.controls-ConfirmationDialog__details-centered {
   text-align: center;
}

.controls-ConfirmationDialog__buttonContainer {
   .flexbox();
   .justify-content(center);
   align-items: baseline;
}

.controls-ConfirmationDialog__button-standard {
   min-width: var(--min-width_button_l_confirmation);
}

.controls-ConfirmationDialog__button-mini {
   min-width: var(--min-width_button_s_confirmation);
}

.controls-ConfirmationDialog__no-cancel-button {
   margin-left: var(--offset_button_confirmation);
}

.controls-ConfirmationDialog__button {
   width: 100%;
}
