.engindeDemo_Wizard_Pay {
   width: 90px;
   background-color: #f5f5f5;
   margin: 0 8px;
   padding: 8px;
}

.engindeDemo_Wizard_Pay-caption {
   color: #808080;
}

.engineDemo_Wizard_block {
   padding: 16px;
}

.container {
   display: flex;
   justify-content: flex-end;
}

.side-panel {
   width: 900px;
}
