.highcharts {
   &-background {
      fill: transparent;
   }

   &-br {
      font-family: sans-serif;
   }

   &-color {
      &-base-0 {
         background-color: var(--graphs__baseColors_color-0);
         fill: var(--graphs__baseColors_color-0);
         border-color: var(--graphs__baseColors_color-0);
         stroke: var(--graphs__baseColors_color-0);
      }

      &-base-1 {
         background-color: var(--graphs__baseColors_color-1);
         fill: var(--graphs__baseColors_color-1);
         border-color: var(--graphs__baseColors_color-1);
         stroke: var(--graphs__baseColors_color-1);
      }

      &-base-2 {
         background-color: var(--graphs__baseColors_color-2);
         fill: var(--graphs__baseColors_color-2);
         border-color: var(--graphs__baseColors_color-2);
         stroke: var(--graphs__baseColors_color-2);
      }

      &-base-3 {
         background-color: var(--graphs__baseColors_color-3);
         fill: var(--graphs__baseColors_color-3);
         border-color: var(--graphs__baseColors_color-3);
         stroke: var(--graphs__baseColors_color-3);
      }

      &-base-4 {
         background-color: var(--graphs__baseColors_color-4);
         fill: var(--graphs__baseColors_color-4);
         border-color: var(--graphs__baseColors_color-4);
         stroke: var(--graphs__baseColors_color-4);
      }

      &-base-5 {
         background-color: var(--graphs__baseColors_color-5);
         fill: var(--graphs__baseColors_color-5);
         border-color: var(--graphs__baseColors_color-5);
         stroke: var(--graphs__baseColors_color-5);
      }

      &-base-6 {
         background-color: var(--graphs__baseColors_color-6);
         fill: var(--graphs__baseColors_color-6);
         border-color: var(--graphs__baseColors_color-6);
         stroke: var(--graphs__baseColors_color-6);
      }

      &-base-7 {
         background-color: var(--graphs__baseColors_color-7);
         fill: var(--graphs__baseColors_color-7);
         border-color: var(--graphs__baseColors_color-7);
         stroke: var(--graphs__baseColors_color-7);
      }

      &-base-8 {
         background-color: var(--graphs__baseColors_color-8);
         fill: var(--graphs__baseColors_color-8);
         border-color: var(--graphs__baseColors_color-8);
         stroke: var(--graphs__baseColors_color-8);
      }

      &-base-9 {
         background-color: var(--graphs__baseColors_color-9);
         fill: var(--graphs__baseColors_color-9);
         border-color: var(--graphs__baseColors_color-9);
         stroke: var(--graphs__baseColors_color-9);
      }

      &-base-10 {
         background-color: var(--graphs__baseColors_color-10);
         fill: var(--graphs__baseColors_color-10);
         border-color: var(--graphs__baseColors_color-10);
         stroke: var(--graphs__baseColors_color-10);
      }

      &-base-11 {
         background-color: var(--graphs__baseColors_color-11);
         fill: var(--graphs__baseColors_color-11);
         border-color: var(--graphs__baseColors_color-11);
         stroke: var(--graphs__baseColors_color-11);
      }

      &-base-12 {
         background-color: var(--graphs__baseColors_color-12);
         fill: var(--graphs__baseColors_color-12);
         border-color: var(--graphs__baseColors_color-12);
         stroke: var(--graphs__baseColors_color-12);
      }

      &-base-1000 {
         background-color: var(--success_color);
         fill: var(--success_color);
         border-color: var(--success_color);
         stroke: var(--success_color);
      }

      &-base-1001 {
         background-color: var(--warning_color);
         fill: var(--warning_color);
         border-color: var(--warning_color);
         stroke: var(--warning_color);
      }

      &-base-1002 {
         background-color: var(--danger_color);
         fill: var(--danger_color);
         border-color: var(--danger_color);
         stroke: var(--danger_color);
      }

      &-base-1003 {
         background-color: var(--primary_color);
         fill: var(--primary_color);
         border-color: var(--primary_color);
         stroke: var(--primary_color);
      }

      &-base-1004 {
         background-color: var(--secondary_color);
         fill: var(--secondary_color);
         border-color: var(--secondary_color);
         stroke: var(--secondary_color);
      }

      &-base-1005 {
         background-color: var(--info_color);
         fill: var(--info_color);
         border-color: var(--info_color);
         stroke: var(--info_color);
      }

      &-base-1006 {
         background-color: var(--unaccented_contrast_background-color);
         fill: var(--unaccented_contrast_background-color);
         border-color: var(--unaccented_contrast_background-color);
         stroke: var(--unaccented_contrast_background-color);
      }
      // Extra
      &-extra-0 {
         background-color: var(--graphs__extraColors_color-0);
         fill: var(--graphs__extraColors_color-0);
         border-color: var(--graphs__extraColors_color-0);
         stroke: var(--graphs__extraColors_color-0);
      }

      &-extra-1 {
         background-color: var(--graphs__extraColors_color-1);
         fill: var(--graphs__extraColors_color-1);
         border-color: var(--graphs__extraColors_color-1);
         stroke: var(--graphs__extraColors_color-1);
      }

      &-extra-3 {
         background-color: var(--graphs__extraColors_color-3);
         fill: var(--graphs__extraColors_color-3);
         border-color: var(--graphs__extraColors_color-3);
         stroke: var(--graphs__extraColors_color-3);
      }

      &-extra-11 {
         background-color: var(--graphs__extraColors_color-11);
         fill: var(--graphs__extraColors_color-11);
         border-color: var(--graphs__extraColors_color-11);
         stroke: var(--graphs__extraColors_color-11);
      }

      // Pale
      &-pale-1 {
         background-color: var(--graphs__paleColors_color-1);
         fill: var(--graphs__paleColors_color-1);
         border-color: var(--graphs__paleColors_color-1);
         stroke: var(--graphs__paleColors_color-1);
      }

      &-pale-2 {
         background-color: var(--graphs__paleColors_color-2);
         fill: var(--graphs__paleColors_color-2);
         border-color: var(--graphs__paleColors_color-2);
         stroke: var(--graphs__paleColors_color-2);
      }

      &-pale-3 {
         background-color: var(--graphs__paleColors_color-3);
         fill: var(--graphs__paleColors_color-3);
         border-color: var(--graphs__paleColors_color-3);
         stroke: var(--graphs__paleColors_color-3);
      }

      &-pale-4 {
         background-color: var(--graphs__paleColors_color-4);
         fill: var(--graphs__paleColors_color-4);
         border-color: var(--graphs__paleColors_color-4);
         stroke: var(--graphs__paleColors_color-4);
      }

      &-pale-5 {
         background-color: var(--graphs__paleColors_color-5);
         fill: var(--graphs__paleColors_color-5);
         border-color: var(--graphs__paleColors_color-5);
         stroke: var(--graphs__paleColors_color-5);
      }

      &-pale-6 {
         background-color: var(--graphs__paleColors_color-6);
         fill: var(--graphs__paleColors_color-6);
         border-color: var(--graphs__paleColors_color-6);
         stroke: var(--graphs__paleColors_color-6);
      }

      &-pale-7 {
         background-color: var(--graphs__paleColors_color-7);
         fill: var(--graphs__paleColors_color-7);
         border-color: var(--graphs__paleColors_color-7);
         stroke: var(--graphs__paleColors_color-7);
      }

      &-pale-8 {
         background-color: var(--graphs__paleColors_color-8);
         fill: var(--graphs__paleColors_color-8);
         border-color: var(--graphs__paleColors_color-8);
         stroke: var(--graphs__paleColors_color-8);
      }

      &-pale-9 {
         background-color: var(--graphs__paleColors_color-9);
         fill: var(--graphs__paleColors_color-9);
         border-color: var(--graphs__paleColors_color-9);
         stroke: var(--graphs__paleColors_color-9);
      }

      &-pale-10 {
         background-color: var(--graphs__paleColors_color-10);
         fill: var(--graphs__paleColors_color-10);
         border-color: var(--graphs__paleColors_color-10);
         stroke: var(--graphs__paleColors_color-10);
      }

      &-pale-11 {
         background-color: var(--graphs__paleColors_color-11);
         fill: var(--graphs__paleColors_color-11);
         border-color: var(--graphs__paleColors_color-11);
         stroke: var(--graphs__paleColors_color-11);
      }

      &-pale-12 {
         background-color: var(--graphs__paleColors_color-12);
         fill: var(--graphs__paleColors_color-12);
         border-color: var(--graphs__paleColors_color-12);
         stroke: var(--graphs__paleColors_color-12);
      }
   }
}

.ws-is-mac {
   .Graphs-HighChartsLight-smoothing {
      will-change: transform;
   }
}

.CategoryStock__graphs_stackable {
   .highcharts-point {
      stroke: var(--background-color);
   }
}
