.controls-Grid__row-cell-background-editing_primary {
   background: var(--primary_color);

   .controls-Grid__row-cell__content {
      background: var(--primary_color);
   }
}

.controls-itemActionsV_editing_primary {
   background: var(--primary_color);
}
