.engine-demo-Calculator__view {
   margin: 20px;
}

.engine-demo-Calculator__input {
   margin: 0 8px;
}

.engine-demo-Calculator {
   width: 500px;
}

.engine-demo-numbers {
   margin: 20px;
}

.engine-demo-number {
   margin: 10px 0;
}

.engine-demo-Calculator__clearHistoryButton {
   margin-left: 8px;
}
