.controls_ColoredTabs_theme-@{themeName} {
   // Переменные для контрола "плавающие вкладки"

   // Переменные для заголовков
   //
   // Размеры
   --item_head_min-width_colored-tabs: 100px;

   // Отступы
   --item_head_padding-right_colored-tabs: 9px;
   --item_head_padding-left_colored-tabs: 16px;

   // Ширина области кнопки "развернуть вкладки"
   --distributed-button_width_colored-tabs: calc(
      var(--icon-size_m) + var(--item_head_padding-left_colored-tabs)
   );
}
