.controls-FilterViewPanel__dropdownEditor {
   max-width: 100%;
}

.controls-FilterViewPanel__dropdownEditor_cross
   .controls-FilterViewPanel__baseEditor-cross_container {
   align-self: baseline;

   &::before {
      line-height: normal;
   }
}
