.controlsDemo-dateRange-RelationController {
   align-self: center;
   padding-top: 40px;
}

.controlsDemo-dateRange-RelationController__row {
   padding-top: 40px;
   display: flex;
   justify-content: space-around;
   align-items: baseline;
}

.controlsDemo-dateRange-RelationController__selector {
   width: 120px;
}

.controlsDemo-dateRange-RelationController__relationButton {
   margin: 0 10px;
}
