.controlsDemo-StickyHeader {
   width: 700px;
   height: 300px;
}

.controlsDemo-StickyHeader__border {
   border: 1px solid #c9c9c9;
   margin-top: 50px;
}

.controlsDemo-StickyHeader__stickyHeader {
   font-size: 18px;
   line-height: 22px;
   font-weight: var(--font-weight-bold);
   padding: 8px 0;
}

.controlsDemo-StickyHeader__stickyHeader-top {
   border-bottom: 2px solid #009dd9;
   margin-bottom: 8px;
}
