.controls-InfoboxButton {
   display: inline-block;
}

.controls-InfoboxButton__icon {
   fill: var(--unaccented_icon-color);
   vertical-align: middle;
}

.controls-InfoboxButton__icon:hover {
   fill: var(--secondary_hover_icon-color);
}
