.controls-OperationsButton_button__size {
   --container_inline-height_button_local: var(--height_operationsButton);
   width: var(--height_operationsButton);
}

.controls-icon_size-operationsButton {
   font-size: var(--icon-size_operationsButton);
   width: var(--icon-size_operationsButton);
   height: var(--icon-size_operationsButton);
   font-family: var(--icon-font-family_operationsButton);
}
