.controls-listTemplates-ColorfulTemplate {
   background-color: var(--dominant-color_zen);
}

.controls-listTemplates-ColorfulTemplate__additionalPanelTemplate {
   position: absolute;
   top: 0;
   right: 0;
}

.controls-listTemplates-ColorfulTemplate__image {
   height: var(--size_6xl_image);
}

.ws-is-mobile-safari .controls-listTemplates-ColorfulTemplate__image {
   overflow: visible;
}
