.controls-ListEnv-demo__browserDemo {
  width: 800px;
  padding: 12px
}

.controls-ListEnv-demo__browserDemo_header {
  display: flex;
  align-items: baseline;
}

.controls-ListEnv-demo__browserDemo_filter {
  margin-left: auto;
}

.controls-ListEnv-demo__browserDemo_operationsButton {
  margin-left: 6px;
}