.controls-buttons_actionEditor-content {
   max-width: 100%;
}

.controls-button_actionEditorPopup_search {
   width: 250px;
}

.actionsConfig__popupStack-body {
   height: 100%;
}

.actionsConfig__popupStack-groupTemplate {
   --grouping_expander_icon_offset_list: 10px;
   padding-left: var(--offset_2xs);
   margin-top: var(--offset_xs);
}

.controls-buttons_actionEditor-block {
   box-shadow: none;
}

.controls__block.controls-buttons_actionEditor-block-unaccented {
   background: var(--unaccented_background-color);
}
