.controls-buttons_actionEditor-content {
   max-width: 100%;
}

.controls-button_actionEditorPopup_search {
   width: 250px;
}

.actionsConfig__popupStack-body {
   height: 100%;
}

.actionsConfig__popupStack-groupTemplate {
   --grouping_expander_icon_offset_list: 10px;
   padding-left: var(--offset_2xs);
   margin-top: var(--offset_xs);
}

.controls-buttons_actionEditor-block {
   box-shadow: none;
}

// У последнего элемента редактора действий не должно быть отступа снизу, поэтому отключаем отступ сами
.controls-PropertyGrid__editor_spacingBottom_default[item-key="property-grid-item-hotKey"] {
   margin-bottom: 0;
}
