.controls-buttons_actionEditor-content_button_all-actions {
   max-width: 100%;
   font-size: var(--font-size_xl);
   padding-top: var(--offset_s);
   padding-left: calc(var(--offset_m) + var(--icon-size_m) + var(--offset_s));
   height: var(--item_height_menu);
}
