.controls-Input-DatePicker {
   max-width: 100%;
   display: inline-flex;
   align-items: baseline;
   white-space: nowrap;
}

.controls-Input-DatePicker__button {
   cursor: pointer;
   padding-left: var(--trigger-offset_inputDate);
   display: inline-flex;
   align-self: center;

   &:hover {
      fill: var(--label_hover_text-color);
      color: var(--label_hover_text-color);
   }
}

.controls-Input-DatePicker__content {
   min-width: 1px;
}
