.demo-Shipments__additionalText {
   color: var(--readonly_text-color);
   font-size: 12px;
}

.demo-Shipments__title {
   color: var(--label_hover_text-color);
   font-size: 15px;
   font-weight: var(--font-weight-bold);
}

.demo-Shipments__additionalInfo {
   color: var(--unaccented_text-color);
   font-size: 12px;
}

.demo-Shipments__regulationName,
.demo-Shipments__author,
.demo-Shipments__orgName {
   color: var(--unaccented_text-color);
   font-size: 12px;
}
