.controls-Demo__propertyGrid {
   width: 400px;
}

.controls-demo-pg-enum-editor {
   display: inline-flex;
}

.controls-demo-pg-text-editor {
   width: 100%;
}

.controls-demo-group-title {
   font-weight: bold;
   color: var(--label_hover_text-color);
}

.controls-Demo__wide-propertyGrid {
   width: 500px;
}

.controls-Demo__propertyGrid-caption-secondary_theme-default {
   .controls-Label__caption {
      color: var(--label_hover_text-color);
      font-weight: bold;
   }
}

.controls-Demo__propertyGrid-caption-default_theme-default {
   color: var(--label_text-color);
}

.controls-demo-pg-highlightOnHover-editor-padding {
   padding: 4px;
}
