.ControlsDemo-Lookup {
   margin: 10px;
   display: flex;
}

.ControlsDemo-Lookup-column {
   width: 100%;
}

.ControlsDemo-Lookup-block {
   display: inline-block;
   margin-bottom: 10px;
   padding: 10px;
}

.ControlsDemo-Lookup-title {
   font-size: 16px;
   font-weight: var(--font-weight-bold);
}

.ControlsDemo-Lookup-control {
   width: 400px;
}

.ControlsDemo-Lookup_city {
   font-size: 12px;
   color: var(--unaccented_color);
}

.ControlsDemo-Lookup__item_bold {
   font-weight: var(--font-weight-bold);
}

.ControlsDemo-FlatListSelectorWithTabs-tabs {
   position: absolute;
   left: 0;
   bottom: -1px;
}

.ControlsDemo-Lookup__container {
   align-items: center;
   display: flex;
   flex-direction: column;
}

.controlsDemo-Selector__title {
   font-size: 14px;
   color: var(--readonly_text-color);
}

.controlsDemo-Selector__icon {
   margin-left: 4px;
}
