.controls-BreadCrumbsView__items {
   display: inline-flex;
   align-items: baseline;
   overflow: hidden;
   width: 100%;
   height: var(--height_breadcrumbsView);
}

.controls-BreadCrumbsView__itemsTemplate {
   display: flex;
   align-items: flex-end;
}

.controls-BreadCrumbsView__wrapper {
   max-width: 100%;
}

.controls-BreadCrumbsView__crumb__edge {
   flex-shrink: 0;
   white-space: nowrap;
   max-width: 50%;
   overflow: hidden;
   text-overflow: ellipsis;
}

.controls-BreadCrumbsView__crumb__last {
   min-width: calc(
      var(--item_icon-size_default_breadcrumbsView) + var(--item_text_min-width_breadcrumbs)
   );
}

.controls-BreadCrumbsView__items__middle {
   overflow: hidden;
   white-space: nowrap;
   flex-shrink: 1;
   font-size: 0;
   line-height: normal;
}

.controls-BreadCrumbsView__crumb {
   display: inline-flex;
   align-items: baseline;
   overflow: hidden;
   max-width: 100%;
   white-space: nowrap;
   position: relative;
   box-sizing: border-box;
   .baseline-fix();
   height: var(--height_breadcrumbsView);
   padding-right: var(--droppable_border-thickness_breadcrumbsView);

   &::before {
      font-size: var(--line-height_breadcrumbsView);
   }
}

.controls-BreadCrumbsView__crumb-text-ellipsis {
   .text-overflow();
}

.controls-BreadCrumbsView__crumb_color {
   color: var(--item_text-color_default_breadcrumbsView);
}

.controls-BreadCrumbsView__crumb_withOverflow {
   flex-shrink: 1;
   min-width: calc(
      var(--item_icon-size_default_breadcrumbsView) + var(--item_text_min-width_breadcrumbs)
   );

   .text-overflow();
}

.controls-BreadCrumbsView__crumb_withOverflow_withoutArrow {
   min-width: var(--item_text_min-width_breadcrumbs);
}

.controls-BreadCrumbsView__crumb_withoutOverflow {
   flex-shrink: 0;
}

.controls-BreadCrumbsView__crumb__left_edge {
   padding: 0 var(--droppable_border-thickness_breadcrumbsView);
}

.controls-BreadCrumbsView__menu {
   float: right;
   position: relative;

   /* Обводка dragNDrop должна уходить в тень меню, т.к. у нее z-index: 1, то для меню и его тени выставляем z-index выше.
    Сейчас у тени скролла z-index 5, поэтому она будет над крошками. */
   z-index: 2;
   bottom: var(--height_breadcrumbsView);
}

.controls-BreadCrumbsView__menu__dots {
   position: absolute;
   top: 0;
   .baseline-fix();
   padding-right: 1px;
   display: block;
   right: 0;
   height: var(--height_breadcrumbsView);

   &::before {
      font-size: var(--line-height_breadcrumbsView);
   }
}

.controls-BreadCrumbsView__menu__dots__shadow {
   position: absolute;
   top: 0;
   // уменьшаем высоту тени, чтобы из-за блюра, когда точки не видны, тень не нависала сверху.
   height: calc(var(--height_breadcrumbsView) - (2 * var(--dots_shadow-blur_breadcrumbsView)));
   filter: blur(var(--dots_shadow-blur_breadcrumbsView));
   background-color: inherit;
   padding-left: var(--dots_shadow-offset_breadcrumbsView);
   // отодвигаем тень на ее ширину за исключением заблюренной правой области, чтобы не было пропуска.
   margin-left: calc(
      (-1 * var(--dots_shadow-offset_breadcrumbsView)) + var(--dots_shadow-blur_breadcrumbsView)
   );
}

.controls-BreadCrumbsView__max-width {
   max-width: 100%;
}

.controls-BreadCrumbsView__max-width__edge {
   max-width: 50%;
}

.controls-BreadCrumbsView {
   white-space: nowrap;
   flex-grow: 1;
   max-width: 100%;
   //Так как мы добавляем отступы у крошек, чтобы обводка dragNDrop не обрезалась за счет overflow-hidden, появляется лишний левый отступ. Делаем отрицательный margin на такое же значение, как левый отступ у первой крошки.
   margin-left: calc(-1 * var(--droppable_border-thickness_breadcrumbsView));
   // ограничиваем внутренние z-index'ы нашим контейнером, например, что бы элемент с меню (> ...) не налазил на
   // застиканную шапку
   z-index: 1;
}

.controls-BreadCrumbsView__dropTarget_withArrow,
.controls-BreadCrumbsView__dropTarget_withoutArrow {
   &::after {
      content: '';
      border: var(--droppable_border-thickness_breadcrumbsView) solid var(--primary_border-color);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      box-sizing: border-box;
      position: absolute;
      display: block;
      border-radius: var(--border-radius_2xs);
      z-index: 1;
      align-self: center;
   }
}

.controls-BreadCrumbsView__dropTarget_withArrow::after {
   left: 0;
}

.controls-BreadCrumbsView__title_enabled {
   cursor: pointer;
}

.controls-BreadCrumbsView__arrow {
   width: 1em;
   height: 1em;
   flex-shrink: 0;
   display: inline;
   fill: var(--item_text-color_default_breadcrumbsView);
}

.controls-BreadCrumbsView__arrow_enabled {
   cursor: pointer;
}

.controls-BreadCrumbsView__menuItem {
   .baseline-fix();
   max-width: 100%;
   display: inline-flex;
   align-items: center;
   height: var(--inline_height_xl);
}

.controls-BreadCrumbsView__menuTitle {
   .text-overflow();
   flex-shrink: 1;
   display: inline-block;
   width: 100%;
}

.controls-BreadCrumbsView__indentation {
   align-self: flex-start;
   flex-shrink: 0;
   .icon(var(--icon-size_s));
   color: var(--label_text-color);
}

.ws-is-hover {
   .controls-BreadCrumbsView__crumb:hover,
   .controls-BreadCrumbsView__menu__dots:hover {
      .controls-BreadCrumbsView__title_enabled {
         color: var(--item_hover_text-color_default_breadcrumbsView);
         text-decoration: underline;
      }

      .controls-BreadCrumbsView__arrow_enabled {
         color: var(--item_hover_text-color_default_breadcrumbsView);
      }
   }
}

//Класс сделан только для удобства замеров
.controls-BreadCrumbsView__crumbMeasurer {
   font-family: var(--font-family) 'Courier New';
}

.ws-is-ie {
   .controls-BreadCrumbsView__dropTarget::after {
      //IE can't correctly align absolutely-positioned flex children: https://codepen.io/anon/pen/MqazJv
      top: 50%;
      bottom: 50%;
      transform: translateY(-50%);
   }
}

//Только для Edge
.ws-is-ie12 {
   //В Edge без явного указания ширины контейнера неправильно работает float, из-за чего точки не падают вниз. Пример: https://jsfiddle.net/q70vkn94/
   .controls-BreadCrumbsView__menu {
      width: 1px;
   }
}

.controls-Grid__breadCrumbs {
   .controls-BreadCrumbsView__crumb,
   .controls-BreadCrumbsView__menu__dots {
      &::before {
         font-size: var(--baseline_breadcrumbsView);
      }
   }
}

// Чтобы выравнивать по базовой линии элементы highlight при поиске.
// https://online.sbis.ru/opendoc.html?guid=b3c4f839-db06-4cf5-9d53-20787b1cadc2&client=3
.controls-Grid__breadCrumbs_highlight::before {
   content: '\200b';
   width: 0;
   display: inline-block;
   visibility: hidden;
   font-size: var(--line-height_breadcrumbsView);
}
