.controlsDemo_palette_field {
   width: 50px;
}

.controlsDemo_copyColor {
   width: 100%;
   display: inline-block;
   text-align: center;
}

.controls-Grid__row-cell__content_background_complex,
.controls-background-complex_theme-default {
   /* stylelint-disable-next-line declaration-no-important */
   background-color: hsl(
      var(--hValue),
      var(--sValue),
      var(--lValue)
   ) !important;
}

.clipboardContainer {
   position: absolute;
   left: -1000px;
   top: -1000px;
}
