.tabs-baseline() {
   &:before {
      content: '\200b'; //zero width space
      width: 0;
      display: inline-block;
      visibility: hidden;
   }
}

.controls-Tabs__itemClickableArea {
   flex-shrink: 1;
   flex-grow: 1;
   min-width: 0;
   height: 100%;
   display: inline-flex;
   position: relative;
   .tabs-baseline();
}

// в ie есть проблема с flex-shrink, и она заметна когда внутри одного flex-shrink со значением 1, находится другой
// в этом случае текст троеточится когда есть свободное место,
// но если у внутреннего установить значение 0, все работает как надо
// https://online.sbis.ru/opendoc.html?guid=2b5eb65e-8646-4068-a1ba-4b147e7671e2
// Так же необходимо установить ширину 100% для того что бы mainTab вкладки троеточились.
.ws-is-ie {
   .controls-Tabs__itemClickableArea {
      flex-shrink: 0;
      width: 100%;
   }
   // Уменьшаем значение до пяти знаков,так как при большем значении выталкивается крайняя справа вкладка.
   .controls-Tabs__space {
      flex-shrink: 99999;
   }
}

.controls-Tabs__itemClickableArea_type-default {
   align-items: baseline;
}

.controls-Tabs__itemClickableArea_type-photo {
   align-items: flex-end;
}

.controls-Tabs__itemClickableArea_inlineHeight-s {
   &:before {
      line-height: var(--item_height_tabs);
      font-size: var(--unselected_item_font-size_tabs);
   }
}

.controls-Tabs__itemClickableArea_inlineHeight-l {
   &:before {
      line-height: var(--item_height_l_tabs);
      font-size: var(--unselected_item_font-size_tabs);
   }
}

.controls-Tabs__itemClickableArea_marker {
   &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 1;
      pointer-events: none;
   }
}

.controls-Tabs__itemClickableArea_markerThickness-s {
   &:after {
      height: var(--marker_thickness_tabs);
   }
}

.controls-Tabs__itemClickableArea_markerThickness-l {
   &:after {
      height: var(--marker_thickness-l_tabs);
   }
}

.controls-Tabs {
   position: relative;

   &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: var(--border-color_tabs);
   }
}

.controls-Tabs_inlineHeight-s {
   height: var(--item_height_tabs);
}

.controls-Tabs_inlineHeight-l {
   height: var(--item_height_l_tabs);
}

.controls-Tabs_border-s {
   &:after {
      height: var(--border-thickness_tabs);
   }
}

.controls-Tabs_border-l {
   &:after {
      height: var(--border-thickness_l_tabs);
   }
}

.controls-Tabs-wrapper {
   display: inline-flex;
   width: 100%;
   height: 100%;
}

.controls-Tabs__scrollWrapper {
   overflow-x: scroll;
   // hide scrollbar
   -ms-overflow-style: none; /* for Internet Explorer, Edge */
   scrollbar-width: none; /* for Firefox */
   &::-webkit-scrollbar {
      display: none; /* for Chrome, Safari, and Opera */
   }
}

.controls-Tabs__space {
   display: inline-flex;
   //TODO: по поручению опишут как и что должно сжиматься. Пока вешаю огромный flex-shrink на дыру между элементами вкладок, чтобы главная вкладка не начинала сжиматься раньше времени
   //https://online.sbis.ru/opendoc.html?guid=cf3f0514-ac78-46cd-9d6a-beb17de3aed8
   flex-shrink: 999999;
   box-sizing: border-box;
   align-items: baseline;
   .tabs-baseline();
   position: relative;
   width: 100%;
   min-width: 0;
   height: 100%;
   order: 20;
}

.controls-Tabs__space_inlineHeight-s {
   &:before {
      line-height: var(--item_height_tabs);
      font-size: var(--unselected_item_font-size_tabs);
   }
}

.controls-Tabs__space_inlineHeight-l {
   &:before {
      line-height: var(--item_height_l_tabs);
      font-size: var(--unselected_item_font-size_tabs);
   }
}

.controls-Tabs__item-underline {
   border-bottom: var(--border-thickness_tabs) solid var(--border-color_tabs);
}

.controls-Tabs__item {
   display: inline-flex;
   flex-shrink: 0;
   align-items: baseline;
   box-sizing: border-box;
   .tabs-baseline();
   height: 100%;
   position: relative;
   font-size: var(--unselected_item_font-size_tabs);
   cursor: pointer;
   max-width: var(--item_max-width_tabs);
   white-space: nowrap;
}

.controls-Tabs__item_inlineHeight-s {
   &:before {
      line-height: var(--item_height_tabs);
      font-size: var(--unselected_item_font-size_tabs);
   }
}

.controls-Tabs__item_inlineHeight-l {
   &:before {
      line-height: var(--item_height_l_tabs);
      font-size: var(--unselected_item_font-size_tabs);
   }
}

.controls-Tabs__item_canShrink {
   flex-shrink: 1;
   min-width: 0;
}

.controls-Tabs__item_notShrink {
   flex-shrink: 0;
   min-width: 0;
}

.controls-Tabs__itemSeparator {
   pointer-events: none;
   position: absolute;
   top: calc(50% ~'-' var(--separator_length_tabs) / 2);
   height: var(--separator_length_tabs);
   width: var(--separator_thickness_tabs);
   background: var(--separator_color_tabs);
}

.controls-Tabs__itemSeparator_align_left {
   right: calc(-1 * (var(--padding-horizontal_tabs) + var(--border-thickness_tabs)));
}

.controls-Tabs__itemSeparator_align_right {
   left: calc(-1 * (var(--padding-horizontal_tabs) + var(--border-thickness_tabs)));
}

.controls-Tabs__item_state_default {
   .user-select();
   color: var(--unselected_item_text-color_tabs);
}

.ws-is-hover {
   .controls-Tabs__item-marker_state_default:hover {
      &:after {
         background: var(--marker_hover_color_tabs);
      }
   }

   .controls-Tabs__itemClickableArea_markerThickness-s:hover {
      &:after {
         height: var(--marker_thickness_tabs);
      }
   }

   .controls-Tabs__itemClickableArea_markerThickness-l:hover {
      &:after {
         height: var(--marker_hover_thickness-l_tabs);
      }
   }

   .controls-Tabs__marker_thickness-s {
      height: var(--marker_thickness_tabs);
   }
   .controls-Tabs__marker_thickness-l {
      height: var(--marker_hover_thickness-l_tabs);
   }
   .controls-Tabs__item_state_default:hover {
      color: var(--unselected_item_text-color_tabs);
   }
}

.controls-Tabs__item_view_main {
   color: var(--text-color);
   font-size: var(--font-size_4xl);
   font-weight: bold;
}

.controls-Tabs__item_view_selected {
   font-weight: var(--item_selected_font-weight_tabs);
   font-size: var(--secondary_item_font-size_tabs);
}

.controls-Tabs__item_align_left {
   margin-left: calc(var(--border-thickness_tabs) + var(--item_offset_tabs) - var(--border-thickness_tabs));
}

.controls-Tabs__item_align_right {
   margin-right: calc(var(--item_offset_tabs) - var(--border-thickness_tabs));
}

.controls-Tabs__item_extreme {
   margin-right: 0;
   margin-left: 0;
}

.controls-Tabs__item_extreme_first {
   margin-right: calc(var(--padding-horizontal_tabs) + var(--border-thickness_tabs));
   margin-left: var(--padding-horizontal_tabs);
}

.controls-Tabs__item_extreme_first_padding {
   padding-right: calc(var(--padding-horizontal_tabs) + var(--border-thickness_tabs));
   padding-left: var(--padding-horizontal_tabs);
}

.controls-Tabs__item_extreme_last {
   margin-right: var(--padding-horizontal_tabs);
   margin-left: calc(var(--padding-horizontal_tabs) + var(--border-thickness_tabs));
}

.controls-Tabs__item_extreme_last_padding {
   padding-right: var(--padding-horizontal_tabs);
   padding-left: calc(var(--padding-horizontal_tabs) + var(--border-thickness_tabs));
}

.controls-Tabs__item_default {
   margin: 0 calc(var(--padding-horizontal_tabs) + var(--border-thickness_tabs)) 0 var(--padding-horizontal_tabs);
}

.controls-Tabs__item_default_padding {
   padding: 0 calc(var(--padding-horizontal_tabs) + var(--border-thickness_tabs)) 0 var(--padding-horizontal_tabs);
}

.controls-Tabs_style_primary__item_state_selected {
   color: var(--primary_item_text-color_tabs);
}

.controls-Tabs_style_unaccented__item_state_selected {
   color: var(--text-color);
}

.controls-Tabs_style_secondary__item_state_selected {
   color: var(--secondary_item_text-color_tabs);
}

.controls-Tabs_style_primary__item-marker_state_selected {
   &:after {
      background: var(--primary_marker_color_tabs);
   }
}

.controls-Tabs_style_unaccented__item-marker_state_selected {
   &:after {
      background: var(--unaccented_marker_color_tabs);
   }
}

.controls-Tabs_style_secondary__item-marker_state_selected {
   &:after {
      background: var(--secondary_marker_color_tabs);
   }
}

.controls-Tabs__marker {
   position: absolute;
   bottom: 0;
   z-index: 1;
}

.controls-Tabs__marker_animation {
   transition: left 125ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, right 125ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, width 125ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.controls-Tabs__marker_thickness-s {
   height: var(--marker_thickness_tabs);
}
.controls-Tabs__marker_thickness-l {
   height: var(--marker_hover_thickness-l_tabs);
}

.controls-Tabs__marker_style-primary {
   background: var(--primary_marker_color_tabs);
}

.controls-Tabs__marker_style-unaccented {
   background: var(--text-color);
}

.controls-Tabs__marker_style-secondary {
   background: var(--secondary_marker_color_tabs);
}

.controls-Tabs__main-marker {
   &:after {
      content: '';
      pointer-events: none;
      position: absolute;
      left: calc(-1 * var(--padding-horizontal_tabs));
      height: var(--main-tab-marker_length_tabs);
      width: var(--main-tab-marker_thickness_tabs);
      background: var(--primary_marker_color_tabs);
      border-radius: 0 var(--main-tab-marker_border-radius_tabs) var(--main-tab-marker_border-radius_tabs) 0;
   }
   &-s {
      &:after {
         top: calc(50%~'-'(var(--main-tab-marker_length_tabs) / 2) ~'-'var(--marker_thickness_tabs));
      }
   }
   &-l {
      &:after {
         // из-за того, что браузер округляет значения в меньшую сторону, теряется 1px, поэтому добавляем его
         top: calc(50%~'-'(var(--main-tab-marker_length_tabs) / 2) ~'-'var(--marker_thickness-l_tabs) ~'+' 1px);
      }
   }
}

.controls-Tabs__item_overflow {
   overflow: hidden;
   text-overflow: ellipsis;
   max-width: 100%;
   display: inline-block;
   white-space: nowrap;
   height: 100%;
}

//TODO: удалить этот стиль для фото над табами оп задаче https://online.sbis.ru/opendoc.html?guid=c54eee1c-0578-4047-b3e8-666f078a3ae8
.controls-Tabs__item_type_photo {
   padding: 0;
   .align-items(flex-end);

   &:before {
      content: '';
   }
}

.controls-Tabs__content_heading {
   font-weight: bold;
   color: var(--secondary_text-color_heading);
   font-size: var(--font-size_3xl);
}

.controls-Tabs__content_heading_state_selected {
   font-weight: bold;
   color: var(--primary_text-color_heading);
   font-size: var(--font-size_3xl);
}

.controls-Tabs__content_text {
   color: var(--text-color);
   font-size: var(--font-size_l);
}

.controls-Tabs__content_additionaltext {
   color: var(--unaccented_text-color);
   font-size: var(--font-size_l);
}

.controls-AdaptiveButtons {
   width: 100%;
}

.controls-Tabs__overlay {
   position: absolute;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
}

.controls-AdaptiveButtons__more {
   display: inline-flex;
   color: var(--link_text-color);
   cursor: pointer;
   align-items: baseline;
   flex-shrink: 0;
}

.controls-AdaptiveButtons__more:hover {
   color: var(--link_hover_text-color);
   text-decoration: underline;
}

.controls-AdaptiveButtons__item {
   min-width: 26px;
}

.controls-AdaptiveButtons__more_align_right {
   margin-right: var(--offset_xs);
}

.controls-AdaptiveButtons__more_align_left {
   margin-left: var(--offset_xs);
}

.controls-Tabs_horizontal-padding-null {
   &_first {
      margin-left: 0;
   }

   &_last {
      margin-right: 0;
   }
}

.tempFix_1180388539.controls-Tabs:after {
   height: 3px;
}

.controls-Tabs_margin-left {
   margin-left: var(--offset_xs);
}

.controls-Tabs_image {
   width: 100%;
   height: 100%;
}
