.ws-is-hover {
   .Controls-rating__item-thumbUp:hover {
      fill: var(--success_icon-color);
      color: var(--success_icon-color);
   }

   .Controls-rating__item-thumbDown:hover {
      fill: var(--danger_icon-color);
      color: var(--danger_icon-color);
   }
}
