.controls-InfoBoxDemo-target {
   margin: 20px;
}

.controls-InfoBoxDemo-rows {
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 20px;
}

.controls-InfoBoxDemo-heading {
   padding: 0 10px;
}
