.pageWrap {
   width: 400px;
   padding-left: 20px;
}

.buttons-block {
   margin-top: 10px;
}

.btn-scroll {
   margin-right: 8px;
}

.controls-BaseControl__loadingIndicatorImage {
    background: url(../../../resources/images/loading_indicator.png) 0 0 no-repeat !important;
}
