.controls-inlineheight-ArrowButton {
   width: var(--inline_height_ArrowButton);
   height: var(--inline_height_ArrowButton);
}

.controls-ArrowButton_icon_direction-down,
.controls-ArrowButton_icon_direction-left {
   transform: rotate(180deg);
}
