.NameSelectorEditor__separator {
   background-clip: content-box;
   background-color: var(--border-color);
   box-sizing: border-box;
   height: 100%;
   margin: 0 var(--offset_2xs);
   padding: var(--offset_2xs) 0;
   user-select: none;
   width: 1px;
   align-self: center;
}

.NameSelectorEditor__confirmButton {
   margin-left: auto;
}
