.NameSelectorEditor {
   &__separator {
      background-clip: content-box;
      background-color: var(--border-color);
      box-sizing: border-box;
      height: 100%;
      margin: 0 var(--offset_xs);
      padding: var(--offset_2xs) 0;
      user-select: none;
      width: var(--border-thickness);
      align-self: center;
   }

   &__confirmButton {
      margin-left: auto;
   }
}
