.controls-OldNotification {
   margin: 0 16px 16px 0; // совместимость, в старом компоненте переменных тоже нет
   &.controls-FloatArea {
      background: transparent;
   }
}

// Перебиваю стили шаблона. Отступы должны задаваться на корне старого окна.
.controls-OldNotification .controls-Notification {
   margin: 0;
}
