// Общие стили для контролов библиотеки

//region Upper case
.controls-heading__uppercase {
   text-transform: uppercase;
}

.controls-heading__uppercase.controls-fontsize-xs,
.controls-heading__uppercase.controls-fontsize-s,
.controls-heading__uppercase.controls-fontsize-m {
   letter-spacing: 1.25px;
}

.controls-heading__uppercase.controls-fontsize-l,
.controls-heading__uppercase.controls-fontsize-xl {
   letter-spacing: 1.5px;
}

.controls-heading__uppercase.controls-fontsize-2xl {
   letter-spacing: 1.75px;
}

.controls-heading__uppercase.controls-fontsize-3xl,
.controls-heading__uppercase.controls-fontsize-4xl,
.controls-heading__uppercase.controls-fontsize-5xl,
.controls-heading__uppercase.controls-fontsize-6xl,
.controls-heading__uppercase.controls-fontsize-7xl {
   letter-spacing: 2px;
}
//endregion
