.controls-WrapURLs_link {
  color: var(--link_text-color);
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
}

.ws-is-hover {
  .controls-WrapURLs_link:hover {
    color: var(--link_hover_text-color);
    text-decoration: underline;
  }
}
