.controls-Lookup__link {
   display: inline-block;
   color: var(--label_text-color);
}

.controls-Lookup__link-inlineheight-default {
   line-height: var(--inline_height_m);
}

.controls-Lookup__link-inlineheight-m {
   line-height: var(--inline_height_m);
}

.controls-Lookup__link-inlineheight-xs {
   line-height: var(--inline_height_xs);
}

.controls-Lookup__link-inlineheight-s {
   line-height: var(--inline_height_s);
}

.controls-Lookup__link-inlineheight-l {
   line-height: var(--inline_height_l);
}

.controls-Lookup__link-inlineheight-xl {
   line-height: var(--inline_height_xl);
}

.controls-Lookup__link-inlineheight-2xl {
   line-height: var(--inline_height_2xl);
}

.controls-fontsize-lookupLink {
   font-size: var(--label_font-size_lookupInput);
}

.controls-Lookup__link-default {
   pointer-events: auto;
   cursor: pointer;
}

.controls-Lookup__link-default:active {
   color: var(--label_hover_text-color);
}

.ws-is-hover {
   .controls-Lookup__link-default:hover {
      color: var(--label_hover_text-color);
   }
}

.controls-Lookup__link__text {
   .text-overflow();
}

.controls-Lookup__link_underline-fixed,
.controls-Lookup__link_underline-hovered:active,
.ws-is-hover .controls-Lookup__link_underline-hovered:hover {
   text-decoration: underline;
}
