@thumb_hover_s_thickness_scrollbar: calc((var(--inline_height_m) / 8) * 2.5);
@scrollbar_l_thickness: calc((var(--inline_height_m) / 6) + 2 * var(--padding_scrollbar));
@scrollbar_hover_l_thickness: calc(((var(--inline_height_m) / 6) * 2.5) + 2 * var(--padding_scrollbar));
@scrollbar_s_thickness: calc((var(--inline_height_m) / 8) + 2 * var(--padding_scrollbar));
@scrollbar_hover_s_thickness: calc(((var(--inline_height_m) / 8) * 2.5) + 2 * var(--padding_scrollbar));

.controls-VScrollbar {
   cursor: pointer;
   display: inline-block;
   .box-sizing();
}

.controls-VScrollbar_vertical {
   transition: width 0.3s ease-in-out;
}

.controls-VScrollbar_vertical_size-s {
   width: @scrollbar_s_thickness;
}

.controls-VScrollbar_vertical_size-l {
   width: @scrollbar_l_thickness;
}

.controls-VScrollbar_horizontal {
   border-width: 0 var(--padding_scrollbar);
   transition: height 0.3s ease-in-out;
}

.controls-VScrollbar_horizontal_size-s {
   height: @scrollbar_s_thickness;
}

.controls-VScrollbar_horizontal_size-l {
   height: @scrollbar_l_thickness;
}

.controls-VScrollbar_horizontal-track {
   display: flex;
   align-items: center;

   &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      height: var(--track_thickness_scrollbar);
      background-color: var(--track_color_scrollbar);
      margin: 0 var(--offset_m);
   }
}

.controls-ColumnScroll_without_offset {
   transform-origin: 50% 0;
}

.controls-VScrollbar_horizontal_margin-top_size-s {
   margin-top: calc(
      -1 * (@scrollbar_s_thickness -
      var(--track_thickness_scrollbar)
         ) / 2
   );
}

.controls-VScrollbar_horizontal_margin-top_size-l {
   margin-top: calc(
      -1 * (@scrollbar_l_thickness -
      var(--track_thickness_scrollbar)
         ) / 2
   );
}

.controls-VScrollbar__thumbWrapper {
   box-sizing: border-box;
   position: relative;
}

.controls-VScrollbar__thumbWrapper_vertical {
   min-height: 36px;
   padding-left: var(--padding_scrollbar);
   padding-right: var(--padding_scrollbar);
}

.controls-VScrollbar__thumbWrapper_horizontal {
   height: 100%;
   transition: padding 0.3s ease-in-out;
   min-width: 70px;
   padding-top: var(--padding_scrollbar);
   padding-bottom: var(--padding_scrollbar);
}

.controls-VScrollbar__thumb_vertical {
   width: 100%;
   height: 100%;
}

.controls-VScrollbar__thumb_size-l,
.controls-VScrollbar__thumb_size-s {
   border-radius: 100px;
}

.controls-VScrollbar__thumb_horizontal {
   min-width: 46px;
   height: 100%;
}

.controls-VScrollbar__thumb__offset_vertical {
   bottom: @scrollbar_hover_l_thickness;
}

.controls-VScrollbar__thumb__offset_horizontal {
   right: @scrollbar_hover_l_thickness;
}

.ws-is-hover {
   .controls-VScrollbar_vertical_size-l:hover {
      width: @scrollbar_hover_l_thickness;
   }

   .controls-VScrollbar_vertical_size-s:hover {
      width: @scrollbar_hover_s_thickness;
   }

   .controls-VScrollbar_horizontal_size-l:hover {
      height: @scrollbar_hover_l_thickness;
   }
}

.controls-VScrollbar_vertical_dragging_size-l {
   width: @scrollbar_hover_l_thickness;
}

.controls-VScrollbar_vertical_dragging_size-s {
   width: @scrollbar_hover_s_thickness;
}

.controls-VScrollbar_horizontal_dragging_size-l {
   height: @scrollbar_hover_l_thickness;
}

/* stylelint-disable */
// при наведении или перемещении увеличиваем только thumb,
// что бы линия посередине не изменялась
// Изменил scale у thumb на padding у thumbWrapper, т.к. при scale не корректно рассчитывается border-radius
.ws-is-hover {
   .controls-VScrollbar_horizontal:hover {
      .controls-VScrollbar__thumbWrapper_size-s {
         padding: calc((@scrollbar_s_thickness -
         ((var(--inline_height_m) / 8) * 2.5)) / 2
            )
            var(--offset_m);
      }
   }
}

.controls-VScrollbar_horizontal_dragging {
   .controls-VScrollbar__thumbWrapper_size-s {
      padding: calc((@scrollbar_s_thickness -
      ((var(--inline_height_m) / 8) * 2.5)) / 2
         )
         var(--offset_m);
   }
}
/* stylelint-enable */

//thumbStyle
.controls-VScrollbar__thumb_accented_vertical {
   background-color: var(--translucent_background-color);
}

.controls-VScrollbar__thumb_unaccented_vertical {
   background-color: var(--secondary_color);
}

/* stylelint-disable-next-line no-duplicate-selectors */
.ws-is-hover {
   .controls-VScrollbar__thumb_unaccented_vertical:hover {
      background-color: var(--secondary_color);
   }

   .controls-VScrollbar__thumb_accented_vertical:hover {
      background-color: var(--translucent_hover_background-color);
   }
}

.controls-VScrollbar__thumb_dragging_accented {
   background-color: var(--translucent_hover_background-color);
}

.controls-VScrollbar__thumb_accented_horizontal {
   background-color: var(--translucent_background-color);
}

.controls-VScrollbar__thumb_unaccented_horizontal {
   background-color: var(--secondary_contrast_background-color);
}

// Сделаем горизотнальный скроллбар чуть более темным в дефолтной теме
// https://online.sbis.ru/open_dialog.html?guid=21f443e4-df84-42a3-9fbc-70f48f92930f&message=cc527430-9e29-432b-95b5-036077802302
.controls_scroll_theme-default {
   .controls-VScrollbar__thumb_accented_horizontal {
      background-color: rgba(0, 0, 0, 0.15);
   }
}

/* stylelint-disable-next-line no-duplicate-selectors */
.ws-is-hover {
   .controls-VScrollbar__thumb_unaccented_horizontal:hover {
      background-color: var(--secondary_contrast_background-color);
   }

   .controls-VScrollbar__thumb_accented_horizontal:hover {
      background-color: var(--translucent_hover_background-color);
   }

   /* stylelint-disable */
   // Сделаем горизотнальный скроллбар чуть более темным в дефолтной теме
   // https://online.sbis.ru/open_dialog.html?guid=21f443e4-df84-42a3-9fbc-70f48f92930f&message=cc527430-9e29-432b-95b5-036077802302
   .controls_scroll_theme-default {
      .controls-VScrollbar__thumb_accented_horizontal:hover {
         background-color: rgba(0, 0, 0, 0.2);
      }
   }
   /* stylelint-enable */
}

.controls-VScrollbar__thumb_dragging_horizontal {
   background-color: var(--translucent_hover_background-color);
}
