// TODO это можно переписать на опцию minHeight, тут не нужна темизация

.controls-GridReact__footer__cell_min-height::before {
   content: '\200b';
   font-size: var(--font-size_xl);
}

.controls-GridReact__footer__cell_min-height {
   min-height: var(--inline_height_m);
}
