.controls-InfoBoxDemo {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: var(--offset_2xl);
}

.controls-InfoBoxDemo-block {
   margin-top: var(--offset_2xl);
   text-align: center;
}

.controls-InfoBoxDemo-targets {
   display: flex;
   flex-wrap: wrap;
   max-width: 1400px;
}

.controls-InfoBoxDemo-target {
   background: #69b0ff;
   color: var(--contrast_text-color);
   display: flex;
   align-items: center;
   justify-content: center;
   margin-right: 160px;
   margin-top: 50px;
   cursor: pointer;
   position: relative;
   text-align: center;
   font-size: var(--font-size_s);
}

.controls-InfoBoxDemo-icon {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: var(--offset_xl);
   cursor: pointer;
   position: relative;
}

.controls-InfoBoxDemo-icon-position {
   position: absolute;
}

.controls-InfoBoxDemo-target-standard {
   width: 70px;
   height: 70px;
}

.controls-InfoBoxDemo-target:hover {
   background: #489dfc;
}
