.controls-image_border-small {
   border-radius: var(--border-radius_s_image);
}

.controls-image_border-large {
   border-radius: var(--border-radius_m_image);
}

.controls-image_border-round {
   border-radius: 100%;
}
