.ws-link {
   cursor: pointer;
   text-decoration: none;
   background-color: transparent;
   color: var(--link_text-color_inline);
}

.ws-link:active,
.ws-is-hover .ws-link:hover {
   text-decoration: underline;
   color: var(--link_hover_text-color_inline);
}
