/* stylelint-disable saby/non-theme-colors -- это и есть источник цветов */
:root {
   --palette_color1_1: #ff7067;
   --palette_color2_1: #c84e52;
   --palette_color3_1: #d9819e;
   --palette_color4_1: #8b77c0;
   --palette_color5_1: #bf82b8;
   --palette_color6_1: #f0bd65;
   --palette_color7_1: #f0a265;
   --palette_color8_1: #edcd75;
   --palette_color9_1: #ccdb86;
   --palette_color10_1: #9cbb97;
   --palette_color11_1: #70c0cf;
   --palette_color12_1: #618bb8;
   --palette_color13_1: #8a91a8;
   --palette_color1_2: #fe2819;
   --palette_color2_2: #d4090e;
   --palette_color3_2: #ff3075;
   --palette_color4_2: #723eff;
   --palette_color5_2: #f10dd6;
   --palette_color6_2: #ffb126;
   --palette_color7_2: #ff7d05;
   --palette_color8_2: #ffd707;
   --palette_color9_2: #bbe109;
   --palette_color10_2: #14c730;
   --palette_color11_2: #11d1f3;
   --palette_color12_2: #117df3;
   --palette_color13_2: #6c7693;
   --palette_color1_3: #e0564c;
   --palette_color2_3: #e04c50;
   --palette_color3_3: #943253;
   --palette_color4_3: #4c3294;
   --palette_color5_3: #943288;
   --palette_color6_3: #e0ab4c;
   --palette_color7_3: #e0944c;
   --palette_color8_3: #e0b84c;
   --palette_color9_3: #829432;
   --palette_color10_3: #009918;
   --palette_color11_3: #29b5cf;
   --palette_color12_3: #326194;
   --palette_color13_3: #999;
   --palette_color1_4: #ffe1db;
   --palette_color2_4: #fbdfe1;
   --palette_color3_4: #ffdbe7;
   --palette_color4_4: #e1dbff;
   --palette_color5_4: #ffdbf9;
   --palette_color6_4: #fff3db;
   --palette_color7_4: #ffeadb;
   --palette_color8_4: #fffcdb;
   --palette_color9_4: #f9ffdb;
   --palette_color10_4: #dbffe1;
   --palette_color11_4: #dbf9ff;
   --palette_color12_4: #dbedff;
   --palette_color13_4: #d9dbe3;
   --palette_color1_5: #ffe5e5;
   --palette_color2_5: #fee5e6;
   --palette_color3_5: #ffe5ee;
   --palette_color4_5: #f6f2ff;
   --palette_color5_5: #fee5fb;
   --palette_color6_5: #fff6e5;
   --palette_color7_5: #fff2e6;
   --palette_color8_5: #fffbe6;
   --palette_color9_5: #f9fee4;
   --palette_color10_5: #def7e3;
   --palette_color11_5: #e5fbff;
   --palette_color12_5: #e5f1fe;
   --palette_color13_5: #e2e4e9;

   // RGB
   --palette_color2_2_rgb: 212, 9, 14;
   --palette_color3_2_rgb: 255, 48, 117;
   --palette_color4_2_rgb: 114, 62, 255;
   --palette_color7_2_rgb: 255, 125, 5;
   --palette_color12_2_rgb: 17, 125, 243;
   --palette_color8_3_rgb: 224, 184, 76;
   --palette_color10_3_rgb: 0, 153, 24;
   --palette_color11_3_rgb: 41, 181, 207;
   --palette_color1_4_rgb: 255, 180, 178;
   --palette_color3_4_rgb: 255, 178, 204;
   --palette_color4_4_rgb: 208, 191, 255;
   --palette_color6_4_rgb: 255, 230, 184;
   --palette_color7_4_rgb: 255, 215, 178;
   --palette_color9_4_rgb: 232, 247, 169;
   --palette_color11_4_rgb: 178, 242, 255;
   --palette_color12_4_rgb: 179, 215, 255;
   --palette_color12_5_rgb: 229, 241, 254;
}
