/* Стили для смартфонов */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
   /* Видимость элементов */
   .ws-hidden-on-smartphone {
      /* stylelint-disable-next-line declaration-no-important */
      display: none !important;
   }
}

/* Стили для смартфонов в горизонтальной ориентации */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
   /* Видимость элементов */
   .ws-hidden-on-smartphone-landscape {
      /* stylelint-disable-next-line declaration-no-important */
      display: none !important;
   }
}

/* Стили для смартфонов в вертикальной ориентации */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
   /* Видимость элементов */
   .ws-hidden-on-smartphone-portrait {
      /* stylelint-disable-next-line declaration-no-important */
      display: none !important;
   }
}

/* Стили для планшетов */
@media only screen and (min-device-width: 768px) and (max-device-width: 1199px) {
   /* Видимость элементов */
   .ws-hidden-on-tablet {
      /* stylelint-disable-next-line declaration-no-important */
      display: none !important;
   }
}

/* Стили для планшетов в горизонтальной ориентации */
@media only screen and (min-device-width: 768px) and (max-device-width: 1199px) and (orientation: landscape) {
   /* Видимость элементов */
   .ws-hidden-on-tablet-landscape {
      /* stylelint-disable-next-line declaration-no-important */
      display: none !important;
   }
}

/* Стили для планшетов в вертикальной ориентации */
@media only screen and (min-device-width: 768px) and (max-device-width: 1199px) and (orientation: portrait) {
   /* Видимость элементов */
   .ws-hidden-on-tablet-portrait {
      /* stylelint-disable-next-line declaration-no-important */
      display: none !important;
   }
}
