.ControlsTemplates-ChipsItems {
   &_unExpandedWrapper {
      display: flex;
      justify-content: end;
      gap: var(--offset_s);
      height: 100%;
      align-items: center;
   }

   &_border {
      display: flex;
      background: var(--unaccented_background-color);
      border-radius: var(--offset_m);
      padding: var(--offset_2xs) 0;

      &-opacity {
         opacity: 0;
      }
   }
}
