.controlsDemo-CompactDatePicker_height {
   max-height: 398px;
}

.controlsDemo-CompactDatePicker_height__size-l {
   max-height: 542px;
}

.controlsDemo-CompactDatePicker_height_other-themes {
   max-height: 485px;
}

.controlsDemo-CompactDatePicker_height__size-l_other-themes {
   max-height: 697px;
}
