.controls-StackTemplate__rightPanel {
   right: calc(
      (var(--width_stack-right_panel) + var(--border_width_stack-right_panel)) *
         -1
   );
   top: 0;
   height: 100%;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 0;
   justify-content: flex-start;
   min-width: 1px;
   width: var(--width_stack-right_panel);
   background-color: var(--unaccented_background-color);
   border-left: var(--border_width_stack-right_panel) solid;
   align-items: center;
}

.controls-StackTemplate__rightPanel-outside {
   position: absolute;
}

// При изменении масштаба есть проблема с отображением правой панели из-за полупикселей, поэтому закрашиваем сами
// https://online.sbis.ru/opendoc.html?guid=32c14859-bab5-4f04-8295-8ac49c53940e&client=3
.controls-StackTemplate__rightPanel-outside::before {
   content: '\200b';
   background: var(--unaccented_background-color);
   height: 100%;
   width: var(--offset_xs);
   right: calc(var(--width_stack-right_panel) - var(--offset_3xs));
   position: absolute;
   top: 0;
   z-index: -1;
}

.controls-StackTemplate__rightBorder {
   &_visible {
      border-color: var(--border-color_right-panel-stack);
   }

   &_hided {
      border-color: var(--unaccented_background-color);
   }
}

// todo: убрать после доработки кнопки по https://online.sbis.ru/opendoc.html?guid=b94c7204-28b3-4a3a-a408-0864f1d5ae3f
.ws-is-hover
   .controls-stack-Button__rightPanel__close.controls-Button_filled_style-unaccented:hover {
   background-color: var(--unaccented_contrast_background-color);
   border-color: var(--unaccented_contrast_background-color);
}

.ws-is-hover
   .controls-stack-Button__rightPanel__close:hover
   .controls-icon_style-label {
   color: var(--close-button_hover_icon-color_stack);
}

.controls-stack-Button__rightPanel__close.controls-Button_filled {
   box-shadow: none;
}

.controls-StackTemplate__rightPanel-wrapper {
   min-height: 0;
   height: 100%;
}
