.controls-Compatible.controls-NotificationPopup {
   border: none;
   max-width: var(--width_l_confirmation);
}

.controls-Notification__compound {
   .controls-Notification__closeButton {
      top: 0;
      right: 0;
      display: flex;
      align-items: flex-end;
      width: calc(
         var(--width_closeButton_link) +
            var(--close-button_offset-right_notification)
      );
      height: calc(
         var(--height_closeButton_link) +
            var(--close-button_offset-top_notification)
      );
   }
}

.controls-Notification__compound.controls-Notification {
   background: var(--background-color);
}

.controls-Compatible_template {
   max-width: 450px;
}
