.controlsDemo_IsolatedGroup__stickyBlockWrapper {
   display: contents;
}

.controlsDemo_IsolatedGroup__contentBlock {
   margin: var(--offset_xl);
   padding: var(--offset_st);
   border-radius: var(--border-radius_m);
   box-shadow: var(--box-shadow_block);
}
