<Controls-demo.PropertyGrid.PropertyGridWrapper
        description="{{_metaData}}"
        dataObject="{{_dataObject}}"
        componentOpt="{{_componentOptions}}"
        content="{{_content}}"
        eventType="{{_eventType}}"
        componentClass="{{_componentClass}}"
        nameOption="{{_nameOption}}">
</Controls-demo.PropertyGrid.PropertyGridWrapper>