.ControlsDemo-Markup__error {
   color: #f00;
}

.ControlsDemo-Markup__block {
   margin: 5px 15px;
}

.controls-Highlight_found {
   background-color: var(--text_background-color_decoratorHighlight);
}

.controlsDemo-Markup__control {
   margin-left: 6px;
}
