.controls-ActionsListEditor_heading-caption {
   display: flex;
   align-items: center;
}

.controls-Action__heading {
   text-transform: uppercase;
}

.controls-Action__heading-separator {
   width: 100%;
   height: var(--border-thickness);
   background-color: var(--border-color);
}

.controls-Action__header-wrapper {
   justify-content: space-between;
   flex-grow: 1;
}

.controls-Action__header-button {
   width: 100%;
}

.controls-ActionsListEditor__icon {
   --container_border-width_button_local: 0;
   --container_inline-height_button_local: var(--icon-size_m);
}
