@import 'Controls-default-theme/_new-mixins';

.demo-BreadCrumbs__wrapper {
   width: 1700px;
}

.demo-PersonInfo__name {
   font-weight: var(--font-weight-bold);
   font-size: 15px;
}

.demo-PersonInfo__phone {
   font-size: 15px;
   color: var(--unaccented_color);
   margin-left: 8px;
}

.demo-PersonInfo__department {
   font-size: 17px;
}

.demo-PersonInfo__position,
.demo-PersonInfo__head,
.demo-PersonInfo__countOfEmployees {
   color: var(--readonly_text-color);
}

.demo-Overdue {
   color: var(--danger_color);
}

.demo-PersonInfo__head {
   margin-left: 8px;
}

.demo-PersonInfo__icon {
   .icon();
}

.demo-PersonInfo__likesIcon {
   color: #72be44;
}

.demo-PersonInfo__photo {
   display: inline-block;
   align-self: center;
   margin-right: 6px;
   border-radius: 6px;
   max-width: 40px;
   min-width: 40px;
   max-height: 40px;
   min-height: 40px;
}

.demo-PersonInfo__row {
   display: inline-block;
   width: 100%;
}

.demo-PersonInfo {
   display: flex;
   align-items: baseline;
   width: 100%;
}

.demo-SeventhExample__headerWrapper {
   margin-left: var(--header_padding-left_stack);
   margin-top: var(--close-button_offset-top_stack);
   width: 100%;
}

.demo-SeventhExample__header {
   font-size: var(--font-size_xs);
   color: var(--label_text-color);
}

.demo-SeventhExample__firstRow {
   display: flex;
   align-items: baseline;
   width: 100%;
}

.demo-SeventhExample__toolbar {
   margin-left: auto;
}

.demo-BreadCrumbs__example {
   padding: 20px 0;
}

.demo-BreadCrumbs__example_narrow {
   width: 250px;
   outline: 1px dotted #000;
   padding: 5px 0;
}

.controlsDemo-BreadCrumbs__withoutHeaders {
   width: 800px;
}
