.controls-Graphs-editors__dataSetFieldSeriesDesignTimeEditor {
   position: relative;
   z-index: 2;
   background-color: transparent;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;

   &_headerPlace {
      background-color: transparent;
      width: 100%;
      height: var(--inline_height_2xl);
   }

   &_graphPlace {
      background-color: var(--background-color);
      width: 100%;
      height: 100%;
   }

   &_textContent {
      position: absolute;
      top: 50%;
      width: 100%;
      transform: translateY(-50%);
      text-align: center;
   }

   &_linkText {
      white-space: pre-wrap;
      cursor: pointer;
      user-select: none;
      color: var(--link_text-color);
      font-size: var(--font-size_m);
      font-weight: normal;

      .ws-is-hover &:hover,
      .ws-is-active &:active {
         text-decoration: underline;
      }
   }
}
