.controlsGraphsEditors-roundChartDiagramEditor__chips {
   font-family: var(--font-family);
}

.controlsGraphsEditors-roundChartDiagramEditor__editorsGrid {
   grid-row-gap: var(--offset_s);
   grid-template-rows: var(--inline_height_m) var(--inline_height_m);
   grid-template-columns: 1fr 1fr;
   align-items: baseline;
   display: grid;
   overflow: hidden;
   margin-top: var(--offset_s);
}

.controlsGraphsEditors__separator {
   background-color: var(--border-color);
   margin: var(--offset_2xs) 0 calc(var(--offset_s) + var(--offset_2xs)) 0;
   height: 1px;
}
