.extControls-ColorPicker__wrapper.controlsGraphsEditors__colorPickerButton {
   width: var(--inline_height_l);
   height: var(--inline_height_s);
}

.controlsGraphsEditors__seriesEditor__row {
   display: grid;
   grid-template-columns: 2fr 1fr 1fr;
}
