.ControlsDemo-HorizontalLeaves_node {
   display: block;
}

.ControlsDemo-HorizontalLeaves_nodeTitle {
   font-weight: bold;
   font-size: var(--font-size_xl);
   color: var(--info_text-color);
}

.ControlsDemo-HorizontalLeaves_leaf {
   width: calc(50% - var(--item_padding-left_default_list));
}

.ControlsDemo-HorizontalLeaves_leafWrapper {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.ControlsDemo-HorizontalLeaves_leafTitle {
   text-align: center;
}

.ControlsDemo-HorizontalLeaves_leafImage {
   height: 150px;
   width: 100%;
}

.ControlsDemo-HorizontalLeaves_leafStatus {
   text-align: right;
   font-size: var(--font-size_xs);
   color: var(--link_text-color);
}
