.controls-recordsetEditor_addButton_padding-left {
   padding-left: var(--outer_padding, var(--offset_m));
}

.controls-recordsetEditor_title {
   font-weight: bold;
   margin-right: var(--offset_s);
}
