.controls-recordsetEditor_addButton_margin-left {
   margin-left: var(--offset_s);
}

.controls-recordsetEditor_header-title_bold {
   font-weight: bold;
   font-size: var(--font-size_l);
}

.controls-recordsetEditor_header {
   grid-template-columns: 1fr max-content;
   grid-auto-flow: row;
   margin-bottom: var(--offset_s);
}

.controls-recordsetEditor_expander-button {
   gap: var(--offset_3xs);
}

.controls-recordsetEditor_stack {
   padding-left: var(--outer_padding);
   padding-right: var(--offset_st);
   padding-top: var(--offset_s);
   padding-bottom: var(--offset_s);
}
