.myComponent {
   width: 300px;
   height: 300px;
   border: var(--border-thickness) solid var(--unaccented_border-color);
   box-sizing: border-box;
   padding: var(--offset_s);
}

.myComponent__first {
   border: var(--border-thickness) dashed var(--unaccented_border-color);
   box-sizing: border-box;
   height: 75px;
   width: 280px;
   padding: var(--offset_2xs);
}

.MyToolbar {
   height: var(--inline_height_xl);
   padding: var(--offset_2xs) 0;
   box-sizing: border-box;
   margin-top: var(--offset_m);
   background: var(--secondary_background-color);
   display: flex;
}
