.example-Base {
   width: 100%;
}

.example-Base__title {
   color: #273747;
   padding: 40px 0;
   font-size: 24px;
}

.example-Base__specify {
   color: var(--unaccented_hover_text-color);
   padding-bottom: 10px;
}

.example-Base__specify_detached {
   padding-top: 10px;
}

.example-Base_footerSpacing {
   margin-bottom: 40px;
}

.example-Base__wrapper {
   display: flex;
   flex-direction: column;
}

.example-Base_full {
   width: 100%;
}
