// Прицел - перекрестие
@crossLineVerticalZIndex: @scrollableStickiedHeaderCell;
@crossLineHorizontalZIndex: @scrollableStickiedHeaderCell - 1;
@selectionHighlightIndex: 2;
@selectionResizerIndex: @selectionHighlightIndex + 1;
