// Прицел - перекрестие
@crossLineVerticalZIndex: @scrollableStickiedHeaderCell;
@crossLineHorizontalZIndex: @scrollableStickiedHeaderCell - 1;
@selectionCheckboxIndex: 2;
@selectionResizerIndex: @selectionCheckboxIndex + 1;
