<Controls-demo.Popup.Opener.OpenersPGWrapper
        description="{{_metaData}}"
        dataObject="{{_dataObject}}"
        componentOpt="{{_componentOptions}}"
        content="{{_content}}"
        dialogResult="{{_dialogResult}}"
        nameOpener="{{_nameOpener}}"
        eventType="{{_eventType}}"
        nameOption="{{_nameOption}}">
</Controls-demo.Popup.Opener.OpenersPGWrapper>
