.controls-BreadCrumbsMultiline__wrapper {
   display: flex;
   flex-direction: column;
   overflow: hidden;
   max-height: calc(var(--height_breadcrumbsView) * 2);
   width: 100%;
}

.controls-BreadCrumbsMultiline__item {
   display: inline-block;
}

.controls-BreadCrumbsMultiline {
   width: 100%;
}
