.controls-FilterEditors__numberRange {
   display: flex;
   flex-direction: row;
   align-items: baseline;
}

.controls-FilterEditors__numberRange-editor {
   width: 100%;
   margin: 0 var(--offset_xs);
}
