.demo-News {
   width: 500px;
}

.demo-News__item {
   display: flex;
   padding: 8px 0 3px;
   flex-direction: column;
}

.demo-News__banner {
   height: 70px;
   margin-top: -6px;
   margin-bottom: 12px;
}

.demo-News__header {
   display: flex;
   align-items: center;
   height: 24px;
   padding: 0 12px;
}

.demo-News__authorPhoto {
   width: 24px;
   height: 24px;
   margin-right: 8px;
}

.demo-News__author {
   margin-right: 8px;
}

.demo-News__orgName,
.demo-News__author {
   font-size: 12px;
   color: var(--label_text-color);
}

.demo-News__date {
   margin-left: auto;
   font-size: 12px;
   color: var(--label_text-color);
}

.demo-News__date_new {
   font-weight: var(--font-weight-bold);
   color: var(--danger_color);
}

.demo-News__content {
   display: flex;
   flex-direction: column;
   padding: 0 12px;
}

.demo-News__title {
   font-size: 18px;
   font-weight: var(--font-weight-bold);
   color: #242942;
   margin-top: 7px;
}

.demo-News__text {
   font-size: 15px;
   margin-top: 5px;
   white-space: pre-wrap;
}

.demo-News__photo {
   margin-top: 7px;
   margin-bottom: 5px;
   width: 100%;
}

.demo-News__footer {
   display: flex;
   align-items: center;
   margin: 0 12px 0 10px;
   height: 32px;
}

.demo-News__viewCount {
   margin-left: auto;
}

.demo-News__itemActions_position {
   top: 8px;
   right: 88px;
}

.demo-News__itemActions_position_withBanner {
   top: 82px;
   right: 88px;
}
