.controls-DateRangeRelationButton_normal {
   color: var(--secondary_icon-color);
}

.controls-DateRangeRelationButton {
   cursor: pointer;
   display: inline-block;
}

.controls-DateRangeRelationButton_byCapacity {
   color: var(--unaccented_icon-color);
}

.ws-is-hover {
   .controls-DateRangeRelationButton_byCapacity:hover {
      color: var(--unaccented_hover_icon-color);
   }

   .controls-DateRangeRelationButton_normal:hover {
      color: var(--secondary_hover_icon-color);
   }
}
