.Controls-Templates-TextRender__text {
   width: 100%;
   box-sizing: border-box;
   white-space: normal;
   position: relative;
   user-select: auto;
}

.controls-Highlight_highlight_contrast {
   background-color: var(--text_background-color_decoratorHighlight_dark);
}

.Controls-Templates-TextRender__text_halign_left {
   text-align: left;
}

.Controls-Templates-TextRender__text_halign_middle {
   text-align: center;
}

.Controls-Templates-TextRender__text_halign_right {
   text-align: right;
}

.Controls-Templates-TextRender__text_lines_1 {
   word-break: break-all;
}
