.controls-FilterPanel__FavoriteEditDialog {
   width: var(--width_filterFavoriteDialog);
}

.controls-FavoriteEditDialog__scroll {
   flex-shrink: 1;
}

.controls-FavoriteEditDialog__textField {
   width: 100%;
   margin-bottom: var(--offset_s);
   flex-shrink: 0;
}

.controls-FavoriteEditDialog__content {
   overflow: hidden;
   margin: var(--content-padding-top_filterFavoriteDialog) var(--offset_m) var(--offset_m)
      var(--header_padding-left_stack);
   display: flex;
   flex-direction: column;
}

.controls-FavoriteEditDialog__selector {
   margin-right: var(--offset_l);
}

.controls-FavoriteEditDialog__deleteButton {
   margin-right: var(--offset_l);
}

.controls-FavoriteEditDialog__itemCaption {
   color: var(--label_text-color);
}

.controls-FavoriteEditDialog__itemContent {
   word-break: break-word;
}
