.controlsDemo-Dropdown_button_scroll {
   height: 100%;
   margin: 0 10px;
}

.controlsDemo__dropdown-button__openUpColumn {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100%;
}

.controlsDemo__dropdown-button__footerContentTemplate {
   margin-left: 12px;
   margin-right: 12px;
}

.controlsDemo-Dropdown_button_openToLeft_column {
   display: flex;
}

.ControlsDemo-Page {
   height: 100%;
}

.controlsDemo-Dropdown_button_gap {
   gap: 10px;
}

.controlsDemo-Dropdown_button_menu-width {
   min-width: 300px;
}
