.search_Input-demo_wrapper {
   padding: 30px;
   height: 500px;
}

.search_Input-demo_search {
   width: 570px;
}

.search-Input-demo__menu {
   padding-left: var(--offset_m);
   align-self: center;
}

.search-Input-demo__menu-wrapper {
   display: flex;
   align-items: baseline;
   height: var(--icon-size_xs);
   line-height: var(--icon-size_xs);
   color: var(--primary_text-color);
}

.ws-is-hover {
   .search-Input-demo__menu-wrapper:hover {
      color: var(--primary_hover_text-color);
   }
}

.search-Input-demo__menu-icon {
   font-weight: var(--font-weight-bold);
   align-self: center;
   padding-top: var(--offset_3xs);
   padding-right: var(--offset_s);
}

.search-Input-demo__menu-text {
   padding-right: var(--offset_3xs);
}

.search-Input-demo__menu-separator {
   width: var(--border-thickness);
   height: 12px;
   background: var(--separator_color);
}

.engineDemo-ExtSearch-suggest {
   width: 300px;
}

.search_Input-demo_button {
   height: var(--inline_height_m);
   padding-right: var(--offset_m);
}

.search-Input-demo_itemTemplate__short {
   width: 70px;
}

.search-Input-demo_itemTemplate__long {
   width: 200px;
}

.engineDemo-ExtSearch-suggest__rightTemplate {
   display: flex;
   flex-direction: row;
}

.engineDemo-ExtSearch-suggest__rightButton {
   margin-right: var(--offset_m);
}
