@import '_glyphs';

@cbucIconsVer: '1.4.3';

@font-face {
   font-family: 'cbuc-icons';
   src: url('/cdn/CbucIcons/@{cbucIconsVer}/cbuc-icons/cbuc-icons.woff2') format('woff2'),
      url('/cdn/CbucIcons-IE/@{cbucIconsVer}/cbuc-icons/cbuc-icons.woff') format('woff'),
      url('/cdn/CbucIcons-IE/@{cbucIconsVer}/cbuc-icons/cbuc-icons.eot');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'cbuc-icons24';
   src: url('/cdn/CbucIcons/@{cbucIconsVer}/cbuc-icons24/cbuc-icons24.woff2') format('woff2'),
      url('/cdn/CbucIcons-IE/@{cbucIconsVer}/cbuc-icons24/cbuc-icons24.woff') format('woff'),
      url('/cdn/CbucIcons-IE/@{cbucIconsVer}/cbuc-icons24/cbuc-icons24.eot');
   font-weight: normal;
   font-style: normal;
}
