@import '_glyphs';

@cbucIconsVer: '1.4.4';

@font-face {
   font-family: 'cbuc-icons';
   src: url('%{CDN_ROOT}CbucIcons/@{cbucIconsVer}/cbuc-icons/cbuc-icons.woff2') format('woff2'),
      url('%{CDN_ROOT}CbucIcons-IE/@{cbucIconsVer}/cbuc-icons/cbuc-icons.woff') format('woff'),
      url('%{CDN_ROOT}CbucIcons-IE/@{cbucIconsVer}/cbuc-icons/cbuc-icons.eot');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'cbuc-icons24';
   src: url('%{CDN_ROOT}CbucIcons/@{cbucIconsVer}/cbuc-icons24/cbuc-icons24.woff2') format('woff2'),
      url('%{CDN_ROOT}CbucIcons-IE/@{cbucIconsVer}/cbuc-icons24/cbuc-icons24.woff') format('woff'),
      url('%{CDN_ROOT}CbucIcons-IE/@{cbucIconsVer}/cbuc-icons24/cbuc-icons24.eot');
   font-weight: normal;
   font-style: normal;
}
