@MaisonNeueVerison: '1.0.4';

@font-face {
   font-family: 'Maison Neue';
   src: url('%{CDN_ROOT}MaisonNeue/@{MaisonNeueVerison}/MaisonNeue/MaisonNeue.woff2') format('woff2'),
      url('%{CDN_ROOT}MaisonNeue-IE/@{MaisonNeueVerison}/MaisonNeue/MaisonNeue.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Maison Neue';
   src: url('%{CDN_ROOT}MaisonNeue/@{MaisonNeueVerison}/MaisonNeueBold/MaisonNeueBold.woff2')
         format('woff2'),
      url('%{CDN_ROOT}MaisonNeue-IE/@{MaisonNeueVerison}/MaisonNeueBold/MaisonNeueBold.woff')
         format('woff');
   font-weight: bold;
   font-style: normal;
}

@font-face {
   font-family: 'Maison Neue';
   src: url('%{CDN_ROOT}MaisonNeue/@{MaisonNeueVerison}/MaisonNeueItalic/MaisonNeueItalic.woff2')
         format('woff2'),
      url('%{CDN_ROOT}MaisonNeue-IE/@{MaisonNeueVerison}/MaisonNeueItalic/MaisonNeueItalic.woff')
         format('woff');
   font-weight: normal;
   font-style: italic;
}

@font-face {
   font-family: 'Maison Neue';
   src: url('%{CDN_ROOT}MaisonNeue/@{MaisonNeueVerison}/MaisonNeueBoldItalic/MaisonNeueBoldItalic.woff2')
         format('woff2'),
      url('%{CDN_ROOT}MaisonNeue-IE/@{MaisonNeueVerison}/MaisonNeueBoldItalic/MaisonNeueBoldItalic.woff')
         format('woff');
   font-weight: bold;
   font-style: italic;
}

@font-face {
   font-family: 'Maison Neue Extended';
   src: url('%{CDN_ROOT}MaisonNeue/@{MaisonNeueVerison}/MaisonNeueExtendedRegular/MaisonSABYSBI-hint.woff2')
         format('woff2'),
      url('%{CDN_ROOT}MaisonNeue-IE/@{MaisonNeueVerison}/MaisonNeueExtendedBook/MaisonNeueExtendedBook.woff')
         format('woff');
   font-weight: normal;
   font-style: normal;
   // s a b y с б и
   unicode-range: U+61-62, U+73, U+79, U+431, U+438, U+441;
}

@font-face {
   font-family: 'Maison Neue Extended';
   src: url('%{CDN_ROOT}MaisonNeue/@{MaisonNeueVerison}/MaisonNeueExtendedRegular/MaisonRUEN-hint.woff2')
         format('woff2'),
      url('%{CDN_ROOT}MaisonNeue-IE/@{MaisonNeueVerison}/MaisonNeueExtendedBook/MaisonNeueExtendedBook.woff')
         format('woff');
   font-weight: normal;
   font-style: normal;
   // A-Z a-z А-Я а-я без s a b y с б и
   unicode-range: U+41-5a, U+63-72, U+74-78, U+7a, U+410-430, U+432-437, U+439-440, U+442-451;
}

@font-face {
   font-family: 'Maison Neue Extended';
   src: url('%{CDN_ROOT}MaisonNeue/@{MaisonNeueVerison}/MaisonNeueExtendedRegular/MaisonOther-hint.woff2')
         format('woff2'),
      url('%{CDN_ROOT}MaisonNeue-IE/@{MaisonNeueVerison}/MaisonNeueExtendedBook/MaisonNeueExtendedBook.woff')
         format('woff');
   font-weight: normal;
   font-style: normal;
   // остальные буквы
   unicode-range: U+d, U+20-40, U+5b-60, U+7b-7e, U+a0-b4, U+b6-131, U+134-148, U+14a-17f, U+18e-18f,
      U+192, U+1a0-1a1, U+1af-1b0, U+1cd-1dc, U+1de-1df, U+1fa-1ff, U+218-21b, U+228-229, U+237,
      U+258-259, U+2bb-2bc, U+2c6-2c7, U+2d8-2dd, U+300-304, U+306-30c, U+312, U+31b, U+323,
      U+326-328, U+335-338, U+394, U+3a9, U+3bc, U+3c0, U+400-40f, U+452-45f, U+490-493, U+49a-49b,
      U+4a2-4a3, U+4ae-4b1, U+4ba-4bb, U+4c0, U+4cf, U+4d8-4d9, U+4e2-4e3, U+4e8-4e9, U+e3f,
      U+1e04-1e05, U+1e0c-1e0d, U+1e24-1e25, U+1e36-1e37, U+1e44-1e47, U+1e4c-1e4d, U+1e62-1e63,
      U+1e6c-1e6d, U+1e80-1e85, U+1e92-1e93, U+1e9e, U+1ea0-1ef9, U+2000-200b, U+2013-2014,
      U+2018-201a, U+201c-201e, U+2020-2022, U+2026, U+202f-2030, U+2032-2033, U+2039-203a, U+2044,
      U+205f, U+2070, U+2074-207b, U+2080-2089, U+20a8-20a9, U+20ab-20ac, U+20ae, U+20b4, U+20b8,
      U+20ba, U+20bc-20bd, U+20bf, U+2116-2117, U+2122, U+2153-2154, U+215b-215e, U+2190-2199,
      U+21b3, U+2202, U+2205, U+220f, U+2211-2212, U+221a, U+221e, U+222b, U+2248, U+2260,
      U+2264-2265, U+25ca, U+f8ff, U+fb01-fb02, U+feff;
}

@font-face {
   font-family: 'Maison Neue Extended';
   src: url('%{CDN_ROOT}MaisonNeue/@{MaisonNeueVerison}/MaisonNeueExtendedBold/Maison_az-hint.woff2')
         format('woff2'),
      url('%{CDN_ROOT}MaisonNeue-IE/@{MaisonNeueVerison}/MaisonNeueExtendedDemi/MaisonNeueExtendedDemi.woff')
         format('woff');
   font-weight: bold;
   font-style: normal;
   unicode-range: U+61-7a;
}

@font-face {
   font-family: 'Maison Neue Extended';
   src: url('%{CDN_ROOT}MaisonNeue/@{MaisonNeueVerison}/MaisonNeueExtendedBold/MaisonRUEN_wo_az-hint.woff2')
         format('woff2'),
      url('%{CDN_ROOT}MaisonNeue-IE/@{MaisonNeueVerison}/MaisonNeueExtendedDemi/MaisonNeueExtendedDemi.woff')
         format('woff');
   font-weight: bold;
   font-style: normal;
   unicode-range: U+41-5a, U+410-451;
}

@font-face {
   font-family: 'Maison Neue Extended';
   src: url('%{CDN_ROOT}MaisonNeue/@{MaisonNeueVerison}/MaisonNeueExtendedBold/MaisonOther-hint.woff2')
         format('woff2'),
      url('%{CDN_ROOT}MaisonNeue-IE/@{MaisonNeueVerison}/MaisonNeueExtendedDemi/MaisonNeueExtendedDemi.woff')
         format('woff');
   font-weight: bold;
   font-style: normal;
   unicode-range: U+d, U+20-40, U+5b-60, U+7b-7e, U+a0-b4, U+b6-131, U+134-148, U+14a-17f, U+18e-18f,
      U+192, U+1a0-1a1, U+1af-1b0, U+1cd-1dc, U+1de-1df, U+1fa-1ff, U+218-21b, U+228-229, U+237,
      U+258-259, U+2bb-2bc, U+2c6-2c7, U+2d8-2dd, U+300-304, U+306-30c, U+312, U+31b, U+323,
      U+326-328, U+335-338, U+394, U+3a9, U+3bc, U+3c0, U+400-40f, U+452-45f, U+490-493, U+49a-49b,
      U+4a2-4a3, U+4ae-4b1, U+4ba-4bb, U+4c0, U+4cf, U+4d8-4d9, U+4e2-4e3, U+4e8-4e9, U+e3f,
      U+1e04-1e05, U+1e0c-1e0d, U+1e24-1e25, U+1e36-1e37, U+1e44-1e47, U+1e4c-1e4d, U+1e62-1e63,
      U+1e6c-1e6d, U+1e80-1e85, U+1e92-1e93, U+1e9e, U+1ea0-1ef9, U+2000-200b, U+2013-2014,
      U+2018-201a, U+201c-201e, U+2020-2022, U+2026, U+202f-2030, U+2032-2033, U+2039-203a, U+2044,
      U+205f, U+2070, U+2074-207b, U+2080-2089, U+20a8-20a9, U+20ab-20ac, U+20ae, U+20b4, U+20b8,
      U+20ba, U+20bc-20bd, U+20bf, U+2116-2117, U+2122, U+2153-2154, U+215b-215e, U+2190-2199,
      U+21b3, U+2202, U+2205, U+220f, U+2211-2212, U+221a, U+221e, U+222b, U+2248, U+2260,
      U+2264-2265, U+25ca, U+f8ff, U+fb01-fb02, U+feff;
}
