@robotoMonoVer: '1.0.0';

@font-face {
   font-family: 'Roboto Mono';
   font-style: normal;
   font-weight: 100 700;
   font-display: swap;
   src: url('%{CDN_ROOT}RobotoMono/@{robotoMonoVer}/RobotoMono-VariableFont_wght.woff2') format('woff2');
}

@font-face {
   font-family: 'Roboto Mono';
   font-style: italic;
   font-weight: 100 700;
   font-display: swap;
   src: url('%{CDN_ROOT}RobotoMono/@{robotoMonoVer}/RobotoMono-Italic-VariableFont_wght.woff2')
      format('woff2');
}
