@tensorFontForIE: '1.0.3';
@tensorFontVer: '1.0.3';
@emojiFontVer: '1.0.2';

@font-face {
   font-family: 'EmojiFont';
   src: url('/cdn/EmojiFont/@{emojiFontVer}/EmojiFont.woff2') format('woff2'),
      url('/cdn/EmojiFont-IE/@{emojiFontVer}/EmojiFont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'TensorFont';
   src: url('/cdn/TensorFont/@{tensorFontVer}/TensorFont/TensorFont.woff2') format('woff2'),
      url('/cdn/TensorFont-IE/@{tensorFontVer}/TensorFont/TensorFont.eot');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'TensorFont';
   src: url('/cdn/TensorFont/@{tensorFontVer}/TensorFontBold/TensorFontBold.woff2') format('woff2'),
      url('/cdn/TensorFont-IE/@{tensorFontVer}/TensorFontBold/TensorFontBold.eot');
   font-weight: bold;
   font-style: normal;
}

@font-face {
   font-family: 'TensorFont';
   src: url('/cdn/TensorFont/@{tensorFontVer}/TensorFontBoldItalic/TensorFontBoldItalic.woff2')
         format('woff2'),
      url('/cdn/TensorFont-IE/@{tensorFontVer}/TensorFontBoldItalic/TensorFontBoldItalic.eot');
   font-weight: bold;
   font-style: italic;
}

@font-face {
   font-family: 'TensorFont';
   src: url('/cdn/TensorFont/@{tensorFontVer}/TensorFontItalic/TensorFontItalic.woff2')
         format('woff2'),
      url('/cdn/TensorFont-IE/@{tensorFontVer}/TensorFontItalic/TensorFontItalic.eot');
   font-weight: normal;
   font-style: italic;
}
