.controlsDemo-LinkView__pageWrap {
   padding-top: 50px;
}

.controlsDemo-LinkView__content {
   display: flex;
   flex-wrap: wrap;
   margin: 0 70px;
}

.controlsDemo-LinkView__componentWrap {
   justify-content: space-around;
   align-items: baseline;
}

.controlsDemo-LinkView__pageBlock-baseline {
   justify-content: center;
   align-items: baseline;
   padding-top: 30px;
}

.controlsDemo-LinkView__pageBlock-baseline-size {
   line-height: 24px;
   font-size: 24px;
}

.controlsDemo-LinkView__component {
   margin-right: 10px;
}
