.controlsDemo-RageLink__PageWrap {
   padding-top: 50px;
}

.controlsDemo-RageLink__content {
   display: flex;
   flex-wrap: wrap;
   margin: 0 70px;
}

.controlsDemo-RageLink__componentWrap {
   text-align: center;
   flex: 1;
   margin-bottom: 100px;
   min-width: 150px;
}

.controlsDemo-RageLink__componentWrap__selector-container {
   min-width: 150px;
   display: inline-flex;
}
