.controls-demo_svgIcons {
   display: flex;
}

.controls-demo-svg_container {
   min-height: 32px;
   margin-bottom: 8px;
}

.controls-demo_button_margin {
   margin: 0 6px 12px 0;
}

.controls-demo_button_wrapper {
   margin: 12px 20px 0;
}

.controls-demo_svg-icon_baseline {
   margin-bottom: -0.125em;
}
