.controls-LookupEditor {
   cursor: pointer;
   overflow: hidden;
   text-overflow: ellipsis;
}

.controls-LookupEditor__item.controls-SelectedCollection__item {
   display: inline;
}

.controls-LookupEditor-container {
   line-height: var(--inline_height_s);
}

.controls-LookupEditor__collection.controls-SelectedCollection__collection_multiLine {
   display: -webkit-box;
   margin: var(--offset_3xs) 0;
}
