.controls-Render {
   contain: style;
   position: relative;
   display: inline-block;
   box-sizing: border-box;
   border-style: var(--border-style_inputText);
   border-width: 0;
}

.controls-Render__wrapper_footer {
   flex-wrap: wrap;
}

.controls-Render_border-top::before,
.controls-Render_border-bottom::after {
   content: '\200b';
   position: absolute;
   height: var(--border-thickness);
   left: 0;
   right: 0;
   pointer-events: none;
}

.controls-Render_border-top::before {
   top: 0;
   background: var(--border-color);
}

.controls-Render_border-bottom::after {
   bottom: 0;
   background: var(--unaccented_border-color);
}

// на mac есть проблема со скролом, если есть рамка.
// Поэтому отображаем рамку через position: fixed, и говорим относительно чего отображаться
// https://online.sbis.ru/opendoc.html?guid=872fc1ac-ca55-4f82-aa3f-7b8eaf7a4b43&client=3
.ws-is-mac {
   .controls-Render_border-top,
   .controls-Render_border-bottom {
      transform: translateZ(0);

      &::before,
      &::after {
         position: fixed;
      }
   }
}

/**
 * https://github.com/philipwalton/flexbugs#flexbug-6
 */
.controls-Render__field {
   flex-shrink: 1;
   flex-grow: 1;
}

/**
 * Если задан placeholder и он строка, то задаем z-index. Это нужно для того, чтобы каретка отображалась над текстом
 */
.controls-Render__field_zIndex {
   z-index: 0;
}

/**
 * In ie11, container sizes are ignored if it can be compressed. Specify explicitly not to compress the container.
 */
.controls-Render__beforeField,
.controls-Render__afterField {
   flex-shrink: 0;
}

.controls-Render_multiline {
   height: auto;
}

/**
 * Problem: The container in IE does not stretch the content.
 * Fix: Use overflow-y: auto.
 * Remark: Not use min-height to avoid crossing, because the parent can redefine.
 */
.ws-is-ie .controls-Render_multiline {
   overflow-y: auto;
}

.controls-Render__wrapper {
   width: 100%;
   height: 100%;
   max-height: inherit;

   /**
    * Use inline-flex, that would be in ie not to break the baseline in due to overflow inside the container.
    */
   display: inline-flex;
   align-items: baseline;
}

.controls-Render__baseline {
   height: 100%;
   display: flex;
   user-select: none;
   align-items: center;
}

.controls-Render__fullHeight {
   height: 100%;
}

.controls-Render__placeholder {
   color: var(--placeholder-color_inputText);
   font-weight: normal;
}

.controls-Render__placeholder_overflow {
   .text-overflow();
}

.controls-Render_background-contrast.controls-Render_state-valid {
   background-color: var(--background-color_inputText);
}

.controls-Render_state-valid.controls-Render_border-bottom::after {
   background: var(--same_border-color_input);
}

.controls-Render_state-valid.controls-Render_border-bottom_contrast::after {
   background: var(--contrast_border-color_input);
}

.controls-Render_background-contrast.controls-Render_state-invalidAccent {
   background-color: var(--invalid_focus_background-color);
}

.controls-Render_state-invalidAccent::after,
.controls-Render_state-invalidAccent::before {
   background: var(--invalid_border-color);
}

.controls-Render_background-contrast.controls-Render_state-invalid {
   background-color: var(--invalid_background-color_inputText);
}

.controls-Render_state-invalid::after,
.controls-Render_state-invalid::before {
   background: var(--invalid_border-color);
}

.controls-Render_background-contrast.controls-Render_state-success {
   background-color: var(--background-color_inputText);
}

.controls-Render_state-success::after,
.controls-Render_state-success::before {
   background: var(--success_border-color);
}

.controls-Render_background-contrast.controls-Render_state-secondary {
   background-color: var(--background-color_inputText);
}

.controls-Render_state-secondary::after,
.controls-Render_state-secondary::before {
   background: var(--secondary_border-color);
}

.controls-Render_background-contrast.controls-Render_state-warning {
   background-color: var(--background-color_inputText);
}

.controls-Render_state-warning::after,
.controls-Render_state-warning::before {
   background: var(--warning_border-color);
}

.controls-Render_background-contrast.controls-Render_state-readonly {
   background-color: var(--readonly_background-color_inputText);
}

.controls-Render_state-readonly.controls-Render_border-bottom::after {
   background: var(--readonly_border-color);
}

.controls-Render_background-contrast.controls-Render_state-readonly-text-multiline,
.controls-Render_background-contrast.controls-Render_state-readonly-field-multiline {
   background-color: var(--readonly_background-color_inputText);
}

.controls-Render_state-readonly-text-multiline::after,
.controls-Render_state-readonly-text-multiline::before {
   background: transparent;
}

.controls-Render_state-readonly-field-multiline::after {
   background: var(--readonly_border-color);
}

/**
 * Do not use a selector enumeration if at least one uses focus-within.
 * They will not apply!!!
 */
.controls-Render_background-contrast.controls-Render_state-valid:focus-within {
   background-color: var(--background-color_focus_inputText);
}

.controls-Render_state-valid.controls-Render_border-bottom:focus-within::after {
   background: var(--unaccented_hover_border-color);
}

.controls-Render_state-valid.controls-Render_border-bottom_contrast:focus-within::after {
   background: var(--same_border-color_input);
}

.controls-Render_background-contrast.controls-Render_state-invalid:focus-within {
   background-color: var(--background-color_focus_inputText);
}

.controls-Render_state-invalid:focus-within::after {
   background: var(--invalid_border-color);
}

.controls-Render_background-contrast.controls-Render_state-valid-active {
   background-color: var(--background-color_focus_inputText);
}

.controls-Render_state-valid-active.controls-Render_border-bottom::after {
   background: var(--unaccented_hover_border-color);
}

.controls-Render_background-contrast.controls-Render_state-invalid-active {
   background-color: var(--background-color_focus_inputText);
}

.controls-Render_state-invalid-active::after {
   background: var(--invalid_border-color);
}

.controls-Render_state-invalidAccent-active::after {
   background: var(--invalid_border-color);
}

.controls-Render_background-contrast.controls-Render_state-invalidAccent-active {
   background-color: var(--invalid_focus_background-color);
}

.controls-Render_background-contrast.controls-Render_state-invalidAccent-active:focus-within {
   background-color: var(--invalid_focus_background-color);
}

.controls-Render_state-invalidAccent-active:focus-within::after {
   background: var(--invalid_border-color);
}

.controls-Render_textAlign {
   @variants: right, left, center;
   .for(@variants, {
      &-@{_item} {
         text-align: @_item;
      }
   });
}

.controls-Render-focused-item:focus-within::after {
   transition: border-color 0.5s;
   background-color: var(--focused_border-color);
}

.controls-Render_borderRadius {
   border-radius: var(--border-radius_default_inputText);
}

.controls-Render_tag_padding-right {
   right: calc(var(--offset_2xs) * -1);
}

.ws-is-hover {
   .controls-Render_background-contrast.controls-Render_state-valid:hover {
      background-color: var(--background-color_hover_inputText);
   }

   .controls-Render_state-valid.controls-Render_border-bottom:hover::after {
      background: var(--unaccented_hover_border-color);
   }

   .controls-Render_state-valid.controls-Render_border-bottom_contrast:hover::after {
      background: var(--same_border-color_input);
   }

   .controls-Render_state-invalidAccent:hover {
      border-style: var(--invalid_border-style_inputText);
   }

   .controls-Render_state-invalid:hover {
      border-style: var(--invalid_border-style_inputText);
   }

   .controls-Render.controls-Render-focused-item:focus-within::after {
      background-color: var(--focused_border-color);
   }
}

//fontsize
.controls-fontsize-xs.controls-Render-fontsize-xs {
   font-size: var(--font-size_xs_input);
}

.controls-fontsize-s.controls-Render-fontsize-s {
   font-size: var(--font-size_s_input);
}

.controls-fontsize-m.controls-Render-fontsize-m {
   font-size: var(--font-size_m_input);
}

.controls-fontsize-l.controls-Render-fontsize-l {
   font-size: var(--font-size_l);
}

.controls-fontsize-xl.controls-Render-fontsize-xl {
   font-size: var(--font-size_xl);
}

.controls-fontsize-2xl.controls-Render-fontsize-2xl {
   font-size: var(--font-size_2xl);
}

.controls-fontsize-3xl.controls-Render-fontsize-3xl {
   font-size: var(--font-size_3xl);
}

.controls-fontsize-4xl.controls-Render-fontsize-4xl {
   font-size: var(--font-size_4xl);
}

.controls-fontsize-5xl.controls-Render-fontsize-5xl {
   font-size: var(--font-size_5xl);
}

.controls-inlineheight-xs.controls-Render-inlineheight-xs {
   height: var(--inline_height_xs);
   min-height: var(--inline_height_xs);
}

.controls-inlineheight-s.controls-Render-inlineheight-s {
   height: var(--inline_height_s);
   min-height: var(--inline_height_s);
}

.controls-inlineheight-m.controls-Render-inlineheight-m {
   height: var(--inline_height_m);
   min-height: var(--inline_height_m);
}

.controls-inlineheight-l.controls-Render-inlineheight-l {
   height: var(--inline_height_l);
   min-height: var(--inline_height_l);
}

.controls-inlineheight-xl.controls-Render-inlineheight-xl {
   height: var(--inline_height_xl);
   min-height: var(--inline_height_xl);
}

.controls-inlineheight-2xl.controls-Render-inlineheight-2xl {
   height: var(--inline_height_2xl);
   min-height: var(--inline_height_2xl);
}

.controls-inlineheight-default.controls-Render-inlineheight-default {
   height: var(--inline_height_m);
   min-height: var(--inline_height_m);
}

.controls-inlineheight-auto {
   height: auto;
}
