.controlsListsDemo__dynamicGrid {
   width: 100%;
}

.controlsListsDemo__dynamicGrid__scrollContainer {
   height: 1000px;
   width: 1555px;
}

.controlsListsDemo__dynamicGrid__hoursWrapper__hour {
   height: 50px;
}

.controlsListsDemo__dynamicGrid__header {
   display: flex;
   flex-direction: column;
}

.controlsListsDemo__dynamicGrid__header-photo {
   background: var(--success_active_same_background-color);
   height: 100px;
   width: 100px;
   border-radius: 4px;
}

.controlsListsDemo__dynamicGrid__header-fio {
   font-size: 14px;
}
