.controlsDemo-StickyHeader-Mode__headers-wrapper {
   display: contents;
}

// Демка была сделана с гридами, в ИЕ они работают криво.
// В ИЕ стикиХэдеры обёрнуты в дивы, на котором нет классов, приходится до них добираться используя каскады
/* stylelint-disable-next-line selector-max-type */
.controlsDemo-StickyHeader-Mode__headers-wrapper > div {
   width: 50%;
   float: left;
}
