.controlsDemo__decoratorGroup_container {
   width: 60px;
   border: 1px solid var(--unaccented_border-color);
   padding: var(--offset_s);
   border-radius: var(--border-radius_s);
}

.controlsDemo__decoratorGroup_wrapper {
   margin: var(--offset_s);
}
