.controls-PropertyGrid-sizeEditor__inputLabel {
   width: 40%;
   margin-right: var(--offset_l);
   color: var(--label_text-color);
}

.controls-PropertyGrid-sizeEditor__input {
   width: 100%;
}

.controls-PropertyGrid-sizeEditor__input_border {
   border-bottom: solid 1px var(--unaccented_icon-color);
}

.controls-PropertyGrid-sizeEditor__select {
   width: 20px;
}

.controls-PropertyGrid-sizeEditor__offsetLabel {
   margin-bottom: var(--offset_st);
}

.controls-PropertyGrid-sizeEditor__offsetInput {
   gap: 8px;
   display: flex;
   flex-direction: column;
}

.controls-PropertyGrid-sizeEditor_lockIcon__topBorder {
   height: 6px;
   width: 6px;
   border-right: solid var(--border-thickness);
   border-top: solid var(--border-thickness);
   border-top-right-radius: var(--border-radius_3xs);
   border-color: var(--unaccented_icon-color);
}

.controls-PropertyGrid-sizeEditor_lockIcon__bottomBorder {
   height: 6px;
   width: 6px;
   border-right: solid var(--border-thickness);
   border-bottom: solid var(--border-thickness);
   border-bottom-right-radius: var(--border-radius_3xs);
   border-color: var(--unaccented_icon-color);
}

.controls-PropertyGrid-sizeEditor__select_border {
   border-bottom: var(--border-thickness) solid var(--unaccented_border-color);
   box-sizing: border-box;
}
