.controls-Toolbar-horizontal__popup__list {
   margin-top: calc((var(--offset_s) + var(--offset_3xs)) / (-1));
   margin-left: calc(var(--close-button_offset-right_sticky));
}

.controls-Toolbar-vertical__popup__list {
   margin-top: calc((var(--offset_s) + var(--offset_3xs)) / (-1));
   margin-left: calc(var(--width_closeButton_externalButton) / 2);
}
