.ControlsLists-timelineGrid__HolidayComponent-circle {
   width: 4px;
   height: 4px;
   border-radius: 50%;
   background: var(--secondary_color);
}

.ControlsLists-timelineGrid__HolidayIndicator_inHeader {
   position: absolute;
   bottom: var(--offset_2xs);
}

.ws-is-hover .ControlsLists-timelineGrid__HolidayComponent-iconInfo:hover {
   color: var(--secondary_hover_icon-color);
}
