// Классы контейнера, в котором лежит Timeline таблица
.controlsListsDemo__timelineGrid_WI_Base {
   width: 100%;
   max-width: 757px;
}

// Ширина контейнера ,в котором лежит Timeline таблица
.controlsListsDemo__timelineGrid_WI_Base-scrollContainer {
   height: 299px;
   width: 100%;
}

// Цвет фона динамической ячейки выходного дня
.controls-background-timelineDemo_weekend {
   background-color: #fff5f5;
}

// Цвет фона динамической ячейки рабочего дня
.controls-background-timelineDemo_workday {
   background-color: #edf4fc;
}

// Оформление мини-карточки
.controlsListsDemo__timelineGrid_WI_Base-photo {
   min-height: 40px;
   min-width: 40px;
}
