.ControlsDemo__moreButton_wrapper {
   position: relative;
}

.ControlsDemo__moreButton_indicator {
   display: inline-block;
   position: absolute;
   margin-left: 4px;
   top: 9px;
   width: 6px;
   height: 6px;
   border-radius: 3px;
   background-color: var(--primary_color);
}
