.controlsDemo-Sticky__preventOverlapsClassName {
  width: 250px;
  height: 100vh;
  border: 1px dashed #000;
  position: absolute;
  top: 0;
  left: calc(100vw /2 - 250px / 2);
}

.controlsDemo-Sticky__button {
  position: absolute;
  top: 200px;
  z-index: 100;
}

.controlsDemo-Sticky__button1 {
  left: calc((100vw /2 - 250px / 2) - 100px);
}

.controlsDemo-Sticky__button2 {
  left: calc((100vw /2 - 250px / 2) + 90px + 150px);
}