// Checkbox styles
.controls-Grid__row-cell-checkbox-default {
  min-width: var(--click-area_width_checkbox);
  max-width: var(--click-area_width_checkbox);
}

.controls-Grid__row-cell-checkbox-master {
  min-width: var(--icon-size_s);
  max-width: var(--icon-size_s);
}

.controls-Grid__header-cell-checkbox {
  max-width: var(--click-area_width_checkbox);
}
