.controlsDemo-ListFooter-MinHeight__hintColor_platformFooter,
.controlsDemo-ListFooter-MinHeight__hintColor_footerContent,
.controlsDemo-ListFooter-MinHeight__hintColor_list {
   width: 20px;
   height: 20px;
   border-radius: 3px;
}

.controlsDemo-ListFooter-MinHeight__list,
.controlsDemo-ListFooter-MinHeight__hintColor_list {
   outline: 1px solid var(--readonly_border-color);
}

.controls-ListView__footer,
.controlsDemo-ListFooter-MinHeight__hintColor_platformFooter {
   background-color: #8bb8dc;
}

.controlsDemo-ListFooter-MinHeight__hintColor_footerContent,
.controlsDemo-ListFooter-MinHeight__footerContent {
   background-color: #e0e0e0;
}

.controlsDemo-ListFooter-MinHeight__footerContent {
   color: #5d5d5d;
   font-size: 13px;
}
