.ControlsDemo-PopupAnimation_template-task-1 {
   background: url('./task_1.png');
   width: 899px;
   height: 475px;
}

.ControlsDemo-PopupAnimation_template-task-2 {
   background: url('./task_2.png');
   width: 899px;
   height: 664px;
}

.ControlsDemo-PopupAnimation_close {
   position: absolute;
   top: 4px;
   right: 0;
}

.ControlsDemo-PopupAnimation {
   margin: 20px;
}
