.SlidingStackTemplateDemo__image {
   width: 30px;
   height: 30px;
   background-color: var(--danger_icon-color);
   border-radius: var(--border-radius_button);
}

.controlsDemo-SlidingStackTemplate__toolbar {
   margin-top: var(--offset_m);
}

.ws-is-phone {
   .controlsDemo-SlidingStackTemplate__toolbar {
      margin-top: 0;
   }
}
