.ControlsDemo-Explorer {
   width: 800px;
}

.controlsDemo-Explorer-Search__header {
   display: flex;
}

.ControlsDemo-Explorer-Search__optionWrapper {
   margin-left: 40px;
}

.demo-Explorer__options {
   display: flex;
   max-height: 78px;
}

.ControlsDemo-Explorer_search {
   display: flex;
}
