.controls-RangeSelection__selection-start-base,
.controls-RangeSelection__selection-start-hovered,
.controls-RangeSelection__selection-inner,
.controls-RangeSelection__selection-end-base,
.controls-RangeSelection__selection-end-hovered,
.controls-RangeSelection__selection-start-base-hovered,
.controls-RangeSelection__selection-start,
.controls-RangeSelection__selected-start,
.controls-RangeSelection__selected-start-hovered,
.controls-RangeSelection__selected-inner,
.controls-RangeSelection__selected-inner-hovered,
.controls-RangeSelection__selection-end,
.controls-RangeSelection__selected-end,
.controls-RangeSelection__selected-end-hovered {
   outline: var(--yearlist_monthview_item_selected_border-color_datePicker)
      solid var(--yearlist_monthview_selection-border_thickness_datePicker);
}

.controls-RangeSelection__selection-start-base,
.controls-RangeSelection__selection-start-hovered,
.controls-RangeSelection__selection-end-base,
.controls-RangeSelection__selection-end-hovered,
.controls-RangeSelection__selection-start-base-hovered,
.controls-RangeSelection__selected-start,
.controls-RangeSelection__selected-end {
   font-weight: bold;
}

.controls-RangeSelection__selected-start,
.controls-RangeSelection__selected-inner,
.controls-RangeSelection__selected-end,
.controls-RangeSelection__selection-end,
.controls-RangeSelection__selection-start,
.controls-RangeSelection__selection-inner,
.controls-RangeSelection__selection-inner-hovered,
.controls-RangeSelection__selected-start-end {
   background-color: var(
      --yearlist_monthview_item_selected_background-color_datePicker
   );
}

.controls-RangeSelection__selected-start,
.controls-RangeSelection__selected-start-hovered,
.controls-RangeSelection__selection-start-base,
.controls-RangeSelection__selection-start-base-hovered {
   position: relative;

   &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: var(--rangeSelection_border_thickness_datePicker);
      background-color: var(
         --yearlist_monthview_selection-border_single_color_datePicker
      );
      top: 0;
      left: -1px;
   }
}

.controls-RangeSelection__selected-end,
.controls-RangeSelection__selection-end,
.controls-RangeSelection__selected-end-hovered,
.controls-RangeSelection__selection-end-base {
   position: relative;

   &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: var(--rangeSelection_border_thickness_datePicker);
      background-color: var(
         --yearlist_monthview_selection-border_single_color_datePicker
      );
      top: 0;
      right: -1px;
   }
}

.controls-RangeSelection__selected-start-end,
.controls-RangeSelection__selected-start-end-hovered {
   outline: var(--yearlist_monthview_selection-border_single_color_datePicker)
      solid var(--rangeSelection_border_single_thickness_datePicker);
   outline-offset: calc(
      var(--yearlist_monthview_selection-border_thickness_datePicker) -
         var(--rangeSelection_border_single_thickness_datePicker)
   );
}

.controls-RangeSelection__selection-start-hovered,
.controls-RangeSelection__selection-end-hovered,
.controls-RangeSelection__selected-start-hovered,
.controls-RangeSelection__selected-inner-hovered,
.controls-RangeSelection__selected-start-end-hovered,
.controls-RangeSelection__selected-end-hovered {
   background-color: var(
      --yearlist_monthview_item_selected_hover_background-color_datePicker
   );
}

.controls-RangeSelection__selection-start-base,
.controls-RangeSelection__selection-end-base,
.controls-RangeSelection__selection-start-base-hovered {
   background-color: var(
      --rangeSelection_item_edge_background-color_datePicker
   );
}

.controls-RangeSelection__hovered {
   background-color: var(
      --yearlist_monthview_item_selected_hover_background-color_datePicker
   );
   outline: var(--yearlist_monthview_item_selected_border-color_datePicker)
      solid var(--yearlist_monthview_selection-border_thickness_datePicker);
}
