.controls-PeriodDialog-MonthsRange__item-selected {
   background: var(--background-color_stack);
}

.controls-RangeSelection__hovered,
.controls-RangeSelection__selected-hovered {
   border: var(--border-thickness) solid var(--unaccented_hover_border-color);
   border-radius: var(--border-radius_m);
   padding: 0;
}

.controls-PeriodDialog_item_border-bottom-right-radius {
   border-bottom-right-radius: var(--border-radius_m);
}

.controls-PeriodDialog_item_border-top-right-radius {
   border-top-right-radius: var(--border-radius_m);
}

.controls-PeriodDialog_item_border-bottom-left-radius {
   border-bottom-left-radius: var(--border-radius_m);
}

.controls-PeriodDialog_item_border-top-left-radius {
   border-top-left-radius: var(--border-radius_m);
}

.controls-PeriodDialog-MonthsRange_notHovered {
   .controls-PeriodDialog_item_border-top {
      border-top: var(--border-thickness) solid var(--unaccented_hover_border-color);
      padding-top: 0;
   }

   .controls-PeriodDialog_item_border-bottom {
      border-bottom: var(--border-thickness) solid var(--unaccented_hover_border-color);
      padding-bottom: 0;
   }

   .controls-PeriodDialog_item_border-left {
      border-left: var(--border-thickness) solid var(--unaccented_hover_border-color);
      padding-left: 0;
   }

   .controls-PeriodDialog_item_border-right {
      border-right: var(--border-thickness) solid var(--unaccented_hover_border-color);
      padding-right: 0;
   }
}

.controls-PeriodDialog-MonthsRange__quarter-hovered,
.controls-PeriodDialog-MonthsRange__halfYear-hovered {
   .controls-PeriodDialog_item_border-top,
   .controls-PeriodDialog_item_border-bottom,
   .controls-PeriodDialog_item_border-right,
   .controls-PeriodDialog_item_border-left {
      border-color: transparent;
   }
}

.controls-PeriodDialog_isAdaptive {
   .controls-PeriodDialog-MonthsRange__item-unselected,
   .controls-PeriodDialog-MonthsRange__item-selected {
      width: 27%;
      height: auto;
      aspect-ratio: 1 / 1;
   }
}
