.controlsDemo__wrapper__padding-left {
   padding-left: 12px;
}

.controlsDemo_fixedWidth800 {
   width: 800px;
}

.controlsDemo_fixedWidth500 {
   width: 500px;
}

.controlsDemo_ColumnsView_itemTemplate-title {
   font-size: 16px;
   color: var(--primary_text-color);
   font-weight: var(--font-weight-bold);
   text-align: center;
}

.controlsDemo__cell {
   padding-bottom: 12px;
}

.controlsDemo__height500 {
   height: 500px;
}

.controlsDemo__height200 {
   height: 200px;
}

.controlsDemo_ColoredTabs-header {
   display: flex;
}

.controlsDemo_ColoredTabs__fixed-tab-header {
   display: inline;
}

.controlsDemo_ColoredTabs-title {
   display: inline;
}

.controlsDemo_ColoredTabs-counter {
   margin-left: 12px;
   width: 23px;
   text-align: right;
   font-weight: normal;
   display: inline;
}

.controlsDemo_ColoredTabs__fixed-tab-counter {
   width: unset;
}

.coloredDemo-item {
   height: 45px;
}
