.search-Input__searchButton {
   display: flex;
   align-items: center;
   width: 40px;
   background: var(--primary_text-color);
   border-radius: var(--inline_height_m);
   margin-right: calc(-1 * var(--border-thickness));
   cursor: pointer;
   justify-content: center;
}

.search-Input__searchButton-icon {
   color: var(--contrast_icon-color);
}

.search-Input__rightFieldTemplate {
   display: flex;
   flex-direction: row;
}

.ws-is-hover {
   .search-Input__searchButton:hover {
      background: var(--primary_hover_text-color);
   }
}
