.controls-FilterPanelPopup__FavoriteEditDialog {
   width: var(--width_filterFavoriteDialog);
}

.controls-FilterPanelPopup__FavoriteEditDialog__caption {
   margin-right: auto;
   margin-left: var(--offset_3xl);
}

.controls-FilterPanelPopup-FavoriteEditDialog__scroll {
   flex-shrink: 1;
}

.controls-FilterPanelPopup-FavoriteEditDialog__textField {
   width: 100%;
   margin-bottom: var(--offset_s);
   flex-shrink: 0;
}

.controls-FilterPanelPopup-FavoriteEditDialog__content {
   overflow: hidden;
   margin: var(--content-padding-top_filterFavoriteDialog) var(--offset_3xl)
      var(--offset_m) var(--offset_3xl);
   display: flex;
   flex-direction: column;
}

.controls-FilterPanelPopup-FavoriteEditDialog__selector {
   margin-right: var(--offset_l);
}

.controls-FilterPanelPopup-FavoriteEditDialog__deleteButton {
   margin-right: var(--offset_l);
}

.controls-FilterPanelPopup-FavoriteEditDialog__itemCaption {
   color: var(--label_text-color);
}

.controls-FilterPanelPopup-FavoriteEditDialog__itemContent {
   word-break: break-word;
}

.controls-FilterViewPanel-FavoriteEditDialog_popup {
   margin-top: calc(
      -1 * (var(--header-min-height_dialog) + var(--border-thickness))
   );
   margin-left: calc(var(--offset_3xl) + calc(-1 * var(--offset_st)));
}
