.controls-Money__fractionPart_readOnly {
   color: var(--readonly_color);
   font-size: var(--font-size_xs);
   font-weight: normal;
}

.controls-InputMoney__field_readOnly.controls-DecoratorMoney {
   .controls-fontsize-m {
      font-size: var(--font-size_m_input);
   }
}
