.controls-TreeTileView__checkbox {
   left: 0;
}

.ws-is-ie,
.ws-is-chrome-xp {
   .controls-TileView__smallTemplate_item .controls-TreeTileView__checkbox,
   .controls-TreeTileView__itemActions_center {
      //IE and chrome on XP can't correctly align absolutely-positioned flex children: https://codepen.io/anon/pen/MqazJv
      top: 50%;
      transform: translateY(-50%);
   }
}

//TODO: Можно убрать после решения задачи: https://online.sbis.ru/opendoc.html?guid=38c5aa2c-f30c-42e9-a654-5358bc7691fd
.controls-itemActionsV.controls-TreeTileView__itemActions_center {
   bottom: auto;
   right: 0;
   overflow: visible;
   margin-right: var(--offset_xs);
}
//TODO: end

.controls-TreeTileView__separator {
   width: 100%;
}

.controls-TreeTileView__dragTargetNode::after {
   content: '\200b';
   border: 1px solid var(--primary_border-color);
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;

   //the z-index is larger than itemActions so that itemActions does not overlap the folder border when drag'n'drop.
   //Will be deleted by task: https://online.sbis.ru/opendoc.html?guid=7503eaab-e38a-4c6e-8f0d-940646d8bd28
   z-index: 2;
}
