.controlsDemo-Stack__template {
   width: 100%;
   margin-left: var(--offset_m);
   min-height: 30px;
}

.controlsDemo-Stack__template__image {
   background-color: var(--unaccented_color);
   border-radius: var(--border-radius_button);
   width: 30px;
   height: 30px;
}

.controlsDemo-Stack__template__leftContentTemplate {
   width: 125px;
   height: 200px;
   background: var(--pale_color);
}
