.controlsDemo-newBlocks__example-container {
   width: 900px;
}

.controlsDemo-newBlocks__block {
   height: 200px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 60px;
   min-width: 250px;
}
