.ControlsDemo-Popup-DialogDirection__content {
   min-height: 150px;
   min-width: 300px;
   max-height: 350px;
   max-width: 500px;
   display: flex;
   flex-direction: column;
   padding: 12px;
}

.ControlsDemo-Popup-DialogDirection__inputWrapper {
   display: flex;
   gap: 8px;
}
