.ControlDemo-ButtonsMenu_height {
   height: 100%;
}

.ControlDemo-ButtonsMenu_openToLeft {
   display: flex;
   width: 100%;
   flex-direction: column;
   margin: 20px;
   justify-content: space-between;
}

.ControlsDemo-ButtonsMenu-right {
   &_top,
   &_bottom {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      margin: 20px;
   }
}
