.controlsDemo {
   &__browser {
      height: 500px;
      background: var(--unaccented_background-color);
   }

   &__scroll {
      height: 100%;
   }

   &__wrapper__padding-left {
      padding-left: 12px;
   }

   &__fixedWidth800 {
      width: 800px;
   }

   &__ColumnsView_itemTemplate-title {
      font-size: 16px;
      color: var(--primary_text-color);
      font-weight: var(--font-weight-bold);
      text-align: center;
   }

   &__cell {
      padding-bottom: 12px;
   }

   &__height500 {
      height: 500px;
   }

   /* пока нет возможности скрывать кнопку распеределения вкладок ColoredTabs/ColoredTabs законно */
   & .controls-ColoredTabs__head-switch-wrapper {
      display: none;
   }
}
