.myTabs {
   align-items: flex-end;
   display: flex;
   height: 60px;
   overflow: hidden;

   .controls-Tabs {
      width: 100%;
   }
}

.controlsDemo-StackTemplate-without-head {
   padding-right: 36px;
}

.demo-Header__columns {
   display: flex;
}

.demo-Header__column {
   flex: 1;
}

.mr-CreateMerge__top {
   margin-left: 16px;
   margin-right: 16px;
   margin-bottom: 16px;
}

.rowWithLabel {
   display: flex;
   height: auto;
   padding-top: 8px;
   align-items: baseline;
}

.rowWithLabel_label {
   padding-right: 8px;
   color: var(--label_text-color);
}

.rowWithLabel__row {
   flex: 1;
   font-size: inherit;
   border: 1px solid #eaeaea;
   overflow: auto;

   &::-ms-clear {
      display: none;
   }
}

.mr-CreateMerge__bottom {
   justify-content: center;
   align-items: center;
   display: flex;
}

//ширина панели по шаблону
.customHeader {
   width: 800px;
}
