.ControlsDemo_headerless_text-bold {
   margin-top: var(--offset_m);
   font-weight: bold;
}

.ControlsDemo_headerless_table {
   display: grid;
   grid-column-gap: 50px;
}

.ControlsDemo_headerless_table_second {
   grid-column-start: 2;
}

.ControlsDemo_headerless_table_third {
   grid-column-start: 1;
   grid-row-start: 2;
}
