.demo-EditableGrid__editor-flexWrapper {
   display: flex;
   flex-direction: column;
   gap: 2px;
}

.demo-EditableGrid__editor-description {
   padding-top: 7px;
}

.demo-EditableGrid__editor-rowTopSpacing {
   padding-top: 5px;
}
