// TODO Избавимся от каскадов по задаче https://online.sbis.ru/opendoc.html?guid=d6d1cee1-1756-455e-b097-fefca8c3246a
.ws-is-hover {
   // default
   .controls-hover-background-default:hover {
      .controls-Grid__item_background-hover_primary {
         background-color: var(--primary_color);
      }

      .controls-Grid__row-cell-background-hover-primary:not(
            .controls-Grid__row-ladder-cell
         ) {
         background-color: var(--primary_color);
      }
   }

   // light-large
   .controls-hover-background-default_theme-retail__light-large:hover {
      .controls-hover-background-primary_theme-retail__light-large {
         background-color: var(--primary_color);
      }

      .controls-Grid__row-cell-background-hover-primary_theme-retail__light-large:not(
            .controls-Grid__row-ladder-cell
         ) {
         background-color: var(--primary_color);
      }
   }

   // light-medium
   .controls-hover-background-default_theme-retail__light-medium:hover {
      .controls-Grid__item_background-hover_primary_theme-retail__light-medium {
         background-color: var(--primary_color);
      }

      .controls-Grid__row-cell-background-hover-primary_theme-retail__light-medium:not(
            .controls-Grid__row-ladder-cell
         ) {
         background-color: var(--primary_color);
      }
   }

   // dark-large
   .controls-hover-background-default_theme-retail__dark-large:hover {
      .controls-Grid__item_background-hover_primary_theme-retail__dark-large {
         background-color: var(--primary_color);
      }

      .controls-Grid__row-cell-background-hover-primary_theme-retail__dark-large:not(
            .controls-Grid__row-ladder-cell
         ) {
         background-color: var(--primary_color);
      }
   }

   // dark-medium
   .controls-hover-background-default_theme-retail__dark-medium:hover {
      .controls-Grid__item_background-hover_primary_theme-retail__dark-medium {
         background-color: var(--primary_color);
      }

      .controls-Grid__row-cell-background-hover-primary_theme-retail__dark-medium:not(
            .controls-Grid__row-ladder-cell
         ) {
         background-color: var(--primary_color);
      }
   }
}
