.ControlDemo__SlidingPanel-popupTemplate-content {
   width: 100%;
}

.ControlDemo__SlidingPanel-popupTemplate-largeContent {
   font-size: 20px;
   white-space: pre-line;
}

.ControlDemo__SlidingPanel-popupTemplate-setting {
   margin-bottom: 8px;
   display: flex;
}
