.controls-skeleton-image_radius-3xs {
   border-radius: var(--border-radius_3xs);
}

.controls-skeleton-image_radius-2xs {
   border-radius: var(--border-radius_2xs);
}

.controls-skeleton-image_radius-xs {
   border-radius: var(--border-radius_xs);
}

.controls-skeleton-image_radius-s {
   border-radius: var(--border-radius_s);
}

.controls-skeleton-image_radius-m {
   border-radius: var(--border-radius_m);
}

.controls-skeleton-image_radius-l {
   border-radius: var(--border-radius_l);
}

.controls-skeleton-image_radius-xl {
   border-radius: var(--border-radius_xl);
}

.controls-skeleton-image_radius-2xl {
   border-radius: var(--border-radius_2xl);
}

.controls-skeleton-image_radius-3xl {
   border-radius: var(--border-radius_3xl);
}

.controls-skeleton-image_radius-full {
   border-radius: 50%;
}

.controls-skeleton-image_size-xs {
   width: var(--size_xs_image);
   height: var(--size_xs_image);
}

.controls-skeleton-image_size-s {
   width: var(--size_s_image);
   height: var(--size_s_image);
}

.controls-skeleton-image_size-m {
   width: var(--size_m_image);
   height: var(--size_m_image);
}

.controls-skeleton-image_size-mt {
   width: var(--size_mt_image);
   height: var(--size_mt_image);
}

.controls-skeleton-image_size-l {
   width: var(--size_l_image);
   height: var(--size_l_image);
}

.controls-skeleton-image_size-xl {
   width: var(--size_xl_image);
   height: var(--size_xl_image);
}

.controls-skeleton-image_size-xlt {
   width: var(--size_xlt_image);
   height: var(--size_xlt_image);
}

.controls-skeleton-image_size-2xl {
   width: var(--size_2xl_image);
   height: var(--size_2xl_image);
}

.controls-skeleton-image_size-3xl {
   width: var(--size_3xl_image);
   height: var(--size_3xl_image);
}

.controls-skeleton-image_size-4xl {
   width: var(--size_4xl_image);
   height: var(--size_4xl_image);
}

.controls-skeleton-image_size-5xl {
   width: var(--size_5xl_image);
   height: var(--size_5xl_image);
}
