.controls-skeleton-text {
   display: block;
   width: 100%;
   border-radius: var(--border-radius_2xs);
   margin-bottom: 4px;
}

.controls-skeleton-text.controls-skeleton-text_last {
   width: 70%;
}

.controls-skeleton-text-3xs {
   height: var(--font-size_3xs);
}

.controls-skeleton-text-2xs {
   height: var(--font-size_2xs);
}

.controls-skeleton-text-xs {
   height: var(--font-size_xs);
}

.controls-skeleton-text-s {
   height: var(--font-size_m);
}

.controls-skeleton-text-m {
   height: var(--font-size_m);
}

.controls-skeleton-text-l {
   height: var(--font-size_l);
}

.controls-skeleton-text-xl {
   height: var(--font-size_xl);
}

.controls-skeleton-text-2xl {
   height: var(--font-size_2xl);
}

.controls-skeleton-text-3xl {
   height: var(--font-size_3xl);
}

.controls-skeleton-text-4xl {
   height: var(--font-size_4xl);
}

.controls-skeleton-text-5xl {
   height: var(--font-size_5xl);
}

.controls-skeleton-text-6xl {
   height: var(--font-size_6xl);
}

.controls-skeleton-text-7xl {
   height: var(--font-size_7xl);
}

.controls-skeleton-text-8xl {
   height: var(--font-size_8xl);
}
