.controls-skeleton-text {
   width: 100%;
   border-radius: var(--border-radius_2xs);
   margin-bottom: 4px;
}

.controls-skeleton-text.controls-skeleton-text_last {
   width: 70%;
}

.controls-skeleton-text-s {
   height: var(--font-size_m);
}

.controls-skeleton-text-m {
   height: var(--font-size_m);
}

.controls-skeleton-text-l {
   height: var(--font-size_l);
}

.controls-skeleton-text-xl {
   height: var(--font-size_xl);
}
