.controls-demo__container {
   height: 100px;
   width: 100px;
   position: relative;
   border: 1px solid;
}

.controls-demo__CustomCursor-ResizingLine {
   position: absolute;
   width: 100%;
   bottom: 0;
}
