.controls-Demo__TileView__addTile {
   background: var(--pale_contrast_background-color);

   &:hover {
      background: var(--pale_contrast_background-color);
   }

   &:active {
      background: var(--pale_active_contrast_background-color);
   }
}
