.controls-GridReact__columnScroll__headerNavigation__wrapper {
   box-sizing: border-box;
   position: absolute;
   left: 0;
   bottom: 0;
   display: flex;
   justify-content: flex-end;
}

.controls-GridReact__columnScroll__headerNavigation {
   position: relative;
   box-sizing: border-box;
   display: flex;
   justify-content: flex-end;
}

.controls-GridReact__columnScroll__headerNavigation_arrows {
   padding-right: var(--offset_xl);
}
