.Controls-Layout-demo_selector_props_container {
   background-color: var(--unaccented_background-color);
   margin-left: 200px;
   padding: 6px;
   border-radius: 6px;
}

.Controls-Layout-demo_selector_props {
   background-color: var(--background-color);
   border-radius: 6px;
   display: grid;
   gap: 4px;
   padding: 6px;
}
