.controlsDemo-Input-DateTime {
   margin: 30px auto;
   width: 500px;
   align-self: center;
}

.controlsDemo-Input-DateTime__row {
   display: flex;
   align-items: baseline;
}

.controlsDemo-Input-DateTime__row-item {
   flex: 1;
   padding: 5px 0;
}

.controlsDemo-Input-DateTime__row-item_grow {
   flex-grow: 2;
}

.controlsDemo-Input-DateTime__Area {
   width: 300px;
}
