.cotnrolsDemo-formInitializingWay {
   padding: 12px;
}

.cotnrolsDemo-formInitializingWay-input {
   display: flex;
   margin: 12px;
   min-width: 200px;
}

.cotnrolsDemo-formInitializingWay-popup {
   padding: 12px;
}
