.controls-SpoilerView__header {
   width: 100%;
}

.controls-SpoilerView__heading {
   max-width: 100%;
   flex-shrink: 0;
}

.controls-SpoilerView__header__headerContentTemplate {
   flex-grow: 1;
   min-width: 1px;
   max-width: 100%;
}
