.controls-ListView__item_roundBorder_bottomLeft_master,
.controls-ListView__item_roundBorder_bottomLeft_master::before {
   border-bottom-left-radius: var(--master_item_border-radius_list);
}

.controls-ListView__item_roundBorder_bottomRight_master,
.controls-ListView__item_roundBorder_bottomRight_master::before {
   border-bottom-right-radius: var(--master_item_border-radius_list);
}

.controls-ListView__item_roundBorder_topLeft_master,
.controls-ListView__item_roundBorder_topLeft_master::before {
   border-top-left-radius: var(--master_item_border-radius_list);
}

.controls-ListView__item_roundBorder_topRight_master,
.controls-ListView__item_roundBorder_topRight_master::before {
   border-top-right-radius: var(--master_item_border-radius_list);
}

.controls-padding_top-master_adaptive {
   padding-top: var(--offset_st);
}

.controls-padding_bottom-master_adaptive {
   padding-bottom: var(--offset_st);
}

.controls-padding_top-master {
   padding-top: var(--master_item_padding-top_list);
}

.controls-padding_bottom-master {
   padding-bottom: var(--master_item_padding-bottom_list);
}

.controls-text-master_selected {
   color: var(--master_item_selected_text-color_list);
}

.controls-background-master_selected {
   background-color: var(--master_item_selected_background-color_list);
}

.controls-MasterDetail_master-transparent .controls-background-master_selected {
   background-color: var(--unaccented_background-color);
}
