.demo-Grid__container {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   width: 100%;
   margin-top: 12px;
}

.demo-Grid__wrapper {
   width: 45%;
   margin-bottom: 64px;
   height: 320px;
   overflow-x: hidden;
   overflow-y: auto;
}

.ws-is-ie .demo-Grid__ie-inline-flex {
   display: inline-flex;
   width: auto;
}

.demo-Grid__control {
   width: 100%;
}

.demo-Grid__item.controls-Grid__row-cell__content {
   display: inline-block;
   white-space: nowrap;
}

.demo-Grid__item__units {
   color: var(--readonly_text-color);
   font-size: 14px;
}
