.controlsDemo__Tile_ItemActions_customPosition-itemActionsClass {
   position: absolute;
   top: 15px;
}

.controls-TileView__item:hover {
   .controls-itemActionsV {
      visibility: visible;
      opacity: 1;
   }
}

.controlsDemo__customTileTpl-img {
   width: 100%;
}
