.controls_Calculator_theme-@{themeName} {
   --input_width_standart_Calculator_view: 194px;
   --input_width_extended_Calculator_view: 438px;
   --input_height_extended_Calculator_view: 44px;
   --outputArea_border-color_Calculator_view: var(--border-color);
}
