.Controls-lists-demo__TimelineGrid_EventRender_wrapper {
   --dynamic-column_width: 100px;
   --dynamic-column_gap: 20px;
   width: 521px;
   height: 55px;
}

.controls-hatch_color-success {
   --timeline-event-hatch_color: #b6fac0;
}

.controls-hatch_color-danger {
   --timeline-event-hatch_color: #e69f9b;
}
