.Controls-lists-demo__TimelineGrid_EventRender_wrapper {
   --dynamic-column_width: 100px;
   --dynamic-column_gap: 20px;
   width: 521px;
   height: 55px;
}

.controls-hatch_color-success {
   --timeline-event-hatch_color: #b6fac0;
}

.controls-hatch_color-danger {
   --timeline-event-hatch_color: #e69f9b;
}

.Controls-lists-demo__TimelineGrid_EventLineRender_wrapperWI {
   padding: 20px;
   margin-bottom: 10px;
   background-color: #edf4fc;
   border-radius: 10px;
   border: 1px solid #e4e4e4;
   overflow: hidden;
}
