.controls-BigSeparator {
   &.my-custom-icon-color {
      --icon-color_bigSeparator_local: #008000;
   }

   &.my-custom-icon-color:hover {
      --icon-color_bigSeparator_local: #f00;
   }

   &.my-custom-button-size {
      --container-width_bigSeparator_local: 32px;
      --icon-height_bigSeparator_local: 24px;
   }
}
