<ws:template name="sender">
   <Controls.filterPopup:Link caption="Sender"/>
</ws:template>

<ws:template name="responsible">
<Controls.filterPopup:Link caption="Responsible"/>
</ws:template>

<ws:template name="tagging">
<Controls.filterPopup:Link caption="Marks"/>
</ws:template>


<ws:template name="operation">
<Controls.filterPopup:Link caption="Operation (stage)"/>
</ws:template>

<ws:template name="group">
<Controls.filterPopup:Select
        keyProperty="key"
        bind:textValue="item.textValue">
   <ws:items>
      <ws:Array>
         <ws:Object key="{{1}}" title="My"/>
         <ws:Object key="{{2}}" title="My department"/>
      </ws:Array>
   </ws:items>
</Controls.filterPopup:Select>
</ws:template>

<ws:template name="unread">
<Controls.filterPopup:Link caption="Unread"/>
</ws:template>

<ws:template name="loose">
<Controls.filterPopup:Link caption="Loose"/>
</ws:template>

<ws:template name="limit">
<Controls.filterPopup:Select
        keyProperty="key"
        bind:textValue="item.textValue">
   <ws:items>
      <ws:Array>
         <ws:Object key="{{1}}" title="Due date"/>
         <ws:Object key="{{2}}" title="Overdue"/>
      </ws:Array>
   </ws:items>
</Controls.filterPopup:Select>
</ws:template>

<ws:template name="own">
<Controls.source:SelectedKey>
   <Controls.filterPopup:Select
           keyProperty="key"
           bind:textValue="item.textValue">
      <ws:items>
         <ws:Array>
            <ws:Object key="{{1}}" title="On me"/>
            <ws:Object key="{{2}}" title="On department"/>
         </ws:Array>
      </ws:items>
   </Controls.filterPopup:Select>
</Controls.source:SelectedKey>
</ws:template>

<ws:template name="our organisation">
<Controls.filterPopup:Link caption="Our company"/>
</ws:template>

<ws:template name="document">
<Controls.filterPopup:Link caption="Document"/>
</ws:template>

<ws:template name="activity">
<Controls.filterPopup:Dropdown displayProperty="title"
                         bind:selectedKeys="item.value"
                         keyProperty="key"
                         source="{{item.source}}"/>
</ws:template>

<ws:template name="income">
<Controls.filterPopup:Select
        keyProperty="key"
        bind:textValue="item.textValue">
   <ws:items>
      <ws:Array>
         <ws:Object key="{{1}}" title="In the warehouse"/>
         <ws:Object key="{{2}}" title="In expenses"/>
      </ws:Array>
   </ws:items>
</Controls.filterPopup:Select>
</ws:template>

<ws:template name="detailingPeriod">
<Controls.filterPopup:Link caption="On documents" />
</ws:template>


<ws:partial template="{{item.name}}" item="{{item}}"/>
