.controlsWizardDemo__wrapper {
   height: 100%;
}

.ControlsDemo-Page {
   background: var(--unaccented_adaptive_background-color);

   // Появляется белая подложка на сером фоне из-за скролла.
   .controls-Scroll__background-Shadow_style-default {
      background-image: none;
   }
}
