.item-area {
   width: 390px;
   margin: var(--offset_2xs) 0;
   position: relative;
}

.item-area-content {
   width: 100%;
   border-radius: 16px;
   border: 1px solid var(--readonly_color);
   padding: var(--offset_2xs);
   box-sizing: border-box;
}

.my-super-class {
   position: absolute;
   bottom: var(--offset_2xs);
   right: var(--offset_m);
}
