.controls_Scroll__ArrowButton__vertical {
   position: absolute;
   right: var(--offset_s);
}

.controls_Scroll__ArrowButton__vertical__direction_up {
   top: var(--offset_s);
}

.controls_Scroll__ArrowButton__vertical__direction_down {
   bottom: var(--offset_s);
}
