.demo__grid-cell {
   width: 50%;
   padding: 4px 8px;
   box-sizing: border-box;
}

.demo__grid-cell_colspan {
   width: 100%;
}

.darkgray-theme {
   background-color: #a9a9a9;
}

.gray-theme {
   /* stylelint-disable saby/theme-colors */
   background-color: #f0f0f0;
}

.css-customise {
   --pale_border-color: #d0d0d0;
   --pale_color: var(--background-color);
   --pale_hover_color: var(--background-color);
   --pale_active_color: var(--background-color);
}
