.size_xl {
   --spacing-icon-text_spoiler_local: var(--offset_xl);
}

.size_3xl {
   --spacing-icon-text_spoiler_local: var(--offset_3xl);
}

.size_st {
   --spacing-icon-text_spoiler_local: var(--offset_st);
}
