.controlsListsDemo__dynamicGridBase {
   width: 100%;
   max-width: 1900px;
}

.controlsListsDemo__dynamicGridBase-scrollContainer {
   height: 1000px;
   width: 100%;
}

.controlsListsDemo__dynamicGridBase-photo {
   min-height: 40px;
   min-width: 40px;
}

.controlsListsDemo__dynamicGridBase-cell {
   font-size: 7px;
}

.controls-background-timelineDemo_weekend {
   background-color: #fff5f5;
}

.controls-background-timelineDemo_workday {
   background-color: #edf4fc;
}

.controls-hatch_color-success {
   --timeline-event-hatch_color: #b6fac0;
}

.controls-GridReact__cell-borderStyle_cadetBlue::after {
   border-color: var(--single-editable-cell_editing_border-color_grid);
}
