.engine-demo__Widgets_list {
   width: 100%;
}

.engine-demo__Widgets_filterPanel {
   width: 200px;
}

.engine-demo__Widgets_filterList {
   width: 500px;
}

.engine-demo__Widgets_filter-container {
   display: flex;
   flex-direction: row;
   margin: 12px;
}

.controlsDemo__maxWidth1000 {
   max-width: 1000px;
}

.controlsDemo__wrapper {
   padding: 12px;
}

.controlsDemo__height800 {
   height: 800px;
}

.controlDemo__input-row {
   display: flex;
   flex-direction: row;
   margin-bottom: 10px;
   align-items: center;
}

.controlsDemo_m {
   margin: 12px;
}

.controlsDemo__flexRow {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.controlsDemo__flexRow_noWrap {
   flex-wrap: nowrap;
}

.engine-demo__Widgets_scroll {
   position: absolute;
   bottom: 200px;
}

.engine-demo__Widgets_toolbar {
   margin-top: 32px;
}

.engine-demo__FilterPanel-Widgets_scroll {
   height: 170px;
}

.engine-demo__Widgets__image-container {
   display: flex;
   padding-top: 4px;
}

.engine-demo__Widgets__image {
   align-self: start;
   width: 40px;
   margin-right: 12px;
}

.engine-demo__Widgets__filter {
   margin-left: var(--offset_m);
}

.engine-demo__Widgets__contentRight {
   justify-content: flex-end;
   margin-bottom: var(--offset_s);
}

.engine-demo__Widgets__contentRight_withMargin {
   justify-content: space-between;
   margin-right: 38px;
   margin-bottom: var(--offset_m);
}

.controlsDemo__wrapper-background {
   padding: var(--offset_m);
   background-color: var(--unaccented_background-color);
}

.engine-demo__Widgets__filter-padding {
   margin-left: 200px;
}

.engine-demo__Widgets__info {
   display: block;
   margin: var(--offset_2xs);
}

.listEnv-demo__padding-left {
   padding-left: 400px;
}
