.controlsDemo-HintManager__block {
  box-sizing: border-box;
  text-align: center;
  height: 150px;
  width: 300px;
}

.controlsDemo-HintManager__blockContent {
  background-color: var(--info_active_background-color);
}

.controlsDemo-HintManager__innerBlock {
  height: 100px;
  width: 100px;
}

.ws-is-hover {
  .controlsDemo-HintManager__blockContent:hover {
    background-color: var(--info_hover_background-color);
  }
}
