.ControlsDemo__popupStack-body {
   height: 100%;
}

.ControlsDemo__popupStack-body-template {
   height: 800px;
   margin: 0 100px;
}

.ControlsDemo__popupStack-body-leftSide {
   width: 60%;
}

.ControlsDemo__popupStack-body-leftSide-content {
   padding: var(--offset_m);
   height: 100%;
}

.ControlsDemo__popupStack-body-leftSide-anotherContent {
   height: 100%;
   background: var(--readonly_text-color);
   border-radius: var(--border-radius_m);
   margin-top: var(--offset_m);
   padding: var(--offset_m);
}

.ControlsDemo__popupStack-body-bannerCaption,
.ControlsDemo__popupStack-body-banner {
   margin-top: var(--offset_m);
}

.ControlsDemo__popupStack-body-banner {
   width: 100%;
   height: 200px;
   border-radius: var(--border-radius_m);
   background: var(--unaccented_text-color);
}

.ControlsDemo__popupStack-body-rightSide {
   padding: var(--offset_m);
   flex: 1;
}
