.controls-ObjectType__extended_fields {
   grid-column-start: 2;
   grid-column-end: 4;
   display: flex;
   padding-top: var(--offset_s);
   padding-bottom: var(--offset_s);

   &-wrapper {
      display: flex;
      flex-direction: row;
      gap: var(--offset_s);
   }
}
