.controls-PropertyGrid__extended_fields {
   grid-column-start: 2;
   grid-column-end: 4;
   display: flex;
}

.controls-PropertyGrid__extended_field {
   margin-right: var(--offset_s);
   margin-bottom: var(--offset_s);
}

.controls-PropertyGrid__extended_fields-separator {
   width: 100%;
   height: 1px;
   background-color: var(--border-color);
   margin: var(--offset_2xs) 0 var(--offset_m) 0;
   grid-column-start: 2;
   grid-column-end: 4;
}

.controls-PropertyGrid__extended_fields-wrapper {
   width: 100%;
}
