.controls-PropertyGrid__extended_fields {
   grid-column-start: 1;
   grid-column-end: 3;
}

.controls-PropertyGrid__extended_field {
   margin-right: var(--offset_s);
   margin-bottom: var(--offset_s);
}
