.controlsLists_dynamicGrid_theme-default {
   --size_line_selection_dynamicGrid: 3px;
   --size_rect_selection_dynamicGrid: 7px;
   --backgroung-color_selection_resizingLine_dynamicGrid: initial;
   --backgroung-color_selection_resizingRect_dynamicGrid: initial;

   // Размеры гэпов не темизируем, так как на сервере невозможно спозиционировать скролл, не зная точных чисел
   --gap_3xs: 2px;
   --gap_2xs: 4px;
   --gap_xs: 6px;
   --gap_s: 8px;
   --gap_st: 10px;
   --gap_m: 12px;
   --gap_l: 16px;
   --gap_xl: 20px;
   --gap_2xl: 24px;
   --gap_3xl: 28px;
}

/* stylelint-disable-next-line unit-no-unknown */
@TOffsetSizeVariants: ~'3xs', ~'2xs', xs, s, st, m, l, xl, ~'2xl', ~'3xl';
