.controls-HeaderCounter {
   display: inline-block;
}

.controls-HeaderCounter_hovered {
   cursor: pointer;
}

.controls-HeaderCounter_style-primary {
   color: var(--primary_text-color);
}

.controls-HeaderCounter_style-secondary {
   color: var(--secondary_text-color);
}

.controls-HeaderCounter_style-unaccented {
   color: var(--unaccented_text-color);
}

.controls-HeaderCounter_style-label {
   color: var(--label_text-color);
}

.controls-HeaderCounter_style-warning {
   color: var(--warning_text-color);
}

.controls-HeaderCounter_style-info {
   color: var(--info_text-color);
}

.controls-HeaderCounter_style-danger {
   color: var(--danger_text-color);
}

.controls-HeaderCounter_style-success {
   color: var(--success_text-color);
}

.ws-is-no-touch,
.ws-is-touch {
   .controls-HeaderCounter_style-primary_hovered:active {
      color: var(--primary_hover_text-color);
   }

   .controls-HeaderCounter_style-secondary_hovered:active {
      color: var(--secondary_hover_text-color);
   }

   .controls-HeaderCounter_style-unaccented_hovered:active {
      color: var(--unaccented_hover_text-color);
   }

   .controls-HeaderCounter_style-label_hovered:active {
      color: var(--label_hover_text-color);
   }

   .controls-HeaderCounter_style-warning_hovered:active {
      color: var(--warning_hover_text-color);
   }

   .controls-HeaderCounter_style-info_hovered:active {
      color: var(--info_hover_text-color);
   }

   .controls-HeaderCounter_style-danger_hovered:active {
      color: var(--danger_hover_text-color);
   }

   .controls-HeaderCounter_style-success_hovered:active {
      color: var(--success_hover_text-color);
   }
}

.ws-is-hover {
   .controls-HeaderCounter_style-primary_hovered:hover {
      color: var(--primary_hover_text-color);
   }

   .controls-HeaderCounter_style-secondary_hovered:hover {
      color: var(--secondary_hover_text-color);
   }

   .controls-HeaderCounter_style-unaccented_hovered:hover {
      color: var(--unaccented_hover_text-color);
   }

   .controls-HeaderCounter_style-label_hovered:hover {
      color: var(--label_hover_text-color);
   }

   .controls-HeaderCounter_style-warning_hovered:hover {
      color: var(--warning_hover_text-color);
   }

   .controls-HeaderCounter_style-info_hovered:hover {
      color: var(--info_hover_text-color);
   }

   .controls-HeaderCounter_style-danger_hovered:hover {
      color: var(--danger_hover_text-color);
   }

   .controls-HeaderCounter_style-success_hovered:hover {
      color: var(--success_hover_text-color);
   }
}
