@max-width_menu-image: 450px;

.controls-TileView__itemActions_menu {
   display: flex;
   flex-direction: column;
   min-height: 0;

   // TODO https://online.sbis.ru/opendoc.html?guid=bf944c40-805f-456a-b70f-686f9c3e3aa5
   padding-right: calc(var(--width_closeButton_functionalButton) / 2);
}

.controls-TileView__itemActions__menu_header {
   border-top: var(--border-thickness) solid var(--separator_color);
   display: flex;
   min-width: 0;
   width: 100%;
   align-items: center;
   height: calc(var(--inline_height_4xl) + var(--border-thickness));
   box-sizing: border-box;
   padding: 0 var(--offset_m);
}

.controls-TileView__itemActions__menu_header_title {
   font-size: var(--font-size_l);
   .text-overflow();
}

.controls-TileView__itemActions__menu_header_additionalTitle {
   font-size: var(--font-size_xs);
   color: var(--label_text-color);
   margin-left: var(--offset_xs);
   .text-overflow();
   flex-shrink: 0;
}

.controls-TileView__itemActions__menu_content {
   display: flex;
   overflow: hidden;
}

.controls-TileView__itemActions__menu {
   border-left: var(--border-thickness) solid var(--separator_color);
   padding: var(--content_padding-top_sticky) var(--offset_xs) var(--content_padding-bottom_sticky);
}

.controls-TileView__itemActions_menu_image {
   top: 50%;
   left: 50%;
   position: absolute;
   transform: translate(-50%, -50%);
   object-fit: cover;
}

.controls-TileView__itemActions__menu_leftContent {
   flex-grow: 0;
   min-width: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   max-width: @max-width_menu-image;
   overflow: hidden;
}

.controls-TileView__itemActions__menu_imageWrapper {
   flex-grow: 1;
   cursor: pointer;
   position: relative;
   overflow: hidden;
   align-items: center;
   justify-content: center;
   max-width: @max-width_menu-image;
}

.controls-TileView__itemActions_menu .controls-StickyTemplate__top-area {
   background: var(--background-color);
}

.controls-TileView__itemActions__menu.controls-TileView__itemActions__menu {
   width: @width-menu;
   flex-shrink: 0;
   box-sizing: border-box;
}
