.controlsDemo-PopupTemplate__footer {
   font-size: 13px;
   padding: 0 12px;
   color: #aaa;
   border-top: 1px dashed #aaa;
}

.controlsDemo-PopupTemplate__list-item {
   height: 32px;
   display: flex;
   align-items: center;
}
