.demo-Suggest {
   padding: 50px;
}

.demo-SuggestWrapper {
   margin: auto;
   padding: 50px;
}

.demo-SearchSuggestWrapper {
   margin: auto;
   padding: 70px;
}

.controls-SuggestV {
   width: 250px;
}

.demo-SuggestInputList {
   width: 100%;
}

.ErrorContainer.demo-SuggestSearchList,
.demo-SuggestSearchList {
   width: 250px;
}

.ErrorContainer.demo-SuggestSearchListWide,
.demo-SuggestSearchListWide {
   width: 430px;
}

.demo-block-suggest {
   display: flex;
}

.demo-suggestSelector {
   width: 500px;
}

.ControlsDemo-Suggest__wideSearch {
   width: 300px;
}

.ControlsDemo-Suggest_searchButton {
   position: relative;
   z-index: 2;
   margin-left: 8px;
}

.ControlsDemo-Suggest_footerTpl {
   display: flex;
   align-items: center;
   margin-left: 12px;
}

.ControlsDemo-Suggest_footerTpl_iconAdd {
   margin-right: 8px;
}

.ControlsDemo-Suggest_emptyTpl {
   display: flex;
   padding: 16px 0;
}

.ControlsDemo-Suggest_emptyTpl_button {
   margin: auto;
}

.ControlsDemo-Suggest_wideSearchListContainer {
   /* stylelint-disable-next-line declaration-no-important */
   width: 300px !important;
}

// Индикатор иногда ломает тесты на сравнение с эталонами
.demo-Suggest .controls-SuggestV__loader {
   display: none;
}
