.controls-GridReact__minHeight-data {
   min-height: var(--cell_min-height_grid);
}

.controls-GridReact__cell {
   box-sizing: border-box;
   // Задаем min-width, чтобы ячейка обрезалась по ширине колонки.
   // http://css-live.ru/articles/chto-mozhet-polomat-maket-na-gridax-css-grid-layout.html
   min-width: 0;
}

.ws-is-hover .controls-BaseControl_hover_enabled {
   .controls-GridReact__row__hoverMode_row:hover {
      > .controls-hover-background-list_default {
         background-color: var(--item_hover_background-color_list);
      }

      @variants: primary, secondary, danger, success, warning, unaccented, readonly, info;
      .for(@variants, {
         > .controls-hover-background-@{_item} {
            background-color: ~'var(--@{_item}_hover_background-color)';
         }
      });
   }

   // Ховер редактирования не полностью укладывается в классовую модель обычного
   // стилизованного ховера, т.к. он работает не от заховеренной строки,
   // а от заховеренной ячейки. В остальном различий нет.
   .controls-hover-background-list_singleCellEditable:hover {
      background-color: var(--item_hover_background-color_list);
   }

   // Замечание от Егора:
   // перебиваем controls-BreadCrumbsView__menu__dots, а не controls-background-default,
   // потому что controls-background-default присутствует во многих местах на странице,
   // и замедляет ховер в среднем в 2 раза.
   .controls-hover-background-list_singleCellNotEditable:hover,
   .controls-hover-background-list_singleCellNotEditable:hover
      .controls-BreadCrumbsView__menu__dots {
      background-color: var(--single-not-editable-cell_hover_background-color_grid);
   }
}

// region editArrow

.ws-is-hover .controls-BaseControl_showActions {
   // Если строка выделяется целиком, то и стрелка редактирования
   // появляется при ховере по всей строке
   .controls-GridReact__row__hoverMode_row:hover .controls-Grid__editArrow-wrapper {
      visibility: visible;
      opacity: 1;
   }

   // При поячеечном редактировании стрелка появляется только при ховере
   // на ячейку, в которой лежит стрелка.
   .controls-GridReact__cell__hoverMode_cell:hover .controls-Grid__editArrow-wrapper {
      visibility: visible;
      opacity: 1;
   }
}

.controls-Grid__editArrow_background_list_singleCellEditable,
.controls-Grid__editArrow_background_list_default {
   background-color: var(--item_hover_background-color_list);
}

.controls-Grid__editArrow-blur_list_singleCellEditable,
.controls-Grid__editArrow-blur_list_default {
   background: linear-gradient(
      90deg,
      rgba(240, 245, 251, 0),
      var(--item_hover_background-color_list)
   );
}

.controls-Grid__editArrow_background_list_singleCellNotEditable {
   background-color: var(--single-not-editable-cell_hover_background-color_grid);
}

.controls-Grid__editArrow-blur_list_singleCellNotEditable {
   background: linear-gradient(
      90deg,
      rgba(240, 245, 251, 0),
      var(--single-not-editable-cell_hover_background-color_grid)
   );
}

// endregion editArrow

// region cell separators

.controls-GridReact-cell_topSeparatorSize-s {
   border-top-style: solid;
   border-top-width: var(--item-separator_s_thickness_list);
   border-top-color: var(--separator_color);
}

.controls-GridReact-cell_topSeparatorSize-l {
   border-top-style: solid;
   border-top-width: var(--item-separator_l_thickness_list);
   border-top-color: var(--separator_color);
}

.controls-GridReact-cell_bottomSeparatorSize-s {
   border-bottom-style: solid;
   border-bottom-width: var(--item-separator_s_thickness_list);
   border-bottom-color: var(--separator_color);
}

.controls-GridReact-cell_bottomSeparatorSize-l {
   border-bottom-style: solid;
   border-bottom-width: var(--item-separator_l_thickness_list);
   border-bottom-color: var(--separator_color);
}

.controls-GridReact-cell_topSeparatorSize_style-bold {
   &.controls-GridReact-cell_topSeparatorSize-s {
      border-top-color: var(--unaccented_separator_color);
   }

   &.controls-GridReact-cell_topSeparatorSize-l {
      border-top-color: var(--separator_color);
   }
}

.controls-GridReact-cell_bottomSeparatorSize_style-bold {
   .controls-GridReact-cell_bottomSeparatorSize-s {
      border-bottom-color: var(--unaccented_separator_color);
   }

   .controls-GridReact-cell_bottomSeparatorSize-l {
      border-bottom-color: var(--separator_color);
   }
}

.controls-GridReact-cell_leftSeparatorSize-s {
   border-left-style: solid;
   border-left-width: var(--column_separator_s_thickness_grid);
   border-left-color: var(--column_separator_s_color_grid);
}

.controls-GridReact-cell_rightSeparatorSize-s {
   border-right-style: solid;
   border-right-width: var(--column_separator_s_thickness_grid);
   border-right-color: var(--column_separator_s_color_grid);
}

// endregion cell separators

// region Padding
// Приходится писать свои классы, т.к. в стандартной линейке нет таких размеров

// region VerticalPadding

.controls-padding_top-grid_s {
   padding-top: var(--item_padding-top_s_grid);

   &.controls-GridReact-cell_topSeparatorSize-s {
      padding-top: calc(var(--item_padding-top_s_grid) - var(--item-separator_s_thickness_list));
   }

   &.controls-GridReact-cell_topSeparatorSize-l {
      padding-top: calc(var(--item_padding-top_s_grid) - var(--item-separator_l_thickness_list));
   }
}

.controls-padding_top-grid_l {
   padding-top: var(--item_padding-top_l_grid);

   &.controls-GridReact-cell_topSeparatorSize-s {
      padding-top: calc(var(--item_padding-top_l_grid) - var(--item-separator_s_thickness_list));
   }

   &.controls-GridReact-cell_topSeparatorSize-l {
      padding-top: calc(var(--item_padding-top_l_grid) - var(--item-separator_l_thickness_list));
   }
}

.controls-padding_bottom-grid_s {
   padding-bottom: var(--item_padding-bottom_s_grid);

   &.controls-GridReact-cell_bottomSeparatorSize-s {
      padding-bottom: calc(
         var(--item_padding-bottom_s_grid) - var(--item-separator_s_thickness_list)
      );
   }

   &.controls-GridReact-cell_bottomSeparatorSize-l {
      padding-bottom: calc(
         var(--item_padding-bottom_s_grid) - var(--item-separator_l_thickness_list)
      );
   }
}

.controls-padding_bottom-grid_l {
   padding-bottom: var(--item_padding-bottom_l_grid);

   &.controls-GridReact-cell_bottomSeparatorSize-s {
      padding-bottom: calc(
         var(--item_padding-bottom_l_grid) - var(--item-separator_s_thickness_list)
      );
   }

   &.controls-GridReact-cell_bottomSeparatorSize-l {
      padding-bottom: calc(
         var(--item_padding-bottom_l_grid) - var(--item-separator_l_thickness_list)
      );
   }
}

// endregion VerticalPadding

// region HorizontalPadding

.controls-padding_left-grid_s {
   padding-left: calc(var(--offset_xs) / 2);
}

.controls-padding_left-grid_m {
   padding-left: calc(var(--offset_m) / 2);
}

.controls-padding_right-grid_s {
   padding-right: calc(var(--offset_xs) / 2);
}

.controls-padding_right-grid_m {
   padding-right: calc(var(--offset_m) / 2);
}

// endregion HorizontalPadding

// endregion Padding

/* region ItemActions display */

.controls-BaseControl_showActions_visible {
   .controls-itemActionsV {
      visibility: visible;
      opacity: 1;
   }
}

.ws-is-hover .controls-BaseControl_showActions_delayed {
   .controls-ListView__item_showActions:hover {
      .controls-itemActionsV_custom,
      > .controls-GridReact__cell_actionsCell > .controls-itemActionsV {
         /* stylelint-disable no-unknown-animations */
         animation: timeout 0.8s ease-out;
      }
   }
}

.ws-is-hover .controls-BaseControl_showActions_delayed,
.ws-is-hover .controls-BaseControl_showActions_onhover {
   .controls-ListView__item_showActions:hover {
      .controls-itemActionsV_custom,
      > .controls-GridReact__cell_actionsCell > .controls-itemActionsV {
         visibility: visible;
         opacity: 1;
      }
   }
}

/* endregion ItemActions display */

// region Shadows
// С помощью clip-path скрываем тень между ячейками https://codepen.io/stormkirill98/pen/xxaGpvY
.controls-GridReact__first-cell_shadow-mask::after {
   clip-path: polygon(
      calc(100% + var(--shadow-blur_b)) calc(100% + var(--shadow-blur_b)),
      calc(-1 * var(--shadow-blur_b)) calc(100% + var(--shadow-blur_b)),
      calc(-1 * var(--shadow-blur_b)) calc(-1 * var(--shadow-blur_b)),
      calc(100% + var(--shadow-blur_b)) calc(-1 * var(--shadow-blur_b)),
      calc(100% + var(--shadow-blur_b)) 0,
      100% 0,
      100% 100%,
      calc(100% + var(--shadow-blur_b)) 100%
   );
}

.controls-GridReact__last-cell_shadow-mask::after {
   clip-path: polygon(
      calc(100% + var(--shadow-blur_b)) calc(100% + var(--shadow-blur_b)),
      calc(-1 * var(--shadow-blur_b)) calc(100% + var(--shadow-blur_b)),
      calc(-1 * var(--shadow-blur_b)) 100%,
      0 100%,
      0 0,
      calc(-1 * var(--shadow-blur_b)) 0,
      calc(-1 * var(--shadow-blur_b)) calc(-1 * var(--shadow-blur_b)),
      calc(100% + var(--shadow-blur_b)) calc(-1 * var(--shadow-blur_b))
   );
}

.controls-GridReact__cell_shadow-mask::after {
   clip-path: polygon(
      calc(100% + var(--shadow-blur_b)) calc(100% + var(--shadow-blur_b)),
      calc(-1 * var(--shadow-blur_b)) calc(100% + var(--shadow-blur_b)),
      calc(-1 * var(--shadow-blur_b)) 100%,
      0 100%,
      0 0,
      calc(-1 * var(--shadow-blur_b)) 0,
      calc(-1 * var(--shadow-blur_b)) calc(-1 * var(--shadow-blur_b)),
      calc(100% + var(--shadow-blur_b)) calc(-1 * var(--shadow-blur_b)),
      calc(100% + var(--shadow-blur_b)) 0,
      100% 0,
      100% 100%,
      calc(100% + var(--shadow-blur_b)) 100%
   );
}

// endregion Shadows

// region z-index

@import 'Controls/_gridReact/zIndexEnv/zIndexStyle';

// endregion z-index

// region baseline

.controls-GridReact__cell-baseline::before {
   content: '\200b';
   width: 0;
}

.controls-GridReact__cell-baseline_default::before {
   font-size: var(--baseline_list);
}

@variants: 3xs, 2xs, xs, s, st, m, l, xl, 2xl, 3xl, 4xl, 5xl, 6xl, 7xl, 8xl;
.for(@variants, {
   .controls-GridReact__cell-baseline_@{_item}::before {
      font-size: ~'var(--font-size_@{_item})';
   }
});

.controls-GridReact__cell-marker_default {
   position: absolute;
   left: 0;
}

// endregion baseline
