.controls-ColoredTabs-HeadCounter-header {
   display: inline-block;
   justify-content: space-between;
}

.controls-ColoredTabs-HeadCounter-title {
   display: inline-block;
}

.controls-ColoredTabs-HeadCounter-counter {
   font-weight: bold;
   text-align: right;
   display: inline-block;
}

.controls-ColoredTabs-HeadCounter-counter_offset {
   margin-left: var(--offset_m);
}

.controls-ColoredTabs-HeadCounter__fixed-tab-counter {
   width: unset;
}
