.pageWrap {
   padding-left: 20px;
}

.scroll-container {
   width: 350px;
   height: 250px;
}

.content {
   width: 500px;
}

.options-wrap {
   display: inline-block;
   padding: 20px;
}

.options-value {
   font-weight: 600;
}
