.controls-demo_list_markerColor_color_blue {
   /* stylelint-disable-next-line color-named */
   --marker_color: blue;
}

.controls-demo_list_markerColor_color_green {
   /* stylelint-disable-next-line color-named */
   --marker_color: green;
}

.controls-demo_list_markerColor__div_height {
   height: var(--marker_size_image-mt_list);
}
