.controls-ArrayItem {
   padding-top: var(--offset_s);
   margin-left: calc(-1 * var(--offset_2xs));
   margin-right: calc(-1 * var(--offset_2xs));
   background-color: var(--background-color);
   border-radius: var(--border-radius_s);

   &_withBottomOffset {
      padding-bottom: var(--offset_s);
   }
}

.controls-ArrayItem__header {
   padding-left: var(--offset_st);
}

.controls-ArrayItem__title {
   color: var(--unaccented_hover_text-color);
   font-weight: var(--font-weight-bold);
}

// TODO: https://online.sbis.ru/opendoc.html?guid=48721621-2deb-4485-b00d-d9b5d6590e00&client=3
.controls_PropertyGrid_objectEditorGrid.controls-ArrayItem__objectGridEditor {
   padding: var(--offset_s) var(--offset_st);
}
