.controls-ArrayEditor {
   margin-top: var(--offset_3xs);
}

.controls-ArrayEditor__item {
   margin-bottom: var(--offset_s);

   &:last-child {
      margin-bottom: 0;
   }
}

.controls-ArrayEditor__itemsToAddTitle {
   margin-bottom: var(--offset_s);
   font-size: var(--font-size_xs);
   font-weight: var(--font-weight-bold);
   color: var(--label_text-color);
   text-transform: uppercase;

   &_withTopOffset {
      margin-top: var(--offset_xl);
   }
}

.controls-ArrayEditor__buttons {
   margin-left: calc(-1 * var(--offset_xs));
}

.controls-ArrayEditor__button {
   margin-bottom: var(--offset_xs);

   &:last-child {
      margin-bottom: 0;
   }
}
