.controls-Misspell {
   line-height: var(--inline_height_default);
}

.controls-Misspell__text {
   font-weight: var(--font-weight-bold);
}

.controls-Misspell__caption {
   display: inline-flex;
   flex-shrink: 1;
   font-weight: var(--font-weight-bold);
   color: var(--link_text-color);
   cursor: pointer;
   text-align: left;
   max-width: 100%;
}

.controls-Misspell__caption-content {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.controls-Misspell__caption:active {
   text-decoration: underline;
   color: var(--link_hover_text-color);
}

.ws-is-hover .controls-Misspell__caption:hover {
   text-decoration: underline;
   color: var(--link_hover_text-color);
}
