.controls-PropertyGrid__editor-innerPg-sameColumns.controls_PropertyGrid_objectEditorGrid {
   display: contents;
}

.controls-PropertyGrid__typeExpander {
   cursor: pointer;
}

.controls-PropertyGrid__typeExpander-wrapper {
   display: flex;
   align-items: center;
   height: var(--inline_height_m);
   align-self: start;
}

.controls-PropertyGrid__typeExpander_relative-wrapper {
   position: relative;
   display: inline-flex;
   align-items: start;
   height: 100%;
}

.controls-PropertyGrid__typeExpander_absolute-wrapper {
   position: absolute;
   white-space: nowrap;
   display: flex;
}
