.controls-PropertyGrid__editor-innerPg-sameColumns.controls_PropertyGrid_objectEditorGrid {
   display: contents;
}

.controls-PropertyGrid__typeExpander {
   cursor: pointer;
   display: inline-flex;
   align-self: center;
}

.controls-PropertyGrid__typeExpander_relative-wrapper {
   position: relative;
   display: inline-flex;
   align-items: center;
   height: 100%;
}

.controls-PropertyGrid__typeExpander_absolute-wrapper {
   position: absolute;
   white-space: nowrap;
}
