.ColormarkFilter__Editor__icon {
   width: var(--offset_m);
   height: var(--offset_m);
   border-radius: 50%;
}

.ColormarkFilter__Editor__iconWidth {
   width: var(--inline_height_m);
}

.ColormarkFilter__Editor__resetIcon {
   display: flex;
   color: var(--reset-button_icon-color_filterView);
   cursor: pointer;
   flex-shrink: 0;
}

.controls-icon_size-FilterColorMarkReset {
   .icon-size(var(--reset-button_icon-size));
}
