.controls-SuggestV__inputRender {
   width: 100%;
}

.controls-SuggestV {
   display: inline-block;
   max-width: 100%;
   position: relative;
}

.controls-SuggestV__loader {
   flex-shrink: 0;
   align-self: center;
}

.controls-Suggest__loader,
.controls-SuggestV__loader {
   background: var(--spinner_s_background-image_loadingIndicator) 0 0 no-repeat;
   background-size: contain;
   height: var(--spinner_s_size_loadingIndicator);
   width: var(--spinner_s_size_loadingIndicator);
   margin-right: var(--spinner_offset_suggest);
}

.controls-SuggestV__clear {
   align-self: baseline;
   cursor: pointer;
   .icon-size(var(--reset-button_icon-size));
   color: var(--reset-button_icon-color_suggest);

   &:active {
      color: var(--unaccented_hover_icon-color);
   }
}

.controls-SuggestV__clear_margin-right {
   margin-right: var(--offset_2xs);
}

//TODO Пока зададим ширину для новой стековой панели явно. Нужно для Матильды. https://online.sbis.ru/opendoc.html?guid=23717d3b-cb27-4a7e-a7ae-b4d06eb6aa25
.controls-SuggestV__showAllPopup {
   max-width: 700px;
   width: calc(100% - 64px);
}

.ws-is-hover {
   .controls-SuggestV__clear:hover {
      color: var(--unaccented_hover_icon-color);
   }
}
