.controlsDemo__browser_search {
   margin: 12px;
}

.controlsDemo__browser_firstList,
.controlsDemo__browser_secondList {
   width: 300px;
}

.controlsDemo__browser_secondList {
   margin-left: 12px;
}

.controlsDemo__browser_operationsPanel {
   width: 612px;
}
