.Name-Demo__container {
   margin: 15px;
}

.Name-Demo__input {
   width: 500px;
   margin: 10px;
}

.Name-Demo__title {
   color: #273747;
   padding: 10px 0;
   font-size: 24px;
}

.Name-demo_width {
   width: 500px;
}
