.themeSwitcher {
   /* stylelint-disable-next-line declaration-no-important */
   display: none !important;
}

.controls-demo-backButtonContent {
   margin: 0 4px;
   //Для того, чтобы шаблон, который расположен между кнопкой назад и хлебными крошками, ужимался при уменьшении размеров экрана.
   overflow: hidden;
}
