.example-News__header {
   height: 40px;
}

.example-News__group {
   margin-left: 8px;
}

.example-News__author,
.example-News__group {
   color: var(--label_text-color);
   cursor: pointer;
   font-size: 12px;
   font-weight: 400;

   &:hover {
      text-decoration: underline;
   }
}

.example-News__timePublication {
   color: var(--unaccented_color);
   font-size: 12px;
   margin: 0 8px auto auto;
}

.example-News-title {
   color: #242942;
   font-size: 18px;
   font-weight: var(--font-weight-bold);
}
