.example-Violations__time {
   color: var(--unaccented_text-color);
   font-size: 12px;
   margin: 0 0 auto auto;
}

.example-Violations__title {
   color: #1f2c63;
   font-size: 15px;
}

.example-Violations__content {
   color: var(--unaccented_text-color);
   font-size: 14px;
}

.example-Violations__main {
   margin-left: 20px;
}
