.controls_Wizard_theme-@{themeName} {
   // Цвета фона
   --current_item_background-color_Wizard-horizontal: #1766bf;
   --selected_item_background-color_Wizard-horizontal: #f0f5fb;

   // Размеры и отступы

   --arrow_width_Wizard-horizontal: 25px;
   --separator_thickness_Wizard-horizontal: 4px;
   --height_Wizard-horizontal: 64px;
   --compact_height_Wizard-horizontal: 30px;
}
