.controls_Wizard_theme-@{themeName} {
   // Общие переменные

   --Wizard-vertical_background-color_default: var(--background-color);
   --Wizard-vertical_marker_vertical_height: var(--inline_height_xs);
   --Wizard-vertical_marker_vertical_width: 3px;
   --Wizard-vertical_outsideNextButton_width: 90px;

   //
   // Размеры и отступы

   --offset-top_Wizard-vertical: 10px;
   --current_item_padding-bottom_Wizard-vertical: 14px;
   --item_offset_Wizard-vertical: 18px;
   --heading_height_Wizard-vertical: 20px;

   // Цвета обводки кнопок
   --border-color_Wizard-vertical-step: #f0f0f0;

   // Переменные для номеров шагов
   //
   // Отступы

   --step-number_offset_Wizard-vertical_s: var(--offset_s);
   --step-number_offset_Wizard-vertical_m: var(--offset_m);
   --current_step-number_padding-left_Wizard-vertical: 3px;
   --current_step-number_offset_Wizard-vertical: var(--offset_2xs);

   //Ширина
   --step-number-container-width_s: 9px;
   --step-number-container-width_m: 17px;

   //Переменные для маркера

   --marker_width_Wizard-vertical: 30px;
   --marker_height_Wizard-vertical: 34px;
   --big-marker_width_Wizard-vertical: 42px;
   --marker_offset-horizontal_negative_Wizard-vertical: var(--offset_xs);
   --marker_offset-vertical_negative_Wizard-vertical: 10px;
   --marker_color_Wizard-vertical: var(--brand_color);
   --marker_secondary-color_Wizard-vertical: #0b6fbd;
}
