// Классы контейнера, в котором лежит Timeline таблица
.controlsListsDemo__timelineGrid_WI_Base {
   width: 100%;
   max-width: 757px;
}

// Ширина контейнера ,в котором лежит Timeline таблица
.controlsListsDemo__timelineGrid_WI_Base-scrollContainer {
   height: 299px;
   width: 100%;
}

// Цвет фона динамической ячейки выходного дня
.controls-background-timelineDemo_weekend {
   background-color: #fff5f5;
}

// Цвет фона динамической ячейки рабочего дня
.controls-background-timelineDemo_workday {
   background-color: #edf4fc;
}

// Цвет фона динамической ячейки выходного дня
.controls-background-schedule_timelineDemo_dayoff {
   background-color: #ffecec;
}

// Цвет фона динамической ячейки рабочего дня
.controls-background-schedule_timelineDemo_workday {
   background-color: #e0e8f4;
}

// Оформление мини-карточки
.controlsListsDemo__timelineGrid_WI_Base-photo {
   min-height: 40px;
   min-width: 40px;
}

// Фон рамки для hoverMode=cell
.controls-GridReact__cell-borderStyle_cadetBlue::after {
   border-color: var(--single-editable-cell_editing_border-color_grid);
}
