@emptyViewWidth: 400px;
@defaultGraphHeight: 180px;

.controlsGraphs_base_emptyView {
   display: flex;
   height: 100%;
   width: @emptyViewWidth;
   align-items: center;
   justify-content: center;
   color: var(--label_text-color);
   font-size: var(--font-size_xl);
}

.controlsGraphs_base_emptyView__height {
   height: @defaultGraphHeight;
}
