.controls-background-filterPanel {
   background-color: var(--master_item_background-color_list);
}

.controls-ListEditor__columns {
   position: relative;
   width: 100%;
}

.controls-ListEditor__footer {
   display: flex;
   justify-content: center;
   margin-top: var(--offset_s);
   margin-left: var(--item_padding-left_l_list);
}

.controls-BigSeparator-size-listEditorFilter {
   width: var(--width_l_BigSeparator);
}

.controls-BaseControl__cut-container_listEditorFilter {
   margin-top: var(--offset_xs);
}

.controls-ListView__multiSelect__innerCircle_selected-master {
   fill: var(--marker_color);
}

.controls-ListEditor {
   margin-left: calc(-1 * var(--offset_l));
   margin-right: calc(-1 * var(--offset_l));
   flex-grow: 1;
}

.controls-ListEditor__column-img {
   width: var(--icon-size_m);
   height: var(--icon-size_m);
   border-radius: var(--border-radius_s_image);
   display: inline-flex;
   align-self: center;
}

.controls-ListEditor__additionalTemplate {
   display: flex;
   margin-left: auto;
   padding-left: var(--offset_s);
   align-items: baseline;
}

.controls-ListEditor__additionalTemplate:empty {
   padding-left: 0;
}

.controls-EditorList__additional-column {
   font-weight: normal;
}

.controls-EditorList__additional-columns__separator {
   color: var(--unaccented_contrast_background-color);
   margin: 0 var(--offset_2xs);
   display: inline-flex;
   align-items: baseline;
   font-weight: normal;
}

.controls-ListEditor__multiSelect-top {
   align-self: flex-start;
}

.controls-ListEditor__multiSelect-center {
   align-self: center;
}

.controls-ListEditor__adaptive {
   margin-left: 0;
   margin-right: 0;
}

.controls-FilterEditors__list-item-wrapper {
   width: 100%;
   min-width: 1px;
}

.controls-EditorAdaptiveList__FolderButton_fixed::before {
   position: fixed;
}

.controls-EditorAdaptiveList__Chips {
   padding-right: var(--offset_l);
}
