.controls_Keyboard_theme-@{themeName} {
   // Общие переменные для кнопок клавиатуры
   //
   // Размеры и отступы
   --item_size_Keyboard_view_s: 40px;
   --item_size_Keyboard_view_m: 44px;
   --item_size_Keyboard_view_l: 75px;
   --item_offset_Keyboard_view_s: 6px;
   --item_offset_Keyboard_view_l: 10px;

   // Обводка
   --item_border-radius_Keyboard_view: 10px;
   --item_border-color_Keyboard_view: rgba(0, 0, 0, 0.05);

   //Цвета
   --default_background-color_Keyboard_view: var(--background-color);
   --default_hover_background-color_Keyboard_view: var(--hover_background-color);
   --default_active_background-color_Keyboard_view: var(--active_background-color);
   --action_text-color_Keyboard_view: var(--text-color);
   --action_background-color_Keyboard_view: #f6f6f6;
   --action_hover_background-color_Keyboard_view: #edeef0;
   --action_active_background-color_Keyboard_view: #dddfe1;
}
