<Controls.popupTemplate:Stack headingCaption="Title">
   <ws:bodyContentTemplate>
      <div>
         <Controls.popup:Stack name="stack" template="Controls-demo/Popup/Opener/Compatible/resources/dimensionNewPanel">
         </Controls.popup:Stack>

         <Controls.buttons:Button name="stackButton" caption="Стековая панель" on:click="openStack()" class="demo__stackButton"/>
      </div>
      <div>
         <Controls.buttons:Button name="resultButton" caption="обработчик onResult" on:click="_onResult()" class="demo__resultButton"/>
      </div>
   </ws:bodyContentTemplate>
</Controls.popupTemplate:Stack>