.controls-Tabs_style-online {
   --marker-color_local: var(--marker_color);
   --marker-hover-color_local: var(--pale_border-color);
   --marker-border-radius_local: var(--border-radius_2xs);
   --marker-width_local: 100%;
   --marker-height_local: 3px;
   --item_text-color_tabs_local: var(--secondary_text-color);
   --item-selected_text-color_tabs_local: var(--primary_text-color);
   --border-thickness_tabs_local: var(--border-thickness);
   --border-color_tabs_local: var(--separator_color);
   --background-color_tabs_local: transparent;
   --hover-background-color_tabs_local: transparent;
   --item_border_tabs_local: unset;
   --item-selected_border-width_tabs_local: 0;
   --item-width_tabs_local: unset;
   --item-align_tabs_local: unset;
   --selected-background-color_tabs_local: transparent;
   --item-margin_tabs_local: var(--offset_m);
   --item-padding_tabs_local: 0;
}