.controls-Tabs_style-online {
   --container_hover-color_marker_local: var(--pale_border-color);
   --container_border-radius_marker_local: var(--border-radius_2xs);
   --container_width_marker_local: 100%;
   --container_height_marker_local: var(--marker_thickness_tabs);
   --item_text_color_tabs_local: var(--secondary_text-color);
   --item_selected_text-color_tabs_local: var(--primary_text-color);
   --container_border-width_tabs_local: var(--border-thickness);
   --container_border-color_tabs_local: var(--separator_color);
   --item_container_background-color_tabs_local: transparent;
   --item_container_hover-background-color_tabs_local: transparent;
   --item_container_border-color_tabs_local: transparent;
   --item_container_border-width_tabs_local: 0;
   --item_container_border-style_tabs_local: hidden;
   --item_container_selected-border-width_tabs_local: 0;
   --item_container_width_tabs_local: unset;
   --item_container_align_tabs_local: unset;
   --item_container_selected-background-color_tabs_local: transparent;
   --item_container_margin-horizontal_tabs_local: var(--offset_m);
   --item_container_padding-horizontal_tabs_local: 0;
}
