.controls-Tabs_style-wide {
   --marker-color_local: var(--text-color);
   --marker-hover-color_local: transparent;
   --marker-border-radius_local: 0;
   --marker-width_local: 3px;
   --marker-height_local: 100%;
   --item_text-color_tabs_local: var(--text-color);
   --item-selected_text-color_tabs_local: var(--text-color);
   --border-thickness_tabs_local: 0;
   --border-color_tabs_local: transparent;
   --background-color_tabs_local: var(--unaccented_background-color);
   --hover-background-color_tabs_local: var(--unaccented_hover_background-color);
   --item_border_tabs_local: var(--border-thickness) solid var(--border-color);
   --item-selected_border-width_tabs_local: var(--border-thickness) var(--border-thickness) 0 0;
   --item-width_tabs_local: 100%;
   --item-align_tabs_local: center;
   --selected-background-color_tabs_local: var(--background-color);
   --item-margin_tabs_local: 0;
   --item-padding_tabs_local: var(--offset_m);
}