.controls-Tabs_style-wide {
   --container_hover-color_marker_local: transparent;
   --container_border-radius_marker_local: 0;
   --container_width_marker_local: var(--marker_thickness_tabs);
   --container_height_marker_local: 100%;
   --item_text_color_tabs_local: var(--text-color);
   --item_selected_text-color_tabs_local: var(--text-color);
   --container_border-width_tabs_local: 0;
   --container_border-color_tabs_local: transparent;
   --item_container_background-color_tabs_local: var(--unaccented_background-color);
   --item_container_hover-background-color_tabs_local: var(--unaccented_hover_background-color);
   --item_container_border-color_tabs_local: var(--border-color);
   --item_container_border-width_tabs_local: var(--border-thickness);
   --item_container_border-style_tabs_local: solid;
   --item_container_selected-border-width_tabs_local: var(--border-thickness)
      var(--border-thickness) 0 0;
   --item_container_width_tabs_local: 100%;
   --item_container_align_tabs_local: center;
   --item_container_selected-background-color_tabs_local: var(--background-color);
   --item_container_margin-horizontal_tabs_local: 0;
   --item_container_padding-horizontal_tabs_local: var(--offset_m);
}
