.ColoredTabsHorizontalCompact {
  height: 100%;
  margin-right: var(--offset_xs);
  border-radius: 0 var(--border-radius_s) var(--border-radius_s) var(--border-radius_s);
  padding-top: var(--offset_2xs);
  width: 100%;

  .controls-ColoredTabs__head-tab {
    bottom: 0;
  }
}

.ColoredTabsHorizontalCompact__tabItems-container {
  margin-left: 4px;
  width: 100%;
  display: flex;
}

.ColoredTabsHorizontalCompact__content__scroll {
  box-shadow: 0 0 5px var(--shadow-color_a);
  border-radius: 0 var(--border-radius_s) var(--border-radius_s) var(--border-radius_s);
  height: calc(100% - 32px);
  background: var(--background-color);
  border-top-width: var(--border-thickness);
  border-top-style: solid;
}
