.ControlsDemo-ComboboxVDOM {
   display: flex;
   flex-direction: column;
   align-items: center;
}

/* stylelint-disable-next-line selector-max-universal */
.ControlsDemo-ComboboxVDOM__width270 > * {
   width: 270px;
}

.ControlsDemo-ComboboxVDOM__popupScroll {
   max-height: 400px;
}

.ControlsDemo-ComboboxVDOM__itemBig {
   max-width: 420px;
}

.ControlsDemo-ComboboxVDOM__popup {
   max-width: 400px;
}

.ControlsDemo-ComboboxVDOM__myTempalteMultiline {
   margin: 3px 0;
}
