.demo__wrapper {
   margin: 3% 20%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.demo__block {
   margin: 10px 20px;
   display: flex;
}

.demo__label {
   margin: 10px;
   width: 200px;
   padding-top: 10px;
}

.demo__element {
   display: inline-block;
   margin: 10px 20px;
   width: 350px;
}

.demo_slider_input_field {
   width: 100%;
}

.demo_slider_input-wrapper {
   display: flex;
   margin-top: 3px;
}

.demo_slider_input-label_first {
   margin-left: 3px;
}

.demo_slider_input-label {
   margin-left: 8px;
}

.demo_slider_input-label_last {
   margin-right: -6px;
}
