.ControlsDemo-SlidingPanel_RestrictiveContainer {
   height: 100%;
   padding: 12px;
   display: flex;
   flex-direction: column;
   flex: 1;
}

.ControlsDemo-SlidingPanel_RestrictiveContainer-button {
   margin: 12px;
   align-self: flex-start;
}

.ControlsDemo-Popup-slidingPanel_RestrictiveContainer-container {
   width: 60%;
   height: 100%;
   min-height: 0;
   flex: 1;
   margin: 0 auto;
   border: 1px solid;
   background: var(--unaccented_hover_contrast_background-color);
}
