.controls-list_Characteristics {
   display: flex;
   width: 100%;
   flex-wrap: wrap;
}

.controls-list_Characteristics-item {
   display: flex;
   padding-right: var(--offset_s);
}

.controls-list_Characteristics-item_image {
   width: var(--icon-size_s);
   height: var(--icon-size_s);
}

.controls-list_Characteristics-item::before {
   content: '\200b';
   display: inline-block;
   width: 0;
   font-size: var(--font-size_2xl);
}

.controls-list_Characteristics-item_title {
   padding-left: var(--offset_xs);
}
