.controlsDemo_itemActionsTemplate {
   height: 50px;
   display: flex;
   justify-content: center;

   & .controlsDemo_content {
      position: relative;
      width: 50%;
      height: 100%;
   }
}
