.controlsDemo-Dialog__template {
   width: 100%;
   margin-left: var(--offset_m);
   min-height: 30px;
}

.controlsDemo-Dialog__template__image {
   background-color: var(--unaccented_color);
   border-radius: var(--border-radius_button);
   width: 30px;
   height: 30px;
}
