.controls-ReportDialog__title {
   font-size: var(--font-size_3xl);
   color: var(--secondary_text-color_heading);
   font-weight: bold;
   margin-bottom: var(--offset_s);
   text-align: center;
}

.controls-ReportDialog__message {
   color: var(--label_text-color);
   text-align: center;
}

.controls-ReportDialog__error {
   color: var(--danger_text-color);
}

.controls-ReportDialog__error_first {
   margin-top: var(--offset_s);
}

.controls-ReportDialog__error_withSpacing {
   margin-top: var(--offset_2xs);
}

.controls-ReportDialog__closeButtonContainer {
   display: flex;
   justify-content: center;
}

.controls-ReportDialog__closeButton {
   width: var(--min-width_button_l_confirmation);
}
