.controls-Layout-Tabs__itemWrapper {
   display: flex;
   align-items: baseline;
   line-height: 32px;
}

.controls-Layout-Tabs__item {
   width: 100%;
   min-width: 0;
}

.controls-Layout-Tabs__counter {
   margin-left: var(--offset_xs);
}

.controls-Layout-Tabs__counter:empty {
   margin-left: 0;
}
