.Controls-Colors-demo {
  &_widthPanel {
    width: 260px;
  }

  &_border {
    border: var(--border-thickness) solid var(--border-color);
    border-radius: var(--border-radius_xs);
    padding: var(--offset_m);
  }

  &_list {
    width: 400px;

    &_lineHeight {
      height: var(--inline_height_m);
      line-height: var(--inline_height_m);
    }
  }
}
