.Controls-Colors-demo {
  &_widthPanel {
    &_s {
      width: 200px;
    }

    &_m {
      width: 230px;
    }
  }

  &_roundItem {
    width: var(--offset_m);
    height: var(--offset_m);
    border-radius: 50%;
  }
}
