.controls-demo__content2_container {
   border: 1px solid var(--readonly_border-color);
   margin: 20px;
   padding: 20px;
   width: 370px;
}

.controls-demo__pending-register2 {
   margin: 5px;
}

.controls-demo__pending-cancel {
   margin: 5px;
}

.controls-demo__pending-finish {
   margin: 5px;
}
