.controls-demo__indicator_inst .controls-loading-indicator-in {
   background: var(--background-color) url(../../resources/images/loading_indicator.png) 50% 50%
      no-repeat;
}

.controls-demo__indicator_inst .controls-loading-indicator_small .controls-loading-indicator-in {
   background: url(../../resources/images/small_loading_indicator.png) no-repeat;
   background-size: 16px;
   background-position: center;
}

.controls-loading-indicator_content:hover + .controls-loading-indicator_overlay-none {
   background-color: rgba(255, 218, 234, 0.3);
}
