.controls-demo__infobox__title {
   padding: var(--offset_xs);
}

.controls-demo__infobox {
   padding: var(--offset_s) calc(var(--offset_m) + var(--offset_xl)) var(--offset_s) var(--offset_m);
   height: calc(var(--inline_height_7xl) * 3);
}
