.controls-DecoratorNumber {
   white-space: nowrap;
}

.controls-DecoratorNumber__stroked {
   position: relative;
}

.controls-DecoratorNumber__stroked::before {
   content: '';
   height: 1px;
   background-color: var(--stroked_line-color_decorator);
   left: 0;
   top: 50%;
   width: 100%;
   position: absolute;
}

.ws-is-hover .controls-DecoratorNumber__underline:hover {
   text-decoration: underline;
}
