.controls-Suggest__suggestionsContainer_hidden {
   visibility: hidden;
}

.controls-Suggest__suggestionsContainer_popup {
   height: 100%;
   overflow: hidden;
}

//в safari не работает overflow:hidden с заданным border-radius
.ws-is-desktop-safari,
.ws-is-mobile-safari {
   .controls-Suggest__suggestionsContainer_popup {
      transform: translateZ(0);
   }
}

.controls-Suggest__tabs_PopupLayer {
   margin-top: var(--tabs_offset-top_suggest);
}

.controls-Suggest_list_empty {
   min-height: calc(
      var(--offset_l) * 2 + var(--spinner_l_size_loadingIndicator)
   );
}

.controls-SuggestAddButton_bottom {
   position: absolute;
   top: calc(-1 * var(--inline_height_xl) + var(--offset_xs));
   right: var(--offset_m);
}

.controls-SuggestAddButton_top {
   position: absolute;
   bottom: calc(-1 * var(--inline_height_xl) + var(--offset_xs));
   right: var(--offset_m);
}
