.ControlsDemo-Menu_wrapper {
   display: flex;
}

.ControlsDemo-Menu_item {
   max-width: 400px;
   margin: 25px auto;
}

.ControlsDemo-menuControl_minWidth {
   min-width: 130px;
}

.ControlsDemo-Menu-Control_scroll {
   max-height: 200px;
}

.ControlsDemo-Menu-Control__footerContentTemplate {
   color: var(--link_hover_text-color);
   cursor: pointer;
   padding: 0 12px;
   display: flex;
   align-items: center;
   height: 32px;

   &:hover {
      color: var(--label_hover_text-color);
      text-decoration: underline;
   }
}

.ControlsDemo-Menu-Control__itemTemplate {
   justify-content: space-between;
}

.ControlsDemo-Menu-Control__rightTemplate {
   color: var(--secondary_text-color);
}

.ControlsDemo-Menu_breadCrumbs-icon {
   color: var(--link_text-color);
   margin-right: var(--offset_xs);
}

.ControlsDemo-Menu_breadCrumbs-text {
   font-size: var(--font-size_m);
}

.ControlsDemo-menuControl_height {
   height: 115px;
}

.ControlsDemo_headerCustomTemplate {
   display: flex;
   width: 100%;
   justify-content: space-between;
   align-items: center;
}

.ControlsDemo_headerButton {
   margin-left: auto;
   cursor: pointer;
}
