.controls-editors-style_color-preview {
   width: var(--offset_2xl);
   height: var(--offset_2xl);
   border-radius: var(--border-radius_m);
   cursor: pointer;
   overflow: hidden;
   transition: 0.2s transform;
   flex-shrink: 0;
}

.ws-is-hover .controls-editors-style_color-preview:hover {
   transform: scale(1.15);
}
