@themeName: default__ubrr;

@import '../_variables';

.controls_theme-@{themeName} {
   // common
   --link_text-color: #1464cc;
   --hover_background-color: #eef4f6;
   --link_hover_text-color: #313e78;
   --readonly_color: #bcbcbc;
   --readonly_icon-color: #bcbcbc;
   --text-color: #323232;
   --marker_color: #a21148;
   --icon-color: #323232;
   --link_icon-color: #1464cc;
   --link_hover_icon-color: #313e78;
   --brand_color: #a21148;

   // палитра
   --primary_color: #a21148;
   --primary_text-color: var(--primary_color);
   --primary_hover_text-color: #800031;
   --primary_icon-color: var(--primary_color);
   --primary_hover_icon-color: var(--primary_hover_text-color);
   --primary_border-color: var(--primary_color);
   --primary_background-color: #fff5f9;
   --primary_hover_background-color: #ffebf2;
   --primary_active_background-color: #ffdbe9;
   --primary_same_background-color: #ffebf2;
   --primary_hover_same_background-color: #ffdbe9;
   --primary_active_same_background-color: #ffcce0;
   --primary_contrast_background-color: #e00056;
   --primary_hover_contrast_background-color: #d10050;
   --primary_active_contrast_background-color: #eb005a;
   --secondary_color: #757d89;
   --secondary_text-color: var(--secondary_color);
   --secondary_hover_text-color: #4f5763;
   --secondary_icon-color: var(--secondary_color);
   --secondary_hover_icon-color: var(--secondary_hover_text-color);
   --secondary_border-color: var(--secondary_color);
   --secondary_contrast_background-color: #959eac;
   --secondary_hover_contrast_background-color: #8691a2;
   --secondary_active_contrast_background-color: #9ba6b5;
   --danger_color: #ee2c35; // для совместимости. цвет должен быть такой как у текста.
   --danger_text-color: var(--danger_color);
   --danger_hover_text-color: #c7000a;
   --danger_icon-color: var(--danger_color);
   --danger_hover_icon-color: var(--danger_hover_text-color);
   --danger_border-color: var(--danger_color);
   --success_color: #27ae60; // для совместимости. цвет должен быть такой как у текста.
   --success_text-color: var(--success_color);
   --success_hover_text-color: #16922e;
   --success_icon-color: var(--success_color);
   --success_hover_icon-color: var(--success_hover_text-color);
   --success_border-color: var(--success_color);
}

@import '../_adaptiveFonts';
