.controls-PeriodDialog_weekday {
   font-size: var(--font-size_l);
   margin-left: var(--offset_2xs);
}

.controls-PeriodDialog_weekday__workday {
   color: var(--label_text-color);
}

.controls-PeriodDialog_weekday__weekend {
   color: var(--danger_text-color);
}
