.controls_PropertyGrid_objectEditorGrid {
   overflow-y: hidden;
   overflow-x: hidden;
   display: grid;
   grid-template-columns: auto minmax(0, auto) minmax(50%, 1fr);
   grid-row-gap: var(--offset_s);
   align-items: baseline;

   .controls_PropertyGrid_objectEditorGrid {
      grid-column-start: 1;
      grid-column-end: 4;
   }
}

.controls_PropertyGrid_objectEditorGrid-withGroups {
   overflow-y: hidden;
   overflow-x: hidden;
   display: flex;
   flex-direction: column;
   gap: var(--offset_s);
   align-items: baseline;
}

.controls_PropertyGrid__separator {
   height: 1px;
   background-color: var(--border-color);
   margin: var(--offset_2xs) 0;
   grid-column: ~'1 / 4';

   &:first-child {
      display: none;
   }
}

.controls_PropertyGrid__title {
   grid-column: ~'1 / 4';
   font-size: var(--font-size_xs);
   color: var(--text-color);
   text-transform: uppercase;
   font-weight: var(--font-weight_heading);
}

.controls_PropertyGrid__editor_layout {
   display: contents;

   &-content {
      display: contents;
   }

   &-skip-grid {
      display: flex;
      grid-column-start: 2;
      grid-column-end: 4;
   }
}

.controls_PropertyGrid__editor_layout__title {
   grid-column-start: 2;
   display: flex;
   align-items: baseline;

   &-top,
   &-float {
      grid-column-end: 3;
   }
}

.controls_PropertyGrid__editor_layout__label {
   max-width: 100%;
   min-width: 1px;
}

.controls_PropertyGrid__editor_layout__editor {
   grid-column-start: 3;
   grid-column-end: 4;
   min-width: 0;
   align-self: baseline;

   &-title-top,
   &:first-child {
      grid-column-start: 2;
   }

   &-with-action {
      gap: var(--offset_st);
   }
}

.controls_PropertyGrid__GroupCloud {
   border-color: var(--border-color);
   border-radius: var(--border-radius_s);
   border-width: var(--border-thickness);
   border-style: var(--border-style_inputText);
   padding: var(--offset_s) var(--offset_st) var(--offset_s) var(--offset_st);
   width: 100%;
   box-sizing: border-box;
   gap: var(--offset_2xs);
   background-color: var(--background-color);

   &__header-container {
      height: var(--inline_height_label_local, var(--inline_height_default_label));
      align-items: center;
   }

   &__header {
      gap: var(--offset_3xs);
      align-items: baseline;
   }

   &__title {
      font-size: var(--font-size_l);
      font-weight: var(--font-weight-bold);
   }

   &__content {
      overflow-y: hidden;
      overflow-x: hidden;
      display: grid;
      grid-template-columns: auto minmax(0, auto) minmax(50%, 1fr);
      grid-row-gap: var(--offset_s);
      align-items: baseline;
   }
}
