.controls-ExpandedCompositeTree-footer {
   display: flex;
   justify-content: center;
}

// TODO https://online.sbis.ru/opendoc.html?guid=a8803540-082c-42ad-9c0e-96627d9eee77
.controls-ExpandedCompositeTree-item {
   /* stylelint-disable-next-line declaration-no-important */
   margin-top: 0 !important;
   /* stylelint-disable-next-line declaration-no-important */
   margin-bottom: 0 !important;
}
