.controls-PeriodLiteDialog__container () {
   position: relative;
   height: auto;
}

.controls-PeriodLiteDialog__container-caption () {
   box-sizing: border-box;
   cursor: pointer;
   display: none;
   height: 100%;
   padding: 0;
   position: absolute;
   top: 0;
}

.controls-PeriodLiteDialog__container-month-caption () {
   .controls-PeriodLiteDialog__container-caption();
}

.controls-PeriodLiteDialog {
   position: relative;
   box-sizing: border-box;
   user-select: none;
   border-radius: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
   background-color: var(--background-color_shortDatePicker);
   border: var(--border-thickness) solid var(--border-color_shortDatePicker);
   box-shadow: var(--box-shadow_sticky);
   color: var(--text-color);
}

.controls-PeriodLiteDialog__footer {
   background-color: var(--header_background-color_sticky);
   display: flex;
   flex-shrink: 0;
   height: var(--footer_height_shortDatePicker);
   justify-content: center;
   align-items: center;
}

.controls-PeriodLiteDialog__body {
   font-size: var(--item_font-size_shortDatePicker);
}

.controls-PeriodLiteDialog__width-big {
   min-width: var(--quarterly_width_shortDatePicker);
}

.controls-PeriodLiteDialog__width-medium {
   width: calc(var(--quarterly-monthly_width_shortDatePicker) + 2 * var(--border-thickness));
}

.controls-PeriodLiteDialog__height-medium {
   max-height: var(--height_shortDatePicker);
}

.controls-PeriodLiteDialog__width-small {
   width: var(--monthly_width_shortDatePicker);
}

.controls-PeriodLiteDialog__height-small {
   max-height: var(--height_shortDatePicker);
}

.controls-PeriodLiteDialog__width-year-list {
   width: calc(var(--width_shortDatePicker) + 2 * var(--border-thickness));
}

.controls-PeriodLiteDialog__vLayout {
   background-color: var(--background-color_shortDatePicker);
}

.controls-PeriodLiteDialog__vLayoutItem {
   cursor: pointer;
   position: relative;
   box-sizing: border-box;
   border: var(--item_border-thickness_shortDatePicker) solid transparent;
   padding: 0 var(--quarterly_item-padding-left_shortDatePicker);

   ~ .controls-PeriodLiteDialog__vLayoutItem {
      margin-top: -1px;
   }
}

.controls-PeriodLiteDialog__vLayoutItem-caption {
   height: calc(var(--item_height_shortDatePicker) - var(--item_border-thickness_shortDatePicker) * 2);
   line-height: calc(var(--item_height_shortDatePicker) - var(--item_border-thickness_shortDatePicker) * 2);
}

.controls-PeriodLiteDialog__vLayoutItem:focus-within,
.controls-PeriodLiteDialog__item-background-hovered {
   border: var(--item_border-thickness_shortDatePicker) solid var(--item_hover_border-color_shortDatePicker);
}

.controls-PeriodLiteDialog__item-background-hovered {
   position: absolute;
   top: 0;
   height: 100%;
   width: 100%;
   box-sizing: border-box;
   background-color: var(--background-color_shortDatePicker);
}

.controls-PeriodLiteDialog__text-align-center {
   text-align: center;
}

.controls-PeriodLiteDialog__text-align-left {
   text-align: left;
}

.controls-PeriodLiteDialog__close {
   position: absolute;
   top: calc(-1 * var(--item_border-thickness_shortDatePicker));
   color: var(--background-color);
   background-color: var(--closeButton_background-color_shortDatePicker);
   box-shadow: var(--closeButton_box-shadow_shortDatePicker);
   cursor: pointer;

   &::before {
      content: '\e66c';
   }
}

.controls-PeriodLiteDialog__close_position-left {
   left: 0;
   margin-left: calc(-1 * (var(--icon-size_m) + var(--closeButton_offset-left_shortDatePicker)));
}

.controls-PeriodLiteDialog__close_position-right {
   right: 0;
   margin-right: calc(-1 * (var(--icon-size_m) + var(--closeButton_offset-left_shortDatePicker) + var(--item_border-thickness_shortDatePicker)));
}

.controls-PeriodLiteDialog__header {
   display: flex;
   background-color: var(--header_background-color_sticky);
   align-items: center;
   flex-shrink: 0;
   position: relative;
}

.controls-PeriodLiteDialog__currentValue {
   word-break: break-word;
   width: 100%;
   justify-content: center;
   border-bottom: none;
   margin-bottom: 0;
   cursor: pointer;
   flex: 1;
   display: flex;
   align-items: baseline;
   font-size: var(--header_font-size_sticky);
   font-weight: bold;
   color: var(--header_color_sticky);
   min-height: var(--header_min-height_sticky);
   line-height: var(--header_min-height_sticky);
   padding: 0 var(--header_padding-horizontal_sticky);
}

.controls-PeriodLiteDialog__yearWrapper {
   padding-bottom: var(--item_border-thickness_shortDatePicker);
   background-color: var(--header_background-color_sticky);
   height: var(--yearselector_height_shortDatePicker);
   position: relative;
   box-sizing: border-box;
   display: flex;
   align-items: center;
   flex-shrink: 0;
}

.controls-PeriodLiteDialog__yearHeader-border {
   border-top: var(--item_border-thickness_shortDatePicker) solid transparent;
   border-left: var(--item_border-thickness_shortDatePicker) solid transparent;
   border-right: var(--item_border-thickness_shortDatePicker) solid transparent;
}

.controls-PeriodLiteDialog__yearHeader-border-hovered {
   border-top: var(--item_border-thickness_shortDatePicker) solid var(--item_hover_border-color_shortDatePicker);
   border-left: var(--item_border-thickness_shortDatePicker) solid var(--item_hover_border-color_shortDatePicker);
   border-right: var(--item_border-thickness_shortDatePicker) solid var(--item_hover_border-color_shortDatePicker);
}

.controls-PeriodLiteDialog__year-next {
   margin: 0 calc(var(--yearselector_arrow_margin_shortDatePicker) - var(--item_border-thickness_shortDatePicker)) 0 var(--yearselector_arrow_margin_shortDatePicker);
}

.controls-PeriodLiteDialog__year-prev {
   margin: 0 var(--yearselector_arrow_margin_shortDatePicker) 0 var(--yearselector_arrow_margin_shortDatePicker);

   &::before {
      padding-bottom: var(--yearselector_arrow_padding-bottom_shortDatePicker);
   }
}

.controls-PeriodLiteDialog__year {
   vertical-align: middle;
   flex-grow: 1;
   flex-shrink: 0;
   color: var(--yearselector_text-color_shortDatePicker);
   font-size: var(--yearselector_font-size_shortDatePicker);
   font-weight: bold;
   height: var(--yearselector_height_shortDatePicker);
   line-height: var(--yearselector_height_shortDatePicker);
   padding-left: var(--quarterly_item-padding-left_shortDatePicker);  //отступ равен отступу внутри элементов, чтоб они были на одной линии
   align-self: stretch;
}

.controls-PeriodLiteDialog__year-center-lite {
   display: flex;
}

.controls-PeriodLiteDialog__year-clickable {
   cursor: pointer;
}

.controls-PeriodLiteDialog-item {
   margin-top: 0;
}

.controls-PeriodLiteDialog-item-yearList-years {
   cursor: pointer;
   position: relative;
   box-sizing: border-box;
   min-width: var(--width_shortDatePicker);
   height: calc(var(--item_height_shortDatePicker) - var(--item_border-thickness_shortDatePicker));
}

.controls-PeriodLiteDialog__yearList-year {
   border: var(--item_border-thickness_shortDatePicker) solid transparent;
}

.controls-PeriodLiteDialog__bodyWrapper {
   position: relative;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   background-color: var(--header_background-color_sticky);
}

.controls-PeriodLiteDialog-item__halfYear {
   .controls-PeriodLiteDialog__container();
   margin-bottom: var(--separator_thickness_shortDatePicker);

   &:last-child {
      margin-bottom: 0;
   }
}

.controls-PeriodLiteDialog-item__halfYear-caption {
   .controls-PeriodLiteDialog__container-caption();

   color: var(--quarterly_quarters_text-color_shortDatePicker);
   width: var(--quarterly_quarters_width_shortDatePicker);  // равен ширине кварталов
   display: flex;
   right: 0;
   justify-content: center;
   align-items: center;
}

.controls-PeriodLiteDialog-item__halfYear-background {
   background-color: var(--background-color_shortDatePicker);
}

.controls-PeriodLiteDialog-item__halfYear-background-transparent {
   background-color: transparent;
}

.controls-PeriodLiteDialog-item__quarter {
   .controls-PeriodLiteDialog__container();
   margin: 0 calc((var(--quarterly_quarters_width_shortDatePicker) + var(--separator_thickness_shortDatePicker))) var(--separator_thickness_shortDatePicker) 0;
}

.controls-PeriodLiteDialog-lastItem__quarter {
   margin-bottom: 0;
}

.controls-PeriodLiteDialog-item__quarter-caption {
   .controls-PeriodLiteDialog__container-caption();

   color: var(--quarterly_quarters_text-color_shortDatePicker);
   width: var(--quarterly_quarters_width_shortDatePicker);
   display: flex;
   right: 0;
   position: absolute;
   justify-content: center;
   align-items: center;
}

.controls-PeriodLiteDialog-item__quarter-background {
   background-color: var(--background-color_shortDatePicker);
}

.controls-PeriodLiteDialog-item__quarter-background-transparent {
   background-color: transparent;
}

.controls-PeriodLiteDialog-item__checkBox {
   display: flex;
   position: absolute;
   top: 0;
   right: calc(var(--offset_m) - var(--item_border-thickness_shortDatePicker));
   align-items: center;
   height: 100%;
}

.controls-PeriodLiteDialog-item__month-caption {
   position: relative;
}

.controls-PeriodLiteDialog-item__month-wrapper {
   margin: 0 calc((var(--quarterly_quarters_width_shortDatePicker) + var(--separator_thickness_shortDatePicker))) 0 0;
}

.controls-PeriodLiteDialog_monthsAndQuarters-item__month-wrapper {
   width: calc(var(--quarterly-monthly_width_shortDatePicker) - var(--separator_thickness_shortDatePicker) - var(--quarterly_quarters_width_shortDatePicker));
}

.controls-PeriodLiteDialog-item__month-background {
   background-color: var(--background-color_shortDatePicker);
}

.controls-PeriodLiteDialog-item__month-background-transparent {
   background-color: transparent;
}

.controls-PeriodLiteDialog__years-bold {
   font-weight: bold;
   color: var(--link_text-color);
}

.controls-PeriodLiteDialog__years-prev,
.controls-PeriodLiteDialog__years-next {
   justify-content: center;
   align-items: center;
   display: flex;
   background-color: var(--header_background-color_sticky);
   height: var(--annually_header_height_shortDatePicker);
}

.controls-PeriodLiteDialog__selectedYear {
   font-weight: bold;
   color: var(--primary_text-color);
}

.controls-PeriodLiteDialog__fullYear-listElement {
   height: var(--item_height_shortDatePicker);
   background-color: var(--background-color_shortDatePicker);
   color: var(--primary_text-color);
   padding-left: var(--quarterly_item-padding-left_shortDatePicker);  //отступ равен отступу внутри элементов, чтоб они были на одной линии
   border-top: var(--item_border-thickness_shortDatePicker) solid transparent;
   border-left: var(--item_border-thickness_shortDatePicker) solid transparent;
   border-right: var(--item_border-thickness_shortDatePicker) solid transparent;
   position: relative;
   font-weight: bold;

   &::after {
      content: '';
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
   }
}

.controls-PeriodLiteDialog__fullPicker {
   height: calc(var(--item_height_shortDatePicker) + var(--separator_thickness_shortDatePicker));
   &::after {
      border-bottom: solid var(--separator_thickness_shortDatePicker) var(--separator_color_shortDatePicker);
   }
}

.controls-PeriodLiteDialog__yearHeader-background-hovered::after {
   border: none;
}

.controls-PeriodLiteDialog__fullYear-listElement-hovered {
   border: solid var(--item_border-thickness_shortDatePicker) var(--item_hover_border-color_shortDatePicker);
   cursor: pointer;
   border-bottom: none;

   &::after {
      border: none;
   }
}

.controls-PeriodLiteDialog__year-list {
   max-height: calc(var(--height_shortDatePicker) - var(--footer_height_shortDatePicker) - (2 * (var(--annually_header_height_shortDatePicker) + var(--border-thickness))));
   height: 100%;
}

.border-top-hidden {
   border-top: none;
}

.controls-PeriodLiteDialog_calendarBody {
   position: relative;
   border-bottom: var(--separator_thickness_shortDatePicker) solid var(--separator_color_shortDatePicker);
}

.controls-PeriodLiteDialog_monthsAndQuarters-item__quarter {
   position: relative;
   margin: 0 0 var(--separator_thickness_shortDatePicker) 0;
}

.controls-PeriodLiteDialog_monthsAndQuarters-lastItem__quarter {
   margin-bottom: 0;
}

.ws-is-mobile-android {

   // На android на самом маленьком масштабе элементы списка не отображаются, пока мы не поскроллим.
   // Используем аппаратное ускорение https://www.smashingmagazine.com/2012/06/play-with-hardware-accelerated-css/
   .controls-PeriodLiteDialog_calendarBody {
      transform: translate3d(0, 0, 0);
   }
}

.ws-is-hover {
   .controls-PeriodLiteDialog__vLayoutItem-clickable:hover {
      border-color: var(--item_hover_border-color_shortDatePicker);
      background-color: var(--item_hover_background-color_shortDatePicker);
   }

   .controls-PeriodLiteDialog__close:hover {
      background-color: var(--closeButton_hover_background-color_shortDatePicker);
   }

   .controls-PeriodLiteDialog__year-clickable:hover {
      background-color: inherit;
   }

   .controls-PeriodLiteDialog-item__halfYear-caption:hover {
      color: var(--quarterly_quarters_hover_text-color_shortDatePicker);
   }

   .controls-PeriodLiteDialog-item__quarter-caption:hover {
      color: var(--quarterly_quarters_hover_text-color_shortDatePicker);
   }
}

.ws-is-touch {
   .controls-PeriodLiteDialog__vLayoutItem-clickable:active {
      border-color: var(--item_hover_border-color_shortDatePicker);
      background-color: var(--item_hover_background-color_shortDatePicker);
   }

   .controls-PeriodLiteDialog-item__halfYear-caption:active {
      color: var(--quarterly_quarters_hover_text-color_shortDatePicker);
   }

   .controls-PeriodLiteDialog-item__quarter-caption:active {
      color: var(--quarterly_quarters_hover_text-color_shortDatePicker);
   }
}

.controls-PeriodLiteDialog-MonthList {
   max-height: calc(var(--height_shortDatePicker) - (var(--yearselector_height_shortDatePicker) +
   var(--header_min-height_sticky) + var(--footer_height_shortDatePicker) + 2 * var(--border-thickness)));
}
