.controlsDemo-Auth {
   display: inline-block;
   padding: 20px;
}

.controlsDemo-Auth__form {
   display: inline-flex;
}

.controlsDemo-Auth__fields {
   width: 200px;
   display: inline-flex;
   flex-direction: column;
}

.controlsDemo-Auth__field {
   width: 100%;
}

.controlsDemo-Auth__submit {
   margin-left: 20px;
   cursor: pointer;
   align-items: center;
   display: inline-flex;
   border: 1px solid var(--primary_color);
}
