.controlsDemo__container {
   width: 50px;
   border: 1px solid;
   position: relative;
}

.controlsDemo__container_horizontal {
   height: 50px;
   border: 1px solid;
   position: relative;
}

.controlsDemo__horizontalResizingLine {
   position: absolute;
   width: 100%;
}

.controlsDemo__horizontalResizingLine_top {
   top: 0;
}

.controlsDemo__horizontalResizingLine_bottom {
   bottom: 0;
}

.controlsDemo__resizingLine {
   position: absolute;
   height: 100%;
}

.controlsDemo__resizingLine_left {
   left: 0;
}

.controlsDemo__resizingLine_right {
   right: 0;
}
