.Controls-Templates-ImageItem__image_wrapper {
   align-items: center;
   justify-content: center;
   position: relative;
   overflow: hidden;
   width: 100%;
   height: 100%;
}

.Controls-Templates-ImageItem__image {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
