.ControlsDemo-wrapper {
   display: flex;
   justify-content: space-around;
}

.ControlsDemo-options_block {
   padding: 3em;
   background-color: #e0e6f5;
}

.ControlsDemo-options_wrapper,
.ControlsDemo-settings_wrapper {
   display: grid;
}

.ControlsDemo-example_block {
   padding: 3em;
   background-color: #e6edf0;
}

.ControlsDemo-scroll_container {
   max-height: 400px;
}
