.ControlsDemo-scroll {
   margin-left: 30%;
   max-width: 40%;
}

.ControlsDemo-navigation_scroll {
   width: 200px;
   max-height: 400px;
}

.ControlsDemo-navigation {
   background: #2c3e50;
}

.ControlsDemo-item_nav {
   line-height: 46px;
   margin-left: 10px;
}

.ControlsDemo-external_scrollable_area {
   max-height: 300px;
}

.ControlsDemo-internal_scrollable_area {
   max-height: 200px;
   margin: 10px 0;
}

.ControlsDemo-padding_text {
   padding: 0 30px;
}

.ControlsDemo-scroll_with_grid {
   max-height: 400px;
}

.ControlsDemo-record {
   padding: 3px;
}
