.controlsDemo-ShortDatePicker__large {
   height: calc(
      (var(--item_height_menu) + 2 * var(--border-thickness)) * 15 + var(--offset_3xs) +
         var(--inline_height_ArrowButton) + var(--offset_xl) + var(--inline_height_m)
   );
}

.controlsDemo-ShortDatePicker__medium {
   height: calc(
      (var(--item_height_menu) + 2 * var(--border-thickness)) * 14 + var(--offset_3xs) +
         var(--inline_height_ArrowButton) + var(--offset_xl) + var(--inline_height_m)
   );
}

.controlsDemo-ShortDatePicker__small {
   height: calc(
      (var(--item_height_menu) + 2 * var(--border-thickness)) * 6 + var(--offset_3xs) +
         var(--inline_height_ArrowButton) + 2 * var(--offset_st) + var(--inline_height_ArrowButton) +
         2 * var(--offset_2xs)
   );
}
