.controls-ProgressBar_size-s {
   height: calc(var(--inline_height_m) / 8);
}

.controls-ProgressBar_size-m {
   height: calc(var(--inline_height_m) / 4);
}

.controls-ProgressBar_style-default {
   background-color: var(--pale_color);
}

.controls-ProgressBar_style-primary {
   background-color: var(--primary_same_background-color);
}

.controls-ProgressBar_style-success {
   background-color: var(--success_same_background-color);
}

.controls-ProgressBar_style-warning {
   background-color: var(--warning_same_background-color);
}

.controls-ProgressBar_style-danger {
   background-color: var(--danger_same_background-color);
}

.controls-ProgressBar_style-secondary {
   background-color: var(--secondary_same_background-color);
}

.controls-ProgressBar_style-info {
   background-color: var(--info_same_background-color);
}

.controls-ProgressBar_style__filled {
   max-width: 100%;
   transition: width 0.2s;
   height: 100%;
}

.controls-ProgressBar_style-primary__filled {
   background-color: var(--primary_color);
}

.controls-ProgressBar_style-success__filled {
   background-color: var(--success_color);
}

.controls-ProgressBar_style-warning__filled {
   background-color: var(--warning_color);
}

.controls-ProgressBar_style-danger__filled {
   background-color: var(--danger_color);
}

.controls-ProgressBar_style-secondary__filled {
   background-color: var(--secondary_color);
}

.controls-ProgressBar_style-info__filled {
   background-color: var(--info_color);
}
