.controls-SelectorSuggest__arrow-wrapper {
   display: inline-flex;
   align-items: center;
   cursor: pointer;
   height: 100%;
   color: var(--unaccented_icon-color);
   padding-right: var(--trigger_padding-right_combobox);
}

.ws-is-hover .controls-SelectorSuggest__arrow-wrapper:hover {
   color: var(--unaccented_hover_icon-color);
}

.controls-SelectorSuggest__arrow-wrapper::before {
   content: '\200b';
}

.controls-SelectorSuggest__iconArrow {
   .icon-size-without-important(var(--icon-size_s));
   display: flex;
   align-items: center;
}
