.FloatingButtons-buttons {
   display: flex;
   flex-direction: row-reverse;
}

.FloatingButtons-buttons__templates {
   height: 100vh;
   right: 0;
   top: 0;
   position: absolute;
}

.FloatingButtons-buttons__templates-overflow {
   overflow: hidden;
}
