.controls-MyFormController__block {
   padding: 10px;
   border-bottom: 1px solid #dad3f7;
}

.controls-MyFormController__row {
   display: inline-block;
}

.controls-MyFormController__title {
   font-size: 18px;
   font-weight: var(--font-weight-bold);
   margin-right: 20px;
}
