.controls-ToolbarBox {
   border-radius: var(--border-radius_m);
   background-color: var(--unaccented_background-color);
   box-shadow: var(--shadow_d);
   padding: 0 var(--offset_s);
   display: inline-block;
}

.controls-ToolbarBox__item {
   height: var(--inline_height_l);
   position: relative;
}

.controls-ToolbarBox__separator {
   margin-right: var(--offset_s);
   margin-left: var(--offset_s);
}

.controls-ToolbarBox__separator__line {
   width: 1px;
   height: var(--icon-size_s); //по высоте иконки
   background-color: var(--separator_color_ToolbarBox);
}
