.ControlDemo__SlidingPanelTemplate {
   width: 100%;
   padding: 20px;
}

.ControlDemo__SlidingPanelTemplate-example {
   margin-bottom: 16px;
}

.ControlDemo__SlidingPanelTemplate-example-caption {
   font-weight: bold;
   font-size: 16px;
   margin-bottom: 8px;
}

.ControlDemo__SlidingPanelTemplate-example-control {
   height: 200px;
   width: calc(~'100% - 40px');
}

.ControlDemo__SlidingPanelTemplate-example-customContentColor {
   background-color: #a52a2a;
   height: 100%;
}
