.controls-Scroll-ContainerBase {
   display: flex;
}

.ws-is-mobile-chrome-ios,
.ws-is-mobile-safari {
   .controls-Scroll-ContainerBase {
      // Нативный скроллбар на Ipad'е находится ниже чем элементы с position: sticky и из-за этого перекрывается.
      // Свойство z-index создаст новый контекст наложения, что позволит скроллбару быть выше sticky элементов
      // В старом скролл контейнере было свойсвто perspective: 1000, но на IOS 14 из-за него полностью пропадает скрообар.
      z-index: 0;
   }
}

.controls-Scroll-ContainerBase__scrollPosition-regular {
   flex-direction: column;
}

.controls-Scroll-ContainerBase__scrollPosition-vertical-end {
   flex-direction: column-reverse;
}

.controls-Scroll-ContainerBase__scrollPosition-horizontal-end {
   flex-direction: row-reverse;
}

.controls-Scroll-ContainerBase__content {
   display: flex;
   flex-grow: 1;
   min-height: 100%;
   box-sizing: border-box;
}

.controls-Scroll-ContainerBase__content__vertical,
.controls-Scroll-ContainerBase__content__verticalHorizontal {
   flex-shrink: 0;
}

.controls-Scroll-ContainerBase__content__horizontal {
   flex-shrink: 1;
}

.controls-Scroll-ContainerBase__content-direction_column {
   flex-direction: column;
}

.controls-Scroll-ContainerBase__contentNotScrollable {
   height: 100%;
}

.controls-Scroll-containerBase_userContent {
   flex-shrink: 0;
}

.controls-Scroll-ContainerBase__scroll_vertical {
   overflow-y: scroll;
   overflow-x: hidden;
}

.controls-Scroll-ContainerBase__scroll_horizontal {
   overflow-y: hidden;
   overflow-x: scroll;
}

.controls-Scroll-ContainerBase__scroll_verticalHorizontal {
   overflow: scroll;
}

.controls-Scroll-ContainerBase__scroll_none {
   overflow: hidden;
}

// Chrome после обновления с 83 до 84 версии по умолчанию стал overflow-anchor: visible, из-за этого происходит
// браузерный подскролл к низу вновь добавляемого контента.
// https://online.sbis.ru/opendoc.html?guid=8673c14b-da6e-444b-86d1-d1a997555bfe
// https://bugs.chromium.org/p/chromium/issues/detail?id=1105785
.ws-is-chrome,
.ws-is-firefox {
   .controls-Scroll-ContainerBase__scroll_vertical,
   .controls-Scroll-ContainerBase__scroll_verticalHorizontal,
   .controls-Scroll-ContainerBase__scroll_horizontal {
      overflow-anchor: none;
   }
}

.ws-is-ie11 {
   // Класс для использования только в платформе. Решает проблему невозможности устновки min-height: 100% на контент.
   // Если установлен, то под ie контент не будет растягивать скролл контейнер если у него не установлена высота.
   .controls-Scroll-ContainerBase__ieStretchedСontent {
      .controls-Scroll-ContainerBase__content {
         height: 100%;
      }
   }
}
