.confirmation-block__bg {
  &-default {
    background-color: var(--secondary_contrast_background-color);
  }

  &-success {
    background-color: var(--success_contrast_background-color);
  }

  &-error {
    background-color: var(--danger_contrast_background-color);
  }
}
