.confirmation-block__bg {
  &-default {
    background-color: var(--secondary_color);
  }

  &-success {
    background-color: var(--success_color);
  }

  &-error {
    background-color: var(--danger_color);
  }
}
