.controls-LottieDemo-Animation__wrapper {
   .controls-LottieDemo-Animation__option {
      margin-bottom: 8px;
      display: flex;
      align-items: baseline;
   }

   .controls-LottieDemo-Animation__option:last-child {
      margin-bottom: 0;
   }

   .controls-LottieDemo-Animation__option-description {
      margin-left: 6px;
   }

   .controls-LottieDemo-Animation {
      cursor: pointer;
   }
}
