.itemActionsDemo__list {
   padding-bottom: 20px;
}

.height_button {
   padding: 10px;
   display: inline-block;
   width: 40px;
   border: 1px solid #8991a9;
   color: var(--label_text-color);
   background-color: var(--background-color);
   text-align: center;
   cursor: pointer;
   margin: 4px;
   user-select: none;
}

.controls-ListView__itemContent {
   /* stylelint-disable-next-line declaration-no-important */
   padding: 0 !important;
}

.height_item {
   height: 100%;
   white-space: nowrap;
   overflow: hidden;
}

.themeSwitcher {
   top: 0;
}

.itemActionsDemo {
   padding: 80px;
}

.height_button_selected {
   border-color: #dc143c;
   border-width: 3px;
   margin: 2px;
}
