.controls-SortingSelector {
   display: flex;
   align-items: center;
}

.controls-SortingSelector_arrowWrapper {
   height: 100%;
}

.controls-SortingSelector_button {
   overflow: hidden;
}

.controls-SortingSelector_arrow-outside,
.controls-SortingSelector_arrow {
   width: var(--icon-size_s);
   height: var(--icon-height_gridSortingSelector);
}

.controls-SortingSelector_arrow_caption {
   margin-left: var(--offset_xs);
   cursor: pointer;
}

.controls-SortingSelector_arrow_nocaption {
   margin-left: var(--offset_2xs);
   cursor: pointer;
}

.controls-SortingArrow_desc {
   transform: rotate(180deg);
}

.controls-SortingSelector_arrowsContainer {
   display: flex;
   height: 100%;
   align-items: center;
}

.controls-SortingSelector_arrow {
   fill: var(--secondary_icon-color);
   cursor: pointer;
}

.controls-SortingSelector_arrow:hover {
   fill: var(--secondary_hover_icon-color);
}
