@_text_padding-horizontal_infobox: calc(
   var(--close-button_offset-left_infobox) + var(--width_closeButton_link) +
      var(--close-button_offset-right_infobox) - var(--content_padding-horizontal_infobox)
);

.controls-InfoBox {
   height: 100%;
   max-height: inherit;
   box-sizing: border-box;
   overflow: hidden;

   &.controls-InfoBoxTemplate__content-area {
      display: block;
   }

   &__verticalPadding {
      padding-bottom: var(--content_padding-vertical_infobox);
      padding-top: var(--content_padding-vertical_infobox);
   }
}

.controls-InfoBox__horizontal-padding-m {
   padding-left: var(--content_padding-horizontal_infobox);
   padding-right: var(--content_padding-horizontal_infobox);
}

.controls-InfoBox__content {
   height: 100%;
   overflow-wrap: break-word;
}

.controls-InfoBox__message_margin {
   margin-right: @_text_padding-horizontal_infobox;
}

.controls-InfoBox__message {
   font-size: var(--font-size_infobox);
}

.controls-background-infoBox {
   background-color: var(--background-color_infobox);
}

.controls-InfoBox_floatElement {
   float: right;
   width: @_text_padding-horizontal_infobox;
   height: @_text_padding-horizontal_infobox;
}

/*
   Class to access the constant themes from js
*/
.controls-InfoBox__themeConstants {
   margin-left: var(--arrow_base_length_infobox);
   margin-right: var(--arrow_offset_infobox);
   margin-bottom: var(--arrow_offset_infobox);
   margin-top: var(--target_offset_infobox);
   max-width: var(--max-width_infobox);
}
