.custom-line-height {
   width: 200px;
   line-height: 25px;

   // inner align
   display: flex;
   align-items: baseline;
}

.custom-line-height__text {
   margin-right: 5px;
}

.custom-line-height__breadcrumbs {
   // for IE
   width: 100%;
}
