.engine-demo-Qwerty {
   margin: 1em;

   &__header {
      display: flex;
      justify-content: space-between;

      &-pressed-button {
         display: flex;

         &-value {
            margin-left: 0.5em;
         }
      }
   }
}
