.validateDemo_header {
   font-size: 18px;
   font-weight: bold;
}

.validateDemo_content {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 700px;
   margin: 30px;
}

.validateDemo {
   padding: 20px;
}

.validateDemo_element {
   margin: 5px 0;
}

.validateDemo_form {
   display: flex;
   flex-direction: column;
   align-items: baseline;
}

.validate_item {
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   margin-top: 5px;
}

.validate_item_input {
   margin: 5px;
}

.validate_item_text {
   margin-right: 10px;
}

.ControlsDemo-Page,
.validateDemo_scroll {
   height: 100%;
}
