.controlsListsDemo__dynamicGridBase {
   width: 100%;
   max-width: 757px;
}

.controlsListsDemo__dynamicGridBase-scrollContainer {
   height: 299px;
   width: 100%;
}

.controlsListsDemo__dynamicGridBase-dataCell {
   height: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.controlsListsDemo__dynamicGridBase-dynamicFooterCell {
   text-align: center;
   color: var(--text-color);
   width: 100%;
}

.controlsListsDemo__dynamicGridBase-headerCell {
   position: absolute;
   left: 0;
}

.controlsListsDemo__dynamicGridBase-dynamicHeaderCell {
   text-align: center;
   color: var(--text-color);
}

.controlsListsDemo__dynamicGridBase-redMark {
   color: var(--danger_active_color);
   font-size: 20px;
}

.controlsListsDemo__dynamicGridBase-greenMark {
   color: var(--success_active_color);
   font-size: 20px;
}
