.actionsConfig__popupStack-body {
   height: 100%;
}

.actionConfig__propertyGrid-body {
   margin: var(--offset_xs) var(--offset_m);
}

.actionConfig__propertyGrid-back_button {
   margin-top: var(--offset_xs);
}
