.controls-demo-FilterView__lookupTemplate {
   width: 100%;
   display: flex;
}

.controls-demo-FilterView__itemsEllipsis {
   max-width: 300px;
}

.controls-demo-FilterView__footerItem {
   width: 100%;
   padding-bottom: 8px;
}

.controls-demo-FilterView__footerItem-photo {
   width: 36px;
   height: 36px;
   margin: 0 4px;
   border-radius: 10px;
}

.controls-demo-FilterView__footer {
   width: 100%;
   flex-wrap: wrap;
   min-width: 0;
}

.control-demo__FilterDetailPanel__wrapper {
   display: inline-block;
}

.controls-demo-FilterView__markFirstSelectElement {
   font-weight: bold;
}

.controls-demo-FilterView__footerListView {
   width: 50%;
}

.controls-demo-FilterView__afterEditorTemplate {
   color: var(--label_text-color);
}
