.controls_objectEditorPopup_WidgetPanel__apply {
   position: absolute;
   right: 14px;
   top: var(--offset_s);
   z-index: 1;
   transform: translateZ(0);
}

.controls_objectEditorPopup_WidgetPanelHeader__reset {
   margin-right: var(--offset_m);
}

.ObjectEditorPopup_Widget__scrollContainer {
   height: 100%;
}

.objectEditorGrid {
   padding: var(--offset_m);
   overflow-y: auto;
   overflow-x: hidden;
   display: grid;
   grid-template-columns: auto 1fr;
   grid-row-gap: var(--offset_st);
   align-items: baseline;
}

.controls_objectEditorPopup_WidgetPanel {
   height: 100%;
}

.controls_ObjectEditorPopup__separator {
   width: 100%;
   height: 1px;
   background-color: var(--unaccented_border-color);
   margin-top: 2px;
   grid-column: ~'1 / 3';

   &:first-child {
      display: none;
   }
}

.controls_ObjectEditorPopup__title {
   grid-column: ~'1 / 3';
   text-transform: uppercase;
}

.controls_ObjectEditorPopup__editor_layout {
   display: contents;

   &__title {
      grid-column-start: 1;
      grid-column-end: 2;
   }

   &__editor {
      grid-column-start: 2;
      grid-column-end: 3;

      &:first-child {
         grid-column-start: 1;
      }
   }
}

.controls_objectEditorPopup_WidgetPanelHeader__text_reset {
   margin-right: var(--offset_s);
}

.controls-DialogTemplate__caption.controls_objectEditorPopup_WidgetPanelHeader__caption {
   align-items: center;
   flex-grow: 1;
   width: 0;
}

.objectEditorPopupHeaderTitle {
   width: 100%;
   display: flex;
   align-items: baseline;
}

.objectEditorPopupHeaderTitle__caption {
   width: 100%;
   margin: 0 var(--header_padding-left_dialog);
   display: flex;
   align-items: baseline;
}

.controls_objectEditorPopup_WidgetPanelHeader__text_wrapper {
   position: relative;
   padding-right: var(--offset_m);
   display: flex;
   align-items: center;
}

.controls_objectEditorPopup_WidgetPanelHeader_title__success {
   margin-right: var(--offset_s);
}
