/* ============== Верхний отступ ============== */
// Верхний отступ контента ячейки.
// Необходимо обеспечить непордвижность контента при смене размера межстрочных разделителей.

// Без разделителей
.controls-Grid__row-cell_withRowSeparator_size-null {
   .controls-Grid__row-cell_rowSpacingTop_default,
   .controls-ListView__itemV_marker-master_topPadding-default,
   .controls-ListView__itemV_marker-default_topPadding-default,
   .controls-Grid__row-checkboxCell_rowSpacingTop_default,
   .controls-OldGrid__row-checkboxCell_rowSpacingTop_default,
   &.controls-Grid__row-checkboxCell_rowSpacingTop_default,
   &.controls-OldGrid__row-checkboxCell_rowSpacingTop_default {
      padding-top: var(--item_padding-top_s_grid);
   }

   .controls-Grid__row-cell_rowSpacingTop_s,
   .controls-ListView__itemV_marker-master_topPadding-s,
   .controls-ListView__itemV_marker-default_topPadding-s,
   .controls-Grid__row-checkboxCell_rowSpacingTop_s,
   .controls-OldGrid__row-checkboxCell_rowSpacingTop_s,
   &.controls-Grid__row-checkboxCell_rowSpacingTop_s,
   &.controls-OldGrid__row-checkboxCell_rowSpacingTop_s {
      padding-top: var(--item_padding-top_s_grid);
   }


   .controls-Grid__row-cell_rowSpacingTop_st,
   .controls-ListView__itemV_marker-master_topPadding-st,
   .controls-ListView__itemV_marker-default_topPadding-st,
   .controls-Grid__row-checkboxCell_rowSpacingTop_st,
   .controls-OldGrid__row-checkboxCell_rowSpacingTop_st,
   &.controls-Grid__row-checkboxCell_rowSpacingTop_st,
   &.controls-OldGrid__row-checkboxCell_rowSpacingTop_st {
      padding-top: var(--offset_st);
   }

   .controls-Grid__row-cell_rowSpacingTop_l,
   .controls-ListView__itemV_marker-master_topPadding-l,
   .controls-ListView__itemV_marker-default_topPadding-l,
   .controls-Grid__row-checkboxCell_rowSpacingTop_l,
   .controls-OldGrid__row-checkboxCell_rowSpacingTop_l,
   &.controls-Grid__row-checkboxCell_rowSpacingTop_l,
   &.controls-OldGrid__row-checkboxCell_rowSpacingTop_l {
      padding-top: var(--item_padding-top_l_grid);
   }
}

// С тонким разделителем
.controls-Grid__row-cell_withRowSeparator_size-s {
   .controls-Grid__row-cell_rowSpacingTop_default,
   .controls-ListView__itemV_marker-master_topPadding-default,
   .controls-ListView__itemV_marker-default_topPadding-default,
   .controls-Grid__row-checkboxCell_rowSpacingTop_default,
   .controls-OldGrid__row-checkboxCell_rowSpacingTop_default,
   &.controls-Grid__row-checkboxCell_rowSpacingTop_default,
   &.controls-OldGrid__row-checkboxCell_rowSpacingTop_default {
      padding-top: calc(var(--item_padding-top_s_grid) - var(--item-separator_s_thickness_list));
   }

   .controls-Grid__row-cell_rowSpacingTop_s,
   .controls-ListView__itemV_marker-master_topPadding-s,
   .controls-ListView__itemV_marker-default_topPadding-s,
   .controls-Grid__row-checkboxCell_rowSpacingTop_s,
   .controls-OldGrid__row-checkboxCell_rowSpacingTop_s,
   &.controls-Grid__row-checkboxCell_rowSpacingTop_s,
   &.controls-OldGrid__row-checkboxCell_rowSpacingTop_s {
      padding-top: calc(var(--item_padding-top_s_grid) - var(--item-separator_s_thickness_list));
   }

   .controls-Grid__row-cell_rowSpacingTop_l,
   .controls-ListView__itemV_marker-master_topPadding-l,
   .controls-ListView__itemV_marker-default_topPadding-l,
   .controls-Grid__row-checkboxCell_rowSpacingTop_l,
   .controls-OldGrid__row-checkboxCell_rowSpacingTop_l,
   &.controls-Grid__row-checkboxCell_rowSpacingTop_l,
   &.controls-OldGrid__row-checkboxCell_rowSpacingTop_l {
      padding-top: calc(var(--item_padding-top_l_grid) - var(--item-separator_s_thickness_list));
   }
}

// С широким разделитем
.controls-Grid__row-cell_withRowSeparator_size-l {
   .controls-Grid__row-cell_rowSpacingTop_default,
   .controls-ListView__itemV_marker-master_topPadding-default,
   .controls-ListView__itemV_marker-default_topPadding-default,
   .controls-Grid__row-checkboxCell_rowSpacingTop_default,
   .controls-OldGrid__row-checkboxCell_rowSpacingTop_default,
   &.controls-Grid__row-checkboxCell_rowSpacingTop_default,
   &.controls-OldGrid__row-checkboxCell_rowSpacingTop_default {
      padding-top: calc(var(--item_padding-top_s_grid) - var(--item-separator_l_thickness_list));
   }

   .controls-Grid__row-cell_rowSpacingTop_s,
   .controls-ListView__itemV_marker-master_topPadding-s,
   .controls-ListView__itemV_marker-default_topPadding-s,
   .controls-Grid__row-checkboxCell_rowSpacingTop_s,
   .controls-OldGrid__row-checkboxCell_rowSpacingTop_s,
   &.controls-Grid__row-checkboxCell_rowSpacingTop_s,
   &.controls-OldGrid__row-checkboxCell_rowSpacingTop_s {
      padding-top: calc(var(--item_padding-top_s_grid) - var(--item-separator_l_thickness_list));
   }

   .controls-Grid__row-cell_rowSpacingTop_l,
   .controls-ListView__itemV_marker-master_topPadding-l,
   .controls-ListView__itemV_marker-default_topPadding-l,
   .controls-Grid__row-checkboxCell_rowSpacingTop_l,
   .controls-OldGrid__row-checkboxCell_rowSpacingTop_l,
   &.controls-Grid__row-checkboxCell_rowSpacingTop_l,
   &.controls-OldGrid__row-checkboxCell_rowSpacingTop_l {
      padding-top: calc(var(--item_padding-top_l_grid) - var(--item-separator_l_thickness_list));
   }
}

/* ============== Верхний отступ "прилипшей" ячейки лесенки ============== */

// Отступ этой ячейки не зависит от границ, т.к. это отдельный фиктивный блок поверх контента.
// Расстояние от начала границы до контента обычной ячейки равен var(--item_padding-top_s_grid) и var(--item_padding-top_l_grid),
// но padding может быть меньше, для компенсации границы. У прилипшей ячейки нет границы.

.controls-Grid__row-ladder-cell__content_default {
   padding-top: var(--item_padding-top_s_grid);
}

.controls-Grid__row-ladder-cell__content_s {
   padding-top: var(--item_padding-top_s_grid);
}

.controls-Grid__row-ladder-cell__content_l {
   padding-top: var(--item_padding-top_l_grid);
}

/* ============== Нижний отступ ============== */

.controls-Grid__row-cell_rowSpacingBottom_default,
.controls-Grid__row-cell_default_rowSpacingBottom_default {
   padding-bottom: var(--item_padding-bottom_s_grid);
}

.controls-Grid__row-cell_rowSpacingBottom_null,
.controls-Grid__row-cell_default_rowSpacingBottom_null {
   padding-bottom: 0;
}

.controls-Grid__row-cell_rowSpacingBottom_s,
.controls-Grid__row-cell_default_rowSpacingBottom_s {
   padding-bottom: var(--item_padding-bottom_s_grid);
}

.controls-Grid__row-cell_rowSpacingBottom_st,
.controls-Grid__row-cell_default_rowSpacingBottom_st {
   padding-bottom: var(--offset_st);
}

.controls-Grid__row-cell_rowSpacingBottom_l,
.controls-Grid__row-cell_default_rowSpacingBottom_l {
   padding-bottom: var(--item_padding-bottom_l_grid);
}

/* ============== Левый отступ ============== */

.controls-Grid__cell_spacingLeft,
.controls-GridView__footer__cell__cellPaddingLeft_default {
   padding-left: var(--cell_padding-left_default_grid);
}

.controls-Grid__cell_spacingLeft_null,
.controls-GridView__footer__cell__cellPaddingLeft_null {
   padding-left: 0;
}

.controls-Grid__cell_spacingLeft_s,
.controls-GridView__footer__cell__cellPaddingLeft_s {
   padding-left: var(--cell_padding-left_s_grid);
}

.controls-Grid__cell_spacingLeft_m,
.controls-GridView__footer__cell__cellPaddingLeft_m {
   padding-left: var(--cell_padding-left_default_grid);
}

/* ============== Правый отступ ============== */

.controls-Grid__cell_spacingRight,
.controls-GridView__footer__cell__cellPaddingRight_default {
   padding-right: var(--cell_padding-right_default_grid);
}

.controls-Grid__cell_spacingRight_null,
.controls-GridView__footer__cell__cellPaddingRight_null {
   padding-right: 0;
}

.controls-Grid__cell_spacingRight_s,
.controls-GridView__footer__cell__cellPaddingRight_s {
   padding-right: var(--cell_padding-right_s_grid);
}

.controls-Grid__cell_spacingRight_m,
.controls-GridView__footer__cell__cellPaddingRight {
   padding-right: var(--cell_padding-right_default_grid);
}
