.controls-DragScroll__overlay {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   z-index: 999;
   cursor: grabbing;
   display: none;
}

.controls-DragScroll__overlay_not-full-grid-support {
   cursor: move;
}
