@z-index-Grid-results-cell: 1;

.controls-Grid {
   display: -ms-grid;
   display: grid;
   width: 100%;
   position: relative;
}

.controls-Grid_master {
   grid-row-gap: var(--master_item_separator_thickness_list);
}

.controls-MasterDetail_master-template .controls-Grid_master {
   box-sizing: border-box;
   padding-right: var(--master_item_horizontal-offset_list);
}

.controls-GridView__loadingTrigger_notFullGridSupport {
   position: relative;
}

.controls-Grid__empty,
.controls-Grid__empty_gridWrapper {
   height: 100%;
}

.controls-GridView__emptyTemplate_stretch {
   display: flex;
   height: 100%;
   box-sizing: border-box;
   align-items: center;
}

.controls-GridView__emptyTemplate_stretch_align_center {
   justify-content: center;
}

.controls-GridView__emptyTemplate_stretch_align_start {
   justify-content: left;
}

.controls-GridView__emptyTemplate_stretch_align_end {
   justify-content: right;
}

.controls-GridView__emptyTemplate {
   display: contents;
}

// Курсор должен меняться только при наведении на текст, аналогично полям ввода. Он не должен меняться при
// наведении на отступы от текста до границ.
.controls-GridView__emptyTemplate
   .controls-EditingTemplateText_InputBackgroundVisibility_visible
   .controls-EditingTemplateText__inner,
.controls-GridView__emptyTemplate
   .controls-EditingTemplateText_InputBackgroundVisibility_onhover
   .controls-EditingTemplateText__inner {
   cursor: text;
}

.controls-GridView__emptyTemplate__cell {
   display: flex;
   align-items: baseline;
   color: var(--label_text-color);
   cursor: pointer;
}

.controls-GridView__emptyTemplate__checkBoxCell {
   min-width: var(--click-area_width_checkbox);
}

.controls-Grid_dragging_process {
   .controls-Grid__row-ladder-cell {
      display: none;
   }

   .controls-Grid__row-cell__content_ladderHeader
      .controls-Grid__row-cell__ladder-content:not(
         .controls-Grid__row-cell__ladder-content_hiddenForLadder
      ),
   .controls-Grid__row-cell__content_ladderHeader {
      visibility: visible;
   }

   .controls-ListView__itemV_marker {
      z-index: 4;
   }
}

.controls-GridView__itemV_marker_inCheckboxCell {
   height: var(--checkbox_height_list);
   align-items: center;
}

.controls-Grid__header {
   display: contents;
   color: var(--header_text-color_grid);
   cursor: default;
}

.controls-Grid__header-cell_min-width {
   min-width: 0;
}

.controls-Grid__header-cell {
   height: 100%;
   box-sizing: border-box;
   font-size: var(--header_font-size_grid);
   z-index: 1;
   display: inline-flex;
   flex-direction: column;
}

.controls-Grid__header-cell__content_valign-top {
   justify-content: flex-start;
}

.controls-Grid__header-cell__content_valign-center {
   justify-content: center;
}

.controls-Grid__header-cell__content_valign-bottom {
   justify-content: flex-end;
}

.controls-Grid__multi-header-cell_min-height {
   min-height: var(--header_multiline_cell_min-height_grid);
}

.controls-Grid__header-cell_min-height {
   min-height: var(--header_cell_min-height_grid);
}

.controls-ColumnScroll__content .controls-Grid__header-cell,
.controls-ColumnScroll__content .controls-Grid__results-cell {
   // With enabled column scroll and setting the value of grid column width as 'auto' in template columns, flex starts to shrink
   // because grid has no fixed width and hack as min-width allows such behaviour.
   min-width: auto;
}

/* Этот костыль выпилен в 6000 по https://online.sbis.ru/opendoc.html?guid=f5e830c3-7be2-4272-9c38-594c241401cc */
.ws-is-desktop-safari .controls-Grid__columnScroll_will-transform,
.ws-is-mobile-safari .controls-Grid__columnScroll_will-transform {
   will-change: transform;
}

.controls-Grid__cell_spacing_money::after,
.controls-Grid__header-cell_spacing_money::after {
   content: '.99';
   visibility: hidden;
   display: inline-block;
}

.controls-Grid__header-cell__content {
   box-sizing: border-box;
   min-height: var(--header_multiline_cell_min-height_grid);
   display: flex;
   justify-content: flex-start;
   align-items: baseline; //baseline align by default;
   background: inherit; //to fix https://online.sbis.ru/opendoc.html?guid=b825acd6-b5a7-42cb-9dcd-aa843e29a81a
}

.controls-Grid__sorting-button {
   display: inline-flex;
}

.controls-Grid__row-header__content_baseline_default::before {
   content: '\200b';
   font-size: var(--header_max-font-size_grid);
}

// Необходимо для выравнивания заголовков в одной строке с хлебными крошками, когда там есть functionalButton
// TODO см поручение проектированию https://online.sbis.ru/opendoc.html?guid=c5aa0683-477a-42ec-82a4-42ddb2c4c84c&client=3
.controls-Grid__row-header__content_baseline_4xl::before {
   content: '\200b';
   font-size: var(--font-size_4xl);
}

.controls-Grid__row-multi-header__content_baseline::before {
   content: '\200b';
   font-size: var(--header_multiline_max-font-size_grid);
}

.controls-Grid__header-cell_valign_bottom {
   justify-content: flex-end;
}

.controls-Grid__header-cell_valign_top {
   justify-content: flex-start;
}

.controls-Grid__header-cell_valign_middle {
   justify-content: center;
}

.controls-Grid__results {
   display: contents;
}

/* stylelint-disable-next-line no-descending-specificity */
.controls-Grid__results-cell {
   z-index: @z-index-Grid-results-cell;
   min-width: 0;
}

.controls-Grid__results-cell__content {
   min-height: var(--results_cell_min-height_grid);
   height: 100%;
   display: flex;
   align-items: baseline;
   overflow: hidden;
}

.controls-Grid__results-cell__content_baseline_default::before {
   content: '\200b';
   font-size: var(--header_max-font-size_grid);
}

.controls-Grid__results-cell__content_baseline_4xl::before {
   content: '\200b';
   font-size: var(--font-size_4xl);
}

.controls-Grid__results-cell__content_overflow {
   display: inline-flex;
   width: 100%;
   box-sizing: border-box;
   line-height: 1;
}

.controls-Grid__fixResultsHeight .controls-Grid__results-cell__content {
   height: 100%;
}

.controls-Grid__row-result-cell__content-font-weight_default {
   font-weight: var(--font-weight);
}

.controls-GridViewV__itemsContainer {
   display: contents;
}

.controls-Grid__row {
   display: contents;
}

.controls-Grid__cell_fit {
   // Default "min-width" value "auto" and width limited not working. Fix this bug by reset "min-width" value to "0".
   // http://css-live.ru/articles/chto-mozhet-polomat-maket-na-gridax-css-grid-layout.html
   min-width: 0;
   max-width: 100%;
}

.controls-Grid__border-radius-inherit {
   border-radius: inherit;
}

.controls-Grid__row-cell {
   height: 100%;
   display: flex;
   box-sizing: border-box;
}

.controls-Grid__row-cell_relative {
   position: relative;
}

.controls-Grid__row-cell_breadCrumbsSearch_min_height {
   min-height: calc(var(--cell_min-height_grid) - var(--item_padding-bottom_s_grid));
}

.controls-Grid__row-cell_default_style-default_min_height {
   min-height: var(--cell_min-height_grid);
}

.controls-Grid__row-cell_default_style-master_min_height {
   min-height: var(--master_item_min-height);
}

.controls-Grid__row-cell_small_style-master_min_height,
.controls-Grid__row-cell_small_style-default_min_height {
   min-height: var(--inline_height_m);
}

.controls-Grid__row-cell__content_colspaned {
   flex-grow: 1;
   box-sizing: border-box;
   max-width: 100%;
   min-width: 0;
}

// Хак для новой версии хрома (84 dev), заведён issue в поддержке хрома. В IE ломает вёрстку в автотестах
// https://online.sbis.ru/opendoc.html?guid=2f994b36-59aa-49ba-8c49-d1a6c4e9084f
// https://bugs.chromium.org/p/chromium/issues/detail?id=1103592
.ws-is-chrome {
   .controls-Grid__row-cell__content_colspaned {
      height: 100%;
   }
}

.controls-itemActionsV.controls-itemActionsV_outside {
   z-index: @z-index-Grid-results-cell + 1; /* на 1 больше чем у results; только для весла, иначе будут поверх шапки */
}

.controls-Grid__row-cell_default {
   font-size: var(--item_font-size_m_grid);
}

.controls-Grid__row-cell_master {
   font-size: var(--font-size_l);
}

.controls-Grid__header-cell__content-ellipsis,
.controls-Grid__cell_ellipsis {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   max-width: 100%;
}

.controls-Grid__cell_none {
   word-break: break-word;
}

.controls-Grid__cell_tooltip_ellipsis {
   overflow: hidden;
}

.controls-Grid__header-cell_halign_left {
   text-align: left;
}

.controls-Grid__header-cell_halign_right {
   text-align: right;
}

.controls-Grid__header-cell_halign_center {
   text-align: center;
}

.controls-Grid__row-cell__content_halign_left {
   justify-content: flex-start;
   text-align: left;
}

.controls-Grid__row-cell__content_halign_right {
   justify-content: flex-end;
   text-align: right;
}

.controls-Grid__row-cell__content_halign_center {
   justify-content: center;
   text-align: center;
}

.controls-Grid__row_editing {
   display: contents;
}

.controls-GridView__itemEditor_contentWrapper {
   min-width: 0;
   width: 100%;
}

.controls-Grid_partial-support .controls-Grid__row_editing {
   display: grid;
   display: -ms-grid;
}

.controls-ListView__item_animated_a > .controls-Grid__row-ladder-cell,
.controls-ListView__item_animated_a > .controls-Grid__row-cell {
   max-height: unset;
   opacity: 1;
   animation: add 500ms;
}

.controls-ListView__item_animated_rm > .controls-Grid__row-ladder-cell,
.controls-ListView__item_animated_rm > .controls-Grid__row-cell {
   max-height: 0;
   min-height: 0;
   opacity: 0;
   animation: remove 500ms;
}

@keyframes add {
   0% {
      min-height: 0;
      max-height: 0;
      opacity: 0;
   }

   99% {
      min-height: 0;
      max-height: 100px;
      opacity: 0;
   }

   100% {
      max-height: unset;
      opacity: 1;
   }
}

@keyframes remove {
   0% {
      min-height: 0;
      max-height: unset;
      opacity: 1;
   }

   1% {
      min-height: 0;
      max-height: 100px;
      opacity: 0;
   }

   100% {
      min-height: 0;
      max-height: 0;
      opacity: 0;
   }
}

.ws-is-hover {
   .controls-BaseControl_hover_enabled
      .controls-Grid__row:hover
      > .controls-hover-background-default:not(.controls-Grid__row-ladder-cell):not(
         .controls-Grid__row-cell-editing_singleCellEditable
      ) {
      background-color: var(--item_hover_background-color_list);
   }

   .controls-BaseControl_hover_enabled
      .controls-hover-background-default:hover
      .controls-background-default-sticky,
   .controls-BaseControl_hover_enabled
      .controls-hover-background-default:hover
      .controls-background-default {
      background-color: var(--item_hover_background-color_list);
   }
   // В stickyBlock для убирания скачков ставится инлайновый фон, мы не можем повлиять на него без important.
   .controls-BaseControl_hover_enabled
      .controls-hover-background-default:hover
      .controls-background-default-sticky.controls-StickyHeader {
      /* stylelint-disable-next-line declaration-no-important */
      background-color: var(--item_hover_background-color_list) !important;
   }

   .controls-BaseControl_hover_enabled
      .controls-hover-background-default:hover
      .controls-BaseCut__shadow_background-default {
      background: linear-gradient(
         180deg,
         rgba(255, 255, 255, 0) 0,
         var(--item_hover_background-color_list) 100%
      );
   }

   .controls-BaseControl_hover_enabled
      .controls-hover-background-default:hover
      .controls-background-stack {
      background-color: var(--item_hover_background-color_list);
   }

   .controls-BaseControl_hover_enabled
      .controls-hover-background-default:hover
      .controls-background-infoBox,
   .controls-BaseControl_hover_enabled
      .controls-hover-background-default:hover
      .controls-background-unaccented {
      background-color: var(--item_hover_background-color_list);
   }

   .controls-BaseControl_hover_enabled
      .controls-hover-background-default:hover
      .controls-Grid__row-cell__content_hiddenForLadder {
      background-color: var(--item_hover_background-color_list);
   }
   // Это должно быть внутри .controls-BaseControl_hover_enabled, иначе мы не можем управлять залипанием ховера
   .controls-Grid_grid-layout
      .controls-BaseControl_hover_enabled
      .controls-Grid__row:hover
      > .controls-Grid__row-cell
      > .controls-hover-background-default:not(.controls-Grid__row-ladder-cell__content):not(
         .controls-Grid__row-cell_single-cell_editing
      ):not(.controls-GridView__checkbox),
   .controls-Grid_table-layout
      .controls-BaseControl_hover_enabled
      .controls-Grid__row:hover
      > .controls-Grid__row-cell
      > .controls-Grid__table__relative-cell-wrapper
      > .controls-hover-background-default:not(.controls-Grid__row-ladder-cell__content):not(
         .controls-Grid__row-cell_single-cell_editing
      ):not(.controls-GridView__checkbox) {
      background-color: var(--item_hover_background-color_list);
      border-radius: inherit;
   }

   /* stylelint-disable-next-line no-descending-specificity */
   .controls-hover-background-default:hover {
      /** Общая проблема с background'ом у контролов, которые лежат в списке, решается через background: inherit **/
      .controls-SelectedCollection__InfoBox_fixed {
         background-color: var(--item_hover_background-color_list);
      }

      .controls-SelectedCollection__InfoBox_fixed::before,
      .controls-SelectedCollection__counterItems::before {
         background-image: linear-gradient(
            to left,
            var(--item_hover_background-color_list),
            rgba(255, 255, 255, 0)
         );
      }

      /*********************************************   */
   }

   // region hovered area

   .controls-BaseControl_hover_enabled {
      @variants: primary, secondary, danger, success, warning, info, unaccented;
      .for(@variants, {
         .controls-Grid__row:hover > .controls-Grid__row-cell > .controls-hover-background-@{_item}:not(.controls-Grid__row-ladder-cell__content),
         .controls-Grid__row:hover > .controls-Grid__row-cell > .controls-Grid__table__relative-cell-wrapper > .controls-hover-background-@{_item}:not(.controls-Grid__row-ladder-cell__content),
         .controls-Grid__row:hover > .controls-hover-background-@{_item}:not(.controls-Grid__row-ladder-cell):not(.controls-Grid__row-cell-editing_singleCellEditable) {
            background-color: ~'var(--@{_item}_hover_background-color)';
         }
         .controls-hover-background-@{_item}:hover {
            .controls-background-default,
            .controls-background-default-sticky,
            .controls-background-stack,
            .controls-background-infoBox,
            .controls-background-unaccented,
            .controls-Grid__row-cell__content_hiddenForLadder,
            .controls-SelectedCollection__InfoBox_fixed {
               background-color: ~'var(--@{_item}_hover_background-color)';
            }

            .controls-BaseCut__shadow_background-default {
               background: ~'linear-gradient(180deg, rgba(255, 255, 255, 0) 0, var(--@{_item}_hover_background-color) 100%)'
            }

            .controls-SelectedCollection__InfoBox_fixed:after {
               .horizontal-gradient(~'var(--@{_item}_hover_background-color), rgba(255, 255, 255, 0)');
            }
         }
      });
   }

   // endregion hovered area

   /* stylelint-disable no-descending-specificity */
   .controls-BaseControl_showActions_visible .controls-ListView__item_showActions,
   .controls-BaseControl_showActions_delayed .controls-ListView__item_showActions:hover,
   .controls-BaseControl_showActions_onhover .controls-ListView__item_showActions:hover {
      > .controls-Grid__editArrow-wrapper,
      > .controls-Grid__row-cell .controls-Grid__editArrow-wrapper,
      > .controls-Grid__row-cell
         > .controls-Grid__table__relative-cell-wrapper
         .controls-Grid__editArrow-wrapper,
      > .controls-Grid__row-cell
         .controls-Grid__row-cell__content
         .controls-Grid__editArrow-wrapper {
         /* stylelint-enable no-descending-specificity */
         visibility: visible;
      }
   }
}

// region shadow & border

.controls-ListView__itemV > .controls-ListView__item_shadow_dragging,
.controls-ListView__itemV > .controls-ListView__item_shadow_visible,
.ws-is-hover
   .controls-BaseControl_hover_enabled
   .controls-ListView__itemV:hover
   > .controls-ListView__item_shadow_onhover {
   & > .controls-Grid__row-cell__content,
   & > .controls-GridView__checkbox {
      background: var(--background-color);
      width: 100%;
      height: 100%;
      // Чтобы перекрывало тень между ячейками. Вместо 1 нужен как минимум 3, чтобы работало с застиканными записями
      z-index: 3;
      // Чтобы в ячейке чекбокса при отображении по ховеру отображался чекбокс вместе с background-ом
      visibility: visible;
      // Чтобы перекрывающий тень контент не заезжал на скругленные края
      border-radius: inherit;
   }
}

/* stylelint-disable no-descending-specificity */
.controls-ListView__itemV > .controls-ListView__item_shadow_dragging > .controls-GridView__checkbox,
.controls-ListView__itemV > .controls-ListView__item_shadow_visible > .controls-GridView__checkbox {
   /* stylelint-enable no-descending-specificity */
   box-sizing: border-box;
}

// endregion shadow & border

/* region ItemActions display */

.ws-is-hover .controls-BaseControl_showActions_delayed .controls-ListView__item_showActions:hover {
   > .controls-itemActionsV__container,
   > .controls-Grid__row-cell,
   > .controls-Grid__row-cell > .controls-Grid__table__relative-cell-wrapper,
   > .controls-Grid__row-cell .controls-Grid__row-cell__content {
      .controls-itemActionsV_custom,
      > .controls-itemActionsV {
         /* stylelint-disable no-unknown-animations */
         animation: timeout 0.5s;
      }
   }
}

/* stylelint-disable no-descending-specificity */
.controls-BaseControl_showActions_visible > .controls-ListView__item_showActions,
.ws-is-hover .controls-BaseControl_showActions_onhover .controls-ListView__item_showActions:hover,
.ws-is-hover .controls-BaseControl_showActions_delayed .controls-ListView__item_showActions:hover {
   > .controls-itemActionsV__container,
   > .controls-Grid__row-cell,
   > .controls-Grid__row-cell > .controls-Grid__table__relative-cell-wrapper,
   > .controls-Grid__row-cell .controls-Grid__row-cell__content {
      .controls-itemActionsV_custom,
      > .controls-itemActionsV {
         /* stylelint-enable no-descending-specificity */
         opacity: 1;
         visibility: visible;
      }
   }
}

/* endregion ItemActions display */

/* stylelint-disable no-descending-specificity */
.controls-Grid__row-cell-editing {
   > .controls-itemActionsV,
   + .controls-itemActionsV__container > .controls-itemActionsV,
   + .controls-Grid-table-layout__itemActions__container
      > .controls-Grid__table__relative-cell-wrapper
      > .controls-itemActionsV {
      /* stylelint-enable no-descending-specificity */
      visibility: visible;
      opacity: 1;
   }
}

.controls-Grid__row-cell-background-editing_default {
   background-color: var(--active_background-color);

   /** При редактировании по месту, переопределяем фон содержимого ячейки */
   /* stylelint-disable-next-line no-descending-specificity */
   .controls-Grid__row-cell__content_colspaned,
   .controls-Grid__row-cell__content {
      background-color: var(--active_background-color);
      z-index: 1;
   }

   // см. по стилям выше. Так же проблема, что и при ховере строки
   .controls-Render_background-same .controls-SelectedCollection__counterItems {
      background-color: var(--active_background-color);
   }

   /* stylelint-disable-next-line no-descending-specificity */
   .controls-Render_background-same .controls-SelectedCollection__counterItems::before {
      background-image: linear-gradient(
         to left,
         var(--active_background-color),
         rgba(255, 255, 255, 0)
      );
   }
}

.controls-Grid__row-cell__content_halign_right
   .controls-Grid__row-cell__ladder-content_additional-with-main {
   right: calc(var(--offset_m) / 2);
}

.controls-Grid__row-cell__content_halign_center
   .controls-Grid__row-cell__ladder-content_additional-with-main {
   right: 0;
   left: 0;
}

.controls-Grid__row-main_ladderWrapper,
.controls-Grid__row-additional_ladderWrapper {
   position: absolute;
   top: 0;
   bottom: 0;
}

.controls-Grid_support-ladder {
   .controls-Grid__row-cell__ladder-content_displayNoneForLadder {
      display: none;
   }

   /* stylelint-disable no-descending-specificity */
   .controls-Grid__row-cell__ladder-content_hiddenForLadder,
   .controls-Grid__row-cell__content_hiddenForLadder .controls-Grid__row-cell__ladder-content {
      /* stylelint-enable no-descending-specificity */
      visibility: hidden;
   }
}

/* stylelint-disable-next-line no-descending-specificity */
.controls-Grid__row-cell__content_hiddenForLadder {
   z-index: 1;
}

.controls-Grid__row-cell__content_ladder-empty.controls-Grid__row-cell__content_hiddenForLadder {
   z-index: 0;
}

/*
   !important в стилях ниже необходим. Для прилипающей лесенки в комбинации с другими прилипающими элементами таблицы,
   такими как заголовки, резултаты и группировка, увеличиваем отступ (по умолчанию top: 0).
   Лесенка не прилипает ниже верхних заголовков, так как находится в своих стеках заголовков.
*/
.controls-Grid__row-cell__ladder-spacing {
   /* stylelint-disable-next-line declaration-no-important */
   top: var(--item_line-height_l_grid) !important;
   height: 0;
}

.controls-Grid__row-cell__ladder-spacing_withGroup {
   /* stylelint-disable-next-line declaration-no-important */
   top: calc(var(--item_line-height_l_grid) + var(--grouping_height_list)) !important;
   height: 0;
}

.controls-Grid__row-cell__ladder-spacing_withHeader {
   /* stylelint-disable-next-line declaration-no-important */
   top: calc(var(--item_line-height_l_grid) + var(--header_cell_min-height_grid)) !important;
   height: 0;
}

.controls-Grid__row-cell__ladder-spacing_withResults {
   /* stylelint-disable-next-line declaration-no-important */
   top: calc(var(--item_line-height_l_grid) + var(--results_cell_min-height_grid)) !important;
   height: 0;
}

.controls-Grid__row-cell__ladder-spacing_withHeader_withResults {
   top: calc(
      var(--item_line-height_l_grid) + var(--header_cell_min-height_grid) +
         var(--results_cell_min-height_grid)
   ) !important; /* stylelint-disable-line declaration-no-important */
   height: 0;
}

.controls-Grid__row-cell__ladder-spacing_withHeader_withGroup {
   top: calc(
      var(--item_line-height_l_grid) + var(--header_cell_min-height_grid) +
         var(--grouping_height_list)
   ) !important; /* stylelint-disable-line declaration-no-important */
   height: 0;
}

.controls-Grid__row-cell__ladder-spacing_withResults_withGroup {
   top: calc(
      var(--item_line-height_l_grid) + var(--results_cell_min-height_grid) +
         var(--grouping_height_list)
   ) !important; /* stylelint-disable-line declaration-no-important */
   height: 0;
}

.controls-Grid__row-cell__ladder-spacing_withHeader_withResults_withGroup {
   top: calc(
      var(--item_line-height_l_grid) + var(--header_cell_min-height_grid) +
         var(--results_cell_min-height_grid) + var(--grouping_height_list)
   ) !important; /* stylelint-disable-line declaration-no-important */
   height: 0;
}

.controls-Grid__row-cell__ladder-main_spacing_withGroup {
   /* stylelint-disable-next-line declaration-no-important */
   top: var(--grouping_height_list) !important;
}

.controls-Grid__cell-content-wrapper_ladder {
   align-items: baseline;
   position: absolute;
   display: flex;

   &::before {
      content: '\200b';
      font-size: var(--item_font-size_l_grid);
   }
}

/* stylelint-disable-next-line no-descending-specificity */
.controls-Grid__row-cell__ladder-content_additional-with-main {
   position: absolute;
}

.controls-Grid__row-cell__content_hiddenForLadder
   .controls-Grid__row-cell__ladder-content
   .controls-Grid__row-ladder-cell {
   pointer-events: none;
   position: relative;
   z-index: 1;
}

/* stylelint-disable-next-line no-descending-specificity */
.controls-Grid__row-ladder-cell {
   position: relative;
}

.controls-Grid__row-ladder-cell__content_default {
   top: 0;
}

.controls-Grid__row-ladder-cell__content_m {
   top: var(--item_padding-top_s_grid);
}

.controls-Grid__row-ladder-cell__content_l {
   top: var(--item_padding-top_l_grid);
}

.controls-Grid__row-ladder-cell__content {
   .position-sticky();
   // иначе не будет работать мини-карточка
   // https://online.sbis.ru/opendoc.html?guid=873e5d1a-016f-456f-b51e-1a67a18a53d4
   pointer-events: auto;
}

.controls-Grid__ladder-cell__withoutPointerEvents {
   pointer-events: none;
}

// скрыть разделитель перед первой строкой в группе
/* stylelint-disable-next-line no-descending-specificity */
.controls-ListView__group + .controls-Grid__row .controls-Grid__row-cell {
   border-top-color: transparent;
}

/* По умолчанию используется большая базова линия (первая строка всегда должна быть с большой базовой линией).
   Далее, в зависимости от задачи, по месту устанавливаются нужные классы:
   controls-Grid__row-cell__content_baseline_S
   controls-Grid__row-cell__content_baseline_M
   controls-Grid__row-cell__content_baseline_L */
.controls-Grid__row-cell__content_baseline_L::before {
   content: '\200b';
   font-size: var(--item_font-size_l_grid);
}

.controls-Grid__row-cell__content_baseline_M::before {
   content: '\200b';
   font-size: var(--item_font-size_m_grid);
}

.controls-Grid__row-cell__content_baseline_S::before {
   content: '\200b';
   font-size: var(--item_font-size_s_grid);
}

.controls-Grid__header-cell_baseline_XL::before {
   content: '\200b';
   font-size: var(--header_max-font-size_grid);
}

.controls-Grid__row-cell__content_baseline_2XL::before {
   content: '\200b';
   font-size: var(--baseline_list);
}

.controls-Grid__row-cell__content_baseline_default::before {
   content: '\200b';
   font-size: var(--baseline_list);
   width: 0;
}

.controls-Grid__header-cell-content-block::before {
   display: block;
}

.controls-Grid__groupContent__spacingLeft_withCheckboxes {
   padding-left: var(--click-area_width_checkbox);
}

.controls-GridView__footer {
   display: contents;
   box-sizing: border-box;

   &::before {
      display: none;
   }
}

.controls-GridView__footer__cell {
   box-sizing: border-box;
   display: flex;
   align-items: baseline;
}

.controls-GridView__footer__cell__content {
   display: flex;
   align-items: baseline;
   flex-grow: 1;
}

.controls-GridView__footer__cell__content-height_default {
   min-height: var(--inline_height_m);

   &::before {
      content: '\200b';
      font-size: var(--font-size_xl);
   }
}

.controls-GridView__footer__cell__inner-content-wrapper {
   flex-grow: 1;
}

.controls-GridView__newFooter__cell {
   min-height: var(--inline_height_m);

   &::before {
      content: '\200b';
      font-size: var(--font-size_xl);
   }
}

.controls-Grid__cell_spacingFirstCol_default,
.controls-GridView__footer__cell__paddingLeft_default,
.controls-Grid__groupContent__spacingLeft_default {
   padding-left: var(--outer_padding, var(--item_padding-left_default_list));
}

.controls-Grid__cell_spacingFirstCol_xs,
.controls-GridView__footer__cell__paddingLeft_xs,
.controls-Grid__groupContent__spacingLeft_xs {
   padding-left: var(--outer_padding, var(--item_padding-left_xs_list));
}

.controls-Grid__cell_spacingFirstCol_s,
.controls-GridView__footer__cell__paddingLeft_s,
.controls-Grid__groupContent__spacingLeft_s {
   padding-left: var(--outer_padding, var(--item_padding-left_s_list));
}

.controls-Grid__cell_spacingFirstCol_m,
.controls-GridView__footer__cell__paddingLeft_m,
.controls-Grid__groupContent__spacingLeft_m {
   padding-left: var(--outer_padding, var(--item_padding-left_m_list));
}

.controls-Grid__cell_spacingFirstCol_l,
.controls-GridView__footer__cell__paddingLeft_l,
.controls-Grid__groupContent__spacingLeft_l {
   padding-left: var(--outer_padding, var(--item_padding-left_l_list));
}

.controls-Grid__cell_spacingFirstCol_xl,
.controls-GridView__footer__cell__paddingLeft_xl,
.controls-Grid__groupContent__spacingLeft_xl {
   padding-left: var(--outer_padding, var(--item_padding-left_xl_list));
}

.controls-Grid__cell_spacingFirstCol_2xl,
.controls-GridView__footer__cell__paddingLeft_2xl,
.controls-Grid__groupContent__spacingLeft_2xl,
.controls-Grid__cell_spacingFirstCol_xxl,
.controls-GridView__footer__cell__paddingLeft_xxl,
.controls-Grid__groupContent__spacingLeft_xxl {
   padding-left: var(--outer_padding, var(--item_padding-left_2xl_list));
}

.controls-Grid__cell_spacingFirstCol_3xl,
.controls-GridView__footer__cell__paddingLeft_3xl,
.controls-Grid__groupContent__spacingLeft_3xl,
.controls-Grid__cell_spacingFirstCol_xxxl,
.controls-GridView__footer__cell__paddingLeft_xxxl,
.controls-Grid__groupContent__spacingLeft_xxxl {
   padding-left: var(--outer_padding, var(--item_padding-left_3xl_list));
}

.controls-Grid__cell_spacingFirstCol_null,
.controls-GridView__footer__cell__paddingLeft_null,
.controls-Grid__groupContent__spacingLeft_null {
   padding-left: 0;
}

.controls-Grid__cell_spacingLastCol_default,
.controls-GridView__footer__cell__paddingRight_default,
.controls-Grid__groupContent__spacingRight_default {
   padding-right: var(--item_padding-right_default_list);

   &.controls-Grid__row-cell__content_halign_right
      .controls-Grid__row-cell__ladder-content_additional-with-main {
      right: var(--offset_m);
   }
}

.controls-Grid__cell_spacingLastCol_null,
.controls-GridView__footer__cell__paddingRight_null,
.controls-Grid__groupContent__spacingRight_null {
   padding-right: 0;
}

.controls-Grid__cell_spacingLastCol_xs,
.controls-GridView__footer__cell__paddingRight_xs,
.controls-Grid__groupContent__spacingRight_xs {
   padding-right: var(--item_padding-right_xs_list);
}

.controls-Grid__cell_spacingLastCol_s,
.controls-GridView__footer__cell__paddingRight_s,
.controls-Grid__groupContent__spacingRight_s {
   padding-right: var(--item_padding-right_s_list);

   &.controls-Grid__row-cell__content_halign_right
      .controls-Grid__row-cell__ladder-content_additional-with-main {
      right: var(--offset_s);
   }
}

.controls-Grid__cell_spacingLastCol_m,
.controls-GridView__footer__cell__paddingRight_m,
.controls-Grid__groupContent__spacingRight_m {
   padding-right: var(--item_padding-right_m_list);

   &.controls-Grid__row-cell__content_halign_right
      .controls-Grid__row-cell__ladder-content_additional-with-main {
      right: var(--offset_m);
   }
}

.controls-Grid__cell_spacingLastCol_l,
.controls-GridView__footer__cell__paddingRight_l,
.controls-Grid__groupContent__spacingRight_l {
   padding-right: var(--item_padding-right_l_list);

   &.controls-Grid__row-cell__content_halign_right
      .controls-Grid__row-cell__ladder-content_additional-with-main {
      right: var(--offset_l);
   }
}

.controls-Grid__cell_spacingLastCol_xl,
.controls-GridView__footer__cell__paddingRight_xl,
.controls-Grid__groupContent__spacingRight_xl {
   padding-right: var(--item_padding-right_xl_list);

   &.controls-Grid__row-cell__content_halign_right
      .controls-Grid__row-cell__ladder-content_additional-with-main {
      right: var(--offset_xl);
   }
}

.controls-Grid__cell_spacingLastCol_2xl,
.controls-GridView__footer__cell__paddingRight_2xl,
.controls-Grid__groupContent__spacingRight_2xl,
.controls-Grid__cell_spacingLastCol_xxl,
.controls-GridView__footer__cell__paddingRight_xxl,
.controls-Grid__groupContent__spacingRight_xxl {
   padding-right: var(--item_padding-right_2xl_list);

   &.controls-Grid__row-cell__content_halign_right
      .controls-Grid__row-cell__ladder-content_additional-with-main {
      right: var(--offset_2xl);
   }
}

.controls-Grid__cell_spacingLastCol_3xl,
.controls-GridView__footer__cell__paddingRight_3xl,
.controls-Grid__groupContent__spacingRight_3xl,
.controls-Grid__cell_spacingLastCol_xxxl,
.controls-GridView__footer__cell__paddingRight_xxxl,
.controls-Grid__groupContent__spacingRight_xxxl {
   padding-right: var(--item_padding-right_3xl_list);

   &.controls-Grid__row-cell__content_halign_right
      .controls-Grid__row-cell__ladder-content_additional-with-main {
      right: var(--offset_3xl);
   }
}

.controls-Grid__cell_spacingBackButton_with_multiSelection {
   margin-left: calc(-1 * var(--click-area_width_checkbox));
}

.controls-GridView__item_active {
   background-color: var(--item_hover_background-color_list);
}

/* stylelint-disable no-descending-specificity */
.controls-hover-background-default .controls-GridView__item_active {
   .controls-background-default,
   .controls-background-stack {
      background-color: var(--item_hover_background-color_list);
   }

   .controls-BaseCut__shadow_background-default {
      /* stylelint-enable no-descending-specificity */
      background: linear-gradient(
         180deg,
         rgba(255, 255, 255, 0) 0,
         var(--item_hover_background-color_list) 100%
      );
   }
}

.controls-GridView__item_active .controls-hover-background-master,
.controls-hover-background-master .controls-GridView__item_active .controls-background-master {
   background-color: var(--master_item_hover_background-color_list);
}

/* stylelint-disable no-descending-specificity */
.controls-GridView__item_active .controls-Grid__row-cell__content_hiddenForLadder {
   /* stylelint-enable no-descending-specificity */
   background-color: var(--item_hover_background-color_list);
}

// Checkbox styles
.controls-Grid__row-cell-checkbox-default {
   min-width: var(--click-area_width_checkbox);
   max-width: var(--click-area_width_checkbox);
}

.controls-Grid__row-cell-checkbox-master {
   min-width: var(--icon-size_s);
   max-width: var(--icon-size_s);
}

.controls-Grid__header-cell-checkbox {
   max-width: var(--click-area_width_checkbox);
}

// При включенном скроле колонок также нужен min-width https://online.sbis.ru/opendoc.html?guid=fe24dbc6-e04f-4cf3-a397-39c8e074f5f8
.controls-ColumnScroll__content
   .controls-Grid__header-cell-checkbox.controls-Grid__header-cell-checkbox_min-width,
.controls-Grid__header-cell-checkbox_min-width {
   min-width: var(--click-area_width_checkbox);
}

.controls-GridView__footer__paddingLeft_withCheckboxes {
   padding-left: var(--click-area_width_checkbox);
}

.controls-GridView__paddingBottom__itemActionsV_outside {
   padding-bottom: var(--height_outside_itemActions);
}

.controls-GridView__paddingBottom__itemActionsV_outside_size-s {
   padding-bottom: calc(var(--height_outside_itemActions) - var(--item-separator_s_thickness_list));
}

.controls-GridView__paddingBottom__itemActionsV_outside_size-l {
   padding-bottom: calc(var(--height_outside_itemActions) - var(--item-separator_l_thickness_list));
}

// Необходимая мера, т.к. иногда CSS от list прилетает позже и ломает высоту
.controls-ListView__footer.controls-GridView__footer__itemActionsV_outside {
   min-height: var(--height_outside_itemActions);
}

/* stylelint-disable-next-line no-descending-specificity */
.controls-GridView__footer__cell::before {
   display: none;
}

.controls-GridView__checkbox_relative {
   position: relative;
}

.controls-GridView__checkbox_position-custom {
   display: inline-block;
}

.controls-Grid__row-cell__contentWrapper {
   display: inline-flex;
   width: 100%;
}

/* stylelint-disable-next-line no-descending-specificity */
.controls-Grid__row-cell__content {
   width: 100%;
   display: inline-flex;
   align-items: baseline;
   border-radius: inherit;
   min-width: 0; //https://css-tricks.com/flexbox-truncated-text/
   flex-shrink: 1;
   box-sizing: border-box;
   height: 100%;
}

.controls-Grid__row-cell_cursor-default {
   cursor: default;
}

//MasterList styles

.ws-is-mobile-chrome-ios .controls-Grid__row-cell_selected-master,
.ws-is-desktop-safari .controls-Grid__row-cell_selected-master,
.ws-is-mobile-safari .controls-Grid__row-cell_selected-master {
   // ave safari 13
   // https://online.sbis.ru/opendoc.html?guid=6d560d7a-c140-4d06-a1b6-53b326efe950
   // иначе все position: absolute элементы внутри position: sticky
   // начинают сроиться относительно родителя уровнем выше
   // translateZ лечит высоту, но ломает ширину внутри sticky контейнер
   // translateY правит обе проблемы, с ним нормализуетя и высота и ширина, поэтому используем его
   transform: translateY(0);
}

/* stylelint-disable-next-line no-descending-specificity */
.controls-Grid__row-cell_selected-master {
   font-weight: var(--font-weight-bold);
   color: var(--master_item_selected_text-color_list);
   font-size: var(--font-size_l);
}

.controls-master-template-default {
   .controls-Grid__cell_spacingFirstCol_default {
      padding-left: var(--item_padding-left_l_list);
   }
}

//Классы совместимости для перехода со старого дизайна masterDetail на новый
.controls-master-template-newDesign {
   .controls-Grid__cell_spacingFirstCol_default {
      padding-left: var(--item_padding-left_l_list);
   }

   .controls-Grid__cell_spacingFirstCol_m {
      --masterOuterOffset: calc(var(--outer_padding) - var(--master_item_horizontal-offset_list));
      padding-left: var(--masterOuterOffset, var(--item_padding-left_m_list));
   }
}

/* stylelint-disable no-descending-specificity */
.controls-Grid__row-cell__first-master,
.controls-Grid__row-cell__first-master > .controls-Grid__row-cell__content {
   /* stylelint-enable no-descending-specificity */
   border-top-left-radius: var(--master_item_border-radius_list);
   border-bottom-left-radius: var(--master_item_border-radius_list);
}

/* stylelint-disable no-descending-specificity */
.controls-Grid__row-cell__last-master,
.controls-Grid__row-cell__last-master > .controls-Grid__row-cell__content {
   /* stylelint-enable no-descending-specificity */
   border-top-right-radius: var(--master_item_border-radius_list);
   border-bottom-right-radius: var(--master_item_border-radius_list);
}

.controls-Grid__row-cell_selected-master.controls-background-master,
.controls-Grid__row-cell_selected-master.controls-background-master .controls-background-master {
   background-color: var(--master_item_selected_background-color_list);
}

.controls-MasterDetail_master-transparent
   .controls-Grid__row-cell_selected-master.controls-background-master {
   background-color: var(--unaccented_background-color);
}

/* stylelint-disable no-descending-specificity, no-duplicate-selectors */
.ws-is-hover {
   .controls-BaseControl_hover_enabled {
      .controls-Grid__row:hover > .controls-hover-background-master,
      .controls-hover-background-master:hover .controls-background-master {
         /* stylelint-enable no-descending-specificity, no-duplicate-selectors */
         background-color: var(--master_item_hover_background-color_list);
      }
   }

   /* stylelint-disable no-descending-specificity */
   .controls-MasterDetail_master-transparent {
      .controls-BaseControl_hover_enabled
         .controls-Grid__row:hover
         > .controls-hover-background-master,
      .controls-BaseControl_hover_enabled .controls-hover-background-master:hover {
         /* stylelint-enable no-descending-specificity */
         background-color: var(--unaccented_background-color);
      }
   }
}

.controls-background-listItem {
   background-color: var(--background-color);
}

/* stylelint-disable-next-line no-descending-specificity */
.controls-itemActionsV__container {
   position: sticky;
   right: 0;

   // Нужен отдельный стек z-index, иначе при скролле колонок из-за transform опции оказываются ниже данных таблицы и неправильно обрабатывается ховер
   // https://online.sbis.ru/opendoc.html?guid=6059b335-dad3-4458-b022-0260680d5c27
   z-index: 1;
   pointer-events: none;

   /* stylelint-disable-next-line no-descending-specificity */
   .controls-itemActionsV {
      pointer-events: auto;
   }
}

/* stylelint-disable-next-line selector-max-universal */
.ws-is-firefox .controls-Grid__itemAction__emptyContainer > * {
   // Баг в FireFox.
   // В шапку, подвал и другие части грида(кроме строк данных) добавляется фейковая ячейка под операции над записью.
   // Если эта ячейка обернута в стики шапку, то минимальный scrollWidth у ячейки - 1px.
   // Так происходит из-за вложенного элемента с position: absolute, left: 1px и заданной высотой.
   // Demo: https://jsfiddle.net/Razevel/3ezr9ouj/
   display: none;
}

.controls-Grid__cell_header-content_border-bottom {
   border-bottom: var(--item-separator_s_thickness_list) solid var(--unaccented_separator_color);
}

.controls-Grid__cell_header-content_border-transparent {
   border-bottom: var(--item-separator_s_thickness_list) solid transparent;
}

.controls-Grid__cell_header-relative {
   position: relative;
}

.controls-Grid__header-cell_justify_content_left {
   justify-content: flex-start;
   text-align: left;
}

.controls-Grid__header-cell_justify_content_right {
   justify-content: flex-end;
   text-align: right;
}

.controls-Grid__header-cell_justify_content_center {
   justify-content: center;
   text-align: center;
}

.controls-Grid__header-cell_align_items_top {
   align-items: flex-start;
}

.controls-Grid__header-cell_align_items_bottom {
   align-items: flex-end;
}

.controls-Grid__header-cell_align_items_center {
   align-items: center;
}

/* stylelint-disable-next-line no-descending-specificity */
.controls-Grid__editArrow-wrapper {
   position: relative;
   flex-shrink: 1;
   min-width: 0;
   display: flex;
   justify-content: flex-end;
   align-items: baseline;
   visibility: hidden;
   pointer-events: none;
}

.controls-Grid__editArrow-cellContent {
   flex-shrink: 0;
   max-width: 100%;
}

.controls-Grid__editArrow-blur {
   height: 100%;
   min-height: var(--edit-arrow_icon-size_grid);
   display: inline-block;
   width: var(--edit-arrow_offset_grid);
   flex-shrink: 0;
   z-index: 0;
}

.controls-Grid__editArrow-blur_transparent {
   background: linear-gradient(90deg, rgba(240, 245, 251, 0), var(--background-color));
}

.controls-Grid__editArrow-blur_default {
   background: linear-gradient(
      90deg,
      rgba(240, 245, 251, 0),
      var(--item_hover_background-color_list)
   );
}

.controls-Grid__editArrow-blur_master {
   background: linear-gradient(
      90deg,
      rgba(240, 245, 251, 0),
      var(--master_item_hover_background-color_list)
   );
}

@variants: primary, secondary, danger, success, warning, info, unaccented;
.for(@variants, {
   .controls-Grid__editArrow-blur_@{_item} {
      background: ~'linear-gradient(90deg, rgba(240,245,251,0), var(--@{_item}_hover_background-color))';
   }
});

.controls-Grid__editArrow {
   position: relative;
   z-index: 1;
   fill: var(--secondary_icon-color);
   width: var(--edit-arrow_icon-size_grid);
   min-width: var(--edit-arrow_icon-size_grid);
   display: inline-flex;
   align-items: baseline;
   cursor: pointer;
   pointer-events: auto;
}

.controls-Grid__editArrow:hover {
   fill: var(--secondary_hover_icon-color);
}

.controls-Grid__editArrow::before,
.controls-Grid__editArrow-blur::before,
.controls-Grid__editArrow-wrapper::before {
   content: '\200b';
   font-size: var(--baseline_list);
}

.controls-Grid__editArrow-icon {
   height: var(--edit-arrow_icon-size_grid);
   width: var(--edit-arrow_icon-size_grid);
}

.controls-Grid__editArrow_background_transparent {
   background-color: var(--background-color);
}

.controls-Grid__editArrow_background_default {
   background-color: var(--item_hover_background-color_list);
}

.controls-Grid__editArrow_background_master {
   background-color: var(--master_item_hover_background-color_list);
}

@variants: primary, secondary, danger, success, warning, info, unaccented;
.for(@variants, {
   .controls-Grid__editArrow_background_@{_item} {
      background-color: ~'var(--@{_item}_hover_background-color)';
   }
});

.controls-Grid__editArrow-overflow-ellipsis {
   margin-right: calc(-1 * var(--edit-arrow_icon-size_grid));
   flex-shrink: 1;
}

.controls-Grid__editArrow-withTextOverflow {
   flex-shrink: 1;
   min-width: 0;
   width: var(--edit-arrow_icon-size_grid);
}

.controls-Grid__cell_valign_top {
   align-items: flex-start;
   height: 100%;
}

.controls-Grid__cell_valign_bottom {
   align-items: flex-end;
   height: 100%;
}

.controls-Grid__cell_valign_center {
   align-items: center;
   height: 100%;
}

.controls-Grid__cell-content_full-height {
   height: 100%;
}

.controls-Grid__cell_tag {
   margin-left: calc(-1 * var(--tag-size));
}

.controls-Grid__cell_tag_position_content {
   transform: translate(var(--offset_2xs), calc(var(--tag-size) - var(--offset_l)));
}

.controls-Grid__cell_tag_position_border {
   top: 0;
   right: 0;
   position: absolute;
}

.controls-Grid__loadingIndicator {
   grid-column-start: 1;
   grid-column-end: -1;
}

.controls-Grid__loadingIndicator-content {
   width: 100%;
}

.controls-Grid__loadingIndicator-global {
   position: absolute;
   width: 100%;
   // Чтобы перекрывало заголовок, результаты, горизонтальный скроллбар
   z-index: 5;
}

.controls-Grid__columnScroll__relativeCells {
   display: contents;
}

.controls-Grid__columnScroll__relativeCells,
.controls-Grid__columnScroll__fake-cell-to-recalc-width {
   height: 0;
}
