// Если в будующем потребуется обводка для ячеек с толстыми разделителями, то стили должны добавиться сюда.
.controls-Grid__row-cell_editing-mode-single-cell {
   &::after {
      position: absolute;
      top: calc(-1 * var(--item-separator_s_thickness_list));
      left: calc(-1 * var(--column_separator_s_thickness_grid));
      right: calc(-1 * var(--column_separator_s_thickness_grid));
      bottom: calc(-1 * var(--item-separator_s_thickness_list));
      z-index: 1;
      box-sizing: border-box;
      border: 0 solid transparent;
      pointer-events: none;
   }
}

// У первой ячейки нет границы слева по стандарту, следовательно ничего не нужно перекрывать
.controls-Grid__row-cell_editing-mode-single-cell_first::after {
   left: 0;
}

// У последней ячейки нет границы справа по стандарту, следовательно ничего не нужно перекрывать
.controls-Grid__row-cell_editing-mode-single-cell_last::after {
   right: 0;
}

// Операции над записью показываются при ховере по ячейке, в случае, если она сейчас не редактируется.
// В BaseControl для этого отведен специальный режим показа операций onhovercell.
.ws-is-hover
   .controls-BaseControl_showActions_onhovercell
   .controls-Grid__row
   > .controls-Grid__row-cell:hover
   .controls-Grid__row-cell__content {
   > .controls-itemActionsV,
   .controls-Grid__editArrow-wrapper {
      visibility: visible;
      opacity: 1;
   }
}

.ws-is-hover .controls-Grid__row-cell_single-cell_editable:hover {
   background-color: var(--hover_background-color);

   &::after {
      content: '\200b';
      border-color: var(--single-editable-cell_hover_border-color_grid);
      border-width: var(--border-thickness);
   }
}

.controls-Grid__row-cell_single-cell_editing::after {
   content: '\200b';
   border-color: var(--single-editable-cell_editing_border-color_grid);
   border-width: var(--single-editable-cell_editing_border-width_grid);
}

.ws-is-hover .controls-Grid__row-cell_single-cell_not-editable:hover {
   background-color: var(--single-not-editable-cell_hover_background-color_grid);
}

.controls-Grid__editArrow_background_single-cell {
   background-color: var(--single-not-editable-cell_hover_background-color_grid);
}

.controls-Grid__editArrow-blur_single-cell {
   background: linear-gradient(
      90deg,
      rgba(240, 245, 251, 0),
      var(--single-not-editable-cell_hover_background-color_grid)
   );
}
