.controls-Grid__TrackedPropertiesTemplate_grid_start_end_with_checkbox {
   grid-column-start: 2;
   grid-column-end: 3;
}

.controls-Grid__TrackedPropertiesTemplate_columnPlaceholder_with_checkbox {
   display: flex;
   grid-column-start: 3;
   grid-column-end: -1;
}

.controls-Grid__TrackedPropertiesTemplate_grid_start_end_without_checkbox {
   grid-column-start: 1;
   grid-column-end: 2;
}

.controls-Grid__TrackedPropertiesTemplate_columnPlaceholder_without_checkbox {
   display: flex;
   grid-column-start: 2;
   grid-column-end: -1;
}
