@height_ControlsDemo-HintManager-highlighterOffsetConfigPanel: 320px;
@width_ControlsDemo-HintManager-highlighterOffsetConfigPanel: 300px;

.controlsDemo-HintManager__highlighterOffsetConfigPanel {
  border: var(--border-thickness) solid var(--border-color);
  height: @height_ControlsDemo-HintManager-highlighterOffsetConfigPanel;
  width: @width_ControlsDemo-HintManager-highlighterOffsetConfigPanel;
}

.controlsDemo-HintManager__highlighterOffsetConfigScrollContainer {
  height: 100%;
}
