.demo-MonthList {
   margin: 10px 30px;
}

.demo-MonthList__header {
   font-size: 18px;
   font-weight: bold;
}

.demo-MonthList__content-row {
   display: flex;
   justify-content: center;
}

.demo-MonthList__content-block {
   margin: 30px;
   height: 600px;
   flex-shrink: 1;
   display: flex;
   flex-direction: column;
}

.demo-MonthList__content-block-header {
   font-weight: bold;
   margin: 10px 0;
}

.demo-MonthList__monthList-header {
   margin: 5px;
   color: #00f;
}

.demo-MonthList__itemHeader {
   color: #f00;
   font-weight: bold;
   padding: 8px 0;
}

.controls-MonthList__month {
   padding-bottom: 8px;
   border-bottom: solid 1px #9e9e9e;
}

.demo-MonthList__button {
   margin: 10px;
   flex-shrink: 1;
   flex-direction: column;
}
