.ControlsDemo-PeriodLiteDialog {
   max-height: 100%;
}

.PageBlock__componentWrap {
   height: 100%;
}

.PageBlock,
.PageWrap,
.ControlsDemo-Page {
   height: 95%;
}

.controlsDemo-ShortDatePicker {
   max-height: 800px;
}
