.controls-Cut__container {
   z-index: 1;
}

.controls-Cut__ellipsisWrapper {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
}

.controls-Cut {
   display: flex;
   flex-direction: column;
   z-index: 1;
   overflow: hidden;
   position: relative;
}
