@more_button-width: 28px;

.controls-AdaptiveChips__wrapper {
   padding-right: calc(@more_button-width + var(--offset_m));
   box-sizing: border-box;
   position: relative;
}

.controls-AdaptiveChips__selector {
   position: absolute;
   right: 0;
}

.controls-AdaptiveChips__buttonContainer {
   padding: var(--offset_2xs);
}
