.Tabs_container {
   border: var(--border-thickness) solid var(--border-color);
   border-radius: var(--border-radius_xs);
}

.Tabs__template-content {
   flex-grow: 1;
   height: inherit;
   min-height: 50px;

   .element_supervisor-content-hole {
      height: inherit;
   }
}
