.controls-SortingButton__content_align-left {
   flex-direction: row-reverse;
}

.controls-SortingButton__content_align-default {
   flex-direction: row;
}

.controls-SortingButton__content {
   .baseline-fix();
   display: flex;
   align-items: baseline;
}

.controls-SortingButton,
.controls-SortingButton__content {
   max-width: 100%;
}

.controls-SortingButton__icon {
   align-self: center;
   display: flex;
   flex-shrink: 0;
   height: 100%;
   line-height: 1;
}

.controls-SortingButton__arrow-spacing-right {
   margin-right: var(--offset_xs);
}

.controls-SortingButton__arrow-spacing-right_icon {
   margin-right: var(--offset_3xs);
}

.controls-SortingButton__arrow-spacing-left {
   margin-left: var(--offset_xs);
}

.controls-SortingButton__arrow-spacing-left_icon {
   margin-left: var(--offset_3xs);
}

.controls-SortingButton__caption {
   cursor: pointer;
   display: inline-flex;
   font-size: var(--header_font-size_grid);
   color: var(--text-color_gridSortingButton);
}

.controls-SortingButton_arrow {
   fill: var(--icon-color_gridSortingButton);
   height: var(--icon-height_gridSortingButton);
}

.controls-SortingButton__caption.controls-Grid__header-cell__content-ellipsis {
   cursor: pointer;
   display: inline;
}

.controls-SortingButton__caption:active {
   text-decoration: underline;
}

.ws-is-hover {
   .controls-SortingButton__caption:hover {
      text-decoration: underline;
   }
}
