.controls-MonthList__marker {
   height: 100%;
}

.controls-MonthList__template {
   width: 100%;
}

// Список планирует дать возможность опционально убирать минимальную высоту
// https://online.sbis.ru/opendoc.html?guid=c1e4f414-efb5-47df-8a5a-edd5738baf18&client=3
.controls-MonthList .controls-GridReact__minHeight-data {
   min-height: 0;
}
