.controls-PasswordInput__showPassword {
   cursor: pointer;
   align-self: center;
   color: var(--trigger-color_inputPassword);
   .icon(var(--icon-size_m), var(--icon_font-family_m));
}

.controls-PasswordInput__showPassword_margin-xs {
   margin-right: var(--padding-horizontal_inputText);
}

.controls-PasswordInput__showPassword_margin-null {
   margin-right: 0;
}

.controls-Password__nativeField_caretFilled {
   caret-color: var(--caret-color_fill_inputText);
}

.controls-Password__nativeField_caretEmpty {
   caret-color: var(--caret-color_empty_inputText);
}

.controls-Password__field_margin-xs {
   margin: 0 var(--offset_2xs) 0 var(--padding-horizontal_inputText);
}

.controls-Password__field_margin-null {
   margin: 0;
}
