.controls-DigitButtons__digit {
   border: 0 solid transparent;
   height: var(--inline_height_l);
   cursor: pointer;
   box-sizing: border-box;
   position: relative;
   padding: 0 calc(var(--offset_xs) / 2);
   color: var(--item_text-color_paging);
   font-size: var(--item_font-size-color_paging);
   background-color: var(--item_background-color_paging);
}

.controls-DigitButtons__digit_btn {
   min-width: var(--inline_height_l);
}

.controls-DigitButtons__ellipsis {
   cursor: auto;
   width: var(--ellipsis_width_paging);
   color: var(--item_text-color_paging);
   font-size: var(--item_font-size-color_paging);
}

.controls-DigitButtons__digit::before {
   content: '\200b';
   font-size: 0;
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   height: var(--marker_thickness_paging);
   border-radius: var(--border-radius_2xs);
}

.controls-DigitButtons__digit__selected::before {
   background-color: var(--marker_color);
}

.ws-is-hover {
   .controls-DigitButtons__digit:hover {
      background-color: var(--item_hover_background-color_paging);

      &::before {
         background-color: var(--pale_border-color);
      }
   }

   .controls-DigitButtons__ellipsis:hover::before {
      background-color: transparent;
   }

   .controls-DigitButtons__digit__selected:hover::before {
      background-color: var(--marker_color);
   }
}
