.controls-TileView__mediumTemplate_content {
   padding: var(--offset_m) var(--offset_m) var(--offset_s) var(--offset_m);
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   height: var(--height_medium_tile);
   align-items: center;
   flex-shrink: 0;
}

.controls-TileView__mediumTemplate_image {
   width: var(--size_4xl_image);
   height: var(--size_4xl_image);
}

.controls-TileView__mediumTemplate_title {
   max-height: var(--inline_height_2xl);
   width: 100%;
   white-space: normal;
   overflow: hidden;
   margin-top: var(--offset_xs);
}

.controls-TileView__mediumTemplate_itemActions {
   padding-bottom: var(--offset_2xs);
}
