@_gradient_dark_height_preview_tile: 14px;
@_gradient_light_height_preview_tile: 4px;

.controls-TileView__previewTemplate_title {
   position: absolute;
   bottom: 0;
   width: 100%;
   box-sizing: border-box;
   display: flex;
   align-items: center;
   left: 0;
}

.controls-TileView__previewTemplate_hover-title {
   width: 100%;
   box-sizing: border-box;
   padding: var(--offset_xs) var(--offset_m)
      calc(var(--offset_st) + var(--icon-size_m) + var(--offset_xs));
   z-index: 1;
   opacity: 0;
   display: none;
}

.controls-TileView__previewTemplate_title_singleLine {
   min-height: calc(var(--font-size_4xl) + 2 * var(--offset_m));
}

.controls-TileView__previewTemplate_title_multiLine {
   min-height: calc(2 * var(--font-size_4xl) + 2 * var(--offset_m));
}

.controls-TileView__previewTemplate_gradient {
   position: absolute;
   right: 0;
   top: 0;
   height: 100%;
   width: 100%;
}

.controls-TileView__previewTemplate_gradient_light {
   background: linear-gradient(
      to top,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) calc(100% - @_gradient_light_height_preview_tile),
      rgba(255, 255, 255, 0) 100%
   );
}

.controls-TileView__previewTemplate_gradient_dark {
   background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) calc(100% - @_gradient_dark_height_preview_tile),
      transparent 100%
   );
}

.controls-TileView__previewTemplate_title_gradient_dark .controls-Highlight_highlight {
   background-color: var(--text_background-color_decoratorHighlight_dark);
}

.controls-TileView__previewTemplate_title_text {
   position: absolute;
   padding: 0 var(--offset_m);
   left: 0;
   right: 0;
   bottom: var(--offset_m);
   display: flex;
   justify-content: space-between;
   box-sizing: border-box;
   height: 100%;
   align-items: flex-end;
}

.controls-TileView__previewTemplate_title_text_light {
   color: var(--text_light_color_preview_tile);
}

.controls-TileView__previewTemplate_title_text_dark {
   color: var(--text_dark_color_preview_tile);
}

.controls-TileView__previewTemplate_topTemplate {
   position: absolute;
   top: var(--offset_xs);
   right: var(--offset_xs);
}

.controls-TileView__previewTemplate_bottomRightTemplate {
   padding-left: var(--offset_m);
   bottom: var(--offset_m);
   align-self: flex-end;
}

.controls-TileView__previewTemplate_itemActions {
   right: 0;
   padding: 0;
   bottom: var(--offset_st);
}

// В IE неверно позиционируется абсолютный flex-контейнер, для выравнивания по центру делаем transform
.ws-is-ie .controls-TileView__previewTemplate_itemActions {
   right: 0;
   top: 50%;
   transform: translateY(-50%);
}

.controls-TileView__previewTemplate_itemActions_node {
   padding-right: var(--offset_xs);
}

.controls-itemActionsV__action_style_tileDark + .controls-itemActionsV__action_style_tileDark {
   box-shadow: inset var(--border-thickness) 0 var(--icon_style_color_tile_dark_preview_tile);
}

.controls-itemActionsV__action_style_tileLight + .controls-itemActionsV__action_style_tileLight {
   box-shadow: inset var(--border-thickness) 0 var(--icon_style_color_tile_light_preview_tile);
}

.controls-icon_style-tileDark {
   fill: var(--icon_style_color_tile_dark_preview_tile);
   color: var(--icon_style_color_tile_dark_preview_tile);
}

.controls-icon_style-tileLight {
   fill: var(--icon_style_color_tile_light_preview_tile);
   color: var(--icon_style_color_tile_light_preview_tile);
}

.controls-TileView__previewTemplate_image {
   height: 100%;
}

.controls-TileView__previewTemplate.controls-TileView__previewTemplate_withoutTitle {
   .controls-TileView__previewTemplate_title_text,
   .controls-TileView__previewTemplate_gradient {
      display: none;
   }
}

@keyframes showActionsFrame {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

@keyframes hideActionsFrame {
   0% {
      opacity: 1;
   }

   100% {
      opacity: 0;
   }
}

.controls-BaseControl_showActions_delayed {
   .controls-TileView__previewTemplate.controls-TileView__previewTemplate_withoutTitle {
      .controls-TileView__previewTemplate_title_text,
      .controls-TileView__previewTemplate_gradient {
         opacity: 0;
         display: block;
      }
   }
}

.controls-TreeTileView__node.controls-TileView__previewTemplate > .controls-TileView__itemContent,
.controls-TileView__previewTemplate > .controls-TileView__item_active.controls-TileView__item_unscaleable,
/* stylelint-disable-next-line saby/wrong-hover-usage */
.controls-TileView__item.controls-TileView__previewTemplate:hover > .controls-TileView__item_unscaleable {
   max-height: 100%;
}

// end TODO

// До решения https://online.sbis.ru/opendoc.html?guid=d7a8a9e3-8e83-442d-bcfb-5743d91db7e4
.controls-text-tileDark {
   color: var(--text_dark_color_preview_tile);
}

.controls-text-tileLight {
   color: var(--text_light_color_preview_tile);
}

.ws-is-hover {
   .controls-BaseControl_showActions_visible
      .controls-TileView__previewTemplate
      .controls-ListView__item_showActions
      .controls-itemActionsV,
   .controls-BaseControl_showActions_onhover
      .controls-TileView__previewTemplate
      .controls-ListView__item_showActions:hover
      .controls-itemActionsV,
   .controls-BaseControl_showActions_onhover
      .controls-TileView__previewTemplate:hover
      .controls-TileView__item_unscaleable
      .controls-TileView__previewTemplate_canShowActions.controls-itemActionsV {
      opacity: 1;
      visibility: visible;
   }

   .controls-BaseControl_showActions_onhover
      .controls-TileView__previewTemplate:not(.controls-TileView__previewTemplate_node)
      .controls-ListView__item_showActions:hover
      .controls-TileView__previewTemplate_hover-title {
      display: block;
      opacity: 1;
   }

   .controls-BaseControl_showActions_onhover
      .controls-TileView__previewTemplate:not(.controls-TileView__previewTemplate_node)
      .controls-ListView__item_showActions:hover
      .controls-TileView__item_unscaleable
      .controls-TileView__previewTemplate_hover-title {
      display: block;
      opacity: 1;
   }
   //TODO каскады до выполнения https://online.sbis.ru/opendoc.html?guid=5c209e19-b6b2-47d0-9b8b-c8ab32e133b0 сейчас нельзя обновлять модель, иначе будут жуткие тормоза

   .controls-BaseControl_showActions_onhover {
      .controls-TileView__previewTemplate:hover.controls-TileView__previewTemplate_actions_showed.controls-TileView__previewTemplate_node
         .controls-TileView__previewTemplate_title_text {
         padding-right: calc(var(--offset_xs) + var(--icon-size_m));
      }

      .controls-TileView__previewTemplate:hover.controls-TileView__previewTemplate_actions_showed {
         &:not(.controls-TileView__previewTemplate_node)
            .controls-ListView__item_showActions
            .controls-TileView__previewTemplate_title_text,
         .controls-TileView__previewTemplate_bottomRightTemplate {
            display: none;
         }

         .controls-ListView__item_showActions .controls-TileView__previewTemplate_gradient {
            display: block;
         }
      }
   }

   .controls-BaseControl_showActions_delayed
      .controls-TileView__previewTemplate
      .controls-ListView__item_showActions:hover
      .controls-itemActionsV,
   .controls-BaseControl_showActions_delayed
      .controls-TileView__previewTemplate:hover
      .controls-TileView__item_scaled
      .controls-TileView__previewTemplate_canShowActions.controls-itemActionsV,
   .controls-BaseControl_showActions_delayed
      .controls-TileView__previewTemplate:hover
      .controls-TileView__item_unscaleable
      .controls-TileView__previewTemplate_canShowActions.controls-itemActionsV {
      opacity: 1;
      visibility: visible;
      animation: showActionsFrame 0.05s steps(1);
   }

   .controls-BaseControl_showActions_delayed
      .controls-TileView__previewTemplate:hover.controls-TileView__previewTemplate_actions_showed
      .controls-TileView__previewTemplate_bottomRightTemplate {
      opacity: 0;
      animation: hideActionsFrame 0.05s;
   }

   .controls-BaseControl_showActions_delayed
      .controls-TileView__previewTemplate:hover.controls-TileView__previewTemplate_withoutTitle
      .controls-TileView__previewTemplate_text {
      visibility: hidden;
   }

   .controls-BaseControl_showActions_delayed
      .controls-TileView__previewTemplate:hover.controls-TileView__previewTemplate_actions_showed:not(
         .controls-TileView__previewTemplate_node
      )
      .controls-TileView__item_hovered
      .controls-TileView__previewTemplate_text {
      opacity: 0;
      animation: hideActionsFrame 0.05s;
   }

   .controls-BaseControl_showActions_delayed
      .controls-TileView__previewTemplate:hover.controls-TileView__previewTemplate_actions_showed
      .controls-ListView__item_showActions
      .controls-TileView__previewTemplate_gradient {
      opacity: 1;
   }

   .controls-BaseControl_showActions_delayed
      .controls-TileView__previewTemplate:hover.controls-TileView__previewTemplate_withoutTitle.controls-TileView__previewTemplate_actions_showed
      .controls-ListView__item_showActions {
      .controls-TileView__previewTemplate_title_text,
      .controls-TileView__previewTemplate_gradient {
         opacity: 1;
         animation: showActionsFrame 0.05s linear;
      }
   }
}

.ws-is-hover .controls-itemActionsV__action:hover .controls-text-tileDark {
   color: var(--text_dark_color_preview_tile);
}

.ws-is-hover .controls-itemActionsV__action:hover .controls-text-tileLight {
   color: var(--text_light_color_preview_tile);
}

.ws-is-hover
   .controls-TileView__previewTemplate_content:hover
   .controls-TileView__previewTemplate_gradient_dark {
   background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.6) calc(100% - @_gradient_dark_height_preview_tile),
      transparent 100%
   );
}
