@import 'Controls/_scroll/Scroll/_contentEnvironmentZIndex';

@width-menu: 200px;
/* stylelint-disable wrong-hover-usage */

.controls-TileView_new {
   height: 100%;
}

.controls-TileView {
   display: flex;
}

// Триггер загрузки в горизонтальной плитке, в силу особенностей CSS, позиционируется
// с помощью transform. Нет гарантии, какой стиль прилетит первым, поэтому селектор усилен.
.controls-BaseControl__loadingTrigger_horizontal.controls-Tile__loadingTrigger_horizontal {
   position: static;
   min-height: 100%;
}

.controls-TileView_orientation-vertical {
   flex-wrap: wrap;
}

.controls-TileView_orientation-horizontal {
   flex-wrap: nowrap;
}

.controls-TileViewContainer_orientation-horizontal {
   max-width: 100%;
}

.controls-TileView__group {
   flex-basis: 100%;
   width: 100%;
}

.controls-TileView__searchSeparator_wrapper_height-default {
   height: var(--inline_height_m);
}

.controls-TileView__searchSeparator_wrapper {
   width: 100%;
   display: flex;
}

.controls-TileView__searchSeparator_line_horizontal {
   align-self: center;
   width: 100%;
   height: 1px;
   background-color: var(--unaccented_border-color);
   display: block;
}

// container padding

// left padding
.controls-TileView__itemsPaddingContainer_spacingLeft_null_itemPadding_null {
   margin-left: 0;
}

.controls-TileView__itemsPaddingContainer_spacingLeft_null_itemPadding_default {
   margin-left: calc(-1 * var(--item_offset_tile) / 2);
}

.controls-TileView__itemsPaddingContainer_spacingLeft_null_itemPadding {
   /* stylelint-disable-next-line unit-no-unknown */
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl, 3xl;

   .for(@variants, {
      &_@{_item} {
         margin-left: calc(-1 * ~'var(--offset_@{_item})' / 2);
      }
   });
}

.controls-TileView__itemsPaddingContainer_spacingLeft_default_itemPadding_null {
   margin-left: var(--padding-left_default_tile);
}

.controls-TileView__itemsPaddingContainer_spacingLeft_default_itemPadding_default {
   margin-left: calc(
      var(--padding-left_default_tile) - var(--item_offset_tile) / 2
   );
}

.controls-TileView__itemsPaddingContainer_spacingLeft_default_itemPadding {
   /* stylelint-disable-next-line unit-no-unknown */
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl, 3xl;

   .for(@variants, {
      &_@{_item} {
         margin-left: calc(var(--padding-left_default_tile) - ~'var(--offset_@{_item})' / 2);
      }
   });
}

.controls-TileView__itemsPaddingContainer_spacingLeft_xs_itemPadding_null {
   margin-left: var(--offset_xs);
}

.controls-TileView__itemsPaddingContainer_spacingLeft_xs_itemPadding_default {
   margin-left: calc(var(--offset_xs) - var(--item_offset_tile) / 2);
}

.controls-TileView__itemsPaddingContainer_spacingLeft_xs_itemPadding {
   /* stylelint-disable-next-line unit-no-unknown */
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl, 3xl;

   .for(@variants, {
      &_@{_item} {
         margin-left: calc(var(--offset_xs) - ~'var(--offset_@{_item})' / 2);
      }
   });
}

.controls-TileView__itemsPaddingContainer_spacingLeft_s_itemPadding_null {
   margin-left: var(--item_padding-left_s_list);
}

.controls-TileView__itemsPaddingContainer_spacingLeft_s_itemPadding_default {
   margin-left: calc(
      var(--item_padding-left_s_list) - var(--item_offset_tile) / 2
   );
}

.controls-TileView__itemsPaddingContainer_spacingLeft_s_itemPadding {
   /* stylelint-disable-next-line unit-no-unknown */
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl;

   .for(@variants, {
      &_@{_item} {
         margin-left: calc(var(--item_padding-left_s_list) - ~'var(--offset_@{_item})' / 2);
      }
   });
}

.controls-TileView__itemsPaddingContainer_spacingLeft_m_itemPadding_null {
   margin-left: var(--item_padding-left_m_list);
}

.controls-TileView__itemsPaddingContainer_spacingLeft_m_itemPadding_default {
   margin-left: calc(
      var(--item_padding-left_m_list) - var(--item_offset_tile) / 2
   );
}

.controls-TileView__itemsPaddingContainer_spacingLeft_m_itemPadding {
   /* stylelint-disable-next-line unit-no-unknown */
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl, 3xl;

   .for(@variants, {
      &_@{_item} {
         margin-left: calc(var(--item_padding-left_m_list) - ~'var(--offset_@{_item})' / 2);
      }
   });
}

.controls-TileView__itemsPaddingContainer_spacingLeft_l_itemPadding_null {
   margin-left: var(--item_padding-left_l_list);
}

.controls-TileView__itemsPaddingContainer_spacingLeft_l_itemPadding_default {
   margin-left: calc(
      var(--item_padding-left_l_list) - var(--item_offset_tile) / 2
   );
}

.controls-TileView__itemsPaddingContainer_spacingLeft_l_itemPadding {
   /* stylelint-disable-next-line unit-no-unknown */
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl, 3xl;

   .for(@variants, {
      &_@{_item} {
         margin-left: calc(var(--item_padding-left_l_list) - ~'var(--offset_@{_item})' / 2);
      }
   });
}

.controls-TileView__itemsPaddingContainer_spacingLeft_xl_itemPadding_null {
   margin-left: var(--item_padding-left_xl_list);
}

.controls-TileView__itemsPaddingContainer_spacingLeft_xl_itemPadding_default {
   margin-left: calc(
      var(--item_padding-left_xl_list) - var(--item_offset_tile) / 2
   );
}

.controls-TileView__itemsPaddingContainer_spacingLeft_xl_itemPadding {
   /* stylelint-disable-next-line unit-no-unknown */
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl, 3xl;

   .for(@variants, {
      &_@{_item} {
         margin-left: calc(var(--item_padding-left_xl_list) - ~'var(--offset_@{_item})' / 2);
      }
   });
}

.controls-TileView__itemsPaddingContainer_spacingLeft_2xl_itemPadding_null {
   margin-left: var(--item_padding-left_2xl_list);
}

.controls-TileView__itemsPaddingContainer_spacingLeft_2xl_itemPadding_default {
   margin-left: calc(
      var(--item_padding-left_2xl_list) - var(--item_offset_tile) / 2
   );
}

.controls-TileView__itemsPaddingContainer_spacingLeft_2xl_itemPadding {
   /* stylelint-disable-next-line unit-no-unknown */
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl, 3xl;

   .for(@variants, {
      &_@{_item} {
         margin-left: calc(var(--item_padding-left_2xl_list) - ~'var(--offset_@{_item})' / 2);
      }
   });
}

.controls-TileView__itemsPaddingContainer_spacingLeft_3xl_itemPadding_null {
   margin-left: var(--item_padding-left_3xl_list);
}

.controls-TileView__itemsPaddingContainer_spacingLeft_3xl_itemPadding_default {
   margin-left: calc(
      var(--item_padding-left_3xl_list) - var(--item_offset_tile) / 2
   );
}

.controls-TileView__itemsPaddingContainer_spacingLeft_3xl_itemPadding {
   /* stylelint-disable-next-line unit-no-unknown */
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl, 3xl;

   .for(@variants, {
      &_@{_item} {
         margin-left: calc(var(--item_padding-left_3xl_list) - ~'var(--offset_@{_item})' / 2);
      }
   });
}

// padding right
.controls-TileView__itemsPaddingContainer_spacingRight_null_itemPadding_null {
   margin-right: 0;
}

.controls-TileView__itemsPaddingContainer_spacingRight_null_itemPadding_default {
   margin-right: calc(-1 * var(--item_offset_tile) / 2);
}

.controls-TileView__itemsPaddingContainer_spacingRight_null_itemPadding {
   /* stylelint-disable-next-line unit-no-unknown */
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl, 3xl;

   .for(@variants, {
      &_@{_item} {
         margin-right: calc(-1 * ~'var(--offset_@{_item})' / 2);
      }
   });
}

.controls-TileView__itemsPaddingContainer_spacingRight_default_itemPadding_null {
   margin-right: calc(var(--padding-right_default_tile));
}

.controls-TileView__itemsPaddingContainer_spacingRight_default_itemPadding_default {
   margin-right: calc(
      var(--padding-right_default_tile) - var(--item_offset_tile) / 2
   );
}

.controls-TileView__itemsPaddingContainer_spacingRight_default_itemPadding {
   /* stylelint-disable-next-line unit-no-unknown */
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl, 3xl;

   .for(@variants, {
      &_@{_item} {
         margin-right: calc(var(--padding-right_default_tile) - ~'var(--offset_@{_item})' / 2);
      }
   });
}

.controls-TileView__itemsPaddingContainer_spacingRight_xs_itemPadding_null {
   margin-right: var(--offset_xs);
}

.controls-TileView__itemsPaddingContainer_spacingRight_xs_itemPadding_default {
   margin-right: calc(var(--offset_xs) - var(--item_offset_tile) / 2);
}

.controls-TileView__itemsPaddingContainer_spacingRight_xs_itemPadding {
   /* stylelint-disable-next-line unit-no-unknown */
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl, 3xl;

   .for(@variants, {
      &_@{_item} {
         margin-right: calc(var(--offset_xs) - ~'var(--offset_@{_item})' / 2);
      }
   });
}

.controls-TileView__itemsPaddingContainer_spacingRight_s_itemPadding_null {
   margin-right: var(--item_padding-right_s_list);
}

.controls-TileView__itemsPaddingContainer_spacingRight_s_itemPadding_default {
   margin-right: calc(
      var(--item_padding-right_s_list) - var(--item_offset_tile) / 2
   );
}

.controls-TileView__itemsPaddingContainer_spacingRight_s_itemPadding {
   /* stylelint-disable-next-line unit-no-unknown */
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl, 3xl;

   .for(@variants, {
      &_@{_item} {
         margin-right: calc(var(--item_padding-right_s_list) - ~'var(--offset_@{_item})' / 2);
      }
   });
}

.controls-TileView__itemsPaddingContainer_spacingRight_m_itemPadding_null {
   margin-right: var(--item_padding-right_m_list);
}

.controls-TileView__itemsPaddingContainer_spacingRight_m_itemPadding_default {
   margin-right: calc(
      var(--item_padding-right_m_list) - var(--item_offset_tile) / 2
   );
}

.controls-TileView__itemsPaddingContainer_spacingRight_m_itemPadding {
   /* stylelint-disable-next-line unit-no-unknown */
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl, 3xl;

   .for(@variants, {
      &_@{_item} {
         margin-right: calc(var(--item_padding-right_m_list) - ~'var(--offset_@{_item})' / 2);
      }
   });
}

.controls-TileView__itemsPaddingContainer_spacingRight_l_itemPadding_null {
   margin-right: var(--item_padding-right_l_list);
}

.controls-TileView__itemsPaddingContainer_spacingRight_l_itemPadding_default {
   margin-right: calc(
      var(--item_padding-right_l_list) - var(--item_offset_tile) / 2
   );
}

.controls-TileView__itemsPaddingContainer_spacingRight_l_itemPadding {
   /* stylelint-disable-next-line unit-no-unknown */
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl, 3xl;

   .for(@variants, {
      &_@{_item} {
         margin-right: calc(var(--item_padding-right_l_list) - ~'var(--offset_@{_item})' / 2);
      }
   });
}

.controls-TileView__itemsPaddingContainer_spacingRight_xl_itemPadding_null {
   margin-right: var(--item_padding-right_xl_list);
}

.controls-TileView__itemsPaddingContainer_spacingRight_xl_itemPadding_default {
   margin-right: calc(
      var(--item_padding-right_xl_list) - var(--item_offset_tile) / 2
   );
}

.controls-TileView__itemsPaddingContainer_spacingRight_xl_itemPadding {
   /* stylelint-disable-next-line unit-no-unknown */
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl, 3xl;

   .for(@variants, {
      &_@{_item} {
         margin-right: calc(var(--item_padding-right_xl_list) - ~'var(--offset_@{_item})' / 2);
      }
   });
}

.controls-TileView__itemsPaddingContainer_spacingRight_2xl_itemPadding_null {
   margin-right: var(--item_padding-right_2xl_list);
}

.controls-TileView__itemsPaddingContainer_spacingRight_2xl_itemPadding_default {
   margin-right: calc(
      var(--item_padding-right_2xl_list) - var(--item_offset_tile) / 2
   );
}

.controls-TileView__itemsPaddingContainer_spacingRight_2xl_itemPadding {
   /* stylelint-disable-next-line unit-no-unknown */
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl, 3xl;

   .for(@variants, {
      &_@{_item} {
         margin-right: calc(var(--item_padding-right_2xl_list) - ~'var(--offset_@{_item})' / 2);
      }
   });
}

.controls-TileView__itemsPaddingContainer_spacingRight_3xl_itemPadding_null {
   margin-right: var(--item_padding-right_3xl_list);
}

.controls-TileView__itemsPaddingContainer_spacingRight_3xl_itemPadding_default {
   margin-right: calc(
      var(--item_padding-right_3xl_list) - var(--item_offset_tile) / 2
   );
}

.controls-TileView__itemsPaddingContainer_spacingRight_3xl_itemPadding {
   /* stylelint-disable-next-line unit-no-unknown */
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl, 3xl;

   .for(@variants, {
      &_@{_item} {
         margin-right: calc(var(--item_padding-right_3xl_list) - ~'var(--offset_@{_item})' / 2);
      }
   });
}

// top padding
.controls-TileView__itemsPaddingContainer_spacingTop_null_itemPadding_null {
   margin-top: 0;
}

.controls-TileView__itemsPaddingContainer_spacingTop_null_itemPadding_default {
   margin-top: calc(-1 * var(--item_offset_tile) / 2);
}

.controls-TileView__itemsPaddingContainer_spacingTop_null_itemPadding {
   /* stylelint-disable-next-line unit-no-unknown */
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl;

   .for(@variants, {
      &_@{_item} {
         margin-top: calc(-1 * ~'var(--offset_@{_item})' / 2);
      }
   });
}

.controls-TileView__itemsPaddingContainer_spacingTop_default_itemPadding_null {
   margin-top: var(--offset_xs);
}

.controls-TileView__itemsPaddingContainer_spacingTop_default_itemPadding_default {
   margin-top: calc(var(--offset_xs) - var(--item_offset_tile) / 2);
}

.controls-TileView__itemsPaddingContainer_spacingTop_default_itemPadding {
   /* stylelint-disable-next-line unit-no-unknown */
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl;

   .for(@variants, {
      &_@{_item} {
         margin-top: calc(var(--offset_xs) - ~'var(--offset_@{_item})' / 2);
      }
   });
}

//bottom padding
.controls-TileView__itemsPaddingContainer_spacingBottom_null_itemPadding_null {
   margin-bottom: 0;
}

.controls-TileView__itemsPaddingContainer_spacingBottom_null_itemPadding_default {
   margin-bottom: calc(-1 * var(--item_offset_tile) / 2);
}

.controls-TileView__itemsPaddingContainer_spacingBottom_default_itemPadding_null {
   margin-bottom: var(--offset_xs);
}

.controls-TileView__itemsPaddingContainer_spacingBottom_default_itemPadding_default {
   margin-bottom: calc(var(--offset_xs) - var(--item_offset_tile) / 2);
}

.controls-TileView__itemsPaddingContainer_spacingBottom_null_itemPadding {
   /* stylelint-disable-next-line unit-no-unknown */
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl;

   .for(@variants, {
      &_@{_item} {
         margin-bottom: calc(var(--offset_xs) - ~'var(--offset_@{_item})' / 2);
      }
   });
}

// horizontal tile side paddings
.controls-TileView__itemsPaddingContainer_spacingLeft_null_horizontal
   .controls-TileView__item:nth-child(3) {
   margin-left: 0;
}

.controls-TileView__itemsPaddingContainer_spacingLeft {
   /* stylelint-disable-next-line unit-no-unknown */
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl, 3xl;

   .for(@variants, {
      &_@{_item}_horizontal .controls-TileView__item:nth-child(3) {
         margin-left: 0;
      }

      &_@{_item}_horizontal .controls-TileView::before {
         content: '\200b';
         width: ~'var(--offset_@{_item})';
         flex-shrink: 0;
      }
   });
}

.controls-TileView__itemsPaddingContainer_spacingRight_null_horizontal
   .controls-TileView__item:nth-last-child(-n + 3) {
   margin-right: 0;
}

.controls-TileView__itemsPaddingContainer_spacingRight {
   /* stylelint-disable-next-line unit-no-unknown */
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl, 3xl;

   .for(@variants, {
      &_@{_item}_horizontal .controls-TileView__item:nth-last-child(-n+3) {
         margin-right: 0;
      }

      &_@{_item}_horizontal .controls-TileView::after {
         content: '\200b';
         width: ~'var(--offset_@{_item})';
         flex-shrink: 0;
      }
   });
}
// compatible padding
.controls-TileView__itemsPaddingContainer_spacingLeft_default {
   margin-left: calc(
      -1 * var(--item_offset_tile) / 2 + var(--padding-left_default_tile)
   );
}

.controls-TileView__itemsPaddingContainer_spacingLeft_null {
   margin-left: 0;
}

.controls-TileView__itemsPaddingContainer_spacingLeft_3xs {
   margin-left: calc(-1 * var(--offset_3xs) / 2 + var(--offset_3xs));
}

.controls-TileView__itemsPaddingContainer_spacingLeft_2xs {
   margin-left: calc(-1 * var(--offset_2xs) / 2 + var(--offset_2xs));
}

.controls-TileView__itemsPaddingContainer_spacingLeft_xs {
   margin-left: calc(-1 * var(--offset_xs) / 2 + var(--offset_xs));
}

.controls-TileView__itemsPaddingContainer_spacingLeft_s {
   margin-left: calc(
      -1 * var(--offset_s) / 2 + var(--item_padding-left_s_list)
   );
}

.controls-TileView__itemsPaddingContainer_spacingLeft_m {
   margin-left: calc(
      -1 * var(--offset_m) / 2 + var(--item_padding-left_m_list)
   );
}

.controls-TileView__itemsPaddingContainer_spacingLeft_l {
   margin-left: calc(
      -1 * var(--offset_m) / 2 + var(--item_padding-left_l_list)
   );
}

.controls-TileView__itemsPaddingContainer_spacingLeft_xl {
   margin-left: calc(
      -1 * var(--offset_m) / 2 + var(--item_padding-left_xl_list)
   );
}

.controls-TileView__itemsPaddingContainer_spacingLeft_2xl {
   margin-left: calc(
      -1 * var(--offset_m) / 2 + var(--item_padding-left_2xl_list)
   );
}

.controls-TileView__itemsPaddingContainer_spacingLeft_3xl {
   margin-left: calc(
      -1 * var(--offset_m) / 2 + var(--item_padding-left_3xl_list)
   );
}

.controls-TileView__itemsPaddingContainer_spacingRight_default {
   margin-right: calc(
      -1 * var(--item_offset_tile) / 2 + var(--padding-right_default_tile)
   );
}

.controls-TileView__itemsPaddingContainer_spacingRight_null {
   margin-right: 0;
}

.controls-TileView__itemsPaddingContainer_spacingRight_3xs {
   margin-right: calc(-1 * var(--offset_3xs) / 2 + var(--offset_3xs));
}

.controls-TileView__itemsPaddingContainer_spacingRight_2xs {
   margin-right: calc(-1 * var(--offset_2xs) / 2 + var(--offset_2xs));
}

.controls-TileView__itemsPaddingContainer_spacingRight_xs {
   margin-right: calc(-1 * var(--offset_xs) / 2 + var(--offset_xs));
}

.controls-TileView__itemsPaddingContainer_spacingRight_s {
   margin-right: calc(
      -1 * var(--offset_s) / 2 + var(--item_padding-right_s_list)
   );
}

.controls-TileView__itemsPaddingContainer_spacingRight_m {
   margin-right: calc(
      -1 * var(--offset_m) / 2 + var(--item_padding-right_m_list)
   );
}

.controls-TileView__itemsPaddingContainer_spacingRight_l {
   margin-right: calc(
      -1 * var(--offset_m) / 2 + var(--item_padding-right_l_list)
   );
}

.controls-TileView__itemsPaddingContainer_spacingRight_xl {
   margin-right: calc(
      -1 * var(--offset_m) / 2 + var(--item_padding-right_xl_list)
   );
}

.controls-TileView__itemsPaddingContainer_spacingRight_2xl {
   margin-right: calc(
      -1 * var(--offset_m) / 2 + var(--item_padding-right_2xl_list)
   );
}

.controls-TileView__itemsPaddingContainer_spacingRight_3xl {
   margin-right: calc(
      -1 * var(--offset_m) / 2 + var(--item_padding-right_3xl_list)
   );
}

.controls-TileView__itemsPaddingContainer_spacingTop_null {
   margin-top: 0;
}

.controls-TileView__itemsPaddingContainer_spacingTop_default {
   margin-top: calc(-1 * var(--item_offset_tile) / 2 + var(--offset_xs));
}

.controls-TileView__itemsPaddingContainer_spacingTop_m {
   margin-top: calc(-1 * var(--offset_m) / 2 + var(--offset_xs));
}

.controls-TileView__itemsPaddingContainer_spacingTop_3xs {
   margin-top: calc(-1 * var(--offset_3xs) / 2 + var(--offset_xs));
}

.controls-TileView__itemsPaddingContainer_spacingTop_2xs {
   margin-top: calc(-1 * var(--offset_2xs) / 2 + var(--offset_xs));
}

.controls-TileView__itemsPaddingContainer_spacingTop_s {
   margin-top: calc(-1 * var(--offset_s) / 2 + var(--offset_xs));
}

.controls-TileView__itemsPaddingContainer_spacingTop_xs {
   margin-top: calc(-1 * var(--offset_xs) / 2 + var(--offset_xs));
}

.controls-TileView__itemsPaddingContainer_spacingBottom_null {
   margin-bottom: 0;
}

.controls-TileView__itemsPaddingContainer_spacingBottom_default {
   margin-bottom: calc(-1 * var(--item_offset_tile) / 2 + var(--offset_xs));
}

.controls-TileView__itemsPaddingContainer_spacingBottom_m {
   margin-bottom: calc(-1 * var(--offset_m) / 2 + var(--offset_xs));
}

.controls-TileView__itemsPaddingContainer_spacingBottom_3xs {
   margin-bottom: calc(-1 * var(--offset_3xs) / 2 + var(--offset_xs));
}

.controls-TileView__itemsPaddingContainer_spacingBottom_2xs {
   margin-bottom: calc(-1 * var(--offset_2xs) / 2 + var(--offset_xs));
}

.controls-TileView__itemsPaddingContainer_spacingBottom_s {
   margin-bottom: calc(-1 * var(--offset_s) / 2 + var(--offset_xs));
}

.controls-TileView__itemsPaddingContainer_spacingBottom_xs {
   margin-bottom: calc(-1 * var(--offset_xs) / 2 + var(--offset_xs));
}

.controls-TileView__item_spacingTop_default {
   margin-top: calc(var(--item_offset_tile) / 2);
}

.controls-TileView__item_spacingTop_null {
   margin-top: 0;
}

.controls-TileView__item_spacingTop {
   /* stylelint-disable-next-line unit-no-unknown */
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl;

   .for(@variants, {
      &_@{_item} {
         margin-top: calc(~'var(--offset_@{_item})' / 2);
      }
   });
}

.controls-TileView__item_spacingBottom_default {
   margin-bottom: calc(var(--item_offset_tile) / 2);
}

.controls-TileView__item_spacingBottom_null {
   margin-bottom: 0;
}

.controls-TileView__item_spacingBottom {
   /* stylelint-disable-next-line unit-no-unknown */
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl;

   .for(@variants, {
      &_@{_item} {
         margin-bottom: calc(~'var(--offset_@{_item})' / 2);
      }
   });
}

.controls-TileView__item_spacingRight_default {
   margin-right: calc(var(--item_offset_tile) / 2);
}

.controls-TileView__item_spacingRight_null {
   margin-right: 0;
}

.controls-TileView__item_spacingRight {
   /* stylelint-disable-next-line unit-no-unknown */
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl;

   .for(@variants, {
      &_@{_item} {
         margin-right: calc(~'var(--offset_@{_item})' / 2);
      }
   });
}

.controls-TileView__item_spacingLeft_default {
   margin-left: calc(var(--item_offset_tile) / 2);
}

.controls-TileView__item_spacingLeft_null {
   margin-left: 0;
}

.controls-TileView__item_spacingLeft {
   /* stylelint-disable-next-line unit-no-unknown */
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl;

   .for(@variants, {
      &_@{_item} {
         margin-left: calc(~'var(--offset_@{_item})' / 2);
      }
   });
}

/* stylelint-disable-next-line no-descending-specificity */
.controls-TileView__item {
   position: relative;
}

.controls-TileView__itemContent {
   background-color: var(--item_background-color_tile);
   box-sizing: border-box;
   overflow: hidden;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;

   // изолируем контекст наложения внутри плитки
   z-index: 0;
}

.controls-TileView__item_unfixed,
.controls-TileView__item_unscaleable {
   max-height: 100%;
}

.controls-TileView__item_animated .controls-itemActionsV {
   visibility: visible;
   transition: opacity 0.05s step-end;
}

.controls-TileView__item_animated {
   transition-property: left, right, bottom, top, height;
   transition-duration: 0.05s;
}

.controls-TileView__title {
   border-top: 1px solid var(--item_caption_separator-color_tile);
   max-height: var(--unaccented_item_caption_max-height_tile);
   min-height: var(--unaccented_item_caption_min-height_tile);
   padding: var(--offset_2xs) var(--offset_2xs) var(--offset_3xs)
      var(--offset_2xs);
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   flex-shrink: 0;
}

.controls-TileView__imageWrapper {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
}

.controls-TileView__image {
   position: absolute;
}

.controls-TileView__image_align_center {
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.controls-TileView__image_align_top {
   margin: auto 0;
   max-width: 100%;
   align-self: flex-start;
   object-position: top;
}

.ws-is-mobile-safari .controls-TileView__image,
.ws-is-mobile-safari .controls-TileView__image_align_top {
   -webkit-user-select: none;
   -webkit-touch-callout: none;
   -webkit-user-drag: none;
}

.controls-TileView__imageAlign_wrapper {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   height: 100%;
   width: 100%;
}

.controls-TileView__item_shadow_visible {
   box-shadow: var(--shadow_c);
}

.controls-TileView__item_active.controls-TileView__item_unscaleable,
/* stylelint-disable-next-line saby/wrong-hover-usage */
.controls-TileView__item:hover > .controls-TileView__item_unscaleable:not(.controls-TileView__item_withoutTitle) {
   max-height: none;
}

.controls-TileView__item_scaled,
.ws-is-hover
   .controls-TileView__item:hover
   > .controls-TileView__item_unscaleable {
   // TODO: KINGO
   // чекбоксы на плитке имеют z-index: 1, и, если плитка не увеличена (например навели на чекбокс),
   // то чекбоксы других плиток будут поверх заголовка текущей, если он появился снизу от плитки.
   // Поэтому нужно установить для активной плитки z-index больше чем у чекбоксов
   z-index: 2;
}

.controls-TileView__item_fixed {
   // Задаем z-index согласно статье https://wi.sbis.ru/doc/platform/developmentapl/interface-development/pattern-and-practice/zindex/
   z-index: 31;
   position: fixed;
}

.controls-TileView__title_invisible {
   display: none;
}

.controls-TileView__checkbox {
   &.controls-CheckboxMarker {
      position: absolute;
      z-index: 1;
   }
}

.controls-TileView__checkbox_position-custom {
   display: inline-block;
}

.controls-TileView__checkbox_top {
   top: 0;
   left: 0;
}

.controls-TileView__item_autoHeight {
   position: static;
   height: 100%;
}

.controls-TileView__item_border_visible {
   border-width: var(--item_border-thickness_tile);
   border-style: solid;
   border-radius: inherit;
   box-sizing: border-box;
}

.controls-TileView__item_border_default {
   border-color: var(--item_border-color_tile);
}

.controls-TileView__item_border_danger {
   border-color: var(--danger_border-color);
}

//TODO: Убрать перебитие, сделать отдельные классы в плитке и других списках
.controls-itemActionsV.controls-TileView__itemActions {
   padding: 0 var(--itemActions_offset-right_tile)
      var(--itemActions_offset-bottom_tile) 0;
}
//TODO: end

.controls-itemActionsV_style_default.controls-TileView__itemActions {
   background-color: var(--item_caption_background-color_tile);
}

.controls-TileView__footer {
   width: 100%;
   margin-left: calc(var(--item_offset_tile) / 2);
}

// FIXME: https://online.sbis.ru/opendoc.html?guid=8b2c991d-05d9-4513-be30-350a1b16fed9
.controls-TileView__footer:empty {
   margin-left: 0;
}

.controls-TileView__itemActions::before {
   content: '';
   width: var(--itemActions_gradient_width_tile);
   height: 100%;
   position: absolute;
   top: 0;
   left: calc(-1 * var(--itemActions_gradient_width_tile));
   background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      var(--item_caption_background-color_tile)
   );
}

.controls-TileView__resizer {
   margin-bottom: calc(
      -1 * (var(--unaccented_item_caption_min-height_tile) + 1px +
               var(--offset_2xs) + var(--offset_3xs))
   ); //1px - толщина разделителя
}

.controls-TileView__imageWrapper_reduced {
   border-bottom: calc(
         var(--unaccented_item_caption_min-height_tile) + 1px +
            var(--offset_2xs) + var(--offset_3xs)
      )
      solid transparent; //1px - толщина разделителя
   margin-bottom: calc(
      -1 * (var(--unaccented_item_caption_min-height_tile) + 1px +
               var(--offset_2xs) + var(--offset_3xs))
   ); //1px - толщина разделителя
   box-sizing: border-box;
}

.controls-TileView__item_invisible {
   height: 0;
   max-height: 0;
   visibility: hidden;
   margin-top: 0;
   margin-bottom: 0;
   border: none;
}

.controls-TileView__additionalTile {
   overflow: initial;
}

.controls-TileView__additionalTile_size_auto {
   height: 100%;
   width: 100%;
   flex-grow: 1;
}

//TODO: Выписана задача. чтобы унести стили из плитки https://online.sbis.ru/opendoc.html?guid=f1421bfc-67dd-4aa5-bf13-28df0a9ab79b
.controls-TileView__itemActions_bottomRight {
   bottom: 0;
   right: 0;
}

.controls-TileView__itemActions_topRight {
   top: 0;
   right: 0;
}

.controls-TileView__flex-grow {
   flex-grow: 1;
}

.controls-TileView__title_accent {
   font-weight: bold;
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: center;
   max-height: var(--item_caption_max-height_tile);
   min-height: var(--item_caption_min-height_tile);
   padding: var(--offset_xs) var(--offset_xs) var(--offset_xs) var(--offset_xs);
   color: var(--secondary_text-color);
}

.controls-TileView__title_accent_ellipsis {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.controls-TileView__itemContent_accent {
   display: flex;
   flex-direction: column;
   height: 100%;
}

.controls-TileView__imageWrapper_accent {
   display: flex;
   flex-direction: column;
   height: 100%;
}

.controls-TileView__itemContent_background_danger {
   background-color: var(--danger_color);
}

.controls-TileView__itemContent_background_success {
   background-color: var(--success_color);
}

.controls-TileView__itemContent_background_warning {
   background-color: var(--warning_color);
}

.controls-TileView__itemContent_background_primary {
   background-color: var(--primary_color);
}

.controls-TileView__itemContent_background_secondary {
   background-color: var(--secondary_color);
}

.controls-TileView__itemContent_background_unaccented {
   background-color: var(--unaccented_color);
}

.controls-TileView__itemContent_background_readonly {
   background-color: var(--readonly_color);
}

.controls-TileView__image-contain,
.controls-TileView__image-none {
   width: 100%;
   height: 100%;
}

.controls-TileView__image-contain {
   object-fit: contain;
}

.controls-TileView__image-cover {
   object-fit: cover;
}

.controls-TileView__image-none {
   object-fit: none;
}

.controls-TileView__text_ellipsis_multiLine {
   display: -webkit-box;
   -webkit-box-orient: vertical;
   overflow: hidden;
   white-space: normal;
   word-break: break-word;
   overflow-wrap: break-word;
   max-width: 100%;
}

.controls-TileView__image_fullHeight {
   max-height: 100%;
}

.controls-TileView__image_fullWidth {
   max-width: 100%;
}

// класс для корректировки положения попапа
.controls-TileView__itemActions_menu_popup {
   margin-top: calc((var(--inline_height_4xl)) / 2);
   margin-left: calc(@width-menu - var(--offset_s) - var(--icon-size_m));
}

.controls-TileView__item_footer {
   position: absolute;
   bottom: 0;
}

.controls-TileView__item_roundBorder_bottomLeft {
   /* stylelint-disable-next-line unit-no-unknown */
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl, 3xl;

   .for(@variants, {
      &_@{_item},
      &_@{_item} .controls-TileView__itemActions_topRight {
         border-bottom-left-radius: ~'var(--border-radius_@{_item})';
      }
   });
}

.controls-TileView__item_roundBorder_bottomRight {
   /* stylelint-disable-next-line unit-no-unknown */
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl, 3xl;

   .for(@variants, {
      &_@{_item},
      &_@{_item} .controls-TileView__itemActions_bottomRight {
         border-bottom-right-radius: ~'var(--border-radius_@{_item})';
      }
   });
}

.controls-TileView__item_roundBorder_topLeft {
   /* stylelint-disable-next-line unit-no-unknown */
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl, 3xl;

   .for(@variants, {
      &_@{_item},
      &_@{_item} .controls-TileView__itemActions_bottomRight {
         border-top-left-radius: ~'var(--border-radius_@{_item})';
      }
   });
}

.controls-TileView__item_roundBorder_topRight {
   /* stylelint-disable-next-line unit-no-unknown */
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl, 3xl;

   .for(@variants, {
      &_@{_item},
      &_@{_item} .controls-TileView__itemActions_topRight {
         border-top-right-radius: ~'var(--border-radius_@{_item})';
      }
   });
}

// Fix this error in tile separately, because composition "backface-visibility" and "perspective" on "BaseControl"
// fail tile items animation.
// https://online.sbis.ru/opendoc.html?guid=44a46d1d-cdd4-412c-a0db-bd172a34b873
.ws-is-chrome .controls-TileView__richTemplate_title,
.ws-is-chrome .controls-TileView__title {
   perspective: 1000px;
}

.controls-TileView__itemTemplate_text-ellipsis {
   overflow: hidden;
   text-overflow: ellipsis;
}

/* stylelint-disable saby/wrong-hover-usage, no-descending-specificity */
.controls-TileView__item_hovered,
.controls-TileView__item_active,
.controls-TileView__item_swiped,
.controls-TileView__item:hover > .controls-TileView__item_unscaleable {
   .controls-TileView__title,
   .controls-TileView__title_accent {
      /* stylelint-enable saby/wrong-hover-usage, no-descending-specificity */
      background-color: var(--item_caption_background-color_tile);
   }

   /* stylelint-disable-next-line no-descending-specificity */
   .controls-TileView__title_accent {
      text-decoration: underline;
   }
}

.ws-is-no-touch {
   // On ios the tile is positioned absolutely, without increasing. Increases only the caption. It may not fit,
   // if the parent container limits through overflow: hidden.
   // Turn on the display of the caption only for the desktop, so tile does not change the size by swipe on ios .
   .controls-TileView__item_hovered,
   .controls-TileView__item_active,
   .controls-TileView__item:hover > .controls-TileView__item_unscaleable {
      .controls-TileView__title_invisible {
         display: block;
      }
   }
   // On ios, the caption should not be resized. The reason is described above.
   // By hover, activation or swipe caption do not fit in one line are transferred to the next line.
   // Because of this, its size changes. Do the word break on the desktop.
   .controls-TileView__item_hovered,
   .controls-TileView__item_active,
   .controls-TileView__item_swiped,
   .controls-TileView__item:hover > .controls-TileView__item_unscaleable {
      /* stylelint-disable-next-line no-descending-specificity */
      .controls-TileView__title {
         white-space: normal;
         word-break: break-all;
      }

      .controls-TileView__itemTemplate_text-ellipsis {
         overflow: unset;
         text-overflow: unset;
      }
   }
}

.ws-is-hover {
   .controls-TileView__itemContent_highlightOnHover:hover {
      background-color: var(--item_hover_background-color_tile);
   }

   .controls-TileView__item_shadow_visible,
   .controls-TileView__item_shadow_onhover {
      &:hover,
      &.controls-TileView__item_active,
      &.controls-TileView__item_swiped {
         box-shadow: var(--shadow_b);
      }
   }

   .controls-TileView__item:hover > .controls-TileView__item_unscaleable {
      .controls-TileView__title {
         white-space: normal;
         word-break: break-all;
      }

      .controls-TileView__itemTemplate_text-ellipsis {
         overflow: unset;
         text-overflow: unset;
      }

      .controls-TileView__title_invisible {
         display: block;
      }

      &:not(.controls-TileView__item_withoutTitle) {
         max-height: none;
      }

      .controls-TileView__title,
      .controls-TileView__title_accent {
         background-color: var(--item_caption_background-color_tile);
      }

      .controls-TileView__title_accent {
         text-decoration: underline;
      }
   }
}

//TODO: Выписана задача. чтобы унести стили из плитки https://online.sbis.ru/opendoc.html?guid=f1421bfc-67dd-4aa5-bf13-28df0a9ab79b
.ws-is-hover:not(.ws-is-mobile-platform) {
   .controls-BaseControl_showActions_visible
      .controls-ListView__item_showActions
      > .controls-itemActionsV,
   .controls-BaseControl_showActions_onhover
      .controls-ListView__item_showActions:hover
      > .controls-itemActionsV,
   .controls-BaseControl_showActions_visible
      .controls-TileView__item:hover
      > .controls-TileView__item_unscaleable
      > .controls-itemActionsV,
   .controls-BaseControl_showActions_onhover
      .controls-TileView__item:hover
      > .controls-TileView__item_unscaleable
      > .controls-itemActionsV {
      visibility: visible;
      opacity: 1;
   }
}

// ie не поддерживает object-fit, поэтому, при указании
// width: 100%; и height: 100%;
// изображение непропроционально растягивается
// https://online.sbis.ru/opendoc.html?guid=743f635b-ce1b-4b7d-84c6-8869daa03af3
.ws-is-ie {
   .controls-TileView__image-contain,
   .controls-TileView__image-none {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
   }
}

// в ie не работает line-camp, поэтому делаем всегда однострочный текст с обрезанием
.ws-is-ie .controls-TileView__text_ellipsis_multiLine {
   display: block;
   white-space: nowrap;
   text-overflow: ellipsis;
}
