.controls-Slider__mainSlider_m_horizontal_custom {
   height: var(--inline_height_m);
}

.controls-Slider__point_enabled_custom {
   min-width: calc(var(--marker_l_size_slider) - var(--offset_2xs));
   height: calc(var(--marker_l_size_slider) - var(--offset_2xs));
   border: var(--offset_2xs) solid var(--primary_color);
   background-color: var(--background-color);
   border-radius: calc(var(--marker_l_size_slider) / 2);
}

.controls-Slider__line__wrapper_m_horizontal_custom {
   width: 100%;
   height: var(--inline_height_m);
}

.controls-Slider__line_horizontal_custom {
   height: var(--offset_xs);
   width: 100%;
   background-color: var(--primary_color);
}

.controls-Slider__line_m_horizontal_custom {
   margin-top: calc((var(--inline_height_m) - var(--offset_xs)) / 2);
}

.controls-Slider__line__empty_enabled_custom {
   background-color: var(--unaccented_contrast_background-color);
}
