.controlsListsDemo__dynamicGridBase-scrollContainer {
   width: 100%;
   max-width: 1300px;
}

.controlsListsDemo__dynamicGridBase-photo {
   min-height: 40px;
   min-width: 40px;
   border-radius: 100%;
}

.controlsListsDemo__dynamicGridBase-cell {
   font-size: 7px;
}
