.ControlsDemo-Suggest_empty {
   display: flex;
   padding: 16px 0;
}

.ControlsDemo-Suggest__empty-button {
   margin: auto;
}

.controlsDemo_fixedWidth350 {
   width: 350px;
}

.ControlsDemo-Suggest__scroll {
   height: 150px;
}

.ControlsDemo-Suggest__content {
   height: 300px;
}

.ControlsDemo-Suggest_down {
   position: absolute;
   bottom: 150px;
}

.ControlsDemo-Suggest__footer {
   height: 24px;
}

.ControlsDemo-Suggest_padding-left {
   padding-left: 24px;
}
